
@font-face
    font-family: 'Open Sans'
    font-display: 'swap'
    font-weight: 400
    font-style: normal
    src: url(../fonts/OpenSans-Regular.woff2) format('woff2')

@font-face
    font-family: 'Open Sans'
    font-display: 'swap'
    font-weight: 600
    font-style: normal
    src: url(../fonts/OpenSans-SemiBold.woff2) format('woff2')

@font-face
    font-family: 'Open Sans'
    font-display: 'swap'
    font-weight: 700
    font-style: normal
    src: url(../fonts/OpenSans-Bold.woff2) format('woff2')

@font-face
    font-family: 'SFUIDisplay'
    font-display: 'swap'
    font-weight: 700
    font-style: normal
    src: url(../fonts/SFUIDisplay-SemiBold.woff2) format('woff2')

@font-face
    font-family: 'SFUIDisplay'
    font-display: 'swap'
    font-weight: 600
    font-style: normal
    src: url(../fonts/SFUIDisplay-Bold.woff2) format('woff2')

@font-face
    font-family: 'SFUIDisplay'
    font-display: 'swap'
    font-weight: 800
    font-style: normal
    src: url(../fonts/SFUIDisplay-Heavy.woff2) format('woff2')
