@media screen and ( max-height: 930px )
    .aside
        top: 57%

@media screen and ( max-width: 1500px )
    .corpus
        .column
            &_nomutations
                flex: 1 1 49%
            &_big
                flex-basis: 49%
        .corpus__img
            padding: 0
            margin-left: 0 !important
            img
                max-width: 100%

@media screen and ( max-width: 1470px )

    .slider
        &__control
            &-container
                width: 90%

    .hybrid
        &__img
            &_right, &_left
                transform: none

@media screen and ( max-width: 1350px )

    .slider
        &__control-container
            top: 40%
        &__pagination
            &-block
                position: relative

    .reviews
        &__body
            justify-items: center
            column-gap: 30px

    .control
        .row_stretch
            align-items: flex-start
        &__img img
            top: auto
            position: relative
            width: 90%
            height: auto

@media screen and ( max-width: 1270px )
    .aside
        top: auto
        bottom: 0px
        transform: none
        flex-direction: row
        padding-right: 15px
        &__body
            display: none
        &__nav
            display: inline-block
        &__top
            flex-direction: row
            .button + .button
                margin-left: 15px
            .button
                transform: rotate(90deg)
                svg
                    margin-right: 0
                    transform: rotate(-90deg)
                span
                    display: none

@media screen and ( max-width: 1230px )
    .float-img_mb30
        margin-bottom: 0

    .corpus
        .column__img_corpus
            margin-top: 0
        .column__img
            margin-left: 0 !important

@media screen and ( max-width: 1200px )
    .header
        &__wrap
            justify-content: space-between
        &__buttons
            margin-left: 25px
        .nav
            margin-left: 25px

@media screen and ( max-width: 1130px )
    .header
        .header
            &__buttons
                display: none

    .hero
        &__bg
            width: 130%
            img
                // width: auto
                // transform: translateX(100px)

    .nav
        margin: 0 30px
        max-width: 800px

    .author
        .row
            flex-direction: column
        .list
            margin-top: 0
        .column
            &:first-of-type
                margin-top: 60px
        .column + .column
            margin-left: 0
            margin-top: 30px
        &::after
            height: 70%

    .burger
        display: inline-block

@media screen and ( max-width: 1070px )
    .slider__author, .filming__img::before
        font-size: 16px
        right: 50px
        bottom: 30px
        
    .slider
        &__pagination
            margin-top: 15px
            &-block
                padding-top: 10px

    .footer
        padding-bottom: 100px
        &__title
            margin-top: 20px
        &__socials
            margin-top: 50px
        &__mobile
            display: flex
        .row
            flex-direction: column
            align-items: center
            & > .column
                align-items: center
                .column
                    &__inner
                        .footer__button, .footer__copyright
                            display: none
            & > .column + .column
                flex: none
                width: 100%
                margin-top: 50px
                margin-left: 0

@media screen and ( max-width: 930px )
    .section
        &__small-title, &__subtitle
            font-size: 22px
            line-height: 28px
        &__title
            font-size: 40px
            line-height: 50px

    .slider
        &__name
            font-size: 20px
            line-height: 22px

    .reviews
        &__body
            grid-template-columns: repeat(2, 1fr)

    .column
        &__video, &__img
            max-width: 600px

    .hybrid, .sooc, .filming, .autofocus, .inside, .connection
        .row
            flex-direction: column
        .column + .column
            margin-left: 0
            margin-top: 30px
    
    .inside
        .column__img 
            display: none
        .mt-70
            margin-top: 50px !important

    .autofocus
        .row
            &:nth-child(2)
                flex-direction: column-reverse
                .column_big
                    margin-top: 0
                    margin-bottom: 30px
            &_end
                align-items: center

    .text
        font-size: 18px
        line-height: 28px

    .hybrid
        &__title
            margin-top: 0
        &__subtitle
            margin-top: 30px
        .row
            flex-direction: column
        .column + .column
            margin-left: 0
            margin-top: 30px
                
        .column
            flex-direction: column-reverse

    .filming, .connection
        .row
            align-items: center

    .logo
        padding: 15px 5px

    .author
        padding-bottom: 200px

    .popup
        &__table
            td
                &:first-child
                    width: 200px

    .header
        .nav
            display: none

@media screen and ( max-width: 890px )

    .hero
        &__bg
            width: 120%
        &__container
            max-width: 440px
        &__title
            br
                display: none
        &__row
            flex-direction: column
            align-items: flex-start
            .button
                width: 100%
                max-width: 400px
            .button_testdrive, .hero__socials
                margin-left: 0
                margin-top: 20px

@media screen and ( max-width: 740px )

    .hero
        padding: 50px 0px
        &__container
            max-width: 340px
        &__title
            font-size: 32px
            line-height: 36px
        &__price
            font-size: 18px
            &-num, &-rub
                font-size: 40px
                line-height: 44px

    .slider
        &_last
            .slider__pagination-block
                position: absolute
        &__control
            height: 60px
            width: 30px

    .float-img
        width: 70px
        height: 70px
        &_left
            margin-right: 10px
        &_right
            margin-left: 10px

    .lens .float-img
        width: auto !important
        height: auto !important

    .popup
        padding: 60px 10px 30px

    .competition
        &__item
            & + &
                margin-left: 0
        &__button
            padding: 0px 15px
            display: grid
            justify-items: center
            grid-template-columns: repeat(2, 1fr)
            column-gap: 25px
            row-gap: 25px

    .corpus
        &__img
            margin-top: 30px
        &__img + .text
            margin-top: 30px
        .row
            flex-direction: column
            align-items: center
            &__container_mt70
                .row:last-child
                    flex-direction: column-reverse
        .row + .row
            margin-top: 20px
        .column__img
            &_corpus
                margin-top: 30px
        .column + .column
            margin-left: 0
            margin-top: 40px

@media screen and ( max-width: 620px )

    .hero
        &__bg
            width: 240%

    .control
        .row
            flex-direction: column
        .column + .column
            margin-left: 0
            margin-top: 30px

    .lens
        .row
            flex-direction: column
            align-items: flex-start
            .column
                margin-left: 0 !important
                &_small
                    .text
                        font-size: 14px
                        line-height: 20px
            .column + .column
                margin-top: 30px

    .footer
        &__button, &__copyright
            font-size: 12px
            line-height: 14px
        &__row
            max-width: 300px
            .column + .column
                margin-left: 30px
        &__title
            font-size: 30px
            line-height: 38px
        &__nav
            width: 100%
        &__list
            width: 100%
            grid-template-columns: 1fr
        &__socials
            margin-top: 30px
            max-width: 220px
        .row
            align-items: flex-start
            & > .column
                align-items: flex-start
            & > .column + .column
                margin-top: 35px

    .slider__name
        font-size: 18px
        line-height: 20px

@media screen and ( max-width: 590px )
    .popup
        &__body
            grid-template-columns: repeat(2, 1fr)

    .hero
        &__agit, &__title
            margin-bottom: 20px
        &__title
            font-size: 21px
            line-height: 24px
        &__price
            font-size: 16px
            br
                display: none
            &-num, &-rub
                font-size: 36px
                line-height: 40px

@media screen and ( max-width: 530px )

    .text
        font-size: 16px
        line-height: 26px

    .reviews
        &__body
            row-gap: 15px
            grid-template-columns: repeat(1, 1fr)

    .section
        &__small-title, &__subtitle
            font-size: 18px
            line-height: 24px
        &__title
            font-size: 30px
            line-height: 40px

    .logo
        display: flex
        align-items: center
        justify-content: center
        &__img
            width: 80%

@media screen and ( max-width: 430px )
    
    .filming__img::before
        font-size: 12px
        right: 30px
        bottom: 20px

    .slider
        &__author
            font-size: 12px
            right: 30px
            bottom: 20px
        &__item, &__img
            min-height: 250px

@media screen and ( max-width: 400px )
    
    .slider
        &__control
            height: 50px
            width: 20px

    .popup
        &__body
            grid-template-columns: repeat(1, 1fr)