$text-black: #19191C
$main_red: #D6253F
$text-hover: #B01D33
$bg-grey: #F3F4F8
$text-blue: #097ABA
    
$transition: all .3s ease-out 0s

*, *::before, *::after
    margin: 0
    padding: 0
    text-decoration: none
    box-sizing: border-box
    font-family: 'Open Sans', sans-serif
    border-radius: 0px

html, body
    overflow-x: hidden

body
    min-height: 100vh
    display: flex
    flex-direction: column

section
    position: relative

.header, .footer
    flex-grow: 0

.section
    &__subtitle
        font-size: 24px
        line-height: 33px
        font-weight: 600
        display: inline-block
    &__title
        font-size: 50px
        line-height: 60px
        font-weight: 800
        color: $text-black
        text-transform: uppercase
        font-family: 'SFUIDisplay', sans-serif
        &_white
            color: #ffffff !important
        &_tac
            text-align: center
    &__small-title
        font-weight: 600
        font-size: 25px
        line-height: 33px
        text-transform: none
        font-family: 'SFUIDisplay', sans-serif
        &_tac
            text-align: center

.main
    flex-grow: 1

.container
    max-width: 1230px
    padding: 0px 15px
    width: 100%
    margin: 0 auto
    position: relative
    z-index: 2
    &_bigger
        max-width: 1470px

.button
    display: inline-block
    background-color: transparent
    border-radius: 5px
    border: none
    position: relative
    cursor: pointer
    text-decoration: none
    text-transform: uppercase
    text-align: center
    user-select: none
    color: $text-black
    padding: 15px
    font-size: 14px
    line-height: 14px
    font-weight: 800
    overflow-anchor: none
    vertical-align: middle
    white-space: nowrap
    transition: $transition
    &:focus
        outline: none
    svg
        vertical-align: middle
        transition-duration: 0s 
    &_response
        padding: 16px 29px 15px
        border: 2px solid $text-black
        &:hover
            color: #ffffff
            background-color: $text-black
    &_buy
        color: #ffffff
        background-color: $main_red
        padding: 12px 30px
        svg
            margin-right: 23px
            stroke: #fff
            fill: #fff
        &:hover
            background-color: $text-hover
    &_testdrive
        padding: 12px 36px
        margin-left: 30px
        border: 2px solid $text-black
        svg
            margin-right: 15px
            fill: $text-black
        &:hover
            color: #ffffff
            background-color: $text-black
            svg
                fill: #ffffff
                stroke: #ffffff
    &_login
        color: #ffffff
        background-color: $main_red
        margin-left: 20px
        padding: 18px 28px 15px
        &:hover
            background-color: $text-hover

.header
    position: relative
    top: 0
    left: 0
    width: 100%
    z-index: 5
    background-color: #fff
    transition: $transition
    &__wrap
        display: flex
        align-items: center
    &__buttons
        margin-left: 45px
        display: flex
    &.fixed
        box-shadow: 0 0 15px 3px rgba(0, 0, 0, .1)
    
.logo
    background-color: #000
    flex-shrink: 0
    padding: 24px 16px
    &__img
        height: 100%
        width: auto
        max-width: 100%

.nav
    width: 100%
    max-width: 632px
    margin-left: 65px
    &__list
        display: flex
        width: 100%
        align-items: center
        justify-content: space-between
        list-style-type: none
    &__link
        font-size: 16px
        font-weight: 600
        color: #000000
        transition: $transition
        &:hover
            color: $text-hover

.burger
    padding: 0
    height: 40px
    width: 40px
    position: relative
    display: none
    span, &::before, &::after
        content: ''
        display: inline-block
        width: 22px
        height: 2px
        background-color: $text-black
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        transition:  top .15s ease-in .15s, transform .15s ease-in 0s, opacity .1s ease-in .15s
    span
        width: 16px
        background-color: $main_red
        left: 57%
    &::before
        top: calc( 7px + 50% )
    &::after
        top: calc( -7px + 50% )
    &.active
        span, &::before, &::after
            transform: translate(-50%, -50%)
            top: 50%
            transition:  top .15s ease-in 0s, transform .15s ease-in .15s, opacity .15s ease-in .1s
        span
            opacity: 0
        &::before
            transform: translate(-50%, -50%) rotate(45deg)
        &::after
            transform: translate(-50%, -50%) rotate(-45deg)

.menu
    position: fixed
    top: 0
    left: 0
    z-index: 4
    width: 100%
    height: 100%
    transform: translateY(-105%)
    display: flex
    flex-direction: column
    opacity: 0
    visibility: hidden
    pointer-events: none
    background-color: #fff
    padding: 85px 15px 0px
    overflow-y: auto
    transition: $transition
    .nav
        margin-left: 0
        &__list
            flex-direction: column
            align-items: flex-start
        &__link
            font-size: 18px
            display: inline-block
            padding: 5px 0px
        &__item + &__item
            margin-top: 5px
    .header__buttons
        margin-left: 0
        margin-top: 30px
        flex-direction: column-reverse
        align-items: flex-start
    .button
        margin-left: 0
    .button + .button
        margin-bottom: 20px
    &.active
        transform: translateY(0%)
        opacity: 1
        visibility: visible
        pointer-events: all

.aside
    position: fixed
    right: 0px
    top: 50%
    transform: translate(0, -50%)
    display: flex
    flex-direction: column
    align-items: flex-end
    z-index: 6
    &__top
        display: flex
        flex-direction: column
        align-items: flex-end
    &__camera, &__cart, &__nav
        background-color: $main_red
        border-radius: 20px 0px 0px 20px
        padding: 13px 13px 11px 13px
        color: #ffffff
        font-weight: 600
        text-transform: none
        svg
            fill: #ffffff
            margin-right: 23px
        &:hover
            transform: translateX(0px)
    &__nav
        display: none
        svg
            transform: rotate(-180deg) !important
    &__camera
        transform: translateX(113px)
    &__cart
        margin-top: 8px
        transform: translateX(83px)
    &__body
        margin-top: 8px
        border-radius: 20px 0px 0px 20px
        background-color: $main_red
        display: flex
        flex-direction: column
        align-items: center
        width: 39px
        position: relative
        max-height: 46px
        overflow: hidden
        padding: 0
        transition: $transition
        cursor: pointer
        svg
            pointer-events: none
            fill: #ffffff
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        &::before
            content: ''
            display: inline-block
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        .aside__link
            visibility: hidden
            opacity: 0
        &.active
            padding: 39px 2px 55px 6px
            width: 36px
            margin-top: 20px
            max-height: none
            overflow: visible
            cursor: default
            svg
                display: none
            &::before
                display: none
            .aside__link
                visibility: visible
                opacity: 1
    &__link
        position: relative
        display: inline-block
        color: $text-black
        transition: $transition
        font-size: 16px
        padding: 0px 7px
        & + &
            margin-top: 1vh
        &.active, &.preview, &:hover
            .aside
                &__text
                    transform: translate(-30px, -50%)
                    opacity: 1
                    visibility: visible
                &__bullet
                    opacity: 1
                    transform: scale(1.6)
    &__bullet
        display: inline-block
        transition: $transition
        height: 8px
        width: 8px
        background-color: #fff
        border-radius: 50%
        opacity: .5
    &__text
        position: absolute
        transition: $transition
        display: inline-block
        white-space: nowrap
        top: 50%
        right: 100%
        opacity: 0
        visibility: hidden
        transform: translate(20px, -50%)

.mobile-nav
    background-color: $main_red
    position: fixed
    bottom: 0
    transform: translateY(100%)
    left: 0
    width: 100%
    z-index: 4
    padding: 15px
    transition: $transition
    &__list
        list-style-type: none
        padding-left: 20px
    &__link
        color: #fff
    &__item
        position: relative
        & + &
            margin-top: 10px
        &::before
            content: ''
            display: inline-block
            height: 6px
            width: 6px
            position: absolute
            background-color: #fff
            top: 0.7em
            left: -15px
            transform: translate(0, -50%)
            border-radius: 50%
    &.active
        transform: translateY(0%)

.hero
    padding: 73px 0px 107px
    background-color: $bg-grey
    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        img
            width: 100%
            height: 100%
            object-fit: cover
    &__container
        max-width: 635px
        width: 100%
    &__logo
        display: block
        max-width: 299px
        width: 100%
        margin-bottom: 30px
    &__agit
        font-size: 52px
        font-weight: 900
        margin-bottom: 30px
        display: inline-block
    &__title
        font-size: 36px
        font-weight: 700
        line-height: 50px
        margin-bottom: 30px
    &__price
        margin-bottom: 72px
        &-num, &-rub
            font-weight: 700
            font-size: 47px
            line-height: 56px
            color: $main_red
        &-rub
            color: #000
            font-weight: 500
            font-size: 36px
    &__row
        display: flex
        align-items: center
    &__socials
        margin-left: 35px
        &-label
            display: block
            font-size: 14px
            text-transform: uppercase
            font-weight: 800
        &-link
            transition-duration: 0s
            fill: $text-black
            transition: $transition
            & + &
                margin-left: 15px
            &:hover
                fill: $main_red
        &-row
            margin-top: 5px
            display: flex
            align-items: center

.float-img
    margin-top: 4px
    &_left
        float: left
        margin-right: 20px
    &_right
        float: right
        margin-left: 20px
    &_mb30
        margin-bottom: 30px

.row
    display: flex
    align-items: flex-start
    &_middle
        align-items: center
    &_stretch
        align-items: stretch
    &_between
        justify-content: space-between
    &_end
        align-items: flex-end
    &_triple
        .column + .column
            margin-left: 70px
        .column
            &_small
                flex-basis: 28%
    &_mt30
        margin-top: 30px
    &_mt40
        margin-top: 40px
    &_mt50
        margin-top: 50px
    &_mt60
        margin-top: 60px
    &_mt70
        margin-top: 70px
    &_mt80
        margin-top: 80px
    &_mt90
        margin-top: 90px
    &_mt100
        margin-top: 100px
    &__container
        &_mt30
            margin-top: 30px
        &_mt40
            margin-top: 40px
        &_mt50
            margin-top: 50px
        &_mt60
            margin-top: 60px
        &_mt70
            margin-top: 70px

.mt
    &-10
        margin-top: 10px !important
    &-15
        margin-top: 15px !important
    &-20
        margin-top: 20px !important
    &-25
        margin-top: 25px !important
    &-30
        margin-top: 30px !important
    &-35
        margin-top: 35px !important
    &-40
        margin-top: 40px !important
    &-45
        margin-top: 45px !important
    &-50
        margin-top: 50px !important
    &-55
        margin-top: 55px !important
    &-60
        margin-top: 60px !important
    &-65
        margin-top: 65px !important
    &-70
        margin-top: 70px !important
    &-75
        margin-top: 75px !important
    &-80
        margin-top: 80px !important
        
.ml
    &-10
        margin-left: 10px !important
    &-20
        margin-left: 20px !important
    &-30
        margin-left: 30px !important
    &-40
        margin-left: 40px !important
    &-50
        margin-left: 50px !important
        
.mr
    &-10
        margin-right: 10px !important
    &-20
        margin-right: 20px !important
    &-30
        margin-right: 30px !important
    &-40
        margin-right: 40px !important
    &-50
        margin-right: 50px !important
        
.mb
    &-10
        margin-bottom: 10px !important
    &-20
        margin-bottom: 20px !important
    &-30
        margin-bottom: 30px !important
    &-40
        margin-bottom: 40px !important
    &-50
        margin-bottom: 50px !important

.pl
    &-10
        padding-left: 10px !important
    &-20
        padding-left: 20px !important
    &-30
        padding-left: 30px !important
    &-40
        padding-left: 40px !important
    &-50
        padding-left: 50px !important

.column
    flex-basis: 49%
    display: flex
    flex-direction: column
    align-items: flex-start
    &_nomutations
        flex-grow: 0
        flex-shrink: 0
    &_normal
        max-width: 590px
    &_small
        flex-basis: 30%
    &_end
        justify-content: flex-end
    &_center
        justify-content: center
        align-items: center
    &_medium
        flex-basis: 38%
    &_big
        flex-basis: 59%
    &__video, &__img
        width: 100%
        height: 100%
        max-width: 100%
        position: relative
        display: block
    &__inner
        max-width: 470px
        width: 100%
        .filming__img
            &, & img
                max-height: 310px
    &__img
        &_corpus
            margin-top: -180px
            img
                transform: translateY(6px)
        &_corpus-2, &_corpus-2 img
            max-height: 360px
    &__img img
        width: 100%
        height: 100%
        object-fit: cover
    &__container
        display: flex
        align-items: flex-start
        &_mt30
            margin-top: 30px
    &_end
        justify-content: flex-end
    &_between
        justify-content: space-between
    & + &
        margin-left: 20px

a.text
    font-size: 20px
    line-height: 30px
    font-weight: 400
    color: $text-blue
    &:hover
        color: $text-hover

.text
    font-size: 20px
    line-height: 30px
    font-weight: 400
    transition: $transition
    &-block
        & + &
            margin-top: 50px
    &_left
        max-width: 465px
    &_center
        text-align: center
        display: inline-block
    &_mt10
        margin-top: 10px
    &_mt20
        margin-top: 20px
    &_mt30
        margin-top: 30px
    &_mt40
        margin-top: 40px
    &_mt45
        margin-top: 45px
    &_mt50
        margin-top: 50px
    a
        color: $text-blue
        line-height: inherit
        font-size: inherit
        font-weight: inherit
        &:hover
            color: $text-hover

.hybrid
    padding-top: 50px
    &::after
        content: ''
        position: absolute
        display: block
        width: 100%
        height: 28%
        background-color: $bg-grey
        bottom: 5px
        left: 0
    &__title
        margin-top: 50px
    &__subtitle
        margin-top: 50px
    &__img
        width: 100%
        margin-top: 50px
        display: block
        &_right
            transform: translateX(120px)
        &_left
            transform: translateX(-120px)
        img
            max-width: 100%
            width: 100%

.list
    padding-left: 40px
    margin-top: 120px
    list-style-type: none
    max-width: 550px
    &__item
        position: relative
        & + &
            margin-top: 1.5em
        &::before
            height: 24px
            width: 24px
            content: ''
            display: inline-block
            position: absolute
            top: 0%
            left: -15px
            transform: translate(-100%, 10%)
            background-image: url(../img/bullet.svg)
            background-repeat: no-repeat
            background-size: contain
            background-position: center
    &__accent
        color: $main_red

.author
    padding: 35px 0px 345px
    &::after
        content: ''
        position: absolute
        display: block
        width: 100%
        height: 59%
        background-color: $bg-grey
        bottom: 5px
        left: 0
        z-index: 0
    &__title
        margin-bottom: 50px
    &__bg
        position: absolute
        max-width: 1440px
        width: 100%
        bottom: 0
        left: 50%
        z-index: 1
        transform: translate(-50%, 0px)
        img
            width: 100%
            max-width: 100%

.slider
    padding-top: 60px
    overflow: hidden
    .swiper-lazy-preloader-red
        --swiper-preloader-color: #D6253F
    &_last
        padding-bottom: 140px
        .slider
            &__pagination
                &-block
                    transform: translate(-50%, 100%)
    .slider
        &__pagination
            width: 100% !important
            max-width: 90px
            .swiper-pagination-bullet
                margin: 0 5px
    &__title
        margin-bottom: 50px
    &__body
        position: relative
    &__author
        display: inline-block
        position: absolute
        font-size: 18px
        font-weight: 500
        color: #ffffff
        bottom: 55px
        right: 245px
        z-index: 5
    &__item
        width: 100%
        min-height: 300px
        max-height: 940px
        overflow: hidden
        position: relative
    &__img
        width: 100%
        height: 100%
        object-fit: cover
    &__control
        position: relative
        height: 100px
        width: 40px
        background-color: transparent
        border: none
        display: inline-block
        z-index: 3
        cursor: pointer
        transition: $transition
        svg
            height: 100%
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            transition-duration: 0s
            fill: #ffffff
        &:hover
            svg
                fill: $text-hover
        &_prev
            left: 0
        &_next
            transform: rotate(180deg)
            right: 0
        &-container
            width: 100%
            height: 100px
            max-width: 1400px
            margin: 0 auto
            display: flex
            justify-content: space-between
            align-items: center
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            position: absolute
            z-index: 2
    &__name
        font-weight: 600
        font-size: 30px
        line-height: 45px
        text-align: center
    &__pagination
        position: relative
        width: 100%
        max-width: 300px
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 25px
        padding: 5px 0px
        &-block
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%)
            padding: 30px 20px 9px
            width: 100%
            max-width: 470px
            z-index: 3
            display: flex
            flex-direction: column
            align-items: center
            position: absolute
            bottom: 0
            left: 50%
            transform: translate(-50%, 0)
        .swiper-pagination-bullet
            opacity: 1
            border-radius: 100%
            flex-shrink: 0
            height: 8px
            width: 8px
            background-color: #000000
            box-shadow: 0 0 0 0px $main_red
            transition: $transition
            &-active
                height: 8px
                width: 8px
                background-color: #ffffff
                box-shadow: 0 0 0 4px $main_red
    
.sooc
    padding-top: 50px
    padding-bottom: 70px
    position: relative
    &::before
        content: ''
        display: block
        position: absolute
        left: 0
        width: 100%
        bottom: 0
        height: 420px
        background-color: $bg-grey

.control
    padding-top: 70px
    &__setup
        padding-top: 80px
        padding-bottom: 70px
        background-color: $bg-grey
    &__img
        overflow: visible
        height: 100%
        img
            top: -87px
            left: 0
            position: absolute
            object-fit: contain
            width: 630px
            height: 540px

.filming
    padding-top: 70px
    &__colored
        background-color: $bg-grey
        padding: 70px 0px
    &__img
        max-width: 1440px
        width: 100%
        height: auto
        margin: 0 auto
        display: block
        position: relative
        &::before
           content: attr(data-author)
           display: inline-block
           position: absolute
           font-size: 25px
           color: #ffffff
           font-weight: 500
           bottom: 40px
           right: 60px
           z-index: 3
           background-color: rgba(0, 0, 0, .25)
           padding: 5px
        img
            width: 100%
            height: 100%
            object-fit: cover

.autofocus
    padding: 70px 0px

.bg-container
    background-color: $bg-grey
    padding: 70px 0px

.corpus
    &__img
        padding-left: 20px
        padding-right: 60px

.inside
    padding: 70px 0px

.lens
    padding-bottom: 70px
    &__title
        position: relative
        background-color: #000000
        z-index: 2
        padding: 18.5% 0px
        &-bg
            z-index: -1
            top: 0
            left: 0
            position: absolute
            width: 100%
            height: 100%
            display: block
            overflow: hidden
            img
                width: 100%
                height: 100%
                object-fit: cover

.competition, .reviews
    display: flex
    align-items: center
    flex-direction: column

.competition
    padding: 70px 0px
    &__button
        color: $text-blue
        display: flex
        justify-content: space-between
        max-width: 820px
        align-items: center
        padding: 0
        font-weight: 600
    &__img
        width: 100%
        max-width: 100%
        margin-bottom: 20px
    &__item
        display: flex
        flex-direction: column
        align-items: center
        flex-basis: 21%
        & + &
            margin-left: 20px
    &__logo
        max-width: 100%
        width: auto
        height: 30px

.reviews
    &__body
        display: grid
        grid-template-columns: repeat(3, 1fr)
        column-gap: 100px
        row-gap: 30px
    &__item
        height: 100%
        width: 100%
        overflow: hidden
        position: relative
        max-height: 235px
        video, iframe, picture, img
            height: 100%
            width: 100%
            object-fit: cover

.review
    position: relative
    width: 100%
    height: 0
    padding-bottom: 56.25%
    background-color: #000000
    &__link 
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    &__media 
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border: none
    &__button 
        position: absolute
        top: 50%
        left: 50%
        z-index: 1
        display: none
        padding: 0
        width: 68px
        height: 48px
        border: none
        background-color: transparent
        transform: translate(-50%, -50%)
        cursor: pointer
        transition: $transition
    &__button-shape 
        fill: #212121
        fill-opacity: 0.8
        transition: $transition
    &__button-icon 
        fill: #ffffff
        transition: $transition
    &__button:focus 
        outline: none
    &:hover &__button-shape,
    &__button:focus &__button-shape 
        fill: $main_red
        fill-opacity: 1
    &_outer &__button
        display: none
    &--enabled 
        cursor: pointer
    &--enabled &__button 
        display: block

.footer
    &__mobile
        display: none
        align-items: center
        flex-direction: column
        margin-bottom: -20px
    &__title
        font-size: 36.6px
        font-weight: 800
        text-transform: uppercase
        line-height: 40px
        margin-top: 15px
    &__row
        display: flex
        align-items: center
        .column
            flex-basis: 42%
        .column + .column
            margin-left: 55px
    &__logo
        width: 196px
        height: 33px
        max-width: 100%
    &__socials
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        max-width: 300px
        margin-top: 90px
    &__list
        display: grid
        grid-template-columns: repeat(3, 1fr)
        list-style-type: none
        column-gap: 100px
        row-gap: 25px
    &__item
        &:nth-child(1)
            order: 0
        &:nth-child(2)
            order: 3
        &:nth-child(3)
            order: 1
        &:nth-child(4)
            order: 4
        &:nth-child(5)
            order: 2
        &:nth-child(6)
            order: 5
    &__link
        font-size: 18px
        font-weight: 600
        line-height: 24px
        color: inherit
        transition: $transition
        svg
            transition-duration: 0s
        &:hover
            color: $text-hover
            svg
                fill: $text-hover
    &__button
        padding: 0
        font-weight: 400
        color: #777
        text-transform: none
        font-size: 16px
        transition: $transition
        &:hover
            color: $text-hover
    &__copyright
        font-size: 16px
        font-weight: 400
        display: block
        color: #000000

.popup
    background-color: #fff
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .2)
    padding: 80px 30px 40px
    position: relative
    width: 100%
    max-width: 940px
    opacity: 0
    transform: translateY(-50px)
    overflow: hidden
    overflow-y: auto
    max-height: 95%
    transition: $transition
    &_video
        height: 0
        position: relative
        padding-bottom: 40%
        max-width: 1400px
    &_table
        max-width: 1200px
    &__body
        display: grid
        justify-items: center
        justify-items: center
        grid-template-columns: repeat(3, 1fr)
        column-gap: 20px
        row-gap: 15px
    &__item
        color: inherit
        display: flex
        align-items: center
        flex-direction: column
        max-width: 230px
        padding: 10px
        transition: $transition
        &-logo
            display: flex
            align-items: center
            justify-content: center
            height: 100px
            width: 200px
            padding: 10px
        &-img
            width: 100%
            max-width: 140px
            max-height: 70px
            height: auto
            object-fit: contain
        &-location
            font-size: 14px
            margin-top: 10px
            display: inline-block
            text-align: center
        &:hover, &:focus
            outline: none
            box-shadow: 0 0 10px 4px $bg-grey
    &__close
        position: absolute
        right: 10px
        background-color: #fff
        top: 10px
        height: 40px
        width: 40px
        display: inline-block
        background-color: transparent
        border: none
        border-radius: 0
        cursor: pointer
        transition: $transition 
        &::before, &::after
            content: ''
            display: inline-block
            width: 25px
            height: 2px
            background-color: $text-black
            transition: $transition 
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        &::before
            transform: translate(-50%, -50%) rotate(45deg)
        &::after
            transform: translate(-50%, -50%) rotate(-45deg)
        &:active
            &::before, &::after
                width: 22px
        &:focus
            outline: none
    &__table
        width: 100%
        min-width: 750px
        border-spacing: 0px
        &-bg
            background-color: $bg-grey
        &-img
            max-width: 100%
            width: 100%
            margin-top: 20px
        &-head            
            display: flex
            align-items: center
            justify-content: space-between
            height: 100%
            flex-direction: column
        th
            padding: 15px 5px
            min-width: 200px
            .popup__table-text
                font-weight: 700
                white-space: nowrap
        td
            padding: 5px 7px
            text-align: left
            &:not(:first-child)
                text-align: center
                .popup__table-text
                    font-size: 14px
                    font-weight: 600
            &:first-child
                width: 300px
                padding: 10px 7px
                .popup__table-text
                    font-weight: 600
                    text-align: left
        th, td
            border: 1px solid $bg-grey
        &-text
            font-size: 16px
            display: inline-block
            text-align: center
            &_red
                color: $main_red !important
            &_bolder
                font-weight: 700 !important
        &-wrap
            position: relative
            overflow-x: auto
    &__overlay
        padding: 10px
        position: fixed
        transition: $transition
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 100
        background-color: rgba(255, 255, 255, .8)
        display: flex
        justify-content: center
        align-items: center
        opacity: 0
        pointer-events: none
        visibility: hidden
        &.active
            opacity: 1
            pointer-events: all
            visibility: visible
            .popup
                opacity: 1
                transform: translateY(0px)
