$main_red: #d31b21

*, *::before, *::after
    border: none
    margin: 0
    padding: 0
    border-radius: 0px
    box-sizing: border-box 
    transition: all .2s ease-in-out 0s

*
    font-family: 'Montserrat', sans-serif

html, body
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    min-height: 100vh
    background-color: #fff

.container
    max-width: 1230px
    margin: 0 auto
    padding: 0px 15px
    z-index: 2
    position: relative

.text
    &__red
        color: $main_red
    &__italic
        font-style: italic

.section
    &__header
        font-weight: 500
        font-size: 54px
        text-align: center
        &-wrap
            width: 100%
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
    &__subheader
        font-weight: 500
        font-size: 22px
        text-align: center
        margin-top: 30px
    &__wrapper
        display: flex
        flex-direction: column
        align-items: center

.button
    display: inline-block
    background: rgb(217,34,39)
    background: linear-gradient(180deg, rgba(217,34,39,1) 0%, rgba(168,14,21,1) 100%)
    border-radius: 6px
    font-size: 18px
    color: #fff
    text-align: center
    appearance: none
    font-weight: 500
    &:hover
        cursor: pointer
        background: rgb(255,255,255)
        color: rgb(217,34,39)
        box-shadow: 0 0 0 1px rgb(217,34,39)
        background: linear-gradient(180deg, rgba(255,255,255,1) 8%, rgba(225,225,225,1) 86%)
    &__wrap
        width: 100%
        display: flex
        align-items: center
        justify-content: center
    &__header
        font-size: 15px
        padding: 10px 30px
    &__agit
        padding: 10px 30px
    &__about
        padding: 12px 50px
    &__in-table
        padding: 10px 35px

.header
    flex-grow: 0
    padding: 25px 0px
    box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, .2)
    position: relative
    z-index: 10
    &__wrap
        display: flex
        align-items: center
        justify-content: space-between
    &__logo
        display: flex
        align-items: center
        &-img
            height: auto
            max-width: 57px
            object-fit: contain
            margin-right: 10px
        &-text
            font-size: 18px
            font-weight: bold
    &__menu
        max-width: 470px
        flex-grow: 1
    &__list
        display: flex
        justify-content: space-around
        &-item
            list-style-type: none
            color: $main_red
            position: relative
            &::before
                content: ''
                display: inline-block
                height: 7px
                width: 7px
                margin-right: 10px
                background-color: $main_red
                border-radius: 50%
                transform: translateY(-50%)
    &__link
        text-decoration: none
        color: #000
        font-weight: 600
        font-size: 19px
        font-family: 'Exo 2', serif
        &:hover
            color: $main_red

.main
    flex-grow: 1

.banner
    min-height: 1000px
    position: relative
    background-image: url(../img/banner_bg.jpg)
    background-size: contain
    background-repeat: no-repeat
    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        padding-top: 200px
    &__text
        font-size: 19px
        font-weight: 300
        line-height: 28px
        max-width: 610px
        text-align: center
        margin-top: 20px
        b
            font-size: 19px
            font-weight: 700
            line-height: 28px
    &__button
        display: inline-block
        margin-top: 40px
        height: 90px
        width: 90px
        border-radius: 50%
        background: rgb(217,34,39)
        background: linear-gradient(180deg, #ff0008 0%, rgba(168,14,21,1) 100%)
        box-shadow: 0 2px 2px rgba(0, 0, 0, .3)
        position: relative
        img
            position: absolute
            top: 50%
            left: 52%
            transform: translate(-50%, -50%)
            height: 22px
            width: 22px
            object-fit: contain
        &:hover
            cursor: pointer
        &-text
            font-size: 18px
            font-weight: 700
            max-width: 270px
            text-align: center

.how
    padding-top: 50px
    padding-bottom: 90px
    position: relative
    &__bg
        position: absolute
        right: 0
        bottom: 0
        max-height: 650px
        height: auto
    &__items
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        margin-top: 40px

.item
    margin: 60px 45px 0px
    display: flex
    flex-direction: column
    align-items: center
    &_why
        margin: 60px 15px 0px
    &__ico
        height: 124px
        width: 124px
        border-radius: 50%
        position: relative
        background-color: #fff
        box-shadow: 0 0 0 10px #e4e4e4
        &_why
            height: 184px
            width: 184px
    &__img
        position: absolute
        top: 50%
        left: 50%
        max-width: 124px
        height: auto
        transform: translate(-50%, -50%)
        &_why
            max-width: 184px
    &__header
        font-size: 20px
        font-weight: 700
        text-align: center
        margin: 25px 0px 20px
        line-height: 26px
        &_mw
            max-width: 260px
    &__text
        max-width: 280px
        font-weight: 300

.why
    background-image: url(../img/why_bg.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding: 75px 0px 125px
    &__items
        display: flex
        flex-wrap: wrap
        justify-content: space-around

.agit
    background-image: url(../img/agit_bg.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    padding: 90px 0px 150px
    position: relative
    &__person
        position: absolute
        bottom: -17px
        right: 300px
    &__header
        max-width: 560px
        font-size: 42px
        font-weight: normal
        margin-bottom: 40px
        b
            font-weight: 600

.about
    padding: 70px 0px
    background-image: url(../img/about_bg.jpg)
    background-repeat: no-repeat
    background-position-y: bottom
    background-size: contain
    &__items
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 60px
    &__text
        text-align: center
        font-weight: 700
        font-size: 20px
        max-width: 900px
        margin-bottom: 50px
    .item
        margin: 60px 0px 0px
        &__header
            max-width: 240px

.price
    padding: 80px 0px 160px
    &__text:first-of-type
        margin-top: 20px
    &__text
        font-weight: 300
        font-size: 22px
        text-align: center
        line-height: 32px
    &__pricelist
        margin-top: 40px
        border: 1px solid #cccccc
        border-radius: 10px
        overflow: hidden

.table
    &__no, &__yes
        position: relative
        span
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 12px
            height: 12px
            display: inline-block
            background-size: contain
            background-repeat: no-repeat
            background-position: center
    &__no
        span
            background-image: url(../img/table_no.png)
    &__yes
        span
            background-image: url(../img/table_yes.png)
    th
        background-color: #ed0f15
        color: #fff
        font-size: 20px
        font-weight: 500
        padding: 15px
        text-align: center
        font-family: "Montserrat", sans-serif
    td
        font-size: 18px
        padding: 15px 40px
        border: 1px dotted #cccccc
        img + img
            margin-left: 5px
    &__has-img
        padding: 9px 40px !important
    &__link-inline
        font-size: 18px
        font-weight: 500
        padding: 20px 0px
        text-decoration: none
        color: #585858
        text-align: center
    &__prices
        background-color: #f1f1f1
        padding: 22px 40px
        width: 100%
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__red
        font-size: 24px
        font-weight: 700
        color: #ba0106
    &__cols
        display: flex
        width: 100%
        justify-content: space-between
        max-width: 465px
    &__col
        display: flex
        flex-direction: column
        align-items: center
        &-header
            color: #ba0106
            font-size: 30px
            font-weight: 700
        &-span
            font-weight: 700
            font-size: 18px
            margin-bottom: 10px

.footer
    flex-grow: 0