* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top right, rgb(76, 189, 136), rgb(89, 190, 148), rgb(103, 192, 160), rgb(116, 193, 172), rgb(130, 195, 184), rgb(143, 196, 196), rgb(139, 196, 187), rgb(135, 195, 179), rgb(131, 195, 170), rgb(127, 195, 161), rgb(123, 194, 153), rgb(119, 194, 144));
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    padding: 0px 30px;
}

.content {
    margin: 200px auto;
    height: 400px;
    max-width: 800px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
}

.content__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 3600px;
    justify-content: stretch;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.content__prev,
.content__next {
    border: none;
    position: absolute;
    background-color: black;
    height: 40px;
    width: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    opacity: .7;
    cursor: pointer;
}

.content__prev:focus,
.content__next:focus {
    outline: none;
}
.content__next{
    left: 100%;
    transform: translate(-100%, -50%);
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
}

.content__item {
    height: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

