* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top right, rgb(76, 189, 136), rgb(89, 190, 148), rgb(103, 192, 160), rgb(116, 193, 172), rgb(130, 195, 184), rgb(143, 196, 196), rgb(139, 196, 187), rgb(135, 195, 179), rgb(131, 195, 170), rgb(127, 195, 161), rgb(123, 194, 153), rgb(119, 194, 144));
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 50px;
    height: 400px;
    max-width: 800px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.content__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 3600px;
    justify-content: stretch;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.content__prev,
.content__next {
    border: none;
    position: absolute;
    background-color: black;
    height: 40px;
    width: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    opacity: .7;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__prev:focus,
.content__next:focus {
    outline: none;
}
.content__next{
    right: 0;
}

.content__prev span,
.content__next span {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 13px;
    background-color: #fff;
    transition: ease-in-out .1s;
    -webkit-transition: ease-in-out .1s;
    -moz-transition: ease-in-out .1s;
    -ms-transition: ease-in-out .1s;
    -o-transition: ease-in-out .1s;
}

.content__prev span::after,
.content__next span::before,
.content__next span::after,
.content__prev span::before {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 7px;
    transition: ease-in-out .1s;
    -webkit-transition: ease-in-out .1s;
    -moz-transition: ease-in-out .1s;
    -ms-transition: ease-in-out .1s;
    -o-transition: ease-in-out .1s;
}

.content__prev span::after {
    left: 0;
    top: 0;
    transform-origin: left;
    transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}
.content__prev span::before {
    left: 0;
    top: 0;
    transform-origin: left;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}

.content__next span::after {
    right: 0;
    top: 0;
    transform-origin: right;
    transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}
.content__next span::before {
    right: 0;
    top: 0;
    transform-origin: right;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}

.content__next:active span{
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.content__prev:active span{
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
}
/*-----------------------------------*/
.content__next:active span::before,
.content__next:active span::after
{
    right: 4px;
}

.content__prev:active span::before,
.content__prev:active span::after
{
    left: 4px;
}

.content__item {
    height: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    overflow-y: auto;
}

