$dark_black: #070714
$light_black: #424250
$blue: #4A4AE1
$dark_grey: #7A7A99
$light_grey: #D8D9E6   
    
@media screen and ( min-width: 830px )
    .mobile__menu
        display: none
    .header
        &__nav, &__contacts
            display: block
        &__logo, &__burger
            display: none
    
    .banner
        &__body
            width: 50%
        &__wrapper
            display: flex
        &__links
            margin-top: 10px
        &__bg
            z-index: 10
            flex: 0 0 50%
            transform: translate(-100%, -10%)
            img
                height: 100%
                width: 100%
                object-fit: contain

    .services
        &__controll
            display: flex
        &__next, &__prev
            justify-self: flex-end
    .service
        &__mobile
            display: none
        &__wrap
            min-height: 442px

    .about
        display: flex
        .container
            height: 100%    
            display: flex
            align-items: center
        &__body
            width: 50%
        &__bg
            z-index: 10
            flex: 0 0 40%
            transform: translate(-100%, 0)
            max-height: 565px
            img
                height: 100%
                width: 100%
                object-fit: contain
    .footer
        &__links
            margin-left: 80px
    
@media screen and ( max-width: 830px )
    .mobile__menu
        display: block
        position: fixed
        height: 100vh
        width: 60%
        background-color: #D8D9E6
        opacity: .98
        transform: translateX(100%)
        right: 0
        top: 0
        padding: 70px 30px 30px
        .header__link
            font-size: 14px
        .header__list
            flex-direction: column
            .header__item + .header__item
                margin: 15px 0 0 0
            
        .header__contacts
            margin-top: 40px
            flex-direction: column
            .header__contact + .header__contact
                margin: 20px 0 0 0
        .banner__social
            position: absolute
            bottom: 0
            flex-direction: column
            .banner__link
                font-size: 14px
                margin-left: 0px
                margin-bottom: 20px
        &.active
            transform: translateX(0)
    .header
        position: fixed
        width: 100%
        z-index: 100
        padding: 20px 0px
        max-height: 70px
        &__nav, &__contacts
            display: none        
        &__logo
            position: relative
            max-width: 40%
            z-index: 1
            img
                width: 100%
                height: auto
                object-fit: contain
            &.active
                position: relative
                transform: translateX(110%)
        &__burger
            position: relative
            display: inline-block
            height: 12px
            width: 18px
            z-index: 1
            transform: translateY(-40%)
            span
                display: inline-block
                width: 18px
                height: 2px
                background-color: $dark_black
                position: absolute
                top: 5px
                &::after
                    content: ''
                    display: inline-block
                    position: absolute
                    width: 10px
                    height: 2px
                    background-color: $dark_black
                    bottom: -6px
                    right: 0
                    transition: all .2s ease-out 0s
            &.active
                transform: translateY(-20%)
                span
                    width: 20px
                    transform: rotate(-45deg)
                    &::after
                        transition: all .2s ease-out 0s
                        width: 14px
                        top: -2px
                        left: 3px
                        transform: rotate(90deg)
    
    .banner
        padding-top: 0
        &__bg
            padding-top: 70px
        &__title
            margin-top: 20px
        &__wrapper
            display: flex
            flex-direction: column-reverse
        &__logo-wrap
            display: none
        &__img
            transform: translateX(20%)
        &__benefits
            margin-bottom: 30px
        &__links
            display: none
        .button
            width: 100%
    
    .form
        &__wrapper
            overflow-y: auto
        &__body
            margin-top: 230px
            max-height: none
            padding: 35px 0px
        &__col + &__col
            margin-top: 20px
        &__col
            flex: initial
        &__order
            margin-top: 30px
    .section__title
        margin-bottom: 40px
    .services
        &__wrapper
            flex-direction: column
        &__swiper
            margin-top: 0
            width: 100%
            height: auto
        &__controll
            margin-top: 30px
            flex-direction: row
            justify-content: space-between
        &__next, &__prev
            transform: rotate(90deg)
        &__next
            order: 3
        &__prev
            order: 0
        &__pagination
            margin: 0
            display: flex
            align-items: center
            order: 1
    .service
        &__divide
            width: 35px
            height: 1px
            transform: rotate(-80deg)
        &__wrap
            padding: 0px
            display: flex
            flex-direction: column
        
        &__title
            margin-top: 10px
            font-size: 20px
            order: 0
        &__features
            display: flex
            flex-wrap: wrap
            order: 1
        &__item
            font-size: 14px
        &__list
            max-width: none
            max-height: none
            order: 2
        &__price
            margin-left: 0
            margin-bottom: 30px
            order: 3
        &__button
            order: 4
        &__bg
            display: none
        &__mobile
            order: -1
            display: block
            position: relative
            overflow: hidden
            min-height: 300px
            &.nosneaker
                min-height: 200px
                max-height: 200px
                .service__sneaker
                    transform: none
                    max-width: none
                    width: 100%
                    height: 200px
                    bottom: 0
                    right: 0
                    top: auto
                    left: auto
                    position: absolute
                    object-fit: cover
        &__sneaker
            top: 40%
            left: 50%
            position: absolute
            transform: translate(-50%, -50%) rotate(-20deg)
            width: 80%
            max-width: 300px
            object-fit: contain
            z-index: 10
        &__figure
            z-index: 5
            top: 0
            right: 0
            transform: translate(70%, -30%)
            position: absolute
            max-width: 550px

        
    .about
        display: flex
        flex-direction: column-reverse
        &__body
            margin-bottom: 100px
        &__bg
            img
                max-width: 80%
                position: relative
                left: 50%
                transform: translateX(-50%)
    .footer
        &__content
            flex-direction: column
        &__links
            flex-wrap: wrap

@media screen and ( max-width: 500px )
    .header
        &__logo
            &.active
                transform: translateX(115%)
    .footer
        &__content
            padding-top: 70px
            padding-bottom: 30px
        &__group
            margin-top: 30px
        &__logo
            display: flex
            justify-content: center
            margin-bottom: 40px
            p
                display: none
        &__links
            flex-wrap: nowrap
            flex-direction: column
            