@media screen and ( max-width: 1106px )
    .more
        padding-bottom: 140px
        &__body
            padding-left: 10px
        &__deadlines
            margin-top: 30px

@media screen and ( max-width: 1000px )
    .header
        &__burger
            display: inline-block

@media screen and ( max-width: 880px )
    .footer
        .header
            &__wrap
                padding-left: 15px
                padding-right: 15px
            &__item
                margin-top: 15px
            &__list
                justify-content: space-between
                flex-wrap: wrap
                padding: 0px 30px

@media screen and ( max-width: 700px )
    .banner
        min-height: auto
        padding-bottom: 60px
        &__header
            font-size: 40px
        &__about
            padding: 20px 28px
            p
                font-size: 18px

    .more
        background-position-x: -370px
        &__body
            margin-top: 30px

    .individual
        &__header
            font-size: 40px

    .reward
        &__rewards
            margin-top: 10px
        &__text
            padding: 0px 20px

    .rating
        &__tab
            &-headers
                flex-direction: column
                align-items: center
            &-header
                margin-top: 15px

    .winner
        &__place, &__player, &__exp
            margin-top: 15px

    .table
        td
            .winner__img
                display: none

    .faq
        &__header
            font-size: 18px

    .popup
        padding: 25px 30px

@media screen and ( max-width: 400px )
    .popup
        &_checkin
            margin-top: 300px
        &_login
            margin-top: 80px
        &_battle
            margin-top: 0px
        &__header
            padding: 0
            font-size: 28px
    .button
        font-size: 20px
        &__common
            max-width: auto
            padding-left: 0
            padding-right: 0
            width: 100%
            &_popup
                font-size: 18px

    .header
        &__button
            padding: 10px 35px

    .banner
        &__header
            font-size: 29px
        &__about
            padding: 20px

    .reglament
        &__text
            font-size: 18px

    .individual
        &__header
            font-size: 29px
        &__logo
            width: 100%
            object-fit: contain
        &__offer
            font-size: 18px

    .winner
        &__place
            margin-top: 0

    .more
        padding-bottom: 40px

    .reward
        &__text
            font-size: 18px

    .section
        &__header
            font-size: 36px

    .faq
        &__header
            max-width: 200px