$main_blue: #1c3253
$main_yellow: #cea533
$border_grey: #dcdcdc
$bg_grey: #f0f1f2
$bg_light_grey: #f8f9fa
$text_black: #1c1d1e
    
@media screen and ( max-width: 1810px )
    .header
        &__button
            font-size: 0px
            margin-left: 20px
            & + &
                margin-left: 45px
            svg
                margin-right: 0px

    .logo
        left: -30px

@media screen and ( max-width: 1590px )
    .header
        &__top
            padding: 15px
            .text_white:first-child
                white-space: nowrap
            &-content
                max-width: 1150px
        &__main
            background-color: $bg_light_grey
            .search
                max-width: none
                width: auto
                box-shadow: none
                margin-left: auto
                &__button_search
                    display: none !important
                &__input
                    display: none
                &__button
                    display: block
        &__buttons
            position: relative
            transform: none
            margin-left: 30px
        &__button
            margin-left: 0
            height: 25px
            width: 50px
            &::after
                right: 0px !important
            & + &
                margin-left: 20px

    .nav
        max-width: none
        width: auto
        flex-grow: 1
        margin: 0px 40px 0px 0px

@media screen and ( max-width: 1590px )
    .header
        &__main
            padding: 5px 0px

    .logo
        position: static
        transform: none
        margin-right: 20px
        &__img
            max-height: 50px

    .main
        margin-top: 113px

@media screen and ( max-width: 1480px )
    .header
        &__top
            display: none
        &__main
            background-color: $main_blue
        &__button
            svg
                fill: #fff

    .nav
        &__link
            color: #fff

    .search
        background-color: transparent
        &__button svg
            fill: #fff

    .logo
        &__img
            fill: #ffffff !important

    .main
        margin-top: 64px

@media screen and ( max-width: 1400px )
    .slide
        &__control
            top: 50%
            transform: translateY(-50%)

@media screen and ( max-width: 1230px )
    .catalog
        &__container
            grid-template-columns: 1fr
        &__body
            max-width: none
        &__products
            justify-items: center
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr))

@media screen and ( max-width: 1180px )
    .container
        &_slide
            padding: 0
            height: auto
    
    .slide
        display: flex
        flex-direction: column
        &__img
            position: relative
        &__content
            background-color: $main_blue
        &__control
            top: 40%

    .item
        &__price
            margin-right: 40px
            font-size: 20px
            white-space: nowrap
        &__frame
            height: 90px
            width: 90px

    .counter
        margin-left: 20px
        &__input
            width: 30px
        &__input, &__button
            font-size: 18px

    .index-catalog
        &__container
            grid-gap: 20px
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(3, 270px)
            justify-items: center
        &__item
            width: 100%
            max-width: 430px

    .arrival
        &__item
            width: 100%
            max-width: 370px
        &__container
            grid-template-columns: repeat(2, 1fr)
            justify-items: center

    .footer
        &__row
            flex-direction: column
        &__list 
            & + &
                margin-left: 0

    .contacts__card_blue
        padding: 60px
        outline-offset: -30px

    .contacts__title_blue
        font-size: 28px
        line-height: 32px

    .contacts__white-text
        font-size: 15px

@media screen and ( max-width: 1080px )
    .burger
        display: inline-block
    
    .header .nav
        display: none

    .sales
        padding: 60px 0px 50px
        &__item
            &_yellow, &_blue
                padding: 0px 10px
        &__text
            &-semi-medium
                font-size: 16px
            &-medium
                font-size: 22px

    .brands
        padding: 40px 0px
        &__wrap
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(2, 100px)
            justify-items: center
            grid-gap: 20px
    
    .videos
        &__body
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 20px

    .brand
        width: 100%
        max-width: 300px

    .technologies
        &__img
            height: 150px
        &__body
            padding: 15px
        &__title
            margin-bottom: 10px

    .variants
        &__container
            grid-template-columns: repeat(2, 1fr)

    .slider
        &__thumb
            height: 40px
            width: 40px

    .product
        &__content
            flex-direction: column
            align-items: center
        &__preview
            margin-bottom: 20px
            margin-right: 0

@media screen and ( max-width: 998px )

    .contacts__card_blue
        padding: 60px 50px
        outline-offset: -25px

    .item
        &__price
            margin-right: 20px
            font-size: 18px
        &__frame
            height: 90px
            width: 90px
        &__name
            margin-right: 20px

    .counter
        margin-left: 0px
        &__input
            width: 30px
        &__input, &__button
            font-size: 16px

    .slide
        &__control
            width: 50px
            height: 50px
            svg
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                max-width: 25px
                height: auto
            &_prev
                left: 20px
            &_next
                right: 20px
                svg
                    transform: translate(-50%, -50%) rotate(180deg)

    .popular
        &__wrapper
            grid-gap: 20px
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(3, 140px)

    .usefull
        &__title
            font-size: 18px
            padding: 15px 25px 15px 0px
        &__item
            padding: 0px 15px
            &.active
                padding: 0px 15px 15px

    .map
        display: flex
        flex-direction: column-reverse
        background-color: $main_blue
        &__data
            transform: none
            width: 100%
            background-color: transparent
            box-shadow: none
            border: none
            padding-left: 0
            padding-right: 0
        iframe
            position: relative !important
            min-height: 400px

    .table
        border-top: none
        &__head
            margin-bottom: 60px
        &__head &__col
            border-top: none
            padding: 0
        &__row
            grid-template-columns: repeat(2, 1fr)
        .table
            &__row
                &:not(:nth-child(1)) 
                    border-top: 1px solid #dcdcdc
                .table__col
                    grid-row: 2 / 3
                    border-top: none
                    border-left: none
                    &:nth-child(1)
                        grid-row: 1 / 2

    .technologies
        &__title, &__title *
            font-size: 18px
        &__text
            font-size: 14px
        &__container
            grid-template-columns: repeat(2, 1fr)

@media screen and ( max-width: 890px )

    .contacts
        padding-bottom: 20px
        &__container
            grid-template-columns: repeat(1, 1fr)
            justify-items: center
        &__card
            width: 100%
            max-width: 600px

    .item
        &__price
            margin-right: 50px

    .counter
        margin-left: auto

    .cart
        &__container
            grid-template-columns: 1fr

    .map
        &_contacts
            iframe
                height: 300px

    .section
        &__title
            padding: 10px 0px
            font-size: 30px
            margin-bottom: 30px

    .sales
        &__bottom
            grid-template-columns: 1fr
            grid-template-rows: repeat(2, 150px)
            justify-items: center

    .form
        padding: 30px 0px
        &__container
            box-shadow: none
        &__input
            padding: 20px 25px 20px 35px
            &-wrap::before
                left: 10px
        &__row
            grid-template-columns: repeat(1, 1fr)
            .button
                padding: 20px 15px

    .footer
        &__wrap
            grid-template-columns: 1fr 1fr

@media screen and ( max-width: 890px )
    .sales
        &__top
            grid-template-columns: repeat(2, 1fr)
            justify-items: center
            .sales
                &__item
                    width: 100%
                    max-width: 370px
                    &:last-child
                        grid-column: 1/ 3

    .news
        &__wrapper
            grid-gap: 20px
            grid-template-columns: repeat(2, 1fr)
            justify-items: center
        &__item
            width: 100%
            padding: 20px
            &:last-child
                max-width: 52%
                grid-column: 1 / 3
        &__title
            font-size: 16px

@media screen and ( max-width: 780px )
    .total
        &__social
            max-width: 270px

    .product
        &__body
            grid-template-columns: repeat(1, 1fr)

@media screen and ( max-width: 720px )
    .index-catalog
        &__container
            grid-gap: 20px
            grid-template-columns: 1fr
            grid-template-rows: repeat(6, 270px)
        &__item
            width: 100%
            max-width: 400px
            &-title
                font-size: 14px

    .articles
        &__item
            flex-direction: column
            align-items: flex-start
            &-img
                margin-bottom: 15px
            &-name
                font-size: 18px
                margin-bottom: 10px
            &-text
                font-size: 14px

    .sales
        &__title
            margin-top: 10px
        &__top
            grid-template-columns: 1fr
            .sales__item:last-child
                grid-column: 1/ 2

    .article
        &__title
            margin-bottom: 10px
            font-size: 22px
        &__body
            padding: 15px 20px

    .variants
        &__name
            font-size: 12px
        &__price
            font-size: 14px
        &__frame
            height: 80px
            width: 80px
        &__item
            padding-right: 25px
        &__container
            grid-template-columns: repeat(1, 1fr)

@media screen and ( max-width: 690px )
    .popular
        &__wrapper
            grid-gap: 20px
            grid-template-columns: repeat(1, 1fr)
            grid-template-rows: repeat(6, 140px)
            justify-items: center
        &__item
            width: 100%
            max-width: 420px

    .catalog
        &__promo
            flex-direction: column
            &-benefit
                width: 100%
                flex-direction: row
                align-items: center
                padding-top: 12px
                padding-bottom: 10px
                justify-content: flex-end
                padding-right: 15px
            &-text, &-price, &-name
                font-size: 18px
            &-price
                margin-left: 7px
            &-name
                margin-left: auto
                margin-right: 15px
                padding: 20px 0px
                position: relative
                z-index: 2
                max-width: 50%

    .table
        &__params
            padding: 20px !important
            border: 1px solid $border_grey
        .arrival__item-price
            margin-top: 10px
        .popular__frame
            margin-right: 0
            margin-bottom: 15px
        &__head
            .compare__head
                padding: 10px 30px 40px 10px
                flex-direction: column

@media screen and ( max-width: 650px )

    .hero
        height: 400px

    .item
        padding-bottom: 15px
        &__price, .counter
            margin-right: 30px

    .slide
        &__title
            font-size: 20px
        &__link
            font-size: 12px
            margin-top: 10px
        &__control
            height: 30px
            width: 30px
            svg
                max-width: 15px

    .complectation
        &__body
            flex-direction: column
            padding: 10px 0px
        &__item
            padding: 10px 20px
            font-size: 12px
            &::before
                left: 12px
        &__list
            flex-basis: auto
            width: 100%
            & + &
                margin-left: 0

    .form
        &__subtitle
            font-size: 16px
            line-height: 20px
        &__title
            font-size: 26px
            line-height: 30px

    .section
        &__title
            padding: 5px 0px
            text-align: center
            font-size: 26px
            line-height: 30px
            margin-bottom: 20px
            &::before
                left: 50%
                transform: translate(-50%, 100%)
                height: 2px
                width: 90px

    .map
        &__data
            dt
                font-size: 14px
            dd
                font-size: 12px
        iframe
            min-height: 300px

@media screen and ( min-width: 590px )
    .breadcrumbs
        &__item_mobile
            display: none

@media screen and ( max-width: 590px )

    .popup
        height: 100vh

    .order
        &__title
            font-size: 22px
        &__form, .delivery
            max-width: 450px
            width: 100%
            margin: 0 auto
            padding: 20px
        &__row
            flex-direction: column
        &__col
            & + &
                margin-left: 0
                margin-top: 20px

    .contacts
        &__deco
            opacity: 0
            margin-top: 0
            margin-bottom: 10px
        &__form
            padding: 0px 20px
        &__title
            &_blue
                text-align: center
                font-size: 26px
                position: relative
                padding-bottom: 8px
                &::before, &::after
                    position: absolute
                    bottom: 0
                    width: 100%
                    height: 1px
                    content: ''
                    background-color: $main_yellow
                    display: block
                &::after
                    height: 2px
                    left: 50%
                    transform: translate(-50%, 100%)
                    width: 60px
        &__white-text
            font-size: 14px
        &__card
            &_blue
                width: 100%
                padding: 30px 0
                outline: none
                box-shadow: 0 0 0 20px $main_blue

    .total
        width: 100%
        max-width: 450px
        margin: 0 auto
        padding: 20px
        &__price
            font-size: 20px
        &__label
            font-size: 16px
        .button_yellow, .button_transparent-black
            padding: 10px 0px

    .item
        flex-direction: column
        align-items: flex-start
        width: 100%
        max-width: 450px
        margin: 0 auto
        & > *
            margin-left: 0
            margin-bottom: 10px
        &__price
            margin-bottom: 0 !important

    .breadcrumbs
        &__wrap
            padding: 10px 0px
        &__link
            color: $main_yellow
            &::before
                content: ''
                display: inline-block
                background-image: url(../img/svg/left-arrow_y.svg)
                width: 17px
                height: 20px
                background-size: contain
                background-repeat: no-repeat
                transform: translate(0, 30%)
                margin-right: 5px
            &::after 
                content: '' !important
        &__item:not(.breadcrumbs__item_mobile)
            display: none

    .year
        float: left

    .arrival
        &__container
            grid-template-columns: 1fr

    .news
        &__wrapper
            grid-template-columns: 1fr
        &__item
            padding: 15px 10px
            &:last-child
                max-width: none
                grid-column: 1 / 2

    .footer
        &__copyright
            font-size: 12px
    
    .swiper-wrapper
        .arrival
            &__item
                max-width: none
                .button.button_transparent-black
                    padding: 12px
                    width: 80%
                    flex-shrink: 0
        &.arrival__container
            display: flex
            grid-gap: unset

@media screen and ( max-width: 560px )
    .main
        margin-top: 50px

    .logo
        &__img
            max-height: 30px

    .contacts
        &__card
            &_white
                padding: 15px
        &__title
            font-size: 18px

    .container
        padding: 0px 15px

    .header
        &__search
            z-index: 10
            top: 0
            left: 0
            width: 100%
            height: 100vh
            padding: 15px 0px
            &-wrap
                display: flex
                flex-direction: column
                position: relative
            .search
                margin-top: 20px
        &__buttons
            margin-left: 10px
        &__button
            height: 20px
            width: 20px
            svg
                max-height: 20px
            &::after
                content: ''
                height: 7px
                width: 7px
                top: 0
                right: -13px !important
            & + &
                margin-right: 10px

    .search__button
        height: 20px
        width: 20px

    .search
        
        max-width: none
        width: 100%
        &__close
            display: inline-block

    .burger
        margin-left: 10px
        height: 30px
        width: 30px
        span, &::before, &::after
            width: 25px
            background-color: #fff

    .popular
        &__wrapper
            grid-template-rows: repeat(6, 100px)
        &__frame
            height: 80px
            width: 80px
        &__name
            font-size: 12px
            line-height: 18px

    .sales
        &__bottom
            .sales
                &__item
                    width: 100%
                    &_row
                        flex-direction: column
        &__text
            br
                display: none
            &-large
                font-size: 46px
            &-big
                font-size: 30px
            &-medium
                font-size: 16px
            &-semi-medium
                font-size: 14px            
        &__item
            &_yellow
                .sales__item-deco
                    height: 70px
                    width: 70px

    .table
        &__head
            .compare__head 
                padding: 10px 30px 60px 10px
                .arrival__item-cart
                    right: auto
                    left: 10px

    .videos__body
        grid-template-columns: repeat(1, 1fr)

    .footer
        &__wrap
            grid-template-columns: 1fr

@media screen and ( max-width: 470px )

    .product
        &__content
            min-width: 0
            padding: 10px
        &__preview
            width: 100%
        &__title
            font-size: 18px
            margin-bottom: 15px

    .slider
        padding: 20px 20px 35px
        min-width: auto

    .catalog
        &__promo
            &-name
                max-width: 60%
            &-img
                max-width: 60%
                height: 100%
        &__title
            font-size: 14px
        &__top
            flex-direction: column
            align-items: flex-start
            .year
                margin: 4px 0px
                &, & *
                    font-size: 12px

    .arrival
        &__item
            &-name
                font-size: 16px
            &-price
                font-size: 16px
                &-old
                    font-size: 12px
                    margin-top: 3px

    .technologies
        &__title, &__title *
            font-size: 14px
        &__text
            font-size: 12px
        &__container
            grid-template-columns: repeat(1, 1fr)

    .contacts
        &__form
            .button_yellow
                padding: 15px
                width: 100%
            
            .form
                &__input
                    padding: 15px 25px 15px 45px
        &__title
            &_blue
                font-size: 19px

    .articles
        &__item
            padding: 20px 10px
            &-img
                width: 80px
                height: 80px
            &-name
                font-size: 14px
            &-text
                font-size: 12px

@media screen and ( max-width: 420px )
    .popup
        .form__input, .button_yellow
            padding-top: 10px
            padding-bottom: 10px

    .catalog
        &__products
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr))

    .order
        &__title
            font-size: 16px
        &__label-title, &__input, .delivery__text
            &, & *
                font-size: 11px
        &__input
            padding: 10px
        &__col
            & + &
                margin-top: 15px

    .delivery
        &__text
            br
                display: none

    .hero
        height: 300px

    .section
        &__title
            font-size: 18px
            line-height: 24px

    .contacts
        &__card
            padding: 15px 10px
        &__title
            font-size: 16px
            margin-bottom: 5px
        &__text
            font-size: 12px
            line-height: 18px
        &__white-text
            font-size: 12px

    .map
        &_contacts
            iframe
                height: 250px

    .slide
        &__content
            padding: 25px 20px
        &__title
            font-size: 16px

    .index-catalog
        &__item-title
            font-size: 12px
            line-height: 18px

    .usefull
        &__title
            font-size: 16px
            &::before, &::after
                width: 10px
            &::before
                transform: translate( 3px, -50%) rotate(-45deg)
            &::after
                transform: translate( -3px, -50%) rotate(45deg)
        &__item.active
            .usefull
                &__title
                    &::before
                        transform: translate( 3px, -50%) rotate(45deg)
                    &::after
                        transform: translate( -3px, -50%) rotate(-45deg)

    .article
        &__title
            font-size: 16px
            margin-bottom: 5px
        &__body
            padding: 15px 10px
        &__text
            font-size: 12px

    .total
        &__label, dt, dd
            font-size: 12px
        &__price
            font-size: 18px
        .button_yellow, .button_transparent-black
            font-size: 12px

    .map
        iframe
            min-height: 200px

    .footer
        padding-top: 35px
        &__wrap
            grid-gap: 35px
        &__link
            font-size: 12px
            padding: 7px 0px

    .table
        &__head .compare__head
            padding: 10px 10px 60px
        &__head .arrival__item-price, &__head .compare__head-name
            font-size: 12px
        &__head &__col
            padding: 0 !important
        &__head .arrival__item-cart
            height: 20px
            width: 20px
        &__row:not(:nth-child(1)) &__col:nth-child(1)
            font-size: 14px
            font-weight: 600
        &__row:not(:nth-child(1)) &__col
            font-size: 12px
            font-weight: 400
        &__col
            padding: 5px 15px 15px
            &:first-child
                padding-bottom: 5px
                padding-top: 10px
