@media screen and ( max-width: 720px )
    .buxom2
        &_content
            margin-bottom: 30px
            &__row
                flex-direction: column
                align-items: stretch
        &_item
            display: flex
            justify-content: center
            padding: 0px 15px
            & + &
                margin-left: 0px
                margin-top: 20px
            & + &
                margin-top: 20px
            &-half
                width: 100%
            &-img
                width: auto
                max-width: 100%
        &_combination
            display: flex
            &_reverse
                .buxom2_combination-img
                    margin-right: 0
            &-img
                margin-right: 0
                margin-left: 0
                max-width: 80vw
                margin-bottom: 15px
                max-height: 200px
            &-btn
                margin: 15px 0px

@media screen and ( max-width: 560px )
    .buxom2
        &_conatiner
            padding-bottom: 80px
        &_combination
            flex-direction: column
            &-content
                padding: 0px 15px
            & + &
                margin-top: 50px
    