/* -------- Media Queries -------- */

/* 992 - 1200 px */
@media screen and (max-width: 1200px) {
	.user__logo {
    margin-right: 20px;
	}
	
	.user__contacts {
		flex-wrap: wrap;
	}

	.partner__item {
		max-width: 110px;
	}

	.partner__item > img {
		width: 100%;
	}

	.partner__item_standart {
		height: 41.6px;
	}

	.offer__input {
  	width: 500px;
  }

  .offer__info {
  	max-width: 500px;
  	margin: 0 auto;
  }

  .offer__input {
  	margin-right: 0;
  }

  .offer__search {
  	text-align: center;
  }

  .offer__submit {
    right: 104px;
  }

  .note {
  	padding-top: 10px;
  }

  .note::before {
  	top: -2px;
    left: -4px;
  }
}

/* 768 - 992 px */
@media screen and (max-width: 991px) {

	.main-content {
		padding-top: 0;
	}

	.prepare {
		margin: 30px auto 40px;
	}

	.offer {
		text-align: center;
	}

	.offer__title::before {
    left: -13px;
    top: 1px;
  }

  .stat {
  	margin-right: auto;
  	margin-left: auto;
  	margin-top: 0;
  }

  .sidebar-menu {
  	margin-left: auto;
  	margin-right: auto;
  }

  .wins, .stories {
  	text-align: center;
  }

  .wins__years, .partners__list {
		justify-content: center;
  }

  .wins__graph {
  	width: 272px;
  }

  .wins__graph, .wins__scale, .stories__title, .stories__list, .partners__title, .partners__btn {
  	margin-right: auto;
  	margin-left: auto;
  }

  .wins__title::before {
    left: 50%;
    margin-left: -137px;
  }

  .stories__title, .partners__title {
  	width: 292px;
  	text-align: center;
  }

  .stories__title::before, .partners__title::before {
  	left: 50%;
  	margin-left: -94px;
  }

  .partners__title {
  	color: #4f4f4f;;
  }

  .partners__btn {
		color: #4f4f4f;
		border-color: #4f4f4f;
  }

  .note {
  	padding-top: 0;
  	margin-top: 40px;
  	margin-right: 0;
  }

  .note::before {
  	top: -13px;
    left: -7px;
  }

  .actual-title {
  	max-width: 550px;
  	margin-right: auto;
  	margin-left: auto;
  	color: #4f4f4f;
  	text-align: center;
  }

  .presentation__title {
  	margin-top: 0;
  }

  .footer-info__we {
  	margin-right: 0;
  }
	
	.footer-info__contacts {
		margin-right: 0;
	}
}

/* 576 - 768 px */
@media screen and (max-width: 767px) {
	.menu {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.user, .presentation {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.user__logo {
		margin-right: 0;
		text-align: center;
	}

	.user__city, .user__call, .user__order, .user__mail, .user__action, .user__lc {
		padding-top: 5px;
	}

	.presentation__info {
		margin-top: 20px;
	}

	.presentation__title {
		margin-bottom: 30px;
	}

	.presentation__title, .presentation__author, .presentation__text {
		margin-left: auto;
		margin-right: auto;
	}

	.presentation__btn {
		left: 67px;
	}

	.actual-title::before {
    left: -20px;
	}

	.auction__info {
		height: auto;
		line-height: normal;
		justify-content: center;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}

	.auction__type {
		text-align: center;
	}

	.auction__price {
		margin-left: auto;
		margin-right: auto;
	}

	.auction__title {
		margin-top: 20px;
		margin-bottom: 6px;
	}
	
	.auction__conditions {
	flex-wrap: wrap;
	}

	.menu-footer {
	padding: 0;
	}

	.form__title{
		margin: 0;
	}

	.footer-info__we {
	margin-right: 0;
	margin-top: 25px;
	}
	.post {
		width: 70% !important;
	}
	.form__adress {
		flex-direction: column;
	}

	.form__adress input {
		margin: 0 0 0 20px !important;
		max-width: 230px;

	}

	.file__label {
		width: 200px;
	}

	.form__adress label{
		display: flex;
		justify-content: space-between;
		width: 100% !important;
	}
	.offer__submit {
	right: 15px;
	}

	.main{
		margin-top: 10px;
		padding: 30px 10px;
	}
	.main__title{
		margin-left: 0px;
		margin-bottom: 30px;
		text-align: center;
	}
	.form__input {
		max-width: 315px;
	}
	
	textarea {
		height: 80px;
	}
}
@media screen and (max-width: 700px){.block{padding:20px 30px 20px}.block__flex{-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.block__item:nth-child(1){margin-bottom:30px}.block__caption{margin-top:5px}.block__h2{font-size:13px;margin-bottom:15px}.block__p{font-size:10px}}
/* 320 - 576 px */
@media screen and (max-width: 575px) {
	.user__contacts {
		flex-wrap: nowrap;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.offer__title::before {
		display: none;
	}

	.offer__title {
		margin-bottom: 20px;
	}

	.offer__input {
		width: 264px;
	}

	.offer__submit {
		position: initial;
		display: block;
		margin: 8px auto 6px;
	}

	.offer__info > button {
		border-bottom: none;
	}

	.stories__title {
		color: #4f4f4f;
	}

	.stat, .sidebar-menu {
		width: auto;
	}

	.sidebar-menu__link {
		height: auto;
	}

	.offer__search {
		margin-top: 50px;
	}

	.offer__info {
		margin-top: 15px;
		justify-content: space-around;
	}

	.offer__example {
		max-width: 200px;
	}

	.stat {
		margin-bottom: 50px;
	}

	.sidebar-menu__item {
    margin-bottom: 20px;
  }

  .wins__month, .wins__degree {
  	color: #000;
  }

  .presentation__video {
    width: 100%;
	}

	.presentation__btn {
    left: 50%;
    margin-left: -46px;
  }

  .actual-title::before {
    left: -13px;
  }

  .auction__address {
  	height: 90px;
  }

  .auction__condition {
  	margin-top: 5px;
  	margin-bottom: 5px;
  }

  .auction__documentation::before, .auction__documentation::after {
  	display: none;
  }

  .auction__type {
  	margin: 5px 0;
  }
} 

@media screen and (max-width: 520px) {
	.form__title {
		font-size: 14px;
	}
	.form__input label {
		font-size: 13px;
	}
}