@media screen and ( max-width: 1700px )
    .error
        &__bg
            display: none

    .why
        &__tree
            display: none

    .about
        &__desk
            top: 500px
    
@media screen and ( max-width: 1500px )
    .compare
        &__tree
            &_1
                max-width: 200px
            &_2
                max-width: 250px

    .banner
        &__tree
            display: none

    .count
        &__book
            left: 20px
            width: 70%
        &__niples
            max-width: 200px
    
@media screen and ( max-width: 1400px )
    .about
        &__bg
            &_1
                display: none
            &_2
                top: 100px
                display: block
        &__container
            margin-top: 360px
        &__desk
            display: none
        &__oleg
            left: 80%
            display: block
            &-name
                bottom: 160px
                right: 0
            &-text
                bottom: 121px
                right: 10px

@media screen and ( max-width: 1300px )
    .compare
        &__hummer
            display: none
        &__tree
            &_1, &_2
                display: none

    .count
        &__circle, &__niples
            display: none
        &__wood
            &_1, &_2
                display: none

    .reports
        &__bg
            right: -320px

    .about
        &__saw, &__glass
            display: none

    .benefits
        &__container
            flex-direction: column
            align-items: center
            margin-top: 20px

    .benefit
        padding: 45px 20px 20px
        &:nth-child(1), &:nth-child(2)
            transform: none

    .materials
        &__niples
            display: none !important
        &__table
            th
                &:first-of-type
                    min-width: auto
                    width: auto

    .addons
        padding-top: 60px

    .why
        &__item:nth-child(3n)
            padding-left: 0
        &__container
            grid-template-columns: repeat(2, 1fr)
            justify-items: center
        &__tree
            display: none

@media screen and ( max-width: 1050px )
    .correct
        padding-bottom: 50px

    .advantages
        &__container
            justify-content: center

    .advantage
        &:nth-child(2n - 1)
            margin-right: 0px

    .reports
        &__iphone
            max-width: 225px
        &__swiper
            max-width: 275px
        .section__title 
            text-align: left !important
        &__body
            padding-left: 0

    .quiz
        &__img
            flex-basis: 20%
        &__body
            flex-basis: 95%

    .notype
        &__bg
            display: none
        &__oleg
            display: block
        &__card
            padding:  40px 0
            &::before
                left: 0

    .error
        .swiper-wrapper
            .error
                &__item
                    max-width: 49%

    .how
        &__item:last-child
            margin: 20px
        &__title::after
            display: none !important

    .house
        & + &
            margin-top: 70px
        &::before
            margin-top: 30px
            position: relative
            transform: none
        &__container
            min-height: auto
            flex-direction: row
            justify-content: space-between
            flex-wrap: wrap
            margin-top: 40px
        &__side
            align-items: flex-start
            justify-content: flex-start
            max-width: 300px
            width: 100%
            & + &
                margin-bottom: 0
                margin-left: 40px
        &__img
            display: none
        &__card
            margin-bottom: 20px
            max-height: none
            width: 100%
            &-body
                max-height: none
                flex-direction: column !important
            &-col
                & + &
                    margin-left: 0
            &.mt
                margin-top: 0
            &.ml
                margin-left: 0

@media screen and ( max-width: 1000px )
    .error__container .swiper-wrapper
        max-height: 980px

    .reports
        &__body
            max-width: 600px
            margin: 0 auto
            display: flex
            flex-direction: column
            align-items: center
        &__swiper
            margin: 70px auto 0px
            max-width: 275px

    .materials
        &__table
            th
                font-size: 13px
                padding: 10px 5px
                &:first-of-type
                    font-size: 17px
            tr:nth-child(2) td
                padding-top: 25px

@media screen and ( max-width: 940px )
    .section
        &__title
            &, & *
                font-size: 30px
                line-height: 42px
                .sup
                    &::after
                        font-size: 20px
            &.no-adaptiv, &.no-adaptiv *
                text-align: center
                font-size: 36px
                line-height: 40px

    .example
        &__img
            height: 255px

    .examples
        padding-top: 40px
        &__container
            grid-template-columns: repeat(2, 1fr)
            margin-top: 55px

    .notype
        &__card
            margin-bottom: 0px
            padding-bottom: 15px

    .portfolio
        margin-top: 90px
        &__container
            margin-bottom: 10px
            .swiper-slide
                min-height: 300px

    .banner
        background-position: 30% -10px
        background-size: auto 110%
        background-repeat: no-repeat 
        padding-bottom: 50px
        margin-bottom: 20px
        &__info
            margin: 40px 0px
        &__body
            max-width: 680px
            padding: 130px 0px 160px

    .about
        margin-top: 40px
        &__bg
            width: 320%
        &__container
            margin: 360px auto 0px
        &__garantee
            margin-top: 40px
            flex-direction: column
            align-items: center
            &-body
                margin-left: 0
                margin-top: 20px
            &-title, &-subtitle
                display: inline-block
                width: 100%
                text-align: center

    .no-adaptiv
        text-align: left

    .materials
        .projects__open
            display: none !important
        &__download
            display: block
        &__table, &__niples
            display: none !important

    .benefits
        padding-bottom: 70px
        &__bg
            left: 50%
            transform: translateX(-50%)
            width: 200%
            bottom: auto
            top: 0

    .header
        position: fixed
        background-color: #fff
        padding: 10px 0px

    .logo
        &__text
            margin-top: 5px
            font-size: 12px
            margin-left: 0

    .quiz
        &__img
            flex-basis: 0%
        &__body
            flex-basis: 100%
            padding: 0px 20px
        &__page:last-child
            
        &__container
            min-height: 800px

    .advantages
        margin-top: 90px
        .section__title
            text-align: center

    .advantage
        &:first-child
            margin-top: 50px

    .questions
        padding-bottom: 50px
        padding-top: 0
        &__bg
            display: none
        &__oleg
            display: block
            margin: 40px auto 0px
            max-width: 400px
            width: 100%
        &__socials
            flex-direction: column
            align-items: flex-start
        &__social
            flex-direction: row-reverse
            & + &
                margin-top: 30px
        &__title
            text-align: left
        &__link
            margin-top: 0
            height: 75px
            width: 75px
            margin-right: 20px
            svg
                max-width: 25px
        &__small-card
            padding: 0
            box-shadow: none
            margin: 15px 0px
        &__card
            margin-top: 50px
            box-shadow: none
            flex-direction: column
            align-items: flex-start
            padding: 0
            .header__tel
                margin: 20px 0px

    .how
        &__btn
            &-wrap
                margin-top: 10px

    .compare
        &__subtitle
            font-size: 20px
            margin-top: 25px
        &__icon
            height: 40px
            width: 40px
        &__container
            margin-top: 50px
            flex-direction: column
            align-items: center
        &__side + &__side
            margin-top: 75px
            margin-left: 0
        &__footer
            margin-top: 20px
        &__item
            margin: 0
            flex-direction: column
            &-body
                width: 100%
                margin-left: 0
                margin-top: 20px

    .error
        &__subtitle
            margin-top: 30px

    .count
        padding: 100px 0px
        &__book
            left: 0
        &__circle, &__niples
            display: none
        &__wood
            &_1, &_2
                display: none

    .reports
        &__bg
            top: 30%
        &__tel
            flex-direction: column
            align-items: center
        &__subtext
            margin-top: 20px
            display: inline-block
            text-align: center
            width: 100%
            margin-left: 0

    .gift
        & + &
            margin-top: 30px
        &__img
            width: 80px

    .addons
        padding-top: 30px

    .logo
        display: flex
        flex-direction: column
        align-items: flex-start

@media screen and ( max-width: 850px )
    .projects
        &__page
            grid-template-columns: repeat(1, 1fr)
            justify-items: center
    .project
        max-width: 400px
        &__img
            height: 235px

    .count
        &__title
            line-height: 35px

    .quiz
        &__inputs
            flex-direction: column
            align-items: stretch
            width: 100%
        &__input
            width: 100%
            max-width: none
        &__input + &__input
            margin-top: 15px
            margin-left: 0
        &__input:last-child
            margin-bottom: 20px

    .footer
        &__wrap
            flex-direction: column
        &__col
            order: 0
            a.footer__text
                text-decoration: underline
            & + &
                margin-top: 20px
            .button
                display: none
            &:nth-child(2)
                order: 3
            &:nth-child(3)
                display: none
            &:last-child
                order: 1
                align-items: flex-start
                .footer__text:first-of-type
                    margin: 0
        .header
            &__contacts
                display: none

@media screen and ( min-width: 781px )
    .error
        &__container
            
@media screen and ( max-width: 780px )

    .example
        &__img
            height: 215px
    
    .questions
        padding-top: 40px

    .error
        &__container
            margin-bottom: 20px
            .swiper-wrapper
                max-height: none
                margin: 0
                flex-direction: row
                flex-wrap: nowrap
                .error
                    &__item
                        max-width: none
        &__controls
            display: flex
        &__item
            padding: 20px
            max-width: none
            margin: 0
            &-title
                margin-bottom: 20px

    .compare
        .section__title, &__subtitle
            text-align: left

    .about
        &__garantee
            &-img
                max-width: 185px

@media screen and ( max-width: 640px )

    .correct
        &__subtitle
            text-align: left
        .section__title
            text-align: left

    .advantages
        .section__title
            text-align: left

    .house
        &__container
            flex-direction: column
            justify-content: center
            align-items: center
        &__side
            & + &
                margin-right: 0 !important
                margin-left: 0 !important

    .compare
        margin-top: 70px
        &__item
            & + &
                margin-top: 40px
            &-img
                height: 90px
                width: 90px
        &__footer
            &-text
                font-size: 18px

    .banner
        margin-bottom: 20px
        background-position: 20% 20px
        background-size: auto 90%
        .section
            &__title
                &, & *
                    font-size: 24px
                    line-height: 30px

    .logo
        margin-right: 10px
        &__img
            max-width: 150px

    .menu
        width: 50vw

    .why
        &__container
            grid-template-columns: repeat(1, 1fr)
            justify-items: center
        &__item
            margin: 20px 0px

    .examples
        &__container
            grid-template-columns: repeat(2, 1fr)
    
    .about
        &__garantee
            &-subtitle
                font-size: 18px
                line-height: 24px
            &-title
                line-height: 35px
        &__oleg
            left: 50%
            width: 100%
            img
                max-width: 220px
                margin: 0 auto
                display: block
                width: 100%
        &__team
            grid-template-columns: repeat(2, 1fr)
        &__body
            padding: 30px

    .error
        .section__title, .section__title *
            line-height: 35px
        &__container
            margin-bottom: 20px
            .swiper-wrapper
                max-height: none
                margin: 0
                flex-direction: row
                flex-wrap: nowrap
        &__controls
            display: flex
        &__item
            padding: 20px
            max-width: none
            margin: 0
            &-title
                margin-bottom: 20px

    .house
        &__item
            font-size: 16px
            line-height: 24px
        &__container
            justify-content: center
        &__card
            border: none
            max-height: none
            padding: 15px
            &-col + &-col
                margin-left: 0
            &-body
                flex-direction: column !important
                max-height: none
    
    .addons
        .section__title, .section__title *
            text-align: left
        &__container
            margin-top: 30px
            flex-direction: column
            align-items: flex-start

    .materials
        &__tip
            display: none
        &__wood
            display: none

    .addon
        flex-direction: row
        max-width: none
        &__title
            text-align: left
        &__img
            width: 125px
            margin-right: 20px

    .count
        &__book
            width: 100%
            top: 170px
            left: 20px
        &__body
            margin: 245px auto 0px
        &__title
            text-align: left
        &__niples
            display: none

    .projects
        .section__title
            text-align: left
        &__container
            grid-template-columns: 1fr
            justify-items: center

    .project
        &__img
            height: auto
            img
                width: 100%
                height: auto

    .button
        &_notype, &_project
            font-size: 18px
            padding: 20px 15px
            display: block
            margin: 20px auto 0px

    .example
        &__img
            max-height: 130px
        &__body
            padding: 20px

    .header
        &__burger
            display: inline-block
        &__contacts
            flex-direction: column
            align-items: flex-end
        &__socials
            margin-right: 0
            margin-top: 10px
        .header
            padding: 10px 0px
            &__tel
                display: none

    .how
        padding-bottom: 40px
        &__container
            justify-content: center
        &__item
            &:last-child
                display: none

    .notype
        padding: 100px 0px 80px
        .section__title 
            text-align: left

    .questions
        &__social
            & + &
                margin-top: 20px

    .quiz
        .quiz
            &__input
                padding: 20px 25px
        &__options
            width: 100%
            max-width: 310px
        .section__title
            text-align: left
        &__subtext, &__options
            margin-top: 15px
        &__leaf
            display: none
        &__container
            min-height: 820px

@media screen and ( max-width: 400px )
    .container
        padding: 0px 10px

    .materials
        .section__title, .section__title *
            font-size: 21px
            line-height: 28px

    .example
        &__text
            font-size: 12px

    .menu
        width: 80vw

    .advantages
        .section__title, .section__title *
            font-size: 34px

    .count
        &__book
            top: 240px
            width: 110%
            left: -10px

    .house
        &__title
            display: inline-block
            line-height: 24px
            margin-bottom: 10px 

    .why
        &__container
            grid-row-gap: 10px
        &__img
            img
                max-width: 60%
                max-height: 150px

    .reports
        &__body
            .banner__item-body
                margin-left: 0

    .questions
        &__social
            & + &
                margin-top: 20px

    .quiz
        &__inputs
            margin: 20px
        &__body
            padding: 0px 10px
        &__checkbox
            margin-right: 5px
        &__text
            font-size: 14px

    .addon
        &__img
            width: 70px

    .about
        &__saw
            display: none
        &__glass
            display: none
        &__team
            justify-items: center
            grid-template-columns: repeat(1, 1fr)
        &__body
            padding: 10px
        &__img
            max-width: 185px
            border-radius: 4px
            overflow: hidden
        &__garantee
            &-title
                line-height: 28px
                font-size: 22px
            &-img
                max-width: 125px
            &-body
                margin-top: 0
            &-subtitle
                font-size: 16px
                line-height: 22px
                margin-top: 15px

    .button
        &_notype
            font-size: 16px
            padding: 20px 25px

    .portfolio
        margin-top: 90px
        &__container
            .swiper-slide
                min-height: 250px

    .benefits
        &__bg
            width: 340%

    .banner
        &__mobile-cloud
            bottom: -240px
        &__body
            padding-bottom: 170px
        &__item
            flex-direction: column
            align-items: flex-start
            &-body
                margin-left: 0
                margin-top: 15px
        &__text
            font-size: 14px
            &-title
                font-size: 16px
        &__subtitle
            font-size: 18px
        .button
            margin: 0 auto
            display: block
            &_banner
                font-size: 16px