$text_black: #393939
$text_yellow: #FFA200
    
$maxWidth: 1920
    
@mixin adaptiv-font($pcSize, $mobSize)
    $addSize: $pcSize - $mobSize
    $maxWidth: $maxWidth - 320
    transition-duration: 0s
    $result: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}))
    font-size: $result
    line-height: calc(#{$result} + 7px)

*, *::before, *::after
    box-sizing: border-box
    margin: 0
    padding: 0
    border: none
    text-decoration: none
    border-radius: 0px
    transition: all .2s ease-in-out 0s
    color: $text_black
    font-family: '', sans-serif

body, html
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    min-height: 100vh
    position: relative

section
    position: relative

h1, h2, h3, h4, h5
    &, & *
        font-weight: 400
        font-family: "Oswald"

.container
    margin: 0 auto
    position: relative
    max-width: 1170px
    padding: 0px 15px

.button
    position: relative
    display: inline-block
    appearance: none
    background: transparent
    cursor: pointer
    white-space: nowrap
    text-align: center
    user-select: none
    background: rgb(255,198,99)
    background: linear-gradient(180deg, rgba(255,198,99,1) 0%, rgba(255,173,32,1) 60%, rgba(255,198,99,1) 100%)
    color: #fff
    box-shadow: 0 4px 0 0 #E49100
    &:focus
        outline: none
    &_banner
        text-transform: uppercase
        font-size: 21px
        padding: 28px 45px
        border-radius: 40px
    &_portfolio
        text-transform: uppercase
        font-size: 16px
        padding: 20px
        border-radius: 40px
    &_count
        text-transform: uppercase
        white-space: normal
        padding: 15px 50px
        font-size: 16px
        border-radius: 50px
        margin-top: 10px
    &_next
        text-transform: uppercase
        padding: 25px 40px
        border-radius: 40px
        font-size: 16px
        font-weight: 300
        margin-top: auto
        opacity: 0
        pointer-events: none
        img
            max-width: 20px
            margin-left: 15px
            vertical-align: middle
        &.active
            opacity: 1
            pointer-events: all

    &_project
        font-size: 20px
        margin-top: 20px
        text-transform: uppercase
        padding: 30px 50px
        border-radius: 50px
    &_projects
        padding: 15px 20px
        border-radius: 3px
        box-shadow: none
        color: #303030
        sup
            color: #303030
        font-size: 16px
        font-weight: bold
        background: #eeeeee
        & + &
            margin-left: 5px
        &.active
            background: rgb(255,198,99)
            background: linear-gradient(180deg, rgba(255,198,99,1) 0%, rgba(255,173,32,1) 60%, rgba(255,198,99,1) 100%)
            color: #fff
            sup
                color: #fff
    &_notype
        padding: 25px 35px
        text-transform: uppercase
        font-size: 20px
        border-radius: 50px
    &_step
        border-radius: 30px
        font-size: 14px
        font-weight: bold
        text-align: center
        padding: 12px 30px
        background: none
        box-shadow: none
        &.disabled
            box-shadow: 0 0 0 1px #e6e6e6
            color: #e6e6e6
            background: #fff
            cursor: default
            pointer-events: none
        &.visited
            background: #e6e6e6
            color: #747474
            cursor: pointer
        &.active
            background-color: #48ba56
            color: #fff
            pointer-events: all
            cursor: pointer

.section
    &__title
        font-size: 36px
        line-height: 40px
        &:not(.no-adaptiv)
            @include adaptiv-font(40, 22)
        text-transform: uppercase
        font-weight: normal
        font-family: "Oswald"
    &__btn
        &-wrap
            width: 100%
            display: flex
            justify-content: center
            align-items: center

.text
    &_red
        color: #f62f2f
    &_ttu
        text-transform: uppercase
    &_orange
        color: $text_yellow
    &_tac
        text-align: center

.header
    flex-grow: 0
    width: 100%
    padding: 30px 0px
    position: absolute
    left: 0
    top: 0
    z-index: 3
    &__wrap
        display: flex
        align-items: center
        justify-content: space-between
    &__contacts
        display: flex
        align-items: center
    &__tel
        display: flex
        flex-direction: column
        align-items: flex-end
        &-link
            font-size: 26px
            white-space: nowrap
    &__recall
        text-decoration: underline
        color: $text_yellow
        font-size: 16px
        font-weight: 300
    &__socials
        margin-right: 5px
        display: flex
    &__social
        display: inline-block
        border-radius: 50%
        height: 37px
        width: 37px
        position: relative
        transition-duration: .1s
        svg
            height: 17px
            width: 17px
            fill: #fff
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
        &:hover
            transform: translateY(-5px)
        & + &
            margin-left: -7px
        &_wa
            background-color: #4CAF50
            z-index: 3
        &_vi
            background-color: #665CAC
            z-index: 2
        &_tg
            background-color: #41B4E6
            z-index: 1

.logo
    &__img
        max-width: 235px
        height: auto
    &__text
        font-size: 14px
        display: inline-block
        margin-left: 50px
        font-weight: 300

.main
    flex-grow: 1

.banner
    background-image: url(../img/banner_bg.jpg)
    background-size: cover
    background-position: center
    &__body
        padding-top: 180px
        padding-bottom: 360px
    &__subtitle
        margin-top: 20px
        font-size: 22px
        line-height: 40px
    &__info
        margin: 70px 0px
    &__img
        width: 42px
        height: auto
    &__item
        display: flex
        align-items: center
        max-width: 400px
        & + &
            margin-top: 45px
        &-body
            margin-left: 25px
    &__text
        font-size: 16px
        line-height: 18px
        &-title
            font-size: 18px
            line-height: 24px
            display: block
            font-weight: 700
            margin-bottom: 5px

.examples
    &__container
        margin: 90px 0px 70px
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 20px
        width: 100%

.example
    display: flex
    flex-direction: column
    align-items: stretch
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, .1)
    border-radius: 3px
    // overflow: hidden
    position: relative
    &__img
        width: 100%
        height: 205px
        object-fit: cover
    &__body
        padding: 30px 20px 48px
        background-color: #fff
        height: 100%
    &__text
        text-align: center
        text-transform: uppercase
        display: inline-block
        width: 100%
    &::before
        position: absolute
        content: ''
        display: block
        height: 90%
        width: 95%
        left: 50%
        top: 50%
        z-index: -1
        transform: translate(-50%, -42%)
        background-color: #f1f1f1d3
        border-radius: 3px

.about
    margin-top: 90px
    .no-adaptiv
        text-align: center
    &__desk
        position: absolute
        right: 40px
        top: 600px
        .about__oleg
            &-name
                position: relative
                display: block
            &-text
                position: relative
                display: block
    &__oleg
        position: absolute
        height: auto
        display: none
        z-index: 0
        top: 100px
        left: 80%
        transform: translate(-50%, -100%)
        &-name
            display: inline-block
            background-color: #fff
            padding: 12px 20px
            border-radius: 10px
            position: absolute
            transform: skewX(-10deg)
            span
                font-size: 32px
                font-family: "Oswald"
                display: inline-block
                white-space: nowrap
                transform: skewX(10deg)
        &-text
            display: inline-block
            background-color: #fff
            padding: 12px
            font-size: 14px
            border-radius: 10px
            position: absolute
            transform: skewX(-10deg)
            margin-left: 50px
            span
                display: inline-block
                white-space: nowrap
                transform: skewX(10deg)
        img
            max-width: 250px
            transform: translateY(10%)
    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: auto
        background-repeat: no-repeat
        &_1
            display: block
        &_2
            display: none
    &__saw
        position: absolute
        right: -60px
        bottom: 350px
    &__glass
        position: absolute
        left: -30px
        bottom: 100px
    &__container
        max-width: 800px
        width: 100%
        margin-top: 90px
        position: relative
    &__body
        padding: 50px 55px
        background-color: #fff
        border-radius: 4px
        position: relative
        z-index: 3
    &__text
        font-size: 16px
        line-height: 24px
        & + &
            margin-top: 25px
    &__team
        margin-top: 30px
        width: 100%
        display: grid
        grid-gap: 35px
        grid-template-columns: repeat(3, 1fr)
    &__member
        max-width: 240px
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
    &__img
        width: 100%
        height: 185px
        object-fit: cover
    &__name
        margin-top: 15px
        font-size: 24px
        line-height: 28px
        text-align: center
    &__duty
        text-align: center
        display: inline-block
        font-size: 14px
        margin-top: 5px
        max-width: 130px
    &__garantee
        margin-top: 90px
        display: flex
        &-body
            margin-left: 65px
        &-img
            max-width: 215px
            height: 190px
            object-fit: contain
        &-title
            @include adaptiv-font(35, 18)
            text-transform: uppercase
            display: block
        &-subtitle
            font-size: 22px
            line-height: 48px

.portfolio
    margin-top: 120px
    &__container
        position: relative
        max-width: 800px
        margin: 80px auto 55px
        .swiper-wrapper
            max-width: 800px
        .swiper-slide
            max-width: 800px
            min-height: 600px
    &__img
        width: 100%
        height: 100%

.why
    margin-top: 100px
    &__tree
        right: 0
        position: absolute
        top: 200px
    &__container
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        align-items: baseline
    &__item
        display: flex
        flex-direction: column
        object-fit: contain
        max-width: 250px
        margin: 20px
    &__img
        margin-bottom: 20px
        img
            max-width: 100%
            width: auto
    &__title
        font-size: 18px
        line-height: 24px
    &__text
        font-size: 15px
        line-height: 22px
        margin-top: 20px

.count
    padding: 140px 0px
    &__book
        position: absolute
        z-index: -1
        left: 200px
    &__niples
        position: absolute
        top: 0
        right: -100px
    &__circle
        position: absolute
        z-index: -2
        left: 150px
        bottom: 100px
    &__wood
        &_1
            position: absolute
            z-index: -2
            bottom: 0
            right: 120px
        &_2
            position: absolute
            z-index: -2
    &__wrap
        display: flex
        flex-direction: column
        align-items: flex-end
    &__title
        @include adaptiv-font(32, 22)
        font-weight: normal
        text-align: right
        max-width: 680px
    &__body
        margin-top: 75px
        width: 100%
        max-width: 400px
        padding: 35px
        display: flex
        flex-direction: column
        align-items: center
        background-color: #fff
        border-radius: 3px
        overflow: hidden
        position: relative
        box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.05)
        &-title
            text-align: center
            font-size: 20px
            line-height: 30px
        &::before
            content: ''
            display: block
            position: absolute
            width: 80%
            height: 15px
            background-color: $text_yellow
            top: 0
            left: 50%
            transform: translate(-50%, -50%)
            border-radius: 6px
    &__text
        font-size: 16px
        line-height: 22px
        margin-top: 20px
        text-align: center
    &__form
        margin-top: 30px
        display: flex
        flex-direction: column
        align-items: stretch
    &__input
        background-color: #F7F7F7
        padding: 25px 45px
        color: #949494
        font-size: 16px
        line-height: 22px
        border-radius: 50px
        & + &
            margin-top: 10px
    &__agreement
        text-align: center
        font-size: 11px
        line-height: 13px
        margin-top: 15px
        a
            color: $text_yellow

.materials
    &__niples
        position: absolute
        bottom: 0
        left: -40px
    &__wood
        position: absolute
        bottom: -100px
        right: -40px
    &__table
        margin-top: 90px
        &_hidden
            display: none
            &.active
                display: table
        tr
            background-color: #F8F8F8
            border-radius: 3px
            overflow: hidden
            &:nth-child(2)
                td
                    border-top: 12px solid #fff 
                    padding-top: 30px
                    border-radius: 5px
            &:last-child
                td
                    padding-bottom: 30px
        td + td
            border-left: 12px solid #fff 
        td
            overflow: hidden
            padding: 15px 40px
            &:nth-child(1)
                font-size: 16px
            &:nth-child(2), &:nth-child(3), &:nth-child(4)
                text-align: center
                font-size: 22px
        th
            padding: 10px 20px
            text-align: center
            font-size: 16px
            font-weight: normal
            &:first-of-type
                min-width: 600px
                white-space: nowrap
                color: #ffffff
                font-size: 20px
                font-weight: normal
                text-align: left
                background-color: $text_yellow
                border-radius: 3px
    &__download
        margin-top: 50px
        display: none
        background-color: #fff
        border: none
        border-radius: 3px
        overflow: hidden
        position: relative
        cursor: pointer
        background-image: url(../img/table.png)
        background-size: cover
        background-position: center
        .materials
            &__text
                color: #fff
                text-transform: uppercase
                text-align: center
                font-size: 24px
                font-weight: 700
                color: #fff
                margin-top: 25px
        & + &
            margin-top: 15px
    &__bottom
        display: flex
        align-items: center
        justify-content: space-between
        .projects__open
            font-size: 18px
            font-weight: 400
            color: #333
            &::before
                color: #333
                box-shadow: 0 0 0 2px #333
            &:hover
                color: #d4d1d1  
                &::before
                    color: #d4d1d1  
                    box-shadow: 0 0 0 2px #d4d1d1
                    font-weight: 400
                    margin-top: -3px
                    margin-right: 10px
    &__overlay
        height: 100%
        width: 100%
        background-color: rgba(0, 0, 0, .4)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        min-height: 300px
        padding: 15px
    &__icon
        max-width: 55px
        height: auto
    &__tip
        padding: 50px 45px
        margin-top: 20px
        overflow: hidden
        background-color: #fff
        position: relative
        max-width: 600px
        box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.05)
        &::before
            content: ''
            display: block
            position: absolute
            width: 80%
            height: 15px
            background-color: $text_yellow
            top: 0
            left: 50%
            transform: translate(-50%, -50%)
            border-radius: 6px
    &__text
        font-size: 18px
        line-height: 22px
    p.materials__text
        margin-bottom: 1em
    span.materials__text
        display: block

.error
    margin-top: 120px
    &__control
        display: inline-block
        height: 30px
        max-width: 60px
        width: 100%
        position: relative
        svg
            width: 100%
            height: auto
            object-fit: contain
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
        &_prev
            svg
                transform: translate(-50%, -50%) rotate(-180deg)
    &__pagination
        margin: 0px 25px
        display: flex
        align-items: center
    &__controls
        display: none
        width: 100%
        justify-content: center
        align-items: center
        margin-top: 15px
        .swiper-pagination-bullet + .swiper-pagination-bullet
            margin-left: 10px
        .swiper-pagination-bullet
            height: 13px
            width: 13px
            background-color: #a8a8a8
            opacity: 1
        .swiper-pagination-bullet-active
            background-color: #ffa200

    &__bg
        bottom: 0
        position: absolute
        left: 0
        width: 100%
        z-index: -1
    .section__title
        font-size: 36px
        max-width: 680px
    &__subtitle
        font-size: 16px
        font-weight: 300
        display: inline-block
        max-width: 590px
        margin-top: 80px
    &__attention
        font-size: 22px
        font-weight: 500
        display: block
        margin-top: 50px
        margin-bottom: 50px
    &__item
        background-color: #fff
        border-radius: 4px
        padding: 35px 40px 25px
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, .05)
        max-width: 50%
        margin-right: 15px
        margin-bottom: 15px
        &-title
            font-weight: 700
            font-size: 16px
            display: inline-block
            margin-bottom: 40px
            position: relative
            &::before
                content: ''
                display: inline-block
                margin-right: 15px
                height: 20px
                width: 20px
                background-image: url(../img/icons/close.svg)
                vertical-align: middle
        &-text
            font-weight: 300
            font-size: 16px
            color: #303030
            line-height: 26px
            & + &
                margin-top: 1em
        &_big
            max-width: 800px
            margin-bottom: 15px
        &_green
            background-color: #85d17d
            p
                font-family: "Oswald"
                color: #fff
                font-size: 20px
                line-height: 26px
    &__container
        .swiper-wrapper
            max-height: 830px
            height: 100%
            display: flex
            flex-direction: column
            flex-wrap: wrap

.compare
    margin-top: 90px
    &__hummer
        position: absolute
        left: -20px
        top: 40px
    &__tree
        &_1
            position: absolute
            left: 0
            top: 700px
        &_2
            position: absolute
            right: 0
    &__subtitle
        font-weight: 300
        font-size: 26px
        margin-top: 40px
        display: inline-block
    &__container
        display: flex
        justify-content: space-between
        margin-top: 80px
    &__side
        display: flex
        flex-direction: column
        align-items: flex-start
        max-width: 500px
    &__icon
        max-width: 65px
    &__title
        display: block
        font-weight: 700
        line-height: 24px
        margin-top: 25px
    &__text
        font-size: 16px
        font-weight: 300
        line-height: 26px
        margin-top: 30px
        color: #303030
    &__head
        margin-bottom: 45px
    &__footer
        display: flex
        justify-content: center
        margin-top: 80px
        &-text
            font-size: 20px
            max-width: 740px
            text-align: center
            display: inline-block
    &__item
        display: flex
        margin-right: 30px
        & + &
            margin-top: 35px
        &-img
            width: 130px
            height: 130px
            border-radius: 50%
            overflow: hidden
            object-fit: cover
        &-body
            width: 60%
            margin-left: 30px
        &-text
            font-size: 16px
            font-weight: 300
            line-height: 24px
            & + &
                margin-top: 1.5em

.advantages
    margin-top: 60px
    &__container
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        align-items: baseline
    .section__title
        max-width: 650px
        margin: 0 auto

.advantage
    max-width: 545px
    margin-top: 75px
    &__img
        max-width: 140px
        max-height: 130px
        height: auto
    &__title
        font-weight: 700
        font-size: 20px
        line-height: 30px
        display: block
        margin: 30px 0px
    &__text
        font-weight: 300
        font-size: 16px
        line-height: 30px
        color: #303030
        & + &
            margin-top: 1.5em

.benefits
    margin-top: 75px
    padding-bottom: 100px
    &__bg
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        z-index: -1
    &__container
        margin-top: 50px
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex-wrap: wrap

.benefit
    padding: 55px 40px 40px
    background-color: #fff
    border-radius: 4px
    max-width: 440px
    position: relative
    margin-top: 75px
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .05)
    &:nth-child(1)
        transform: translateX(100px)
    &:nth-child(2)
        transform: translateX(-100px)
    &__title
        font-weight: 700
        font-size: 18px
        line-height: 26px
    &__text
        margin-top: 20px
        font-size: 16px
        font-weight: 300
        color: #303030
    &::before
        content: ''
        display: inline-block
        position: absolute
        height: 60px
        width: 60px
        background-image: url(../img/icons/check.svg)
        background-size: contain
        background-repeat: no-repeat
        top: 0
        transform: translateY(-50%)

.addons
    padding-bottom: 100px
    &__container
        margin: 70px auto 0px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: baseline
        max-width: 850px
        width: 100%

.addon
    max-width: 175px
    display: flex
    flex-direction: column
    align-items: center
    margin: 20px
    &__title
        text-align: center
        display: inline-block
        font-size: 16px
        line-height: 26px
        font-weight: 300
        color: #303030

.reports
    padding-bottom: 100px
    &__bg
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
    &__swiper
        margin-top: 40px
    &__body
        max-width: 550px
        width: 100%
        .reports__control_next
            transform: translate(30%, -50%) rotate(180deg)
        .reports__control_prev
            transform: translate(-30%, -50%) rotate(0deg)
        .reports__iphone
            .swiper-slide img
                object-fit: contain
    &__wrap
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__tel
        background-color: #f7f7f7
        padding: 20px 15px
        display: flex
        align-items: center
        width: 100%
    &__link
        white-space: nowrap
        font-size: 26px
        line-height: 20px
        font-weight: 500
        color: #393939
    &__subtext
        color: #777777
        font-weight: 300
        font-size: 12px
        margin-left: 15px
        display: inline-block
    &__swiper
        position: relative
        margin-right: 120px
        margin-top: 40px
    &__control
        position: absolute
        display: inline-block
        z-index: 4
        top: 50%
        width: 65px
        height: 65px
        border-radius: 50%
        background: rgb(255,195,92)
        background: linear-gradient(180deg, rgba(255,195,92,1) 0%, rgba(255,170,24,1) 100%)
        &:focus
            outline: none
        &::before, &::after
            content: ''
            display: inline-block
            position: absolute
            left: 50%
            transform: translate(-50%, -50%)
            height: 1px
            width: 20px
            background-color: #fff
        &::before
            top: 40.5%
            transform: translate(-50%, -50%) rotate(-45deg)
        &::after
            top: 60.5%
            transform: translate(-50%, -50%) rotate(45deg)
        &_prev
            left: 0
            transform: translate(-50%, -50%)
        &_next
            right: 0
            transform: translate(50%, -50%) rotate(180deg)
            background: linear-gradient(0deg, rgba(255,195,92,1) 0%, rgba(255,170,24,1) 100%)
    &__iphone
        max-width: 275px
        width: 100%
        position: relative
        z-index: 3
        overflow: hidden
        .swiper-wrapper, .swiper-slide, .swiper-slide img
            width: 100%
        .swiper-slide img
            object-fit: cover
            max-height: 540px

    .banner
        &__item
            max-width: none

.correct
    padding-bottom: 110px
    &__subtitle
        margin: 25px auto 0px
        display: block
        text-align: center
        font-size: 18px
        font-weight: 300
        line-height: 18px
    .section__title
        max-width: 520px
        margin: 0px auto

.house
    position: relative
    &::before
        position: absolute
        left: 0
        transform: translateY(-80%)
        display: block
        padding: 20px
        border-radius: 4px
        background-color: $text_yellow
        color: #ffffff
        font-weight: 700
        font-size: 18px
        line-height: 26px
        max-width: 470px
    &:nth-of-type(1)
        &::before
            content: 'Скандинавский каркас и оснащение - толщина силового каркаса 100 мм, перекрытия 150 мм'
        .house__img
            position: absolute
            top: 54%
            left: 50%
            transform: translate(-50%, -50%) scale(1.1)
    &:nth-of-type(2)
        &::before
            content: 'Канадский каркас и оснащение- толщина силового каркаса 150 мм, перекрытия 200 мм'
        .house__side
            margin-bottom: 45px
        .house__img
            position: absolute
            top: 54%
            left: 46%
            transform: translate(-50%, -50%) scale(1.1)
    &__container
        display: flex
        justify-content: space-between
        position: relative
        min-height: 675px
        margin-top: 140px
    &__side
        display: flex
        flex-direction: column
        height: inherit
        justify-content: space-between
        flex-grow: 1
        &:nth-of-type(1)
            align-items: flex-start
        &:nth-of-type(2)
            align-items: flex-end
    &__card
        position: relative
        background-color: #fff
        border-radius: 4px
        border: 1px solid #ccc
        padding: 27px 35px
        max-height: 165px
        &-body
            display: flex
            flex-direction: column
            flex-wrap: wrap
            max-height: 90px
            &.fdr
                flex-direction: row
                flex-wrap: nowrap
        &-col
            display: flex
            flex-direction: column
            & + &
                margin-left: 30px
        &.mt
            margin-top: 50px
        &.ml
            margin-left: 95px
    &__title
        font-size: 16px
        font-weight: 700
        line-height: 30px
    &__item
        font-size: 14px
        line-height: 18px
        position: relative
        display: inline-block
        font-weight: 300
        &::before
            content: '•'
            display: inline-block
            margin-right: 3px

.quiz
    padding-bottom: 100px
    &__subtitle
        display: block
        text-align: center
        font-size: 26px
        font-weight: 300
        margin: 40px auto 0px
    &__gifts
        margin-top: 50px
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        align-items: center
    &__body
        position: relative
        width: 100%
    &__leaf
        position: absolute
        right: 0
        bottom: 0
        z-index: -1
        transform: translate(20%, 20%)
    &__head
        padding: 35px 0px 20px
        width: 100%
        overflow-x: auto
    &__list
        display: flex
        align-items: center
        justify-content: space-between
        list-style-type: none
        max-width: 710px
        min-width: 640px
        margin: 1px 0px
        height: 100%
        width: 100%
        margin: 0 auto
    &__container
        margin-top: 85px
        display: flex
        min-height: 630px
        height: 100%
        overflow: hidden
        border-radius: 60px
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, .05)
    &__img
        flex-basis: 25%
        overflow: hidden
        img
            object-fit: cover
            transform: translateX(-70px)
    &__body
        flex-basis: 75%
        display: flex
        flex-direction: column
    &__content
        height: 100%
        position: relative
    &__page
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        opacity: 0
        visibility: hidden
        z-index: -2
        height: 100%
        display: flex
        padding-top: 20px
        padding-bottom: 50px
        justify-content: center
        flex-direction: column
        align-items: center
        &.active
            opacity: 1
            visibility: visible
            z-index: 1
    &__subtext
        margin-top: 50px
        font-size: 16px
        font-weight: bold
    &__free
        display: inline-block
        position: relative
        font-weight: 300
        line-height: 30px
        &::before
            content: ''
            display: inline-block
            height: 15px
            width: 15px
            background-color: #48ba56
            border-radius: 50%
            margin-right: 10px
            vertical-align: middle
    &__inputs
        margin-top: 40px
        display: flex
        align-items: center
        justify-content: space-between
    &__input
        display: inline-block
        background-color: #f7f7f7
        padding: 25px 30px
        font-size: 16px
        font-weight: 300
        box-sizing: border-box
        max-width: 235px
        border-radius: 4px
        & + &
            margin-left: 20px
    &__question
        font-size: 22px
        font-weight: 700
        color: #303030
        display: inline-block
        text-align: center
    &__text
        font-size: 16px
        font-weight: 300
        color: #303030
        display: block
    &__options
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-top: 50px
        input[type="text"]
            font-size: 16px
            padding: 15px 30px
            display: inline-block
            appearance: none
            border: 1px solid #e6e6e6
    &__checkbox
        display: inline-block
        height: 26px
        width: 26px
        border-radius: 50%
        background-color: #fff
        border: 1px solid #e6e6e6
        vertical-align: middle
        margin-right: 15px
        position: relative
        &::after
            content: ''
            display: inline-block
            position: absolute
            left: 50%
            top: 50%
            height: 15px
            width: 15px
            transform: translate(-50%, -50%) scale(0)
            border-radius: 50%
            background-color: #48ba56
    &__label
        cursor: pointer
        user-select: none
        display: flex
        align-items: center
        & + &
            margin-top: 25px
        &>input[type="radio"]:checked + .quiz__checkbox::after
            transform: translate(-50%, -50%) scale(1)
        &>input[type="radio"]
            display: none

.gift
    display: flex
    align-items: center
    margin-top: 10px
    &__text
        max-width: 210px
        margin-left: 20px
        font-size: 16px
        font-weight: 300

.projects
    &__more
        margin-top: 70px
        display: flex
        justify-content: center
        align-items: center
    &__open
        font-size: 26px
        text-transform: uppercase
        font-family: "Oswald"
        color: #d4d1d1
        background-color: #fff
        cursor: pointer
        &::before
            display: inline-block
            content: '+'
            width: 25px
            height: 25px
            text-align: center
            line-height: 25px
            font-size: 24px
            vertical-align: middle
            border-radius: 50%
            color: #d4d1d1
            font-weight: 400
            margin-top: -3px
            margin-right: 10px
            box-shadow: 0 0 0 2px #d4d1d1
        &:focus
            outline: none
        &:hover
            color: #333
            &::before
                color: #333
                box-shadow: 0 0 0 2px #333
    &__buttons
        display: flex
        justify-content: center
        align-items: center
        margin-top: 25px
    &__page
        display: none
        opacity: 0
        visibility: hidden
        z-index: -1
        &.active
            display: block
            opacity: 1
            visibility: visible
            z-index: 1
    &__container
        display: grid
        grid-column-gap: 40px
        grid-row-gap: 50px
        margin-top: 90px
        grid-template-columns: repeat(2, 1fr)
        &_hidden
            display: none
            &.active
                display: grid

.project
    padding-bottom: 20px
    &__title
        font-size: 18px
        font-weight: 700
    &__img
        margin-top: 15px
        height: 345px
        width: 100%
        img
            height: 100%
            width: 100%
            object-fit: cover
            border-radius: 4px

.notype
    padding: 100px 0px
    &__oleg
        display: none
        max-width: 400px
        margin: 0 auto
        transform: translateY(40px)
    &__bg
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        z-index: -1
    &__body
        max-width: 670px
    &__bold
        font-weight: bold
        font-size: 20px
        line-height: 36px
        &:first-of-type
            margin-top: 60px
        & + &
            margin-top: 40px
    &__card
        margin-top: 80px
        background-color: #fff
        border-radius: 4px
        padding: 50px 50px 40px
        position: relative
        margin-bottom: 50px
        &::before
            content: ''
            display: inline-block
            position: absolute
            left: 40px
            top: -50px
            height: 90px
            width: 120px
            background-image: url(../img/catalog.png)
            background-size: contain
            background-repeat: no-repeat
    &__text
        font-weight: 300
        font-size: 16px
        line-height: 28px
        & + &
            margin-top: 1em

.how
    padding-bottom: 100px
    &__container
        display: flex
        flex-wrap: wrap
        align-items: baseline
        justify-content: space-between
    &__btn-wrap
        width: 100%
        display: flex
        justify-content: center
        margin-top: 80px
    &__item
        display: flex
        flex-direction: column
        align-items: flex-start
        max-width: 260px
        margin: 20px
        position: relative
        &:last-child
            margin-right: auto
            margin-left: 100px
        &:not(:nth-child(3n))::after
            position: absolute
            height: 40px
            width: 50px
            display: inline-block
            content: ''
            right: 0
            top: 70px
            transform: translate(100%, -50%)
            background-size: contain
            background-repeat: no-repeat
            background-image: url(../img/icons/right-arrow-g.png)
        &:nth-last-child(2)::after
            display: none
            
    &__img
        max-width: 100%
        object-fit: contain
    &__title
        font-weight: bold
        margin-top: 5px
        display: inline-block
        position: relative
        &::before
            display: inline-block
            position: absolute
            height: 30px
            width: 30px
            background: #40ba4f
            color: #fff
            font-size: 16px
            font-weight: bold
            left: 0
            top: 0
            text-align: center
            line-height: 30px
            border-radius: 50%
            transform: translate(0, -130%)
    &__text
        display: inline-block
        margin-top: 15px
        font-size: 14px
        font-weight: 300

@for $i from 1 through 11
    .how__item:nth-child(#{$i})
        .how__title::before
            content: '#{$i}'

.questions
    padding-bottom: 270px
    &__oleg
        display: none
        max-height: 400px
        width: auto
        object-fit: contain
        margin-top: 40px
    &__bg
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        z-index: -1
    &__card
        display: flex
        background-color: #fff
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, .05)
        max-width: 620px
        justify-content: space-between
        align-items: center
        padding: 30px
        margin-top: 85px
    &__small-card
        display: inline-block
        background-color: #fff
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, .05)
        padding: 20px
    &__text
        max-width: 200px
    &__title
        max-width: 185px
        text-align: center
        display: inline-block
        font-size: 14px
        color: #303030
    &__socials
        display: flex
        align-items: flex-end
        margin-top: 40px
        margin-bottom: 50px
    &__social
        display: flex
        flex-direction: column
        align-items: center
        &:hover
            .questions__link
                transform: scale(1.03)
        &:nth-of-type(1)
            .questions__link
                background-color: #5b85b1
        &:nth-of-type(2)
            .questions__link
                background-color: #ff1f1f
        &:nth-of-type(3)
            .questions__link
                background: linear-gradient(180deg, rgba(94,88,200,1) 0%, rgba(211,49,132,1) 33%, rgba(237,91,74,1) 66%, rgba(254,206,104,1) 100%)
    &__link
        display: inline-block
        border-radius: 50%
        height: 165px
        width: 165px
        position: relative
        svg
            width: 100%
            max-width: 70px
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

.footer
    padding-bottom: 65px
    flex-grow: 0
    &__wrap
        margin-top: 40px
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__text
        font-size: 14px
        font-weight: 300
        color: #393939
        line-height: 24px
    &__col
        max-width: 245px
        .button
            margin-top: -40px
        &:last-child
            display: flex
            height: 100%
            align-items: flex-end
            flex-direction: column
            .footer__text:first-of-type
                margin-top: 50px
    &__list
        list-style-type: none
    span.footer__text
        display: block
    a.footer__text
        white-space: nowrap
        &:hover
            text-decoration: underline
    .header
        &__socials
            margin-right: 40px