@import ./_variables

.button
    background-color: transparent
    position: relative
    border: none
    appearance: none
    user-select: none
    text-align: center
    text-decoration: none
    display: inline-block
    cursor: pointer
    border-radius: 0px
    font-size: 18px
    line-height: 18px
    outline: none
    padding: 18px
    width: 100%
    max-width: 220px
    @include trans(all)
    &_psevdo
        &::after
            content: ''
            @include trans(all)
            position: absolute
            width: 100%
            height: 100%
            left: 0
            top: 0
            border: 2px solid $app-black
            z-index: -1
        &:active
            &::after
                top: 0px !important
                left: 0px !important
    &_black
        color: $app-white
        background-color: $app-black
        &:hover
            &::after
                top: 6px
                left: 6px
    &_white
        color: $app-black
        background-color: $app-white
        padding: 16px
        border: 2px solid $app-black
        &::after
            top: 6px
            left: 6px
        &:hover
            background-color: $app-black
            color: $app-white
