*, *::before, *::after
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Roboto', sans-serif
    outline: none

body, html
    overflow-x: hidden

img
    max-width: 100%

a
    text-decoration: none
    color: inherit
    font-size: inherit
    font-weight: inherit

main
    display: block