
.header
    flex-grow: 0
    padding: 25px 0px
    width: 100%
    left: 0
    top: 0
    position: fixed
    background-color: #fff
    z-index: 10
    &__wrap
        display: flex
        align-items: center
        justify-content: space-between
    &__controls
        flex-shrink: 0
        width: 100%
        max-width: 630px
        display: flex
        align-items: center
    &__search
        margin-right: 60px
        