@import ./_variables

.search
    position: relative
    background-color: #fff
    width: 350px
    &__input
        background-color: #fff
        display: block
        width: 100%
        border: none
        font-size: 18px
        padding: 16px 10px
        border: 2px solid $app-black
        &::placeholder
            opacity: 1
            color: $app-black
    &__submit
        position: absolute
        top: 50%
        right: 10px
        width: auto !important
        transform: translateY(-50%)
        padding: 10px
        background-color: #fff
        z-index: 2
        svg
            fill: none
    &::after
        @include trans(all)
        content: ''
        display: block
        position: absolute
        width: 100%
        height: 100%
        background-color: #fff
        border: 2px solid $app-black
        top: 6px
        left: 6px
        z-index: -1
    &:focus-within::after
        top: 0
        left: 0
