@import url(https://fonts.googleapis.com/css?family=Gothic+A1:400,700&display=swap);
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-dots {
  width: 100%;
  height: 20px;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-dot {
  width: 14px;
  height: 14px;
  margin: 0 10px 5px;
  background: #fff;
  border: 2px solid #e1e1e1;
  border-radius: 50%;
  box-sizing: border-box;
}

.owl-carousel .owl-dot.active {
  border: 0;
  background: #184275;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav {
  display: none;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav {
  justify-content: center;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.no-js .owl-carousel {
  display: block;
}

.owl-carousel .animated {
  animation-duration: 900ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

.owl-height {
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3,1.3);
  transform: scale(1.3,1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?4clo4c");
  src: url("fonts/icomoon.eot?4clo4c#iefix") format("embedded-opentype"),url("fonts/icomoon.ttf?4clo4c") format("truetype"),url("fonts/icomoon.woff?4clo4c") format("woff"),url("fonts/icomoon.svg?4clo4c#icomoon") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

[class*=" icon-"],
[class^=icon-] {
  font-family: 'icomoon'!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}

.icon-fb:before {
  content: "\e901";
}

.icon-ig:before {
  content: "\e902";
}

.icon-mail:before {
  content: "\e903";
}

.icon-map:before {
  content: "\e904";
}

.icon-phone:before {
  content: "\e905";
}

*,
img {
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  -webkit-appearance: none;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
main,
menu,
nav,
section {
  display: block;
}

[hidden] {
  display: none;
}

ol,
ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

a {
  outline: 0;
  transition: color .3s;
  color: #2d4775;
}

a:hover {
  color: #e20000;
}

html,
textarea {
  overflow: auto;
}

input {
  vertical-align: middle;
}

body,
button,
input,
select,
textarea {
  font-weight: 400;
  color: #2e2e2e;
  font-size: 16px;
}

button,
input,
select,
textarea {
  outline: 0;
  resize: none;
  font-family: arial;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.banner .teams_block .caption,
body {
  line-height: 1.32;
  letter-spacing: .04em;
}

body {
  font-family: Arial,sans-serif;
  background: #fff url("../images/bg.png") top center no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner .teams_block .caption,
h1,
h2,
h3,
h4 {
  font-family: 'Gothic A1',sans-serif;
}

.header,
.wrap,
body {
  width: 100%;
  box-sizing: border-box;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  height: 97px;
  background: linear-gradient(180deg,rgba(255,255,255,0) 27.6%,#fff 100%);
}

.header .wrap {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .ico_menu {
  display: none;
}

.header .menu,
.header .menu>ul>li.has_child:hover ul {
  display: block;
}

.header .menu>ul,
.header .timetable {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.header .menu>ul>li {
  padding: 17px 0 15px;
  flex-shrink: 0;
}

.header .menu>ul>li>a {
  text-transform: uppercase;
  padding: 0 15px;
  font-weight: 700;
}

.header .menu>ul>li.has_child {
  position: relative;
}

.header .menu>ul>li.has_child ul {
  display: none;
  padding: 15px 30px;
  position: absolute;
  top: 100%;
  left: -15px;
  background: #fff;
}

.header .menu>ul>li.has_child ul li a {
  line-height: 35px;
  white-space: nowrap;
}

.header .timetable {
  justify-content: center;
  color: #fff;
  height: 42px;
  padding: 0 16px;
  background: #e20000;
  border-radius: 3px;
  box-sizing: border-box;
}

.header .timetable span.text {
  margin-right: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.32;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.header .timetable span.icon-calendar {
  margin-top: -2px;
}

.header.page {
  background: #fff;
  border-bottom: 2px solid #e20000;
}

.banner {
  margin-top: -40px;
  width: 100%;
  height: 685px;
  background: url("../images/banner.png") center top no-repeat;
}

.banner .wrap {
  position: relative;
  height: 100%;
  padding-top: 75px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.banner .washer {
  position: absolute;
  bottom: -10px;
  left: 46%;
  transform: translateX(-50%);
  z-index: 2;
}

.banner .teams_block {
  width: 580px;
  height: 500px;
  background: url("../images/teams_block.jpg") center -1px no-repeat;
  background-size: cover;
  color: #fff;
}

.banner .teams_block .caption {
  margin: 0 auto;
  max-width: 430px;
  padding: 23px 0;
  font-size: 24px;
  text-align: center;
}

.banner .teams_block .teams>.team .name,
.banner .teams_block p {
  font-family: 'Gothic A1',sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.32;
  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;
}

.banner .teams_block .teams,
.banner .teams_block .teams>.team {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner .teams_block .teams>.team {
  width: 50%;
  flex-wrap: wrap;
  align-items: flex-start;
}

.banner .teams_block .teams>.team img {
  flex-shrink: 0;
  width: 188px;
}

.banner .teams_block .teams>.team .name {
  margin: 15px 0 20px;
  max-width: 200px;
}

.content {
  flex-grow: 1;
  background: #fff url("../images/bg.png") top center no-repeat;
}

.content .white_block {
  width: calc(100% + 40px);
  margin: -80px -20px 0;
  background: #fff;
  box-shadow: 0 16px 50px rgba(0,0,0,.1);
}

.content .white_block .owl-carousel .owl-item {
  border-right: 1px solid #c4c4c4;
  box-sizing: border-box;
}

.content .white_block .owl-carousel .owl-item:last-child {
  border-right: none;
}

.content .white_block .slide {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.content .white_block .slide .item {
  width: 100%;
  height: 190px;
  padding: 25px 28px 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #c4c4c4;
  font-family: 'Gothic A1',sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.32;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #223d6e;
}

.content .map_block .full_width .air_block a.line:hover,
.content .white_block .slide .item:hover {
  color: #e20000;
}

.content .white_block .slide .item:last-child {
  border-bottom: none;
}

.content .white_block .slide .item .ico {
  display: flex;
  align-items: center;
  height: 95px;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}

.content .white_block .slide .item .ico:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  top: 2px;
  left: 30px;
  background: rgba(24,66,117,.03);
  border: 2px solid #e8f0fe;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: -1;
}

.content .b-flex,
.content .news_block.activity_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 60px 0 20px;
}

.content .news_block {
  width: calc(50% - 20px);
  padding-bottom: 40px;
}

.content .news_block.activity_block {
  padding: 20px 0;
}

.content .news_block.activity_block .line {
  width: 100%;
}

.content .news_block.activity_block .post {
  margin-bottom: 10px;
  width: calc(50% - 20px);
}

.content .news_block .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .map_block .full_width .air_block h4,
.content .news_block .line .h2,
.content .news_block .line h2 {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: .04em;
  color: #2e2e2e;
}

.content .news_block .line a {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  text-align: right;
  text-decoration-line: underline;
  color: #223d6e;
}

.content .news_block .line a:hover {
  text-decoration: none;
}

.content .news_block .post {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}

.content .news_block .post .date_img {
  display: flex;
}

.content .news_block .post .date_img .date {
  width: 100px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
}

.content .news_block .post .date_img .date .month,
.content .news_block .post .date_img .date .number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gothic A1',sans-serif;
  font-weight: 700;
  letter-spacing: .04em;
}

.content .news_block .post .date_img .date .number {
  flex-direction: column;
  color: rgba(129,129,129,.5);
  flex-grow: 1;
  font-size: 15px;
}

.content .news_block .post .date_img .date .number span {
  display: block;
  font-size: 29px;
  color: #818181;
}

.content .news_block .post .date_img .date .month {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 46px;
  border-top: 1px solid #e3e3e3;
  font-size: 13px;
  text-transform: uppercase;
  color: #818181;
}

.content .news_block .post .date_img .img {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 150px;
  overflow: hidden;
}

.content .news_block .post .date_img .img img {
  max-width: initial;
  height: 100%;
}

.content .news_block .post .info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.content .news_block .post .name {
  font-family: arial;
  margin-left: 5%;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: underline;
  color: #223d6e;
}

.content .breadcrumbs a:hover,
.content .news_block .post .name:hover,
.footer .top_line .contact_box .line a:hover,
.footer .top_line .nav ul li a:hover {
  text-decoration: none;
}

.content .news_block .post .published {
  margin-top: 15px;
  margin-left: 5%;
  font-weight: 500;
  font-size: 15px;
  color: #818181;
}

.content .map_block .full_width {
  background-image: url("../images/map.jpg");
  margin-bottom: 50px;
}

.content .map_block .full_width .air_block {
  padding-top: 40px;
}

.content .map_block .full_width .air_block .line {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.55;
  color: #2e2e2e;
  margin-bottom: 20px;
}

.content .map_block .full_width .air_block .line span {
  display: flex;
  justify-content: space-around;
  width: 25px;
  color: #e20000;
  font-size: 40px;
  padding: 0 40px 0 10px;
}

.content .map_block .full_width .air_block h4 {
  padding: 15px 0;
  font-size: 28px;
}

.content .map_block .full_width .air_block form p {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content .map_block .full_width .air_block form input {
  padding: 0 15px;
  width: calc(50% - 20px);
  height: 45px;
  background: #fff;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  font-family: 'Gothic A1',sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: .04em;
  color: #818181;
  margin-bottom: 20px;
}

.content .map_block .full_width .air_block form input::placeholder,
.content .map_block .full_width .air_block form textarea::placeholder {
  color: #818181;
}

.content .map_block .full_width .air_block form textarea {
  padding: 10px 15px;
  width: 100%;
  height: 125px;
  background: #fff;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  font-family: 'Gothic A1',sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: .04em;
  color: #818181;
  margin-bottom: 20px;
}

.content .map_block .full_width .air_block .btn {
  cursor: pointer;
  width: 300px;
  margin: 0;
}

.content .full_width {
  position: relative;
  z-index: 2;
  width: 100%;
  background: url("../images/arena.jpg") top center no-repeat;
}

.content .full_width .wrap {
  padding-top: 100px;
}

.content .full_width .air_block {
  width: 100%;
  max-width: 560px;
  margin-bottom: 10px;
  padding: 50px;
  box-sizing: border-box;
  background: #fff url("../images/air_block.png") center bottom no-repeat;
  font-family: 'Gothic A1',sans-serif;
  line-height: 1.32;
  box-shadow: 0 15px 100px rgba(0,0,0,.15);
}

.content .full_width .air_block .h1,
.content .full_width .air_block h1 {
  padding: 0 0 20px;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #184275;
}

.content .full_width .air_block .desc {
  font-size: 22px;
  letter-spacing: .04em;
  color: #444;
  margin-bottom: 20px;
}

.content .full_width .air_block .text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: .04em;
  color: #818181;
}

.content .full_width .air_block .btn {
  margin: 40px auto 30px;
  width: 230px;
  height: 52px;
  background: #e20000;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fff;
  transition: .3s;
}

.content .full_width .air_block .btn:hover {
  background: #223d6e;
}

.content .sport_block {
  position: relative;
  width: 100%;
  min-height: 600px;
  background: url("../images/sport_block_fon.png") bottom center no-repeat;
  z-index: 1;
}

.content .sport_block:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/sport_block_bg.png") bottom center no-repeat;
  z-index: -1;
}

.content .sport_block .h2,
.content .sport_block h2 {
  padding: 10px 0 50px;
  max-width: 500px;
  margin-left: auto;
  font-family: 'Gothic A1',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: right;
  letter-spacing: .03em;
  color: #2e2e2e;
}

.content .sport_block .item {
  max-width: 160px;
}

.content .sport_block .item .ico {
  display: flex;
  align-items: center;
  width: 103px;
  height: 100px;
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
}

.content .sport_block .item .ico:after {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  top: 5px;
  left: 30px;
  background: rgba(24,66,117,.03);
  border: 2px solid #e8f0fe;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: -1;
}

.content .sport_block .item .name,
.content .sport_block .item .text {
  font-family: 'Gothic A1',sans-serif;
  font-size: 16px;
  letter-spacing: .04em;
}

.content .sport_block .item .name {
  max-width: 140px;
  min-height: 42px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #223d6e;
}

.content .sport_block .item .text {
  line-height: 1.5;
  color: #818181;
}

.content.page {
  padding-bottom: 40px;
}

.content.page .title {
  padding: 45px 0;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: .04em;
  color: #2e2e2e;
}

.content .one_article,
.content.page .desc {
  font-size: 18px;
  line-height: 1.6;
  color: #2e2e2e;
}

.content.page .desc {
  max-width: 850px;
  font-weight: 500;
}

.content .one_article {
  width: 100%;
  padding: 60px 8.5%;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
}

.content .one_article .name {
  font-weight: 600;
  font-size: 25px;
}

.content .one_article p {
  padding-bottom: 22px;
}

.content .one_article .img {
  position: relative;
  float: left;
  margin: 0 40px 40px 0;
}

.content .one_article .img .date {
  position: absolute;
  width: 100px;
  height: 112px;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
}

.content .one_article .img .date .month,
.content .one_article .img .date .number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gothic A1',sans-serif;
  font-weight: 700;
  letter-spacing: .04em;
}

.content .one_article .img .date .number {
  justify-items: center;
  align-content: center;
  flex-direction: column;
  color: rgba(129,129,129,.5);
  flex-grow: 1;
  font-size: 15px;
}

.content .one_article .img .date .number span {
  display: block;
  font-size: 29px;
  line-height: 30px;
  padding-top: 10px;
  color: #818181;
}

.content .one_article .img .date .month {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 38px;
  border-top: 1px solid #e3e3e3;
  font-size: 13px;
  text-transform: uppercase;
  color: #818181;
}

.content .one_article .image {
  margin: 10px auto;
}

.content .table {
  width: 100%;
  padding: 20px 0;
}

.content .table .th,
.content .table .tr {
  padding: 11px 45px 11px 60px;
  display: flex;
}

.content .table .tr {
  font-size: 15px;
  line-height: 1.5;
  color: #1a1a1a;
}

.content .table .th .per,
.content .table .th .price,
.content .table .tr .per,
.content .table .tr .price {
  flex-shrink: 0;
  width: 170px;
}

.content .table .th .per:last-child,
.content .table .th .price:last-child,
.content .table .tr .per:last-child,
.content .table .tr .price:last-child {
  padding-right: 0;
}

.content .table .th .services,
.content .table .tr .services {
  width: 70%;
  flex-grow: 1;
  padding-right: 10px;
  box-sizing: border-box;
}

.content .table .tr {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 85px;
  background: #fafafa;
  box-sizing: border-box;
}

.content .table .tr:nth-child(2n-1) {
  background: #f0f0f0;
}

.content .table .tr.heading {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  font-family: 'Gothic A1',sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .03em;
  color: #223d6e;
}

.content .table .tr.heading .ico {
  flex-shrink: 0;
  display: block;
  width: 80px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
}

.content .table .tr.heading .ico:before {
  content: '';
  position: absolute;
  width: 54px;
  height: 54px;
  left: 24px;
  top: -5px;
  background: rgba(24,66,117,.03);
  border: 2px solid #e8f0fe;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: -1;
}

.content .table .tr.heading .ico img {
  width: 70%;
}

.content .table .th {
  background: #e20000;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.content .scroll {
  width: 100%;
  overflow-x: auto;
}

.content .table2 {
  width: 100%;
  min-width: 1000px;
  padding: 20px 0;
}

.content .table2 .th {
  padding: 11px 20px 11px 35px;
  display: flex;
  align-items: center;
}

.content .table2 .tr {
  font-size: 15px;
  line-height: 1.5;
  color: #1a1a1a;
  padding: 11px 20px 11px 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #fafafa;
  box-sizing: border-box;
  font-weight: 600;
}

.content .table2 .th .teams,
.content .table2 .tr .teams {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content .table2 .th .teams .team,
.content .table2 .tr,
.content .table2 .tr .teams .team {
  display: flex;
  align-items: center;
}

.content .table2 .th .teams .team img,
.content .table2 .tr .teams .team img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.content .table2 .th .teams .hr,
.content .table2 .tr .teams .hr {
  width: 18px;
  height: 3px;
  background-color: #1a1a1a;
  margin: 0 25px;
}

.content .table2 .th .score,
.content .table2 .tr .score {
  width: 10%;
}

.content .table2 .th .date,
.content .table2 .tr .date {
  width: 20%;
}

.content .table2 .th .place,
.content .table2 .tr .place {
  width: 25%;
}

.content .table2 .tr:nth-child(2n-1) {
  background: #f0f0f0;
}

.content .table2 .th {
  background: #e20000;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

.content .breadcrumbs {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content .breadcrumbs a {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: .04em;
  text-decoration: underline;
  color: #223d6e;
}

.content .breadcrumbs span {
  margin: 0 10px;
  display: block;
  width: 11px;
  height: 5px;
  background: url("../images/icons/arrow_r.svg") center no-repeat;
}

.content .slider {
  width: 100%;
  overflow: hidden;
  padding: 0 0 50px;
  background-color: #393939;
}

.content .slider .show_text {
  color: #fff;
  width: 100%;
  min-height: 100px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.5;
}

.content .slider .big_img {
  position: relative;
  margin-bottom: 40px;
}

.content .slider .big_img .heading {
  display: none;
}

.content .slider .big_img .nav_arrow>div {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 65px;
  height: 100%;
  z-index: 9;
}

.content .slider .big_img .nav_arrow .prev {
  left: -65px;
  background: url("../images/icons/prev.svg") center no-repeat;
}

.content .slider .big_img .nav_arrow .next {
  right: -65px;
  background: url("../images/icons/next.svg") center no-repeat;
}

.content .slider .owl-carousel .owl-stage-outer {
  overflow: initial;
}

.content .slider .owl-item {
  position: relative;
}

.content .slider .owl-item:not(.active) {
  pointer-events: none;
  opacity: .25;
  transition: opacity .2s;
}

.content .slider .owl-item:not(.active) p {
  opacity: 0;
}

.content .slider .owl-item a.current:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #e20000;
  background: rgba(0,0,0,.3);
}

.docs_block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.docs_block .filters {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.docs_block .filters .filter_item {
  display: flex;
  align-items: center;
}

.docs_block .filters .filter_item + .filter_item {
  margin-left: 50px;
}

.docs_block .filters .filter_item .jq-selectbox {
  position: relative;
}

.docs_block .filters .filter_item .jq-selectbox select {
  display: none;
}

.docs_block .filters .filter_item .filter_select .jq-selectbox__select-text {
  font-size: 15px;
  font-weight: 550;
  color: #818181;
  padding: 12px 25px;
  background-color: #fff;
  width: 235px;
  position: relative;
  cursor: pointer;
  border: 1px solid #E3E3E3;
}

.docs_block .filters .filter_item .filter_select .jq-selectbox__select-text::before{
  content: '';
  display: inline-block;
  width: 16px;
  height: 8px;
  position: absolute;
  background-image: url(../images/icons/select-chevron-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.docs_block .filters .filter_item .jq-selectbox.opened .jq-selectbox__select-text::before {
  transform: translateY(-50%) rotate(180deg);
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
}

.docs_block .filters .filter_item .jq-selectbox.opened .jq-selectbox__dropdown {
  opacity: 1;
  transform: translate(0, 0px);
  -webkit-transform: translate(0, 0px);
  -moz-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
}

.docs_block .filters .filter_item .jq-selectbox .jq-selectbox__dropdown {
  position: absolute;
  background-color: #fff;
  cursor: pointer;
  transition: all .3s;
  opacity: 0;
  transform: translate(0, -30px);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transform: translate(0, -30px);
  -moz-transform: translate(0, -30px);
  -ms-transform: translate(0, -30px);
  -o-transform: translate(0, -30px);
  width: 100%;
  box-shadow: 0 0 16px 3px rgba(0, 0, 0, .1);
}

.docs_block .filters .filter_item .jq-selectbox .jq-selectbox__dropdown li {
  transition: all .3s;
  color: #2d4775;
  font-weight: 550;
  padding: 10px 20px;
}
.docs_block .filters .filter_item .jq-selectbox .jq-selectbox__dropdown li:hover {
  background-color: #f0f0f0;
  color: #e20000;
}

.docs_block .filters .label {
  font-size: 18px;
  font-weight: 550;
  display: inline-block;
  margin-right: 20px;
}

.docs_block .post {
  display: flex;
  padding: 30px 60px;
}

.docs_block .post .number span {
  font-size: 15px;
  color: #818181;
  font-weight: 550;
}

.docs_block .post .data {
  margin-left: 25px;
}

.docs_block .post .data .name {
  font-weight: 550;
  font-size: 15px;
  margin-bottom: 10px;
  display: inline-block;
  color: #223D6E;
  text-transform: uppercase;
}

.docs_block .post .mobile-head {
  display: none;
}

.docs_block .post .date .number {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.docs_block .post .download_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  font-weight: 550;
  margin-top: 15px;
  color: #223D6E;
  cursor: pointer;
  transition: color .3s;
}

.docs_block .post .download_button:hover {
  color: #e20000;
}

.docs_block .post .download_button img {
  margin-bottom: 5px;
  width: 32px;
  height: 32px;
}

.docs_block .post .data .description {
  font-size: 18px;
  font-weight: 550;
  color: #2E2E2E;
  line-height: 28px;
}

.docs_block .post:nth-child(even){
  background-color: #fff;
}

.docs_block .post:nth-child(odd){
  background-color: #F0F0F0;
}

.emploees_block {
  padding-bottom: 80px;
}

.emploees_block .emploee:nth-child(even){
  background-color: #fff;
}

.emploees_block .emploee:nth-child(odd){
  background-color: #F0F0F0;
}

.emploees_block .emploee {
  padding: 30px 60px;
  display: flex;
  align-items: flex-start;
}

.emploees_block .emploee .emploee_img {
  max-width: 200px;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  flex-grow: 0;
}

.emploees_block .emploee .emploee_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 45px;
  row-gap: 25px;
  margin-left: 40px;
}

.emploees_block .emploee .emploee_text.emploee_name {
  font-size: 25px;
  font-weight: 550;
  margin-bottom: 10px;
}

.emploees_block .emploee .emploee_text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.emploees_block .emploee .emploee_text.emploee_text-medium {
  font-weight: 550;
  margin-bottom: 10px;
}

.footer {
  background: url("../images/footer_bg.jpg") center no-repeat;
  background-size: cover;
  color: #a8c0ea;
}

.footer .top_line {
  padding: 50px 0;
  display: flex;
  align-items: flex-start;
}

.footer .top_line h4 {
  font-size: 16px;
  line-height: 132%;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
}

.footer .top_line .nav {
  width: 31%;
  display: flex;
}

.footer .top_line .nav ul {
  width: 50%;
}

.footer .top_line .nav ul li {
  padding-bottom: 10px;
}

.footer .top_line .nav ul li a {
  font-weight: 500;
  font-size: 15px;
}

.footer .top_line .contact_box {
  width: 26%;
  margin-right: 3%;
}

.footer .top_line .contact_box .line {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: 'Gothic A1',sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: .04em;
}

.footer .top_line .contact_box .line a,
.footer .top_line .nav ul li a {
  text-decoration-line: underline;
  color: #a8c0ea;
}

.footer .top_line .contact_box .line span {
  margin-right: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  font-size: 20px;
  font-weight: 300;
}

.footer .top_line .contact_box .line span.icon-map {
  font-size: 32px;
}

.footer .top_line .group {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer .top_line .group .soc {
  margin-bottom: 20px;
}

.footer .top_line .group .soc a span {
  color: #a8c0ea;
  font-size: 30px;
  margin-right: 25px;
  transition: .3s;
}

.footer .top_line .group .soc a:hover span {
  color: #fff;
}

.footer .top_line .group .col {
  text-align: right;
}

.footer .top_line .group .col .timetable {
  color: #fff;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 42px;
  line-height: 40px;
  padding: 0 24px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 13px;
  text-align: center;
  letter-spacing: .1em;
  text-transform: uppercase;
  transition: .3s;
}

.footer .top_line .group .col .timetable:hover {
  color: #a8c0ea;
  border-color: #a8c0ea;
}

.footer .copy {
  padding: 40px 0;
  border-top: 2px solid #a8c0ea;
  font-family: 'Gothic A1',sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: .04em;
}

@media only screen and (max-width:1400px),only screen and (max-device-width:1400px) {
  .content .sport_block {
    background-size: 130% auto;
  }
}

@media only screen and (max-width:1300px),only screen and (max-device-width:1300px) {
  .content.page .slider .nav_arrow {
    display: none;
  }
}

@media only screen and (max-width:1200px),only screen and (max-device-width:1200px) {
  .header {
    height: 150px;
  }

  .header .wrap {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header .menu {
    order: 5;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (max-width:991px),only screen and (max-device-width:991px) {
  .banner {
    margin-bottom: -60px;
  }

  .banner .washer {
    width: 130px;
    bottom: 15px;
    left: 35%;
  }

  .content {
    background: #fff;
    overflow: hidden;
  }

  .content .b-flex,
  .content .news_block.activity_block {
    flex-wrap: wrap;
  }

  .content .news_block,
  .content .white_block .owl-carousel {
    width: 100%;
  }

  .content .news_block.activity_block .post {
    width: 100%;
    margin-bottom: 0;
  }

  .content .white_block {
    width: calc(100% + 41px);
    margin-right: -21px;
    margin-top: 0;
    margin-bottom: 40px;
    box-shadow: 0 16px 50px rgba(0,0,0,.1);
  }

  .content .sport_block {
    padding-bottom: 1px;
  }

  .content .sport_block .owl-carousel {
    margin-bottom: 60px;
  }

  .footer .wrap .top_line {
    flex-wrap: wrap;
    padding: 30px 0;
  }

  .footer .wrap .top_line .nav {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer .wrap .top_line .nav ul {
    max-width: 200px;
  }

  .footer .wrap .top_line .contact_box,
  .footer .wrap .top_line .group {
    width: 40%;
  }

  .footer .copy {
    padding: 20px 0;
  }

  .emploees_block .emploee .emploee_text.emploee_name {
    font-size: 20px;
    line-height: 26px;
  }

  .emploees_block .emploee .emploee_text {
    font-size: 16px;
    line-height: 22px;
  }

  .emploees_block .emploee {
    padding: 20px 40px;
  }

}
@media only screen and (max-width:880px),only screen and (max-device-width:880px) {
  .docs_block .filters {
    flex-direction: column;
    align-items: flex-start;
  }

  .docs_block .filters .filter_item + .filter_item {
    margin-left: 0;
    margin-top: 20px;
  }

  .docs_block .filters .filter_item .label {
    width: 120px;
  }
  .docs_block .post {
    padding: 20px 30px;
  }

  .docs_block .post .data .description {
    font-size: 14px;
    line-height: 26px;
  }

  .docs_block .post .download_button {
    font-size: 12px;
  }

  .emploees_block .emploee {
    flex-direction: column;
    padding: 30px 10px;
  }

  .emploees_block .emploee .emploee_body {
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-top: 30px;
  }

}

@media only screen and (max-width:800px),only screen and (max-device-width:800px) {
  .header {
    height: 50px;
  }

  .header.active {
    z-index: 9;
  }

  .header .ico_menu,
  .header .menu>ul li.has_child .sub {
    display: block;
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 20px;
  }

  .header,
  .header .ico_menu.active div {
    background: #fff;
  }

  .header .ico_menu.active div:before {
    top: 0;
    transform: rotate(45deg);
  }

  .header .ico_menu.active div:after {
    top: 0;
    width: 24px;
    transform: rotate(-45deg);
  }

  .header .ico_menu div,
  .header .ico_menu div:after,
  .header .ico_menu div:before {
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background-color: #e20000;
    transition: .3s;
  }

  .header .ico_menu div {
    top: calc(50% - 2px);
    left: 0;
    width: 20px;
  }

  .header .ico_menu div:after,
  .header .ico_menu div:before {
    content: '';
  }

  .header .ico_menu div:before {
    top: -8px;
    width: 24px;
  }

  .header .ico_menu div:after {
    top: calc(100% + 4px);
    width: 16px;
  }

  .header .logo {
    height: 42px;
  }

  .header .logo img {
    max-height: 100%;
  }

  .header .timetable {
    padding: 2px 2px 0;
    margin: 0 -2px 0 0;
    display: block;
    height: initial;
    font-size: 24px;
    background: 0 0;
  }

  .header .timetable .icon-calendar {
    color: #e20000;
  }

  .header .menu>ul li.has_child:hover ul,
  .header .timetable .text {
    display: none;
  }

  .header.page .menu {
    top: 48px;
  }

  .header .menu {
    display: none;
    border-top: 2px solid #e20000;
    border-bottom: 2px solid #e20000;
    position: absolute;
    top: 50px;
    left: 0;
    background: #fff;
    width: 100%;
  }

  .header .menu.active,
  .header .menu>ul li.has_child ul.active {
    display: block;
  }

  .header .menu>ul {
    display: block;
    width: 100%;
    margin: 10px 0 20px;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .header .menu>ul li {
    display: block;
    padding: 15px 0 0;
  }

  .header .menu>ul li.has_child {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .header .menu>ul li.has_child.active .sub:after {
    transform: rotate(-45deg);
  }

  .header .menu>ul li.has_child.active .sub:before {
    transform: rotate(45deg);
  }

  .header .menu>ul li.has_child .sub {
    width: 20px;
  }

  .header .menu>ul li.has_child .sub:after,
  .header .menu>ul li.has_child .sub:before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    width: 10px;
    border-bottom: 2px solid #a8c0ea;
    transition: .3s;
  }

  .header .menu>ul li.has_child .sub:before {
    left: 8px;
    transform: rotate(-45deg);
  }

  .header .menu>ul li.has_child .sub:after {
    left: 2px;
    transform: rotate(45deg);
  }

  .header .menu>ul li.has_child ul {
    width: 100%;
    position: static;
    padding: 0 15px 0 30px;
    margin: 0;
  }

  .header .menu>ul li.has_child ul li a {
    line-height: initial;
  }

  .banner {
    background-color: #fff;
    background-position: 25% 0;
    padding-bottom: 50px;
    margin-bottom: -10px;
  }

  .banner .wrap {
    padding-top: 175px;
  }

  .banner .teams_block {
    margin: 0 auto;
  }

  .banner .washer {
    width: 130px;
    bottom: -80px;
    left: 50%;
  }

  .content.page .desc {
    font-size: 16px;
  }

  .content.page .one_article,
  .content.page .table {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .content.page .table .th,
  .content.page .table .tr {
    padding: 20px;
  }

  .content.page .one_article {
    border-left: none;
    border-right: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  .content.page .one_article .name {
    order: -1;
    font-size: 22px;
  }

  .content.page .one_article .img {
    float: initial;
  }

  .content.page .one_article .img .date {
    left: 0;
    right: auto;
  }

  .content.page .one_article .img .date .month {
    font-size: 11px;
  }

  .footer .copy {
    font-size: 14px;
  }

  .footer .wrap .top_line .contact_box,
  .footer .wrap .top_line .group {
    width: 50%;
    margin: 0;
  }

  .footer .wrap .top_line .contact_box .line {
    flex-wrap: wrap;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .footer .wrap .top_line .contact_box .line span {
    padding-bottom: 10px;
  }

  .footer .wrap .top_line .contact_box .line:last-child {
    margin-bottom: 0;
  }

  .footer .wrap .top_line .group .soc {
    padding: 0 10px;
  }

  .footer .wrap .top_line .group .col .timetable {
    font-size: 11px;
  }

  .content.page .slider {
    padding-bottom: 25px;
  }

  .content.page .slider .show_text {
    min-height: initial;
    font-size: 22px;
  }

  .content.page .slider .big_img {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: 25px;
  }

  .content.page .slider .big_img img {
    max-width: 100%;
  }
}

@media only screen and (max-width:600px),only screen and (max-device-width:600px) {

  .docs_block .post > .download, .docs_block .post > .data .name {
    display: none;
  }

  .docs_block .post {
    flex-direction: column;
  }

  .docs_block .post .data {
    margin-left: 0;
    margin-top: 25px;
  }

  .docs_block .post .mobile-head {
    display: flex;
    align-items: flex-end;
  }

  .docs_block .post .mobile-head .data {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  .docs_block .post span {
    font-size: 14px;
    font-weight: 550;
    color: #818181;
  }

  .docs_block .post .name {
    margin-top: 5px;
    color: #2d4775;
    margin-bottom: 0;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
}

  .docs_block .post .data:hover .name {
    color: #e20000;
  }

  .emploees_block .emploee .emploee_img {
    max-width: 240px;
    width: 100%;
    height: auto;
  }
  
  .emploees_block {
    padding-bottom: 20px;
  }

  .emploees_block .emploee {
    margin: 0 -20px;
    padding: 30px 20px;
  }

  .docs_block .post {
    padding: 30px 20px;
    margin: 0 -20px;
  }

  .docs_block .filters .filter_item + .filter_item .label {
    display: none;
  }

  .docs_block .filters .filter_item {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .docs_block .filters .label {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .docs_block .filters .filter_item .filter_select .jq-selectbox__select-text {
    width: 225px;
  }

  .banner {
    margin-top: -5px;
    height: 530px;
    padding-bottom: 0;
    background: #fff url("../images/banner_mob.png") center -10px no-repeat;
    background-size: cover;
  }

  .banner .wrap {
    padding: 115px 0 0;
  }

  .banner .teams_block {
    width: 100%;
    max-width: 375px;
    height: 350px;
  }

  .banner .teams_block .caption {
    max-width: 300px;
    font-size: 18px;
    font-weight: 400;
    padding: 13px 0;
    text-transform: initial;
  }

  .banner .teams_block p {
    font-size: 16px;
  }

  .banner .teams_block .teams>.team img {
    width: 120px;
  }

  .banner .teams_block .teams>.team .name {
    max-width: 100px;
    font-size: 16px;
    margin: 15px 0 10px;
  }

  .banner .washer {
    width: 135px;
    bottom: -20px;
  }

  .content .b-flex {
    padding: 40px 0 0;
  }

  .content .news_block .line {
    display: block;
  }

  .content .news_block .line .h2,
  .content .news_block .line h2,
  .content .news_block .post .date_img .date .number span,
  .content.page .map_block .full_width .air_block h4 {
    font-size: 26px;
  }

  .content .news_block .line a {
    text-align: left;
    display: block;
    margin-top: 10px;
  }

  .content .news_block .post {
    margin-top: 20px;
    display: block;
  }

  .content .news_block .post .date_img {
    max-width: 335px;
  }

  .content .news_block .post .date_img .date {
    flex-shrink: 0;
    width: 70px;
  }

  .content .news_block .post .date_img .date .month {
    font-size: 10px;
  }

  .content .news_block .post .date_img .img {
    width: 265px;
  }

  .content .news_block .post .name {
    display: block;
    margin: 20px 0 0;
  }

  .content .news_block .post .info .published {
    margin-left: 0;
  }

  .content .news_block.activity_block {
    padding: 0;
  }

  .content .full_width {
    background-size: 1200px;
    background-position: -600px -25px;
  }

  .content .full_width .wrap {
    padding-top: 150px;
  }

  .content .full_width .air_block {
    padding: 25px 15px;
    background-size: contain;
  }

  .content .full_width .air_block .h1,
  .content .full_width .air_block h1 {
    font-size: 28px;
    padding-bottom: 10px;
  }

  .content .full_width .air_block .desc {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .content .full_width .air_block .text {
    font-size: 16px;
  }

  .content .full_width .air_block .btn {
    margin: 20px auto;
  }

  .content .sport_block .h2,
  .content .sport_block h2 {
    text-align: left;
    max-width: initial;
    font-size: 26px;
    padding: 50px 0 30px;
  }

  .content.page .news_block.activity_block {
    padding-bottom: 10px;
  }

  .content.page .one_article {
    width: calc(100% + 40px);
    margin-left: -20px;
    border-left: none;
    border-right: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  .content.page .one_article .name {
    order: -1;
    font-size: 22px;
  }

  .content.page .one_article .image {
    max-width: calc(100% + 40px);
    margin: 0 -20px;
  }

  .content.page .one_article .img {
    margin: 0 -20px 20px;
    float: initial;
  }

  .content.page .one_article .img .date {
    left: 0;
    right: auto;
  }

  .content.page .one_article .img .date .month {
    font-size: 11px;
  }

  .content.page .title {
    padding: 25px 0;
  }

  .content.page .table {
    padding-bottom: 0;
  }

  .content.page .table .tr {
    font-size: 13px;
    padding: 20px;
  }

  .content.page .table .th .per,
  .content.page .table .tr .per {
    width: 30%;
    padding-right: 3%;
  }

  .content.page .table .th .price,
  .content.page .table .tr .price {
    width: 18%;
  }

  .content.page .table .tr.heading {
    font-size: 18px;
  }

  .content.page .table .tr.heading .ico {
    width: 75px;
  }

  .content.page .table .th {
    padding: 10px 20px;
    font-size: 16px;
  }

  .content.page .scroll {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .content.page .table2 {
    padding-top: 0;
  }

  .content.page .table2 .th,
  .content.page .table2 .tr {
    padding-left: 20px;
    padding-right: 0;
  }

  .content.page .map_block .full_width {
    background-position: -600px -100px;
    margin-bottom: 15px;
  }

  .content.page .map_block .full_width .wrap {
    padding-top: 200px;
  }

  .content.page .map_block .full_width .air_block {
    padding: 25px;
  }

  .content.page .map_block .full_width .air_block form input {
    width: 100%;
  }

  .content.page .map_block .full_width .air_block .line span {
    padding: 0 20px 0 0;
  }

  .content.page .map_block .full_width .air_block .btn {
    width: 100%;
    padding: 0 10px;
  }
}