@font-face {
    font-family: "Geometria";
    src: url("/cleanback/fonts/Geometria/Geometria.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Monserrat";
    src: url("/cleanback/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Monserrat";
    src: url("/cleanback/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Monserrat";
    src: url("/cleanback/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Monserrat";
    src: url("/cleanback/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Monserrat";
    src: url("/cleanback/fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 800;
}
