* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
*[hidden] {
    display: none;
}
ol, ul {
	list-style: none;
}
a {color: #fff; outline: none; text-decoration: none}
a:hover {text-decoration: underline}
html,textarea { overflow: auto}
input {vertical-align: middle}
input, textarea, select {outline:none; resize: none}
table{ border-collapse: collapse; border-spacing: 0}
img {display: block; vertical-align: top; border: none}


@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-BoldItalic.eot');
    src: local('Avenir Next Cyr Bold Italic'), local('AvenirNextCyr-BoldItalic'),
    url('font/AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-BoldItalic.woff') format('woff'),
    url('font/AvenirNextCyr-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Light.eot');
    src: local('Avenir Next Cyr Light'), local('AvenirNextCyr-Light'),
    url('font/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-Light.woff') format('woff'),
    url('font/AvenirNextCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Demi.eot');
    src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'),
    url('font/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-Demi.woff') format('woff'),
    url('font/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-ThinItalic.eot');
    src: local('Avenir Next Cyr Thin Italic'), local('AvenirNextCyr-ThinItalic'),
    url('font/AvenirNextCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-ThinItalic.woff') format('woff'),
    url('font/AvenirNextCyr-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Italic.eot');
    src: local('Avenir Next Cyr Italic'), local('AvenirNextCyr-Italic'),
    url('font/AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-Italic.woff') format('woff'),
    url('font/AvenirNextCyr-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-HeavyItalic.eot');
    src: local('Avenir Next Cyr Heavy Italic'), local('AvenirNextCyr-HeavyItalic'),
    url('font/AvenirNextCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-HeavyItalic.woff') format('woff'),
    url('font/AvenirNextCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-MediumItalic.eot');
    src: local('Avenir Next Cyr Medium Italic'), local('AvenirNextCyr-MediumItalic'),
    url('font/AvenirNextCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-MediumItalic.woff') format('woff'),
    url('font/AvenirNextCyr-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-LightItalic.eot');
    src: local('Avenir Next Cyr Light Italic'), local('AvenirNextCyr-LightItalic'),
    url('font/AvenirNextCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-LightItalic.woff') format('woff'),
    url('font/AvenirNextCyr-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Medium.eot');
    src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'),
    url('font/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-Medium.woff') format('woff'),
    url('font/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('font/AvenirNextCyr-UltraLightIt.eot');
    src: local('Avenir Next Cyr Ultra Light Italic'), local('AvenirNextCyr-UltraLightIt'),
    url('font/AvenirNextCyr-UltraLightIt.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-UltraLightIt.woff') format('woff'),
    url('font/AvenirNextCyr-UltraLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Regular.eot');
    src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
    url('font/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-Regular.woff') format('woff'),
    url('font/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('font/AvenirNextCyr-UltraLight.eot');
    src: local('Avenir Next Cyr Ultra Light'), local('AvenirNextCyr-UltraLight'),
    url('font/AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-UltraLight.woff') format('woff'),
    url('font/AvenirNextCyr-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Heavy.eot');
    src: local('Avenir Next Cyr Heavy'), local('AvenirNextCyr-Heavy'),
    url('font/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-Heavy.woff') format('woff'),
    url('font/AvenirNextCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Bold.eot');
    src: local('Avenir Next Cyr Bold'), local('AvenirNextCyr-Bold'),
    url('font/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-Bold.woff') format('woff'),
    url('font/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-DemiItalic.eot');
    src: local('Avenir Next Cyr Demi Italic'), local('AvenirNextCyr-DemiItalic'),
    url('font/AvenirNextCyr-DemiItalic.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-DemiItalic.woff') format('woff'),
    url('font/AvenirNextCyr-DemiItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('font/AvenirNextCyr-Thin.eot');
    src: local('Avenir Next Cyr Thin'), local('AvenirNextCyr-Thin'),
    url('font/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('font/AvenirNextCyr-Thin.woff') format('woff'),
    url('font/AvenirNextCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


body {
	font-family: 'Avenir Next Cyr', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #222;
    height: 100%;
}

.buxom2_jay_block {
    color: #fff;
    width: 100%;
    max-width: 948px;
    margin: 0 auto;
    background: url('../images/bg.jpg');
}

.buxom2_jay_title {
    text-align: center;
    padding-top: 25px;
    font-size: 66px;
    color: #000;
    font-family: 'Avenir Next Cyr';
    font-weight: 900;
	text-shadow: 0 1px 1px #fff;
}

.buxom2_jay_img {
    height: auto;
    width: 150px;
}
.buxom2_jay_block .center_wrap {
    width: 100%;
    padding: 0 20px;
    max-width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
}
.buxom2_jay_name {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
	text-shadow: 0 1px 1px #fff;
}
.buxom2_jay_img_block {
    display: flex;
    justify-content: center;
}
.buxom2_jay_img_block img {
    width: calc(40% - 10px);
    margin: 0 10px;
}
.buxom2_jay_text {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, .5);
    padding: 20px 5px;
    color: #000;
    font-size: 16px;
    text-align: center;
    font-family: 'Avenir Next Cyr';
    font-weight: 600;
}

.buxom2_jay_text span {
    display: block;
    color: #000;
    font-size: 22px;
    text-align: center;
    font-family: 'Avenir Next Cyr';
    font-weight: 600;
    margin-top: 5px;
}
.buxom2_jay_text span:first-child {margin-top: 15px;}

.buxom2_jay_upper_title {
    color: #000;
    font-family: 'Avenir Next Cyr';
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
	text-shadow: 0 1px 1px #fff;
}
.buxom2_jay_video {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buxom2_jay_recommend_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
    max-width: 768px;
}
.buxom2_jay_recommend_block .buxom2_jay_item {
    text-transform: uppercase;
    text-align: center;
    color: #000;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: calc(50% - 10px);
    height: 100%;
    background: url(../images/1-min.png);
    transition: .3s;
}

.buxom2_jay_recommend_block .buxom2_jay_item:hover {
    color: #fff;
    text-decoration: none;
}
.buxom2_jay_recommend_block .buxom2_jay_item .img_box {
    padding-right: 10px;
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buxom2_jay_recommend_block .buxom2_jay_item img {
    display: block;
    max-width: 100%;
    height: 250px;
}

.buxom2_jay_recommend_block .buxom2_jay_item:nth-child(2) img {
    height: 140px;
}
.buxom2_jay_recommend_block .buxom2_jay_item.full {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 20px;
}
.buxom2_jay_recommend_block .buxom2_jay_item.full .img_box {
    align-items: center;
    display: flex;
    padding: 20px;
}
.buxom2_jay_recommend_block .buxom2_jay_item.full .large {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 80px;
    padding: 10px;

}


.buxom2_jay_recommend_block .buxom2_jay_item.full .img_box img {
    width: 300px;
    height: auto;
    margin-left: 0;
}

.buxom2_jay_product {
    flex-grow: 1;
    max-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
}

.buxom2_jay_product  .buxom2_jay_product_name{
     font-size: 26px;
    display: flex;
    width: 300px;

}
.buxom2_jay_product .buxom2_jay_btn {
    margin: 10px auto 0;
    display: block;
    width: 110px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background: #000;
    border-right: 1px solid #fff;
    margin: 20px;
}

.buxom2_jay_item .buxom2_jay_product_name {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0;
    color: #000;
    font-family: 'Avenir Next Cyr';
    font-weight: 600;
    font-size: 24px;
	text-shadow: 0 1px 1px #fff;
}

.buxom2_jay_product .buxom2_jay_product_name {
    text-shadow: 0 1px 1px #fff;
    text-transform: uppercase;
    color: #000;
    font-family: 'Avenir Next Cyr';
    font-weight: 600;
    font-size: 26px;
}

@media only screen and (max-width: 680px),
only screen and (max-device-width: 680px) {
    .buxom2_jay_recommend_block .buxom2_jay_item.full {
        flex-wrap: wrap;
        justify-content: center;
    }
    .buxom2_jay_recommend_block .buxom2_jay_item.full .img_box {
        padding: 0;
    }
    .buxom2_jay_recommend_block .buxom2_jay_item.full .large {
        margin-left: 30px;
    }
}
@media only screen and (max-width: 500px), 
only screen and (max-device-width: 500px) {
    .buxom2_jay_name, .buxom2_jay_upper_title {
        font-size: 20px;
    }
    .buxom2_jay_name {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .buxom2_jay_text {
        padding: 20px 0;
    }
    .buxom2_jay_recommend_block {
        padding: 20px 0;}
    .buxom2_jay_recommend_block .buxom2_jay_item.full {
        flex-wrap: wrap;
        height: auto;
        padding-bottom: 40px;
    }
    .buxom2_jay_recommend_block .buxom2_jay_item.full .img_box {
        
        padding-top: 20px;
        width: 100%;
        height: auto;
        min-height: initial;
        max-height: 200px;
    }
    .buxom2_jay_recommend_block .buxom2_jay_item.full .img_box img {
        max-height: 200px;
    }
    .buxom2_jay_recommend_block .buxom2_jay_item.full .large {
        justify-content: start;
    }
    .buxom2_jay_item.full .buxom2_jay_product .buxom2_jay_product_name {
        flex-grow: 0}
}
