$text_grey: #CCCCCC
$text_yellow: #FFC530

$maxWidth: 1920
    
@mixin adaptiv-font($pcSize, $mobSize)
    $addSize: $pcSize - $mobSize
    $maxWidth: $maxWidth - 320
    transition-duration: 0s
    $result: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}))
    font-size: $result
    line-height: calc(#{$result} + 5px)

*, *::before, *::after
    box-sizing: border-box
    margin: 0
    padding: 0
    border: none
    text-decoration: none
    border-radius: 0px
    transition: all .2s ease-in-out 0s
    font-family: 'Open Sans', sans-serif

body
    display: flex
    flex-direction: column
    min-height: 100vh
    position: relative
    background-color: #000

h1, h2, h3, h4, h5
    &, &>*
        font-family: 'Raleway', 'Open Sans', sans-serif

section
    position: relative

.container
    margin: 0 auto
    position: relative
    max-width: 1070px
    padding: 0px 15px

.text
    &_date
        text-transform: uppercase
        font-weight: bold
        font-family: "Open Sans"
        background-color: #fff
        padding: 10px
        border-radius: 30px
        display: inline-block
    &_bold
        font-weight: bold !important
    &_yellow
        color: $text_yellow
    &_brown
        color: #c36f21

.section
    &__colored
        width: 100%
        text-align: center
        padding: 25px 0px
        text-transform: uppercase
        background-color: #f7c76c
        font-size: 18px
        font-family: "Open Sans"
        letter-spacing: 1.22px
        font-weight: bold
        display: inline-block
        a
            font-family: inherit
            color: #000
            text-decoration: underline
    &__title
        @include adaptiv-font(36, 18) 
        line-height: 60px
        margin: 15px 0px
        color: #333
        text-align: center

button.button, span.button, a.button
    position: relative
    display: inline-block
    appearance: none
    background: transparent
    cursor: pointer
    white-space: nowrap
    text-align: center
    user-select: none
    background-color: transparent
    &:focus
        outline: none
    &_recall
        color: #000
        background-color: $text_yellow
        box-shadow: 0 0 0 1px $text_yellow
        border-radius: 20px
        padding: 6px 23px
        font-size: 12px
        font-weight: bold
        line-height: 24px
        &:hover
            background-color: transparent
            color: $text_yellow
    &_item
        font-size: 14px
        text-transform: uppercase
        color: #fff
        padding: 20px 55px
        background-color: #c36f21
        border-radius: 50px
        font-weight: 600
        margin-top: -5px
        margin-left: 25px
        &::after
            content: ''
            display: inline-block
            height: 15px
            width: 15px
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            vertical-align: middle
            margin-left: 8px
            background-image: url(../img/icons/cart_tovar-w.svg)
            margin-top: -5px
    &_promo
        text-transform: uppercase
        color: #000
        background-color: $text_yellow
        border-radius: 40px
        padding: 22px 34px
        font-weight: bold
        font-size: 14px
        margin-top: 20px
    &_colored
        &::after
            display: none
    &_product
        color: #000
        background-color: $text_yellow
        box-shadow: 0 0 0 1px $text_yellow
        border-radius: 20px
        padding: 10px 23px
        font-size: 14px
        font-weight: 600
        line-height: 22px
        text-transform: uppercase
        &::after
            content: ''
            display: inline-block
            height: 15px
            width: 15px
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            vertical-align: middle
            margin-left: 8px
            background-image: url(../img/icons/cart_tovar.svg)
            margin-top: -5px
        &:hover
            background-color: transparent
    &_contacts
        color: #000
        text-transform: uppercase
        font-size: 14px
        font-weight: 600
        line-height: 22px
        background-color: $text_yellow
        border-radius: 40px
        padding: 15px 20px
    &_all
        color: #000
        background-color: #fff
        box-shadow: 0 0 0 1px #939393
        border-radius: 30px
        padding: 11px 38px
        font-size: 14px
        font-weight: 600
        line-height: 22px
        text-transform: uppercase
        &:hover
            background-color: $text_yellow
            box-shadow: 0 0 0 1px $text_yellow
    &_cart
        background-color: #000000
        color: #fff
        font-size: 12px
        font-weight: bold
        text-align: center
        padding: 10px 30px
        border-radius: 30px
    &_order
        background-color: $text_yellow
        font-size: 14px
        text-transform: uppercase
        font-weight: 600
        padding: 12px 20px
        border-radius: 30px
        margin-top: 10px

span.button
    &_recall
        cursor: default
        &:hover
            background-color: $text_yellow
            color: #000

.header
    flex-grow: 0
    padding: 20px 0px
    position: fixed
    left: 0
    top: -1px
    width: 100%
    z-index: 1000
    & + *
        margin-top: 117px
    &.active
        background-color: #000
        .header__logo
            opacity: 1
            visibility: visible
    &__logo
        height: 77px
        width: 77px
        opacity: 0
        visibility: hidden
        position: relative
        &-img
            height: 120px
            width: 120px
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            object-fit: cover
    &__wrap
        display: flex
        justify-content: space-between
        align-items: center
    &__side
        max-width: 365px
        width: 100%
        &:last-child
            display: flex
    &__search
        display: inline-block
        width: 100%
        font-size: 14px
        line-height: 24px
        padding: 7px 20px
        background-color: #fff
        border-radius: 20px
        &:focus
            outline: none
            box-shadow: 0 0 4px 2px #ff0
        &-wrap
            position: relative
            &::after
                content: ''
                display: inline-block
                position: absolute
                right: 15px
                top: 50%
                background-image: url(../img/icons/search.svg)
                background-size: contain
                background-repeat: no-repeat
                background-position: center
                height: 16px
                width: 16px
                transform: translateY(-50%)
                pointer-events: none
    &__tel
        display: inline-block
        position: relative
        font-size: 18px
        line-height: 24px
        text-transform: uppercase
        font-weight: 700
        color: $text_grey
        white-space: nowrap
        vertical-align: middle
        & + &
            margin-top: 3px
            margin-bottom: 10px
        &::after
            content: ''
            display: inline-block
            position: absolute
            left: 0
            bottom: -4px
            width: 100%
            height: 3px
            background-color: $text_yellow
            transform: scaleX(0)
            transform-origin: left
        &.active, &:hover
            color: $text_yellow
            &::after
                transform: scaleX(1)
    &__dropdown
        position: relative
        margin-top: 15px
        perspective: 200px
        z-index: 2
        &-title
            position: relative
            z-index: 4
        &-trigger
            position: relative
            height: 18px
            width: 15px
            display: inline-block
            vertical-align: middle
            margin-left: 10px
            background-color: transparent
            cursor: pointer
            &:focus
                outline: none
            &::before, &::after
                display: inline-block
                content: ''
                height: 2px
                width: 9px
                background-color: $text_grey
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%, -50%)
            &::before
                transform: translate(-80%, -50%) rotate(45deg)
            &::after
                transform: translate(-20%, -50%) rotate(-45deg)
        &.active &-trigger
            transform: rotateX(180deg)
        &-body
            position: absolute
            left: -15px
            top: 120%
            background-color: #fff
            padding: 20px 25px
            z-index: 3
            box-shadow: 0 0 20px 5px rgba(0, 0, 0, .1)
            .header__tel
                color: #000
            .button_recall
                &:hover
                    color: #000
            &::before
                content: ''
                display: inline-block
                position: absolute
                border: 12px solid transparent
                border-bottom: 10px solid white
                top: 0
                right: 10px
                transform: translate(0%, -100%)
        &:not(.active)
            .header
                &__dropdown
                    &-body
                        transform: translateY(-20px)
                        opacity: 0
                        visibility: hidden
    &__cart
        display: flex
        align-items: center
        margin-left: 50px
        background-color: transparent
        cursor: pointer
        &-ico
            position: relative
            img
                height: 53px
                width: 53px
                object-fit: contain
        &-amount
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 30px
            height: 30px
            border-radius: 50%
            background-color: $text_yellow
            color: #000
            font-size: 12px
            text-align: center
            vertical-align: middle
            font-weight: bold
            line-height: 30px
        &-total
            margin-left: 10px
            font-size: 18px
            line-height: 24px
            font-weight: bold
            color: $text_grey
            white-space: nowrap

.cart
    position: absolute
    background-color: $text_yellow
    width: 265px
    top: calc(100% + 20px)
    right: 0
    padding: 15px 7px 7px
    display: flex
    flex-direction: column
    align-items: center
    opacity: o
    visibility: hidden
    transform: translateY(-10px)
    &.active
        opacity: 1
        visibility: visible
        transform: translateY(0px)
    & *, & *::after, & *::before
        transition-delay: 0s
        transition-duration: 0s
    &__title
        margin-bottom: 5px
        font-size: 16px
        font-weight: bold
    &__body
        padding: 10px
        background-color: #fff
        width: 100%
        margin-top: 10px
    &__name
        font-size: 16px
        font-weight: bold
        margin-bottom: 7px
    &__item
        padding-bottom: 10px
        border-bottom: 1px solid #E8E8E8
    &__list
        max-height: 240px
        overflow-y: auto
    &__content
        display: flex
    &__title
        font-size: 16px
        font-weight: bold
        color: #333
    &__bottom
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 10px
    &__parameters
        font-size: 12px
        line-height: 14px
        max-width: 45px
        display: inline-block
    &__img
        width: 100px
        height: 80px
        object-fit: cover
    &__info
        margin-left: 10px
        &-top
            display: flex
            align-items: center
            margin-bottom: 10px
    &__price
        font-weight: bold
        font-size: 14px
        color: #333
        margin-left: 10px
        display: inline-block
        position: relative
        white-space: nowrap
        &::before
            content: ''
            display: inline-block
            height: 25px
            width: 1px
            background-color: #e8e8e8
            position: absolute
            top: 50%
            left: -5px
            transform: translateY(-50%)
    &__total
        font-size: 16px
        font-weight: bold
        color: #333333
        text-align: center
        margin-bottom: 5px
    &__label
        font-size: 12px
        line-height: 18px
        cursor: pointer
        user-select: none
        input
            height: 1px
            width: 1px
            opacity: 0
            visibility: hidden
            appearance: none
    &__checkbox
        margin-right: 8px
        display: inline-block
        height: 13px
        width: 13px
        box-shadow: 0 0 0 1px #DBDDDB
        position: relative
        border-radius: 2px
    input:checked + &__checkbox
        box-shadow: none
        background-color: $text_yellow
        &::after
            content: ''
            display: inline-block
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            width: 9px
            height: 7px
            background-image: url(../img/icons/tip.png)
            background-size: contain
            background-repeat: no-repeat

.mobile-menu
    width: 100%
    height: 100vh
    overflow-y: auto
    z-index: 100
    background-color: #000000e7
    position: fixed
    top: 0
    padding: 117px 20px 10px
    left: 0
    transform: translateY(-110%)
    &.active
        transform: translateY(0%)
    &__container
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 40px 20px
    &__body
        padding: 20px 0px 0px
    &__title
        font-weight: bold
        font-size: 28px
        color: #fff
        display: inline-block
        margin-bottom: 30px
    &__subtitle
        font-weight: bold
        font-size: 22px
        color: #fff
        margin-bottom: 15px
        display: inline-block
        & ~ *
            padding-left: 20px
    &__list
        list-style-type: none
    &__link
        color: #fff 
        font-size: 16px
        padding: 5px 0px
        display: inline-block
        position: relative
        &::after
            content: ''
            display: inline-block
            position: absolute
            left: 0
            bottom: 0px
            width: 100%
            height: 1px
            background-color: $text_yellow
            transform: scaleX(0)
            transform-origin: left
        &.active, &:hover
            color: $text_yellow
            &::after
                transform: scaleX(1)
    .header
        &__tel
            color: #fff
        &__dropdown
            margin-top: 0
            margin-bottom: 20px
            &-body
                display: flex
                flex-direction: column
                left: -5px
                .header__tel + .header__tel
                    margin-top: 10px
                    margin-bottom: 0
                .header__tel
                    color: #000
    .footer
        &__contacts
            max-width: 270px
            align-items: flex-start
        &__time
            margin-left: 0
            color: #fff
            font-size: 16px
            line-height: 22px
            max-width: 190px
            &::before
                background-image: url(../img/icons/clock-m.svg)
        &__contact
            color: #fff
            font-size: 16px
            line-height: 22px
            display: block !important

.burger
    position: absolute
    top: 50%
    transform: translate(0, -50%)
    z-index: 3
    display: flex
    align-items: center
    background-color: transparent
    margin-left: 20px
    cursor: pointer
    &:focus
        outline: none
    &__icon
        position: relative
        height: 30px
        width: 36px
        &::before, &::after
            content: ''
            display: inline-block
            position: absolute
            width: 36px
            height: 6px
            background-color: $text_yellow
            border-radius: 6px
            left: 50%
            transform: translate(-50%, 0)
            transform-origin: center
            z-index: 1
        span
            display: inline-block
            position: absolute
            width: 25px
            height: 6px
            background-color: #ccc
            border-radius: 6px
            left: 0
            top: 50%
            z-index: 1
            transform: translate(0, -50%)
        &::before
            top: 0
            transition: top .3s ease-in-out .3s, transform .3s ease-in-out 0s
        &::after
            bottom: 0
            transition: bottom .3s ease-in-out .3s, transform .3s ease-in-out 0s
    &.active &__icon
        span
            left: 50%
            height: 4px
            transform: translate(-50%, -50%)
            opacity: 0
        &::before
            height: 4px
            top: 50%
            transform: translate(-50%, -50%) rotate(45deg)
            transition: top .3s ease-in-out 0s, transform .3s ease-in-out .3s
        &::after
            height: 4px
            bottom: 50%
            transform: translate(-50%, 50%) rotate(-45deg)
            transition: bottom .3s ease-in-out 0s, transform .3s ease-in-out .3s
    &__text
        text-transform: uppercase
        color: $text_yellow
        font-size: 16px
        font-weight: 600
        margin-left: 10px
        line-height: 22px

.nav
    margin-top: 17px
    &__list
        display: flex
        justify-content: space-between
    &__item
        list-style-type: none
    &__link
        display: inline-block
        position: relative
        font-size: 15px
        line-height: 22px
        text-transform: uppercase
        font-weight: 600
        color: $text_grey
        &::after
            content: ''
            display: inline-block
            position: absolute
            left: 0
            bottom: -4px
            width: 100%
            height: 3px
            background-color: $text_yellow
            transform: scaleX(0)
            transform-origin: left
        &.active, &:hover
            color: $text_yellow
            &::after
                transform: scaleX(1)

.aside
    position: absolute
    left: 0
    z-index: 4
    top: 117px
    height: 98%
    width: 90px
    background-color: #F7C76C
    padding-top: 0
    &__container
        position: sticky
        top: 116px
    &__icon
        height: 45px
    &__items
        background-color: #F7C76C
    &__item
        height: 88px
        & + &
            border-top: 1px solid #FBE8C4
        &:hover
            background-color: #ffe15c
    &__link
        display: flex
        align-items: center
        justify-content: center
        text-transform: uppercase
        height: 100%
        font-size: 15px
        font-weight: 600
        line-height: 22px
        color: #000
        vertical-align: middle
    &__slider
        position: absolute
        top: 0
        z-index: -1
        transform: translateX(-131px)
        height: 100vh
        background-color: #F7C76C
        .aside
            &__link
                justify-content: flex-start
                padding: 23px 30px 23px 90px
    &:hover, &.active
        .aside__items
            background-color: transparent
            pointer-events: none
        .aside__slider
            transform: translateX(0px)

.banner
    flex-grow: 0
    background: rgb(255,220,64)
    background: radial-gradient(circle, rgba(255,220,64,1) 0%, rgba(227,119,30,1) 100%)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    overflow: hidden
    &__bg
        position: absolute
        top: 50%
        left: 60%
        transform: translate(-50%, -50%)
        &-m
            position: absolute
            display: none
    &__content
        padding: 60px 0px 130px
        position: relative
    &__logo
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        height: 410px
        object-fit: cover
        &-wrap
            position: absolute
            left: 50%
            top: -70px
            transform: translate(-50%, 0)
            height: 360px
            width: 360px
            border-radius: 50%
            background-color: $text_yellow
            overflow: hidden
    &__title
        color: #fff
        font-size: 40px
        font-weight: 600
        max-width: 330px
        line-height: 48px
        letter-spacing: 2px
    .header
        &__dropdown
            display: flex
            z-index: 6
            justify-content: center
            margin-top: 5px
            &-body
                display: flex
                flex-direction: column
                align-items: center
                left: 70px
            &-trigger
                &::before, &::after
                    background-color: #000
        &__tel
            font-size: 24px
            font-weight: bold
            color: #000
        &__contacts
            span.button_recall
                background-color: transparent
                box-shadow: none
                font-size: 28px
                color: #C8681B
                font-weight: bold

.main
    flex-grow: 1
    background-color: #fff

.promo
    padding: 20px 0px
    &_page
        .contacts__side:nth-child(1)
            padding: 0
            position: relative  
            img
                height: 100%
                width: 100%
                object-fit: cover
                position: absolute
        .contacts__side:nth-child(2)
            background-color: #fff
            align-items: flex-start
    &__wrapper
        overflow: hidden
        position: relative
    &__block
        display: flex
        align-items: center
        padding: 15px
        border-left: 1px solid #e8e8e8
        border-right: 1px solid #e8e8e8
        & + &
            border-top: 1px solid #e8e8e8
        &:last-child
            border-bottom: 1px solid #e8e8e8
    &__icon
        margin-right: 25px
    &__text
        font-size: 18px
        line-height: 24px
        a
            color: #000
            text-decoration: underline
    &__pagination
        position: absolute
        z-index: 5
        display: flex
        justify-content: center
        bottom: 30px !important
        overflow: visible
        .swiper-pagination-bullet + .swiper-pagination-bullet
            margin-left: 15px
        .swiper-pagination-bullet
            width: 12px
            height: 12px
            background-color: transparent
            display: inline-block
            box-shadow: 0 0 0 2px #fff
            opacity: 1
            position: relative
            &::before
               position: absolute
               content: ''
               display: inline-block
               left: 52%
               top: 50%
               transform: translate(-50%, -50%)
               width: 15px
               border-radius: 100%
               background-color: #fff
               height: 15px

        .swiper-pagination-bullet.swiper-pagination-bullet-active
            &::before
               width: 6px
               height: 6px

    &__item
        background-color: #000
        padding: 45px 40px 60px
        position: relative
        overflow: hidden
    &__bg
        position: absolute
        right: 0
        bottom: 0
        transform: translate(40%, 28%)
        z-index: 0
    &__content
        max-width: 360px
        z-index: 2
        position: relative
    &__title
        font-size: 36px
        color: #fff
    &__discount
        font-size: 40px
        display: inline-block
        background-color: $text_yellow
        color: #000
        padding: 10px 20px 15px
        border-radius: 40px
        line-height: 36px
        vertical-align: middle
    &__persentage
        font-size: 86px
        line-height: 83px
        vertical-align: bottom
    &__sticker
        position: absolute
        z-index: 2
        top: 40px
        right: 20px
        height: 160px
        width: 160px
        background-color: $text_yellow
        border-radius: 50%
        &::after, &::before
            position: absolute
            left: 50%
            top: 50%
            content: ''
            display: inline-block
            transform: translate(-50%, -50%)
            background-repeat: no-repeat
            background-position: center
        &::before
            z-index: 0
            background-image: url(../img/sticker_2.png)
            height: 150px
            left: 49.5%
            width: 150px
        &::after
            z-index: 1
            background-image: url(../img/sticker_1.png)
            height: 142px
            width: 142px
        span
            position: absolute
            z-index: 3
            top: 50%
            left: 47%
            transform: translate(-50%, -50%)
            text-align: center
            vertical-align: middle
            font-size: 68px
            letter-spacing: -8px

.menu
    padding-top: 20px
    margin-bottom: 60px
    &__wrapper
        &-top, &-bottom
            display: grid
            grid-gap: 7px
        &-top
            grid-template-columns: repeat(2, 1fr)
        &-bottom
            margin-top: 7px
            grid-template-columns: repeat(3, 1fr)
    &__item
        display: flex
        flex-direction: column
        overflow: hidden
        &-img
            width: 100%
            transition-duration: .4s
        &-body
            background-color: #FFF5C1
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            padding: 5% 0px
            z-index: 2
            position: relative
        &-title
            font-weight: bold
            font-size: 20px
            line-height: 30px
            text-transform: uppercase
            color: #333
            text-decoration: none
        &-amount
            margin-left: .3em
            font-size: 20px
            line-height: 30px
            color: #333
            text-decoration: none
        &:hover
            .menu__item-img
                transform: scale(1.03)
                transition-duration: .4s

.filter
    &__weight
        margin: 40px auto 45px
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 700px
        &-text
            font-size: 20px
            font-weight: 600
            text-transform: uppercase
            color: #333
        &-value
            font-size: 20px
            font-weight: 600
            color: #333
        &-labels
            display: flex
            align-items: center
            justify-content: space-between
            max-width: 500px
            width: 100%
        &-label
            cursor: pointer
            user-select: none
            &>input
                opacity: 0
                visibility: hidden
                height: 1px
                width: 1px
                appearance: none
                &:checked + .filter__weight-checkbox
                    background-color: $text_yellow
                    box-shadow: 0 0 0 1px $text_yellow
                &:checked ~ .filter__weight-value
                    color: $text_yellow
        &-checkbox
            display: inline-block
            height: 12px
            width: 12px
            border-radius: 50%
            box-shadow: 0 0 0 1px #939393
            background-color: #fff
            vertical-align: middle
            margin-top: -7px
            margin-right: 5px
    &__category
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
        margin-bottom: 50px
        &-label
            margin: 20px 5px 0px
            cursor: pointer
            user-select: none
            &>input
                appearance: none
                height: 1px
                width: 1px
                opacity: 0
                visibility: hidden
                &:checked + .filter__category-item
                    background-color: $text_yellow
                    box-shadow: 0 0 0 1px $text_yellow
        &-item
            display: inline-block
            padding: 8px 32px
            border-radius: 40px
            box-shadow: 0 0 0 1px #E8E8E8
            text-align: center
            color: #333
            background-color: #fff
            text-align: center
            font-size: 20px
            font-weight: 600
            text-transform: uppercase
            &:not(:first-of-type)
                min-width: 165px

.products
    padding-bottom: 50px
    &__wrap
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 40px 20px
        margin-bottom: 35px
    &__btn
        &-wrap
            width: 100%
            display: flex
            justify-content: center

.product
    max-width: 330px
    overflow: hidden
    width: 100%
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15)
    &__top
        position: relative
        max-height: 260px
    &__img
        height: 100%
        object-fit: cover
    &__art, &__rev
        position: absolute
        z-index: 3
        right: 10px
        display: inline-block
        border-radius: 20px
        font-size: 12px
        font-weight: bold
        padding: 10px 15px
        line-height: 16px
    &__art
        top: 10px
        background-color: #fff
        color: #000
        text-transform: uppercase
    &__rev
        bottom: 10px
        background-color: #000000
        color: #fff
        text-decoration: none
    &__body
        background-color: #fff
        z-index: 2
        position: relative
        padding: 20px
    &__name
        text-align: center
        font-size: 20px
        font-weight: 700
        color: #333
        margin-bottom: 1em
    &__weight
        &-wrap
            display: flex
            align-items: center
            justify-content: space-between
            flex-direction: row
        &-label
            cursor: pointer
            user-select: none
            &>input
                opacity: 0
                height: 1px
                width: 1px
                appearance: none
                visibility: hidden
            &>input:checked + .product__weight-size
                box-shadow: 0 0 0 1px $text_yellow
                background-color: #FFF5C1
            & + &
                margin-left: 5px
        &-size
            display: flex
            flex-direction: column
            align-items: center
            font-size: 13px
            padding: 5px 13px
            width: 52px
            border-radius: 50px
            box-shadow: 0 0 0 1px #E8E8E8
        &-price
            display: inline-block
            width: 100%
            text-align: center
            font-size: 14px
            font-weight: bold
            margin-top: 3px
        legend
            font-size: 14px
            font-weight: 600
            color: #5C5C5C
    &__bottom
        margin-top: 13px
        display: flex
        justify-content: space-between
        align-items: center
    &__count
        background-color: #ECEEEC
        width: 80px
        display: flex
        align-items: center
        border-radius: 30px
        overflow: hidden
        input
            background-color: #ECEEEC
            appearance: none
            display: inline-block
            width: 100%
            text-align: center
            padding: 10px 0px
            font-size: 12px
            font-weight: bold
    &__dec, &__inc
        text-align: center
        font-size: 16px
        font-weight: bold
        cursor: pointer
        user-select: none
        background-color: #DBDDDB
        height: 37px
        line-height: 37px
        padding: 0px 8px

    &:hover
        box-shadow: 0 0 0 8px $text_yellow

.advantages
    background-color: #F9F9F9
    padding: 55px 0px 60px
    &__wrap
        margin-top: 55px
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-row-gap: 40px

.advantage
    display: flex
    align-items: center
    max-width: 280px
    &__img
        max-height: 60px
        width: auto
    &__title
        font-size: 20px
        font-weight: bold
        line-height: 24px
        margin-left: 15px

.reviews
    padding: 50px 0px
    &__wrapper
        margin-top: 45px
        position: relative
        display: flex
        align-items: center
        justify-content: center
    &__swiper
        overflow: hidden
        max-width: 910px
        padding: 20px
    &__pagination
        position: absolute
        bottom: -30px
        display: flex
        align-items: center
        .swiper-pagination-bullet + .swiper-pagination-bullet
            margin-left: 15px
        .swiper-pagination-bullet
            height: 14px
            width: 14px
            background-color: #ccc
            opacity: 1
            position: relative
            display: inline-block
        .swiper-pagination-bullet-active
            height: 11px
            width: 11px
            box-shadow: 0 0 0 2px $text_yellow
            background-color: transparent
            &::before
                position: absolute
                content: ''
                height: 6px
                width: 6px
                background-color: $text_yellow
                border-radius: 50%
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
    &__control
        position: absolute
        top: 50%
        display: inline-block
        background-color: #fff
        opacity: 1
        z-index: 3
        height: 44px
        width: 44px
        border-radius: 50%
        box-shadow: 0 4px 10px rgba(0, 0, 0, .13)
        transform: translateY(-50%)
        svg
            position: absolute
            left: 49%
            top: 50%
            transform: translate(-50%, -50%) rotate(0deg)
            fill: #383838
        &:hover
            svg
                fill: #BF8200
        &_prev
            left: 0
        &_next
            right: 0
            svg
                transform: translate(-30%, -50%) rotate(180deg)

.review
    display: flex
    align-items: flex-start
    width: 100%
    padding: 35px 30px
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .1)
    &__img
        width: 100%
        height: 165px
        object-fit: cover
        &-wrap
            width: 100%
            max-width: 165px
    &__body
        margin-left: 30px
        display: flex
        flex-direction: column
    &__title
        font-weight: bold
        font-size: 20px
        line-height: 24px
    &__name
        font-weight: bold
        font-size: 16px
        line-height: 24px
        margin-top: 10px
        margin-bottom: 5px

.examples
    padding: 50px 0px 70px

.example
    display: flex
    &__name
        font-size: 35px
        line-height: 48px
        font-weight: normal
        margin-bottom: 30px
        max-width: 550px
    &__text
        font-size: 16px
        line-height: 24px
        a
            color: #000
            font-weight: bold
            text-decoration: underline
    &__img
    &_reverse
        padding-top: 30px
        flex-direction: row-reverse
        background-color: #F9F9F9
    & + &
        margin-top: 50px

.footer
    flex-grow: 0
    padding-top: 50px
    background-color: #F9F9F9
    &__wrap
        display: flex
        justify-content: space-between
        margin-bottom: 40px
    &__logo
        height: 160%
        width: 160%
        position: absolute
        top: 50%
        left: 50.5%
        transform: translate(-50%, -50%)
        &-wrap
            position: relative
            height: 180px
            width: 180px
            background-color: $text_yellow
            border-radius: 50%
            margin-right: 20px
            overflow: hidden
    &__cols
        display: flex
        justify-content: space-between
        width: 100%
        max-width: 280px
    &__list
        list-style-type: none
    &__item
        & + &
            margin-top: 1em
    &__time
        font-size: 14px
        line-height: 16px
        max-width: 170px
        color: #333333
        margin-bottom: 15px
        margin-left: 20px
        display: inline-block
        position: relative
        &::before
            content: ''
            display: inline-block
            height: 15px
            width: 15px
            position: absolute
            left: -23px
            top: 1px
            background-image: url(../img/icons/clock.svg)
            background-size: contain
            background-repeat: no-repeat
            background-position: center
    &__contact
        color: #ccc
        font-size: 14px
        line-height: 17px
        text-decoration: none
        display: none
        & + &
            margin-top: 1em
    &__link
        color: #333333
        text-decoration: none
        font-size: 18px
        font-weight: 600
        position: relative
        display: inline-block
        &::after
            position: absolute
            display: inline-block
            content: ''
            width: 100%
            height: 2px
            background-color: $text_yellow
            bottom: -3px
            transform: scaleX(0)
            transform-origin: left
            left: 0
        &:hover
            &::after
                transform: scaleX(1)
    &__contacts
        display: flex
        flex-direction: column
        max-width: 200px
        width: 100%
        align-items: flex-start
        margin-right: 80px
        .header__tel
            color: #333333
    .footer
        &__contacts:last-child
            display: none
    &__questions
        display: flex
        flex-direction: column
        align-items: center
    &__question
        font-size: 24px
        font-weight: bold
        line-height: 24px
        &-link
            font-size: 16px
            font-weight: bold
            color: $text_yellow
            line-height: 24px
            text-decoration: none
    &__text
        font-size: 16px
        line-height: 24px
        margin-top: 5px
        margin-bottom: 50px
        br
            display: none
    &__bottom
        background-color: #000
        padding: 35px 0px
        &-wrap
            display: flex
            justify-content: space-between
            align-items: center
    &__copyright
        color: #fff
        font-size: 18px
    &__socials
        display: flex
    &__social
        position: relative
        display: inline-block
        width: 51px
        height: 51px
        background-color: $text_yellow
        border-radius: 50%
        box-shadow: 0 0 0 1px $text_yellow
        & + &
            margin-left: 15px
        svg
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            max-height: 22px
            width: auto
            object-fit: contain
            fill: #000
        &:hover
            background-color: transparent
            svg
                fill: $text_yellow

//
//
//
// Страница товара
//
//

.item
    background-color: #fff
    padding: 50px 0px
    .container
        max-width: 910px
    &__img
        img
            width: 100%
            height: 100%
            object-fit: cover
    &__title
        font-size: 28px
        font-weight: bold
        color: #000000
        white-space: nowrap
        font-family: 'Open Sans'
        a
            font-family: 'Open Sans'
            color: #C36F21
    &__card
        display: grid
        max-width: 920px
        height: 580px
        width: 100%
        margin: 40px auto 60px
        grid-template-columns: 64% 36%
        grid-template-rows: 77% 23%
    &__order
        background-color: #ffc122
        padding: 25px 30px 25px 20px
        &-wrap
            display: flex
            align-items: center
        .product
            &__weight
                &-wrap
                    margin-top: 10px
                    align-items: flex-start
                &-label
                    input
                        display: none
                &-size
                    background-color: #fff
                legend
                    text-transform: uppercase
                    font-size: 14px
                    font-weight: 600
                    letter-spacing: 1px
                    color: #000
    &__more
        background-color: #fff5c1
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        &-link
            display: inline-block
            position: relative
            max-width: 185px
            font-size: 14px
            font-weight: 600
            line-height: 22px
            color: #000
            text-decoration: underline
            & + &
                margin-top: 8px
            &::after
                content: ''
                display: inline-block
                position: absolute
                border: 10px solid transparent
                right: -40px
                top: 45%
                transform: translateY(-50%)
                border-left: 15px solid #ffc530

.compound
    padding-left: 70px
    padding-top: 25px
    justify-items: start
    border-top: 1px solid rgba(0, 0, 0, .1)
    border-left: 1px solid rgba(0, 0, 0, .1)
    border-right: 1px solid rgba(0, 0, 0, .1)
    &__title
        font-weight: bold
        font-size: 18px
        margin-left: -20px
        display: block
    &__list + &__head
        margin-top: 20px
    &__head 
        text-transform: uppercase
        letter-spacing: 1.22px
        font-size: 14px
        font-weight: 500
        padding: 5px 30px
        background-color: $text_yellow
        border-radius: 30px
        text-align: center
        margin-left: -30px
        margin-bottom: 10px
        display: inline-block
        margin-top: 15px
    &__item
        list-style-type: none
        font-size: 13px
        line-height: 21px

.description
    padding-bottom: 75px
    .container
        max-width: 910px
    &__wrap
        display: flex
    &__title
        font-size: 36px
        font-weight: 600
        margin-bottom: 20px
        display: inline-block
    &__card
        padding: 55px
        background-color: #fff
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, .05)
        outline: 2px dotted rgba(0,0,0,0.3)
        outline-offset: -25px
        margin-left: 60px
        min-width: 455px
    &__text
        font-size: 16px !important
        font-weight: 300
        & + &
            margin-top: 1em
        & + .section__colored
            margin-top: 50px
            padding: 25px 40px
    &__bold
        font-weight: bold   
        font-size: 21px
        margin-top: .5em
        & + &
            margin-top: 1em
    &_delivery
        padding-top: 45px
        .container
            max-width: 1010px
            width: 100%
        .section__colored
            margin-bottom: 35px
        .colored__title
            margin-bottom: 40px
        .description
            &__wrap
                align-items: flex-start
                & + .description__text
                    margin-top: 55px
            &__card.mr
                max-width: 450px
                margin-left: 0px
                margin-right: 60px
            &__card.ml
                max-width: 450px
                margin-right: 0px
                margin-left: 60px
    .takeaway
        &__list
            li + li
                margin-top: 1em
            li
                position: relative
                padding-left: 20px
                &::before
                    top: 6px
                    left: 0
                    position: absolute
//
//
//
// Страница Контактов
//
//

.contacts
    &__table
        display: grid
        grid-template-columns: 60% 40%
        border: 1px solid #ccc
        border-radius: 3px
    &__qr
        height: 40px
        width: 40px
        object-fit: contain
    &__side
        padding: 30px
        &:nth-child(1)
            padding: 30px 30px 30px 70px
        &:last-child
            display: flex
            flex-direction: column
        & + &
            border-left: 1px solid #ccc
    &__row
        width: 100%
        display: flex
        justify-content: space-between
        & + &
            margin-top: 25px
        &:last-child
            margin-top: auto
    &__social
        color: #000000
        font-size: 18px
        line-height: 24px
        text-decoration: none
        max-width: 260px
        img
            vertical-align: middle
            margin-right: 10px
        &-link
            text-decoration: underline
            color: #000
            font-weight: bold
            font-size: 18px
    &__tel
        position: relative
        &::before
            content: ''
            margin-right: 10px
            height: 30px
            width: 30px
            position: absolute
            left: -40px
            display: inline-block
            vertical-align: middle
            background-size: contain
            background-repeat: no-repeat
        &:nth-child(1)
            &::before
                background-image: url(../img/icons/tel_1.png)
        &:nth-child(2)
            &::before
                background-image: url(../img/icons/tel_2.png)
        &:nth-child(3)
            &::before
                background-image: url(../img/icons/tel_3.png)
        & + &
            margin-top: 30px
        a
            font-weight: bold
            font-size: 18px
            color: #000
            display: block
    &__smalltext
        font-size: 13px
        color: #000
        list-style-type: none
    .container
        max-width: 980px

.information
    margin-top: 20px
    &__item
        position: relative
        &:nth-child(1), &:nth-child(3)
            padding: 20px 25px
    &__title
        letter-spacing: 1.22px
        text-transform: uppercase
        font-size: 17px
        font-weight: 600
        & + &
            margin-top: 25px
        a
            color: #000
            text-decoration: underline
    &__container
        display: grid
        grid-template-columns: repeat(3, 1fr)
        border: 1px solid #ccc
        border-radius: 3px
        width: 100%
    &__head
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        margin-bottom: 15px
    &__img
        position: absolute
        height: 100%
        width: 100%
        object-fit: cover
    &__text
        font-size: 16px
        & + &
            margin-top: 10px
    .container
        max-width: 980px

.info
    padding-bottom: 85px
    margin-top: 50px
    &__sertificate
        margin-top: 25px
        & + &
            margin-left: 30px
    .description
        &__body
            padding-top: 50px
        &__text
            margin-top: 15px
        &__card
            .information__title
                text-align: center
                display: block
    .container
        max-width: 980px

.map, .requisites
    padding-bottom: 70px
    &__title
        width: 100%
        text-align: center
        padding: 20px 0px
        background-color: #f7c76c
        color: #000
        text-transform: uppercase
        font-weight: bold
        letter-spacing: 1.22px
        font-size: 18px
    &__text
        font-size: 16px
        font-weight: 600
        line-height: 24px
        display: block
        & + &
            margin-top: 5px
    &__container
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        max-width: 750px
        padding-top: 40px
    &__col
        max-width: 320px
        margin-top: 20px
    &__section
        & + &
            margin-top: 40px
    .container
        max-width: 980px
    &_delivery
        .container
            max-width: 1070px

//
//
//
// Страница Доставки
//
//

.takeaway
    .section__title
        margin: 15px 0px
    &__list
        list-style-type: none
        margin-top: 15px
        li
            position: relative
            &::before
                content: ''
                display: inline-block
                margin-right: 10px
                height: 9px
                width: 9px
                border-radius: 50%
                background-color: #ffc122
    &__select
        position: relative
        margin-top: 25px
        select
            background-color: #fff
            border: 1px solid #e8e8e8
            display: inline-block
            width: 100%
            appearance: none
            padding: 20px 25px
            font-size: 14px
            font-weight: 600
            text-transform: uppercase
            border-radius: 40px
            cursor: pointer
            &:focus
                outline: none
        & + &
            margin-top: 20px
        &::after
            position: absolute
            pointer-events: none
            content: ''
            right: 25px
            top: 55%
            transform: translate(-50%, -50%)
            border: 7px solid transparent
            border-top: 10px solid #000
    .contacts__text + .contacts__text
        margin-top: 1em
    .contacts__text + .information__title
        margin-top: 50px
        display: inline-block
    .contacts
        &__side
            &:nth-child(1)
                padding: 30px
            &:nth-child(2)
                background-color: #f9f9f9

.pair
    padding: 65px 0px
    &__container
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__item
        max-width: 50%
        width: 100%
        overflow: hidden
        & + &
            margin-left: 20px
        .information__title
            margin-top: 28px
            display: inline-block
        li + li
            margin-top: 8px
    &__card
        display: inline-block
        font-weight: bold
        font-size: 17px
        padding: 15px 20px
        background-color: #ffc122
        max-width: 390px
        margin-top: 40px
        a
            color: #000
            text-decoration: underline
    &__table
        font-size: 13px
        text-align: center
        width: 100%
        border: 1px solid #e8e8e8
        &-wrap
            .pair__table
                min-width: 470px
            overflow-y: auto
        th
            font-weight: bold
            background-color: #f9f9f9
            height: 70px
        tr
            padding: 0px 10px
            height: 50px
            border: 1px solid #e8e8e8
        td, th
            padding: 10px
            border-top: 1px solid #e8e8e8

.colored
    background-color: #ffc122
    padding: 40px 0px 30px
    &__wrap
        display: flex
        flex-direction: column
        align-items: center
    &__title
        font-size: 28px
        font-weight: bold
        color: #000
        text-align: center
        display: inline-block
        margin-bottom: 20px
    .button
        white-space: normal
        margin-left: 0

//
//
//
// Страница Акции
//
//

.promos
    &__control
        display: inline-block
        height: 20px
        width: 20px
        position: relative
        background-color: #fff
        &_prev
        &_next
            transform: rotate(180deg)
            &::before, &::after
                top: 50% !important
        &:hover
            &::before, &::after
                background-color: $text_yellow
        &::before, &::after
            content: ''
            display: inline-block
            position: absolute
            width: 10px
            height: 2px
            top: 40%
            left: 0
            transform: translate(0, -50%)
            background-color: #9fa3af
        &::before
            transform: translate(0, 140%) rotate(45deg)
        &::after
            transform: translate(0, -140%) rotate(-45deg)
    &__controls
        display: flex
        width: 100%
        justify-content: center
        align-items: center
        margin-top: 20px
    &__swiper
        margin-top: 30px
        overflow: hidden
        margin-bottom: 50px
    &__slide
        padding: 25px 20px
        background-color: #fff
        border: 1px solid #e8e8e8
        border-radius: 2px
        min-height: 270px
    &__pagination
        display: flex
        align-items: center
        margin: 0px 10px
        .swiper-pagination-bullet + .swiper-pagination-bullet
            margin-left: 10px
        .swiper-pagination-bullet
            background-color: #9fa3af
            height: 12px
            width: 12px
            opacity: 1
        .swiper-pagination-bullet-active
            background-color: $text_yellow
            height: 12px
            width: 12px
    &__head
        display: flex
        align-items: center
    &__img
        width: 70px
        height: 70px
        object-fit: contain
    &__text
        font-size: 17px
        display: inline-block
        margin-top: 15px
        & + &
            display: block
            margin-top: 5px
            font-weight: bold
    &__title
        text-transform: uppercase
        font-weight: bold
        letter-spacing: 1.22px
        margin-left: 15px