@media screen and ( max-width: 1060px )
    .header
        &__burger
            display: inline-block
    
@media screen and ( max-width: 1000px )
    .contacts
        &__cards
            flex-wrap: wrap
            justify-content: space-around
        &__card
            margin: 10px !important
            &-logo
                margin-top: 40px

    .service
        max-width: none
    
    .footer
        &__head
            flex-direction: column-reverse
            padding: 40px 0px
            &>*
                margin-bottom: 20px
            p
                text-align: center
        &__bottom
            padding: 30px 0px

@media screen and ( max-width: 920px )
    .section
        &__header
            font-size: 44px
            &_appeal
                &::after
                    display: none
    .faqs
        &__pipes
            display: none
    .faq
        &__link
            font-size: 14px
            padding: 30px 0px

    .services
        padding: 60px 0px

@media screen and ( max-width: 750px )
    .section
        &__header
            font-size: 34px
        &__subheader
            &_specter
                margin-top: 0
                margin-left: 30px
    
    .banner
        &__bg
            width: 100vw

    .services
        &__swiper
            padding: 20px 10px

    .docs
        padding: 60px 0px
        &__small
            font-size: 14px

    .header
        &__logo
            max-width: 200px
            margin-right: 10px
        &__slogan
            font-size: 10px

    .specter
        padding-top: 170px
        padding-bottom: 90px

    .faq
        &__link
            padding: 40px 0px

    .faqs
        padding: 50px 0px
        &__col
            & + &
                margin-top: 20px
                margin-left: 0
        &__wrap
            flex-direction: column

    .help
        padding: 60px 0px
        &__wrap
            flex-direction: column
        &__side
            & + &
                margin-top: 30px
        h2
            text-align: center

    .advantages
        &__standart
            flex-direction: column-reverse
            margin-top: 60px
        &__side
            & + &
                margin-left: 0
            &:first-child
                margin-top: 30px
        &__link-wrap
            display: flex
            justify-content: center
        &__img
            max-width: 100%
        &__subtitle
            font-size: 14px
            margin-top: 20px
        &__item
            margin-top: 20px
        &__benefits
            grid-template-columns: 1fr
        &__benefit
            &::before
                margin-right: 10px

    .portfolio
        &__head
            flex-direction: column
            align-items: flex-start
            .button_orange
                width: auto
                padding: 20px
        &__projects
            grid-template-columns: repeat(2, 1fr)
        &__title
            font-size: 16px
        &__body
            padding: 15px 20px
        .container
            transform: translateY(100px)

    .form
        &__row
            flex-direction: column
        &__label
            & + &
                margin-top: 20px
            flex-basis: auto
            width: 100%
        &__input
            max-width: none
            &-wrap
                max-width: none

    .button
        &_orange
            margin-top: 20px

@media screen and ( max-width: 680px )
    .section
        &__subheader
            &_specter
                margin: 30px 0 0

    .faq
        height: 60px
        &__link
            padding: 15px 0px
        &__answer
            margin-top: 10px
        &::after
            top: 30px

    .specter
        &__header
            flex-direction: column
            align-items: flex-start
        &__item
            padding: 60px 20px 20px

    .appeal
        padding-bottom: 60px
        &__wrap
            flex-direction: column-reverse
        &__side
            & + &
                margin-left: 0
            &:first-child
                margin-top: 30px

@media screen and ( max-width: 580px )
    .portfolio
        &__projects
            grid-template-columns: repeat(1, 1fr)

@media screen and ( max-width: 440px )
    .section
        &__header
            font-size: 28px
            &_advantages, &_appeal
                &::after
                    display: none

    .banner
        &__inputs
            flex-direction: column
            input
                text-align: center
                padding: 20px
            .button_recall
                margin-left: 0
                padding: 20px
                margin-top: 15px
                text-align: center

    .header
        padding: 10px 0px
        &__slogan
            display: none
        &__logo
            max-width: 170px

    .form
        &__span
            font-size: 14px
        &__input
            font-size: 14px
            &-wrap
                padding: 20px 10px

    .faq
        &__link
            padding: 10px 0px

    .subslider
        &__container
            padding: 10px
    