$soft_blue: #36c6ff
$text_dark: #333333
$text_light: #999999
$button_orange: #ff9a2e
$bg_grey: #efefef

*
    font-family: "Cera Pro", sans-serif

*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: border-box
    border: none
    border-radius: 0px
    transition: all .2s ease-in-out 0s

html, body
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    min-height: 100vh

.container
    max-width: 1170px
    margin: 0 auto
    padding: 0px 15px

.header
    flex-grow: 0
    background-color: #fff
    padding: 25px 0px
    z-index: 1000
    position: relative
    &.fixed
        position: fixed
        width: 100%
        top: 0
        left: 0
        padding: 10px 0px
        border-bottom: 1px solid $bg_grey
    &__wrap
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
        max-width: 255px
        height: auto
        object-fit: contain
        margin-right: 25px
        &-wrap
            display: flex
            align-items: center
    &__burger
        display: none
        background-color: #fff
        height: 40px
        width: 40px
        box-shadow: 0 0 0 1px $soft_blue
        border-radius: 4px
        position: relative
        cursor: pointer
        span, &::before, &::after
            content: ''
            position: absolute
            display: inline-block
            background-color: $soft_blue
            width: 23px
            height: 2px
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            transform-origin: left
        span
            transform: translate(-50%, -50%)
        &::before
            top: 30%
            transform: translate(-50%, -50%)
        &::after
            top: 70%
            transform: translate(-50%, -50%)
        &:focus
            outline: none
        &:hover, &.active
            box-shadow: 0 0 0 1px $button_orange
            span, &::before, &::after
                background-color: $button_orange
            span
                transform: translate(-50%, -50%) scaleX(.8)
            &::before
                top: 30%
                transform: translate(-50%, -50%) scaleX(1)
            &::after
                top: 70%
                transform: translate(-50%, -50%) scaleX(.6)
    &__slogan
        font-size: 11px
        font-weight: normal
        color: $text_light
        text-transform: uppercase
        display: inline-block
        max-width: 120px
        line-height: 20px
    &__email
        font-size: 16px
        font-weight: bold
        text-decoration: none
        position: relative
        display: inline-block
        color: $text_dark
        letter-spacing: 1.1px
        &::before
            content: ''
            display: inline-block
            background-image: url(../img/plane-mail.png)
            position: absolute
            background-size: 16px 16px
            height: 16px
            width: 16px
            top: 50%
            left: 0
            transform: translate(-150%, -30%)
        &::after
            content: ''
            display: inline-block
            height: 1px
            width: 162px
            position: absolute
            bottom: -3px
            left: 0
            background-color: $soft_blue
            transform-origin: left
        &:hover
            &::after
                transform: scaleX(0.5)
    &__contacts
        display: flex
        flex-direction: column
    &__tel
        text-decoration: none
        font-weight: bold
        letter-spacing: .15em
        color: $text_dark
        display: inline-block
        position: relative
        &::before
            content: ''
            display: inline-block
            position: absolute
            top: 50%
            left: 0
            transform: translate(-170%, -30%)
            height: 13px
            width: 13px
            background-size: cover
            background-repeat: no-repeat
            background-image: url(../img/phone.png)
    &__time
        &:nth-of-type(1)
            margin-top: 5px
        display: inline-block
        color: $text_light
        font-size: 10px
        text-transform: uppercase

.nav
    flex-grow: 0
    border-top: 1px solid #f0f0f0
    background-color: #fff
    &__list
        display: flex
        justify-content: space-between
        align-items: center
        list-style-type: none
    &__item
    &__separator
        &::before
            font-size: 12px
            content: '/'
            display: inline-block
            color: $soft_blue
    &__link
        text-decoration: none
        display: inline-block
        text-transform: uppercase
        position: relative
        color: $text_dark
        padding: 20px 0px
        &::after
            display: inline-block
            position: absolute
            left: 0
            bottom: 15px
            content: ''
            width: 100%
            height: 2px
            background-color: $soft_blue
            transform-origin: left
            transform: scaleX(0)
        &:hover
            &::after
                transform: scaleX(1)

.mobile-menu
    position: fixed
    padding: 100px 20px 10px
    z-index: 100
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow-y: auto
    background-color: #fff
    transform: translateY(-100%)
    &__wrapper
        margin-top: 10px
        display: flex
        justify-content: space-around
        align-items: center
        flex-wrap: wrap
        &>*
            margin: 20px 10px 0px
    &.active
        transform: translateY(0%)
    .nav
        border: none
        &__list
            flex-direction: column
        &__link
            padding: 10px 0px

.section
    &__header
        font-size: 54px
        font-weight: bold
        color: $text_dark
        position: relative
        &_appeal
            &::after
                content: ''
                display: inline-block
                height: 190px
                width: 270px
                background-image: url(../img/quote.png)
                background-size: contain
                background-repeat: no-repeat
                position: absolute
                right: 10%
                top: -25%
                z-index: -1
        &_advantages
            max-width: 620px
            &::after
                content: ''
                z-index: -1
                display: inline-block
                height: 190px
                width: 270px
                background-image: url(../img/hat.png)
                background-size: contain
                background-repeat: no-repeat
                position: absolute
                right: -70%
                top: -15%
        &_portfolio
            max-width: 750px
        &_specter
            max-width: 380px
    &__subheader
        margin-top: 35px
        font-size: 14px
        color: $text_light
        &_contacts
            font-size: 16px
            font-weight: 300
            max-width: 600px
        &_docs
            max-width: 660px
        &_specter
            display: inline-block
            max-width: 460px
            margin-left: 80px
            margin-right: auto

.main
    flex-grow: 1

.banner
    position: relative
    &__rings
        position: absolute
        right: 100px
        bottom: 80px
        z-index: -1
    &__slider
        z-index: -1
        position: absolute
        height: 100%
        width: 100%
        img
            height: 100%
            width: 100%
            object-fit: cover
    &__bg
        position: absolute
        width: 55vw
        height: 100%
        background-color: rgba(0, 0, 0, .5)
    &__wrap
        padding: 80px 0px 120px
        z-index: 2
        position: relative
    &__body
        max-width: 610px
    &__benefits
        display: flex
        align-items: center
        margin-top: 30px
    &__benefit
        &-img
            vertical-align: middle
            margin-right: 15px
            height: 45px
            width: 45px
            object-fit: contain
        &-span
            display: inline-block
            max-width: 130px
            font-size: 12px
            text-transform: uppercase
            vertical-align: middle
    &__recall
        margin-top: 80px
    &__inputs
        display: flex
        align-items: stretch
        max-width: 490px
        &>*
            flex-basis: 50%
        input
            padding: 20px 0px 20px 30px
            border-radius: 3px
            font-size: 16px
            background-color: rgba(255, 255, 255, .7)
    &__label
        margin-top: 10px
        display: inline-block
        span
            font-size: 12px
            text-transform: uppercase

.subslider
    padding-top: 60px
    background-color: #fff
    position: relative
    &__container
        overflow: hidden
        padding: 30px
    &__wrapper
        position: relative
        .swiper-slide
            display: flex
            justify-content: center
    &__counter
        position: absolute
        left: 50%
        top: 0
        transform: translate(-50%, -50%)
        width: 35px
        height: 35px
        border-radius: 50%
        background-color: #fff
        span
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            font-size: 12px
            line-height: 35px
            display: inline-block
            text-align: center
        &::before, &::after
            content: ''
            display: inline-block
            width: 15px
            height: 15px
            position: absolute
            background-image: url(../img/dot.png)
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            top: 50%
            transform: translateY(-50%)
        &::before
            left: -50px
        &::after
            right: -50px
            
    &__item
        max-width: 165px
        position: relative
        width: 100%
        &::after
            opacity: 0
            content: ''
            display: inline-block
            position: absolute
            width: 100%
            left: 0
            top: 161px
            height: 4px
            background-color: $soft_blue
    .swiper-slide-active
        .subslider__item
            .subslider
                &__img
                    transform: translateY(-10px)
                &__title, &__span
                    color: $soft_blue
            &::after
                opacity: 1
                transform: translateY(-10px)
            
        &:hover
            cursor: pointer    
    &__img
        height: 165px
        width: 100%
        object-fit: cover
        position: relative
        box-shadow: 0 13px 15px rgba(0, 0, 0, .25)
    &__title
        margin-top: 15px
        font-size: 13px
        font-weight: bold
        text-transform: uppercase
    &__span
        margin-top: 10px
        display: inline-block
        font-size: 13px
        font-weight: 300
        color: $text_light
    &__pagination
        margin-top: 30px
    &_prev
        left: 0
        transform: translate(-50px, -50%)
    &_next
        right: 0
        transform: translate(50px, -50%) rotate(180deg)

.swiper
    &__control
        position: absolute
        top: 40%
        display: inline-block
        height: 30px
        width: 30px
        background-image: url(../img/slider-arrow.png)
        background-size: 23px 15px
        background-repeat: no-repeat
        background-position: center center
        &:hover
            background-size: 26px 18px
        &:focus
            outline: none
    &__pagination
        height: 3px
        display: flex
        justify-content: center
        width: 100%
        .swiper-pagination
            border-radius: 3px
            width: 100%
            max-width: 610px
            height: 3px
            background-color: #d9d9d9
            span
                background-color: $soft_blue

.advantages
    margin-top: 50px
    padding-bottom: 100px
    &__wrap
        max-height: 465px
        overflow: hidden
        &.slide
            max-height: none
            overflow: visible
            & + .advantages__link-wrap
                .advantages__link::after
                    transform: rotate(270deg)
                    top: -1px
    &__benefits
        margin-top: 75px
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-column-gap: 130px
        grid-row-gap: 65px
    &__benefit
        display: flex
        position: relative
        &-img
            margin-right: 30px
            max-width: 50px
            width: 100%
            height: auto
            object-fit: contain
        &-title
            font-weight: bold
            letter-spacing: 0.2em
            text-transform: uppercase
            color: $text_dark
        &-caption
            font-weight: 300
            font-size: 16px
            color: $text_light
            line-height: 24px
        &::before
            content: ''
            display: inline-block
            margin-right: 30px
            max-width: 50px
            width: 100%
            height: 50px
            background-size: contain
            background-repeat: no-repeat
            transform: translateY(-10px)
        &:nth-child(1)
            &::before
                background-image: url(../img/advantage1.png)
        &:nth-child(2)
            &::before
                background-image: url(../img/advantage2.png)
        &:nth-child(3)
            &::before
                background-image: url(../img/advantage3.png)
        &:nth-child(4)
            &::before
                background-image: url(../img/advantage4.png)
    &__side
        & + &
            margin-left: 30px
        &:first-of-type
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
    &__logo
        margin-top: 35px
        max-width: 160px
    &__standart
        margin-top: 110px
        display: flex
        justify-content: space-between
        position: relative
        &_rings
            z-index: -1
            position: absolute
            top: -90%
            right: -20%
    &__subtitle
        text-transform: uppercase
        letter-spacing: .2em
        color: $text_light
        display: inline-block
        max-width: 640px
        margin-top: 40px
    &__list
        padding-left: 20px
        max-width: 660px
    &__item
        font-weight: 300
        line-height: 24px
        color: $text_light
        margin-top: 40px
        position: relative
        list-style-type: none
        &::before
            content: ''
            display: inline-block
            position: absolute
            top: 10px
            left: -20px
            height: 7px
            width: 7px
            border-radius: 50%
            background-color: $button_orange
        .text_bold
            color: $text_dark
    &__link
        margin-top: 30px
        display: inline-block
        font-size: 14px
        text-decoration: none
        color: $button_orange
        text-transform: uppercase
        letter-spacing: .1em
        position: relative
        &::after
            content: '>'
            display: inline-block
            position: absolute
            height: 15px
            width: 15px
            line-height: 15px
            vertical-align: middle
            top: 5px
            right: -20px
            font-size: 15px
            transform: rotate(90deg)

.services
    padding: 120px 0px
    background-color: $bg_grey
    &_prev
        top: 32%
        left: -60px
        transform: translate(-100%, 0%)
    &_next
        top: 32%
        right: -60px
        transform: translate(100%, 0%) rotate(180deg)
    &__container
        margin-top: 40px
        position: relative
    &__swiper
        overflow: hidden
        padding: 30px 20px
    &__pagination
        margin-top: 10px
        display: flex
        justify-content: center
        align-items: center
    &__flexbox
        display: flex
        justify-content: center
        align-items: center
        margin-top: 40px
        margin-bottom: 20px
    &__arrow
        display: inline-block
        height: 30px
        width: 30px
        background-image: url(../img/slider-arrow.png)
        background-size: 23px 15px
        background-repeat: no-repeat
        background-position: center center
        transform: rotate(-90deg)

.service
    max-width: 355px
    box-shadow: 0 10px 20px 2px rgba(0, 0, 0, .1)
    transition: all ease-out .2s 0s
    &:hover
        box-shadow: 0 10px 12px 2px rgba(0, 0, 0, .2)
    &__img
        height: 265px
        width: 100%
        object-fit: cover
    &__body
        padding: 35px
        background-color: #fff
    &__title
        font-size: 16px
        color: $text_dark
    &__text
        font-size: 14px
        font-weight: 300
        line-height: 20px
        color: $text_light
        margin-top: 30px

.calculate
    &__form
        margin-top: 50px

.form
    &__row
        display: flex
        align-items: center
        justify-content: space-between
        & + &
            margin-top: 25px
        &_nomt
            margin-top: 0 !important
    &__label
        flex-basis: 32%
        &_textarea
            flex-basis: 65.5%
            .form__input-wrap
                max-width: none
                padding: 0
    &__col
        flex-basis: 32%
        height: 100%
        display: flex
        flex-direction: column
        align-items: stretch
        .button_orange 
            margin-top: 18px
    &__span
        display: block
        font-weight: 300
        color: $text_dark
        margin-bottom: 15px
    &__input
        appearance: none
        font-size: 16px
        font-weight: 800
        display: inline-block
        box-sizing: border-box
        width: 100%
        padding: 30px 20px
        color: $text_dark
        &_select
            position: relative
            cursor: pointer
            select
                cursor: pointer
                &:focus
                    outline: none
            a
                // content: ''
                pointer-events: none
                display: inline-block
                height: 12px
                width: 12px
                background-image: url(../img/faq-arrow.png)
                background-repeat: no-repeat
                background-size: contain
                background-position: center
                position: absolute
                right: 20px
                top: 50%
                transform: translate(0, -50%)
        &_textarea
            max-width: none
            padding: 30px 20px
        &-wrap 
            background-color: #fff
            max-width: 360px
            width: 100%
            border-radius: 3px
            display: inline-block
            box-shadow: 0 -2px 0 0 $button_orange

.fixed-link
    display: inline-block
    width: 50px
    height: 50px
    border-radius: 4px
    background-color: transparent
    box-shadow: 0 0 0 2px $soft_blue
    position: fixed
    opacity: 0
    visibility: hidden
    transform: translateY(-10px)
    bottom: 50px
    right: 5%
    &::before, &::after
        content: ''
        display: inline-block
        width: 25px
        position: absolute
        top: 50%
        left: 27%
        height: 2px
        background-color: $soft_blue
        border-radius: 2px
    &::before
        transform: translate(33%, -50%) rotate(45deg)
    &::after
        transform: translate(-33%, -50%) rotate(-45deg)
    &:hover
        box-shadow: 0 0 0 2px $button_orange
        &::before, &::after
            background-color: $button_orange
    &.active
        visibility: visible
        opacity: 1
        transform: translateY(0px)

.docs
    padding: 130px 0px 90px
    position: relative
    overflow: hidden
    &__bg
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        object-fit: cover
        z-index: -1
    &__wrap
        display: flex
        align-items: center
        flex-direction: column
    &__container
        margin-top: 40px
        position: relative
        max-width: 100%
    &__swiper
        overflow: hidden
    &__small
        max-width: 730px
        margin-top: 40px
        line-height: 24px
    &__img
        width: 100%
        max-height: 480px
    &__pagination
        margin-top: 30px
    &_prev
        top: 45%
        transform: translate(-60px, -50%)
    &_next
        top: 45%
        right: 0
        transform: translate(60px, -50%) rotate(180deg)

.partners
    background-color: #fff
    padding: 30px 0px
    &__wrap
        display: flex
        justify-content: space-between
        align-items: center
        overflow: hidden
    &__img
        max-width: 110px
        height: auto
        object-fit: contain

.appeal
    margin-top: 60px
    padding-bottom: 100px
    position: relative
    &__rings
        z-index: -1
        position: absolute
        top: 0
        right: -20%
    &__text
        font-size: 16px
        font-weight: 300
        color: $text_light
        line-height: 24px
        margin-top: 1em
    &__link
        color: $soft_blue
    &__span
        display: block
    &__position
        margin-top: 70px
        position: relative
        max-width: 400px
        &::after
            display: inline-block
            content: ''
            height: 60px
            width: 90px
            background-image: url(../img/rospis.png)
            background-size: contain
            background-repeat: no-repeat
            position: absolute
            top: 0
            right: 0
            transform: translateX(100%)
    &__wrap
        display: flex
        justify-content: space-between
    &__side
        & + &
            margin-left: 30px
        &:first-child
            display: flex
            flex-direction: column
            align-items: center
    &__side
        max-width: 690px

.portfolio
    background-color: $bg_grey
    .container
        transform: translateY(180px)
    &__head
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__projects
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 25px
        margin-top: 50px
    &__body
        padding: 25px 30px
        background-color: #fff
        height: 100%
    &__item
        overflow: hidden
        border-radius: 3px
        border: 1px solid #dbdbdb
        &:hover
            box-shadow: 0 10px 20px 2px rgba(0, 0, 0, .1)
    &__img
        width: 100%
        height: auto
        object-fit: cover
    &__title
        text-transform: uppercase
        font-weight: bold
        color: $text_dark
    &__city
        font-size: 14px
        font-weight: 300
        color: $text_light
    &__flexbox
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        margin-top: 35px
    &__link
        text-decoration: none
        color: $button_orange
        text-transform: uppercase
        font-size: 14px
        font-weight: bold
        letter-spacing: .2em
        display: inline-block
        position: relative
        &::after
            content: '>'
            display: inline-block
            position: absolute
            top: 1px
            right: -20px
            transform: rotate(90deg)
    &__wrapper
        max-height: 800px
        overflow: hidden
        &.slide
            max-height: none
            overflow: visible

.specter
    padding-top: 300px
    padding-bottom: 180px
    &__header
        display: flex
        align-items: center
        justify-content: space-between
    &__wrap
        margin-top: 80px
        position: relative
    &__swiper
        overflow: hidden
        padding: 30px 10px
        .swiper-wrapper
            align-items: stretch
    &__item
        position: relative
        height: 140px
        padding: 50px 40px 40px
        border-radius: 3px
        border: 2px solid $text_dark
        &::before
            display: inline-block
            position: absolute
            content: ''
            height: 85px
            width: 85px
            background-color: #fff
            z-index: 1
            left: 50%
            top: 0
            transform: translate(-50%, -50%)
    &__img
        left: 50%
        top: 0
        object-fit: contain
        max-width: 100%
        height: auto
        z-index: 2
        position: absolute
        transform: translate(-50%, -50%)
    &__text
        display: inline-block
        width: 100%
    &__pagination
        margin-top: 10px
    &_prev
        transform: translateX(-60px)
    &_next
        right: 0
        transform: translateX(60px) rotate(180deg)

.faqs
    background-color: $bg_grey
    padding: 100px 0px
    position: relative
    &__pipes
        position: absolute
        right: 340px
        top: -80px
    &__rings
        z-index: -1
        position: absolute
        top: -50%
        right: 0%
    &__wrap
        margin-top: 50px
        display: flex
    &__col
        & + &
            margin-left: 20px

.faq
    padding: 0px 40px 0px 60px
    border-radius: 5px
    box-shadow: 0 0 0 2px $text_dark
    background-color: #fff
    position: relative
    max-height: 100px
    transition: all .2s ease-out 0s
    overflow: hidden
    & + &
        margin-top: 20px
    &:hover
        cursor: pointer
        box-shadow: 0 0 0 2px $button_orange
    &.active
        transition: all .2s ease-out 0s
        max-height: none
        height: auto
        box-shadow: 0 0 0 2px $button_orange
        &::after
            transform: translate(0, -50%) rotate(-180deg)
        .faq
            &__answer
                transition: all .2s ease-out 0s 
                padding-bottom: 40px
    &::after
        content: ''
        display: inline-block
        height: 12px
        width: 12px
        background-image: url(../img/faq-arrow.png)
        background-repeat: no-repeat
        background-size: contain
        background-position: center
        position: absolute
        right: 20px
        top: 50px 
        transform: translate(0, -50%)
    &__link
        position: relative
        max-width: 390px
        display: inline-block
        text-decoration: none
        padding: 40px 0px
        user-select: none
        &::before
            content: '?'
            display: inline-block
            width: 20px
            height: 20px
            background-color: $button_orange
            border-radius: 3px
            text-align: center
            line-height: 20px
            color: #ffffff
            font-weight: bold
            position: absolute
            left: -30px

.help
    background-color: $button_orange
    padding: 100px 0px
    position: relative
    &__rings
        position: absolute
        top: -60%
        right: 0
        z-index: -1
    &__wrap
        display: flex
        justify-content: space-between
        align-items: center
    .banner__recall
        margin: 0
    .button_recall
        background-color: #000000
        padding-right: 10px
        &:hover
            background-color: $soft_blue
            color: #fff

.slider
    position: relative
    &__img
        width: 100%
        height: 100%
        object-fit: cover
    &__pagination
        margin-top: 40px
    &_prev
        z-index: 2
        left: 20%
        background-image: url(../img/slider-arrow-w.png)
        transform: translateX(-220%)
    &_next
        z-index: 2
        right: 20%
        background-image: url(../img/slider-arrow-w.png)
        transform: translateX(220%) rotate(180deg)
    .swiper-wrapper, .swiper-slide
        height: 100%
        height: 290px
    .swiper-slide
        overflow: hidden
        background-color: black
        .slider__img
            opacity: .7
        &-prev, &-next, &-active
            .slider__img
                opacity: 1

.contacts
    padding-top: 60px
    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 50px
    &__grey
        background-color: $bg_grey
    &__cards
        padding: 90px 0px 100px
        display: flex
        justify-content: space-between
        align-items: stretch
    &__card
        & + &
            margin-left: 20px
        display: flex
        flex-direction: column
        flex-basis: 32%
        align-items: center
        padding: 50px 30px
        background-color: #fff
        box-shadow: 0 0 50px 6px rgba(0, 0, 0, .1)
        &-title
            font-weight: bold
            font-size: 12px
            color: $text_light
            text-transform: uppercase
            margin-bottom: 20px
        &-address
            max-width: 230px
            text-align: center
        &-tel
            & + &
                margin-top: 5px
            display: inline-block
            text-decoration: none
            white-space: nowrap
            color: $text_dark
            font-weight: bold
            font-size: 22px
        &-time
            font-family: "SFPro Display", "Cera Pro", sans-serif
            font-weight: 300
        &-logo
            margin-top: auto

.map
    position: relative
    width: 100%
    height: auto
    object-fit: cover
    // padding-bottom: 30%
    // background-image: url(../img/map.jpg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.footer
    flex-grow: 0
    &__head
        padding: 70px 0px
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
    &__text
        p
            font-size: 14px
    &__bottom
        padding: 40px 0px 50px
        display: flex
        justify-content: center
        border-top: 1px solid #dddddd
    &__copyright
        font-size: 14px
        font-weight: 300
        font-family: "SFPro Display", "Cera Pro", sans-serif
        color: $text_light
        text-align: center
        max-width: 590px
        line-height: 22px

.text
    &_bold
        font-weight: bold
    &_thin
        font-weight: 300
    &_dark
        color: $text_dark
    &_light
        color: $text_light
    &_tac
        text-align: center
    &_ttu
        text-transform: uppercase
    &_orange
        color: $button_orange
    &_white
        color: #fff

.button
    text-transform: uppercase
    font-size: 14px
    appearance: none
    display: inline-block
    text-decoration: none
    &:hover
        cursor: pointer
    &_recall
        background-color: $button_orange
        padding-left: 30px
        color: #ffffff
        font-size: 14px
        font-weight: bold
        text-align: left
        border-radius: 3px
        margin-left: -3px
        &:hover
            color: $text_dark
    &_orange
        padding: 25px 0px
        width: 100%
        flex-basis: 32%
        background-color: $button_orange
        color: #ffffff
        text-transform: uppercase
        font-size: 14px
        line-height: 16px
        text-align: center
        font-weight: bold
        border-radius: 3px
        margin-top: -30px
        box-shadow: 0 8px 20px 0px $button_orange
        &:hover
            transform: scale(1.02)
            box-shadow: 0 8px 20px 3px $button_orange
    &_contacts
        font-size: 14px
        font-weight: 300
        color: #ffffff
        background-color: $button_orange
        border-radius: 30px
        padding: 10px 25px
        text-transform: none
        margin: 15px 0px 25px
        &:hover
            transform: scale(1.02)
    &_header
        color: $soft_blue
        box-shadow: 0 0 0 2px $soft_blue
        border-radius: 3px
        background-color: #fff
        padding: 10px
        width: 100%
        max-width: 200px
        text-align: center
        &:hover
            color: #fff
            box-shadow: 0 0 0 2px $soft_blue, 0 8px 13px $soft_blue
            background-color: $soft_blue

.popup
    .calculate__form
        margin-top: 0
    &__wrapper
        padding: 10px
        position: fixed
        height: 100vh
        width: 100%
        background-color: rgba(0, 0, 0, .4)
        justify-content: center
        align-items: center
        opacity: 0
        visibility: hidden
        display: flex
        z-index: 1010
        &.active
            opacity: 1
            visibility: visible
    &__close
        display: inline-block
        height: 40px
        width: 40px
        position: absolute
        right: 10px
        top: 10px
        border-radius: 4px
        cursor: pointer
        &::after, &::before
            display: inline-block
            position: absolute
            top: 50%
            left: 50%
            width: 25px
            height: 1px
            content: ''
            background-color: $text_dark
        &::after
            transform: translate(-50%, -50%) rotate(45deg)
        &::before
            transform: translate(-50%, -50%) rotate(-45deg)
        &:hover
            &::after, &::before
                width: 27px
            
    &_sucsess
        .popup
            transform: translateY(-20px)
            &.active
                transform: translateY(0px)   
    &_recall
        .popup
            transform: translateY(-50px)
            &.active
                transform: translateY(0px)
    &_calculate
        .popup
            transform: translateY(-50px)
            &.active
                transform: translateY(0px)
    &__body
        max-width: 900px
        border-radius: 4px
        background-color: $bg_grey
        padding: 40px 60px
        position: relative
        form
            display: flex
            flex-direction: column
            align-items: stretch
        .button_orange
            margin-top: 0
        .section__header
            font-size: 48px
        .form
            &__label
                flex-basis: auto
                width: 100%
            &__input
                max-width: none
                &-wrap
                    max-width: none
            &__row
                margin-top: 15px
                display: flex
                justify-content: center !important
