$text-black: #001A49
$search-ico-color: #BD0CFF

$light-pink: #fcf3ff

$transition: all .3s ease-out 0s

input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
    display: none
    width: 0
    height: 0

*, *::before, *::after
    margin: 0
    padding: 0
    text-decoration: none
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    border-radius: 0px
    color: $text-black

html, body
    overflow-x: hidden

body
    min-height: 100vh
    display: flex
    flex-direction: column

.body-bg
    background-color: #fafeff

section
    position: relative

.header, .footer
    flex-grow: 0

.main
    flex-grow: 1
    margin-top: 88px

.container
    max-width: 1150px
    padding: 0px 15px
    width: 100%
    margin: 0 auto
    position: relative
    z-index: 2

.button
    display: inline-block
    background-color: transparent
    border: none
    position: relative
    cursor: pointer
    text-decoration: none
    text-align: center
    user-select: none
    color: $text-black
    font-weight: 700
    overflow-anchor: none
    vertical-align: middle
    white-space: nowrap
    transition: $transition
    color: #ffffff
    &_pink
        background-color: #EA0774
        &:hover
            background-color: #f3288a
    &_blue
        background-color: #1AB7F1
        &:hover
            background-color: #49c3f0
    &:focus
        outline: none

.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 5
    background-color: #fff
    transition: $transition
    padding-top: 40px
    &__wrap
        display: flex
        align-items: center
        justify-content: space-between
    &.fixed
        box-shadow: 0 0 15px 3px rgba(0, 0, 0, .1)

.logo
    display: block
    max-width: 190px
    width: 100%
    height: auto
    &__img
        max-width: 100%
        width: 100%
        height: 100%

.nav
    width: 100%
    max-width: 210px
    margin-left: 60px
    &__list
        display: flex
        align-items: center
        width: 100%
        justify-content: space-between
        list-style-type: none
    &__divide
        display: inline-block
        width: 1px
        height: 50px
        background-color: $text-black
        position: relative
        opacity: .5
        display: none
    &__link
        opacity: 0.5
        font-weight: bold
        font-size: 16px
        transition: $transition
        &.active, &:hover
            opacity: 1
        & + &
            margin-left: 20px

.search
    margin-left: 55px
    width: 100%
    max-width: 450px
    display: flex
    align-items: flex-end
    position: relative
    &::before, &::after
        content: ''
        display: inline-block
        position: absolute
        width: 100%
        height: 1px
        bottom: 0
        left: 0        
        transform-origin: left
        transition: $transition
    &::before
        background-color: #EFD4FE
    &::after
        z-index: 2
        background-color: $search-ico-color
        transform: scaleX(0)
    &__input
        width: 100%
        background-color: transparent
        border: none
        display: block
        padding: 0px 5px 5px
        font-size: 16px
        &:focus
            outline: none
    &__button
        margin-bottom: 5px
        svg
            fill: none
            stroke: $search-ico-color
    &.focus
        &::after
            transform: scaleX(1)

.telegram
    margin-left: 30px
    max-width: 124px
    width: 100%
    height: auto
    &_footer
        margin: 0px 0px 15px
    &__img
        width: 100%
        height: 100%

.filter
    margin-top: 59px
    position: relative
    &.active
        z-index: 3
    &__body
        border-radius: 20px
        background-color: #E8F8FE
        padding: 0px 75px
        flex: 1 0 100%
        transition: $transition
        max-height: 0px
        display: grid
        grid-template-columns: repeat(4, 1fr)
        column-gap: 130px
        row-gap: 40px
        overflow: hidden
        &.active
            overflow: visible
            margin-top: 15px
            max-height: none
            padding: 45px 75px
            margin-bottom: 10px
    &__wrap
        display: flex
        flex-wrap: wrap
        justify-content: flex-end
    &__item
        position: relative
        display: flex
        justify-content: flex-end
        &-list
            background-color: $light-pink
            list-style-type: none
            position: absolute
            width: 100%
            top: calc( 100% + 5px )
            right: -5px
            border-radius: 10px
            overflow: hidden
            box-shadow: 0 3px 13px 2px #f5e3fc
            visibility: hidden
            opacity: 0
            transform: translateY(-20px)
            transition: $transition
            z-index: 2
            &.active
                visibility: visible
                opacity: 1
                transform: translateY(0px)
        &-value
            padding: 5px 10px
            cursor: pointer
            user-select: none
            &:hover, &.active
                background-color: #f5e3fc
            & + &
                border-top: 1px solid #f5e3fc
        select
            display: none
    &__button
        padding: 17px 62px
    &__trigger
        color: $text-black
        font-size: 14px
        font-weight: 400
        &.active svg
            transform: translate(-50%, -50%) rotate(-90deg)
        &-icon
            margin-left: 10px
            vertical-align: middle
            display: inline-block
            height: 26px
            width: 26px
            border-radius: 50%
            background: linear-gradient(35.71deg, rgba(26, 183, 241, .2) 9.11%, rgba(205, 16, 255, .2) 71.64%)
            position: relative
            svg
                transition: $transition
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%) rotate(90deg)
                stroke: $search-ico-color

.about
    margin: 40px 0px 75px
    &__wrap
        display: flex
    &__slider
        flex-basis: 44%
        min-width: 0
    &__main
        padding: 60px 0px 80px 50px
        position: relative
        z-index: 2
        flex-grow: 1
        &::before
            border-radius: 20px 0px 0px 20px
            z-index: -1
            content: ''
            display: block
            width: 770px
            height: 100%
            left: 0
            top: 0
            position: absolute
            background-color: $light-pink
    &__content
        max-width: 480px
    &__title
        font-size: 64px
        line-height: 100%
        font-weight: 700
        margin-bottom: 10px
    &__subtitle
        font-size: 20px
        line-height: 150%
    &__text
        margin-top: 1.6em
        line-height: 150%
        font-weight: 300
        &_medium
            font-weight: 500

.slider
    position: relative
    margin-top: -70px
    transition: $transition
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 45px
    &__title
        font-size: 24px
        line-height: 24px
        font-weight: 700
    &__controls
        user-select: none
        display: flex
        align-items: center
    &__control
        position: relative
        height: 25px
        width: 25px
        border-radius: 50%
        opacity: .6
        pointer-events: none
        & + &
            margin-left: 15px
        &:hover
            background-color: #fcf3ffc7
        &.active
            opacity: 1
            pointer-events: all
        &_prev
            transform: rotate(-180deg)
        svg
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            stroke: #000000
    &__body
        overflow: hidden
        .swiper-wrapper
            max-height: 520px
    &__item
        padding: 10px
        position: relative
        border-radius: 10px
        overflow: hidden
        display: flex
        align-items: flex-end
        height: 155px
        &::after
            position: absolute
            width: 100%
            height: 50%
            bottom: 0
            left: 0
            background-color: rgba(0, 0, 0, .1)
            content: ''
            z-index: -1
        &-content
            margin-left: 20px
            display: block
        &-name
            font-weight: 700
            font-size: 18px
            line-height: 18px
            color: #ffffff
            margin-bottom: 5px
        &-nickname
            line-height: 12px
            font-size: 12px
            color: #ffffff
            font-weight: 400
        &-ico
            height: 120px
            width: 120px
            border-radius: 100%
            display: block
            box-shadow: 0 0 0 2px #ffffff
            overflow: hidden
            flex-shrink: 0
            margin-bottom: 5px
            margin-left: 5px
            img
                width: 100%
                height: 100%
                object-fit: cover
        &-settings
            position: absolute
            top: 15px
            right: 10px
            height: 25px
            width: 25px
            z-index: 5
            border-radius: 50%
            &:hover
                background-color: rgba(0, 0, 0, .1)
            svg
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                fill: #fff
        &_free::before
            content: 'Free'
            font-size: 12px
            position: absolute
            top: 5px
            left: 10px
            display: inline-block
            padding: 10px 8px
            background-color: rgba(0, 0, 0, .2)
            z-index: 5
            border-radius: 7px
            font-weight: 500
            color: #ffffff
    &__bg
        z-index: -1
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
    &.slide
        margin-top: -10px

.prices
    padding-bottom: 60px
    &__wrap
        flex-wrap: wrap
        display: flex
        align-items: stretch
        justify-content: space-around

.tariff
    flex-basis: 20.5%
    box-shadow: 0px 4px 4px rgba(152, 149, 149, 0.25)
    background-color: #fff
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 28px
    &__head
        display: flex
        justify-content: center
        width: 100%
        margin-bottom: 10px
        align-items: center
        .button
            display: none
    &__name
        font-weight: 700
        text-align: center
        font-size: 36px
        text-transform: uppercase
    &__description
        font-size: 14px
        line-height: 16px
        font-weight: 600
        display: inline-block
        text-align: center
        margin-bottom: 25px
    &__list
        list-style-type: none
        margin-bottom: 50px
    &__item
        position: relative
        font-weight: 700
        font-size: 12px
        line-height: 12px
        &::before
            content: ''
            height: 10px
            width: 10px
            display: inline-block
            position: absolute
            top: 0.4em
            left: -8px
            transform: translate(-100%, -50%)
            border-radius: 50%
            background-color: #CBD5E0
        & + &
            margin-top: 15px
    &__button
        margin-top: auto
        font-weight: 700
        font-size: 16px
        width: 100%
        padding: 24px 0px 22px

.footer
    padding-bottom: 15px
    position: relative
    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 100%
    &__copyright
        font-weight: 300
        font-size: 14px
        opacity: .5
    &::after, .telegram_footer
        display: none
    &::after
        content: ''
        height: 9px
        width: 100%
        position: absolute
        bottom: 0
        left: 0
        background-color: #1976D2
