$maxWidth: 720

@mixin adaptiv-font($pcSize, $mobSize)
    $addSize: $pcSize - $mobSize
    $maxWidth: $maxWidth - 320
    transition-duration: 0s
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}))

    
$black: #0e0f0e
$main_yellow: #faf406

@media screen and ( max-width: 600px )
    
    .container
        padding: 0px 10px

    .menu
        top: 65px
        padding-top: 35px
        &__nav
            margin-bottom: 120px
        &__item
            & + &
                margin-top: 35px

    .header
        padding: 10px 0px
        &__logo
            &-img
                max-width: 30px
                height: auto
        &__back
            &::before
                height: 22px
                width: 18px
                margin-right: 3px
        &__pagename
            max-width: 140px
        &__menu
            height: 35px
            width: 35px
            span, &::before, &::after
                width: 32px
                height: 3px
            &.active
                &::after
                    bottom: 15px

    .progressbar
        padding: 10px

    .table
        &__head
            padding: 20px 0px
        &__row
            &_padding
                padding: 30px 0px
        &__col
            &-header
                line-height: 20px
            &-span, &-span-big, &-count
                line-height: 22px
        &__col:nth-child(1)
            max-width: 150px
        &__col:nth-child(2)
            max-width: 175px
        &__col:nth-child(3)
            max-width: 125px

    .message
        padding-bottom: 130px
        &__title
            margin: 60px 0px 30px
            &::before
                height: 40px
                width: 40px

    .button
        &__img
            max-width: 20px

    .footer
        padding: 0px 0px 20px 0px
        &__buttons
            padding: 0px 5px
        &__button
            padding: 5px
            min-width: 85px
            &-span

            &-img
                width: 30px
                height: 30px