@font-face
    font-family: 'AvenirNext'
    src: url(../fonts/AvenirNextCyr-Regular.woff) format('woff')
    font-display: swap
    font-style: normal
    font-weight: 400

@font-face
    font-family: 'AvenirNext'
    src: url(../fonts/AvenirNextCyr-Medium.woff) format('woff')
    font-display: swap
    font-style: normal
    font-weight: 500

@font-face
    font-family: 'AvenirNext'
    src: url(../fonts/AvenirNextCyr-Bold.woff) format('woff')
    font-display: swap
    font-style: normal
    font-weight: 700