.main_number_plugin{
    position: relative;
}

.classic .input_plugin_number{
    box-sizing: border-box;
    border-radius: 7px;
    padding-left: 10px;
    border: 1px solid #cccccc;
    outline: none;
}

.classic .input_plugin_number:focus {
    border-color: #bbbbbb;
}

.classic .plus_plugin_number{
    width: 0px;
    border: 5px solid transparent;
    border-bottom: 7px solid #b5b5b5;
    position: absolute;
    top: 5%;
    right: 5px;
    cursor: pointer;
}

.classic .minus_plugin_number{
    width: 0px;
    border: 5px solid transparent;
    border-top: 7px solid #b5b5b5;
    position: absolute;
    top: 60%;
    right: 5px;
    cursor: pointer;
}

.classic .plus_plugin_number:hover {
    border-bottom-color: #6b6b6b;
}

.classic .minus_plugin_number:hover {
    border-top-color: #6b6b6b;
}


.line{
	width: 81px !important;
	display: flex;
    justify-content: center;
    margin-top: 12px;
}

.line .input_plugin_number{
    box-sizing: border-box;
    border-radius: 1px;
    border: 1px solid #cccccc;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 105%;
    color: #292828;
    text-align: center;
}

.line .input_plugin_number:focus {
    border-color: #bbbbbb;
}

.line .plus_plugin_number{
    width: 24px;
    height: 24px;
    border: 1px solid #D1D1D1;
    border-radius: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background: #FFFFFF;
    box-sizing: border-box;
}

.line .plus_plugin_number:before{
	content: url(/img/svg/plus.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.line .minus_plugin_number{
    width: 24px;
    height: 24px;
    border: 1px solid #D1D1D1;
    border-radius: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background: #FFFFFF;
    box-sizing: border-box;
}
.line .minus_plugin_number:before{
	content: url(/img/svg/minus.svg);
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}

.line .plus_plugin_number:hover {
    border-bottom-color: #6b6b6b;
}

.line .minus_plugin_number:hover {
    border-top-color: #6b6b6b;
}
