after_clear()
	&::after
		display block
		content ''
		clear both
TransitionEase()
	transition all 0.3s ease
TransitionLinear()
	transition all 0.3s linear

MarginLastBottom()
	> *:last-child
		margin-bottom 0


@media only screen and (max-width: 1700px)
	.menu
		>li
			padding-left 3.8rem
			padding-right 3.5rem


@media only screen and (max-width: 1600px)
	.logo
		position absolute
		top 2.5rem
		left 0
		flex 0 0 30rem
	.menu
		justify-content flex-start
		padding-left 0
		>li
			margin-top 8rem
			padding-bottom 2rem
			padding-left 5.3rem
			padding-right 5rem
			height 9rem
			&::before
				margin-top -0.5rem
			&:hover
				.menu-drop
					padding-top 0
					top 9rem
	.menu-drop
		left 0
		transform translateX(0)
		padding-top 9rem
		top 0
	

@media only screen and (max-width: 1440px)
	.CaruselArchitecture
		.slick-next
			right -1.5rem
		.slick-prev
			left -1.5rem
	.slids-label
		left 5.5rem



@media only screen and (max-width: 1300px)
	.menu
		>li
			padding-left 4rem
			padding-right 4rem

@media only screen and (min-width: 992px) and (max-width: 1250px)
	html
		font-size 50%


@media only screen and (max-width: 991px)
	*
		-webkit-tap-highlight-color: transparent;
	#header
		position fixed
		top 0
		left 0
		right 0
	.header-box
		height 8rem
	
	.logo
		top 50%
		transform translateY(-50%)
		width 30rem
	
	.header-content
		margin 0
		position fixed
		top 0
		right 0
		bottom 0
		width 29rem
		z-index 111
		display block
		padding 0
		z-index 100
		TransitionEase()
		transform translateX(100%)
		overflow hidden
		&.active
			transform translateX(0%)
			overflow visible
			.header-content-overlow
				opacity 1
				height auto
				overflow visible
				
	.header-content-overlow
		position absolute
		top 0
		left -100rem
		bottom 0
		background rgba(0,0,0,0.5)
		TransitionEase()
		opacity 0
		height 0
		overflow hidden
		right 0
		z-index -1
	
	.header-content-box
		display block
		height 100%
		overflow auto
		padding 1.5rem
		background #2B2B2B
	

	.open-menu
		display block
		position absolute
		top 50%
		right 0
		border-top 0.3rem solid #D29966
		border-bottom 0.3rem solid #D29966
		height 2.8rem
		width 3.6rem
		margin -1.5rem 0 0
		&::before
			display block
			content ''
			height 0.2rem
			position absolute
			top 50%
			left 0
			right 0
			height 0.3rem
			margin -0.1rem 0 0
			background #D29966

	.close-menu
		height 3rem
		width 3rem
		position absolute
		top 0
		left -3rem
		display block
		&::before
		&::after
			display block
			content ''
			height 0.2rem
			width 2.4rem
			background #fff
			margin -0.1rem 0 0 -1.2rem
			position absolute
			top 50%
			left 50%
			transform rotate(45deg)
		&::after
			transform rotate(-45deg)

	body
		&.overlow-mobile
			overflow hidden
	
	.menu
		display block
		padding 0
		margin 0 0 2rem
		>li
			display block
			height auto
			margin 0
			padding 0 0 1rem 3rem
			text-align left
			&::before
				top 1.7rem
			&:hover
				.menu-drop
					padding-top 0
					margin-top 0
	.menu-drop
		position static
		top 0
		left 0
		padding-top 0
		transform translate(0, 0)
		padding-top 4rem
		margin-top -4rem
	.menu-drop-box
		width auto
		margin 1rem 0 0.5rem -3rem
		padding 2rem
		ul
			>li
				padding-bottom 1.5rem
	
	.content
		padding-top 10rem
		padding-bottom 7rem
	
	

	.bg-panorama
	.bg-content-bottom
	.bg-content-top
	.bg-tour
		display none
	

	.panorama
		margin-left -1rem
		margin-right -1rem
		>div
			padding-left 1rem
			padding-right 1rem
	
	.slids-label
		left 50%
		transform translateX(-50%)
	
	.Slider
		margin-top 0
		.slick-dots
			bottom 2rem
	
	.slids
		padding-top 10rem
		padding-bottom 25rem
	

	.grid-width
		width 50%
	.grid-col
		width 50%
		&.width
			width 50%
	
	

	.tour
		.tour-content
			transform translate(0, 0)
	
	.CaruselArchitecture
		.slick-slide
			padding 0 0.8rem
		.slick-list
			padding 0 0.8rem
	
	.footer-text
		text-align center
	
	.section-callback
		&::after
			display none
	
	.popup-box
		padding-left 2.5rem
		padding-right 2.5rem
	

	.progress-setting-video
		.btn-video
			position relative
			margin 0 auto 4rem
			top auto
			right auto
		.list-progress
			padding 0
	
	.CaruselCheck
		padding-left 0
		padding-right 0
		margin-left -1.5rem
		margin-right -1.5rem
		.slick-slide
			padding-left 1rem
			padding-right 1rem
	
	.list-progress
	.btn-check-nav
	.list-check-line
		margin-left -1rem
		margin-right -1rem
		li
			padding-left 1rem
			padding-right 1rem
	
	

	.room-data
		margin-left -1.5rem
		margin-right -1.5rem
		>div
			padding-left 1.5rem
			padding-right 1.5rem
	
	.form-consultation-box
		.btn-form
			margin-top 2rem
	

	.floor-plan
		padding-left 12rem
		padding-right 12rem
		.floor-name
			font-size 1.8rem
	
	.table-responsive
		margin-left -1.5rem
		margin-right -1.5rem
		padding-left 1.5rem
		padding-right 1.5rem
	.table-styled
		th
			font-size 1.5rem
		td
			font-size 1.8rem
	

	.separate
		.DragSliderSection
			margin-left auto
			margin-right auto
	
	.bank
		width 22rem
	.bank-sub
		width 16rem
	

	.SliderGalery
		.slick-dots
			padding-left 0
			padding-right 0
	

	.slick-dots
		>li
			padding 1rem 0.8rem 0
	
	#map-main
		height 50rem
		margin-top 4rem
		margin-bottom -7rem