@media only screen and (max-width: 767px)
	.logo
		width 30rem
	
	.panorama
		text-align center
		p
			margin-left auto
			margin-right auto
	.form-box
		label
			width 100%
			text-align left
			margin 0 0 0.5rem
	
	.grid-width
		width 100%
	.grid-col
	.grid-col.width
		width 100%
	
	#map-contact
		height 40rem
	
	.news
		.img-box
			width 100%
		.date
			margin-bottom 1rem
		.name
			margin-bottom 1rem
			font-size 2.6rem
		p
			margin-bottom 1.5rem
		.btn
			width 100%
	
	.promo
		.img-box
			width 100%
			margin-bottom 2rem
		.date
			margin-bottom 1rem
		.name
			margin-bottom 2rem
			font-size 2.6rem
		.btn
			width 100%
	.content
		padding-bottom 5rem
	
	.button-center
		.btn
			width 100%
	
	.article
		img
			margin-bottom 3rem
		.date
			margin-bottom 2rem
	
	.floor-plan
		padding 0 0 4rem
		.floor-name
			display none
	.SliderPlan
		padding-left 0
		padding-right 0
		margin-left -1.5rem
		margin-right -1.5rem
		.slick-slide
			padding-left 1.5rem
			padding-right 1.5rem
	

	.slick-dots
		>li
			padding 1rem 0.5rem 0
	
	#map-main
		height 40rem
		margin-bottom -5rem



@media only screen and (max-width: 575px)
	h1
		font-size 3.6rem
	h2
	.galery .name
		font-size 3.2rem
	h3
		font-size 2.8rem
	.tx
		font-size 2.1rem
	.section-title
		margin-bottom 4rem
		h2
			font-size 3.6rem
	.panorama
		h2
			font-size 3.6rem
	.logo
		width 22rem
	
	.slids
		.name
			font-size 3.8rem
		p
			font-size 2.4rem
	.btn
	.btn.btn-form
		min-width 100%
		padding-left 4.5rem
		padding-right 4.5rem
	
	.section
		padding-top 5rem
		padding-bottom 5rem

	.advantage
		text-align center
		.box-icon
			height auto
			margin-bottom 1rem
	
	.list-advantage
		margin-top -6rem
		>li
			padding-top 6rem
	
	.form-callback
		.box-icon
			display none
	.form-callback-box
		padding 3rem 1.5rem
	

	.popup-box
		padding 3rem 1rem 2rem
	
	.tx
		padding-left 1.5rem
		padding-right 1.5rem
	

	.btn-check
		span
			font-size 1.6rem
			min-width 13.5rem
	

	.progress-photo
		margin-top -2rem
		>li
			padding-top 2rem
	

	.form-consultation
		padding 2.5rem 1.5rem
	
	
	.table-styled
		th
			font-size 1.3rem
		td
			font-size 1.5rem
			padding-top 1.5rem
			padding-bottom 1.5rem
	

	.separate
		margin-top -3rem
		>div
			padding-top 3rem


	.bank
		width 22rem
	.bank-sub
		width 11rem
	
	.list-contact-page
		max-width 100%
		>li
			padding-left 3.5rem
			display block
	
	.tooltipster-color
		.tooltipster-content
			padding-left 1.5rem
			padding-right 1.5rem
	
	.plan-tooltip-box
		padding-bottom 2rem
		.more
			right -0.5rem

	.plan-tooltip-box
		table
			td
				font-size 1.4rem
			.number
				font-size 1.8rem





