@font-face 
    font-family: "PT Sans"
    font-style: normal
    font-weight: 400
    src: url(../fonts/PTSans-Regular.ttf) format("truetype"),
    url(../fonts/PTSans-Regular.woff) format("woff"),
    url(../fonts/PTSans-Regular.woff2) format("woff2")
    font-display: swap

@font-face 
    font-family: "PT Sans"
    font-style: italic
    font-weight: 400
    src: url(../fonts/PTSans-Italic.ttf) format("truetype"),
    url(../fonts/PTSans-Italic.woff) format("woff"),
    url(../fonts/PTSans-Italic.woff2) format("woff2")
    font-display: swap

@font-face 
    font-family: "PT Sans"
    font-style: normal
    font-weight: 700
    src: url(../fonts/PTSans-Bold.ttf) format("truetype"),
    url(../fonts/PTSans-Bold.woff) format("woff"),
    url(../fonts/PTSans-Bold.woff2) format("woff2")
    font-display: swap
