$main_bg: #222328
$text_blue: #0066cc
    
*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "PT Sans", sans-serif
    text-decoration: none
    border-radius: 0px
    transition: all .25s ease-in-out 0s
    color: #ffffff

body
    position: relative
    height: 100vh
    overflow-x: hidden
    background-color: $main_bg

.container
    width: 100%
    padding: 0px 15px
    position: relative
    margin: 0 auto
    &_large
        max-width: 1530px
    &_big
        max-width: 1330px
    &_medium
        max-width: 950px
    &_small
        max-width: 835px

section
    position: relative

.swiper-slide:not(.swiper-slide-active)
    opacity: 0
    transition: opacity .3s ease-in 0s

.section
    &__title
        font-weight: 700
        font-size: 40px
        line-height: 48px

.button
    display: inline-block
    background-color: transparent
    border-radius: 0px
    border: none
    position: relative
    cursor: pointer
    text-transform: uppercase
    color: #ffffff

.header, .footer
    position: fixed
    width: 100%
    left: 0
    z-index: 4

.header
    top: 0
    &__wrap
        display: flex
        align-items: center
        padding: 55px 0px

.logo
    &__img
        max-width: 212px
        width: 100%
        height: auto

.nav
    max-width: 425px
    width: 100%
    margin-left: 137px
    &__list
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        list-style-type: none
    &__item
        margin: 0px 5px
    &__link
        display: inline-block
        font-weight: 700
        color: #ffffff
        line-height: 40px
        font-size: 18px
        text-transform: uppercase
        &:hover, &.active
            color: $text_blue

.language
    margin-left: auto
    padding: 5px 5px
    box-shadow: 0 0 0 1px #717172
    border-radius: 4px
    display: flex
    &__item
        cursor: pointer
    &__radio
        position: absolute
        opacity: 0
        visibility: hidden
    &__radio:checked + &__text
        color: $text_blue
    &__text
        text-transform: uppercase
        font-size: 16px
        color: #ffffff
        font-weight: bold
        line-height: 40px
        display: inline-block
        padding: 0px 15px

.burger
    display: none
    height: 40px
    width: 40px
    flex-shrink: 0
    background-color: transparent
    border: none
    border-radius: 5px
    margin-left: 15px
    position: relative
    span, &::before, &::after
        content: ''
        display: inline-block
        width: 25px
        height: 2px
        background-color: #fff
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        transition:  top .15s ease-in .15s, transform .15s ease-in 0s, opacity .1s ease-in .15s
    &::before
        top: calc( 9px + 50% )
    &::after
        top: calc( -9px + 50% )
    &.active
        span, &::before, &::after
            transform: translate(-50%, -50%)
            top: 50%
            transition:  top .15s ease-in 0s, transform .15s ease-in .15s, opacity .15s ease-in .1s
        span
            opacity: 0
        &::before
            transform: translate(-50%, -50%) rotate(45deg)
        &::after
            transform: translate(-50%, -50%) rotate(-45deg)
    &:focus
        outline: none

.menu
    position: fixed
    z-index: 3
    height: 100vh
    width: 100%
    left: 0
    top: 0
    background-color: rgba(34, 35, 40, 0.7)
    backdrop-filter: blur(5px)
    transform: translateY(-100%)
    opacity: 0
    visibility: hidden
    pointer-events: none
    padding: 70px 10px 0px
    display: flex
    flex-direction: column
    align-items: center
    &.active
        transform: translateY(0%)
        opacity: 1
        visibility: visible
        pointer-events: all
    .nav
        margin: 20px 0px 40px
        &__list
            flex-direction: column
            align-items: center

.main
    height: 100vh
    position: relative
    background-image: url(../img/main_bg.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    padding: 160px 0px 95px
    overflow: hidden

.about
    padding-top: 121px
    &__title
        margin-bottom: 55px
    &__text
        font-size: 17px
        line-height: 23px
        & + &
            margin-top: 1.4em

.portfolio
    padding-top: 50px
    &__wrapper
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 26px 16px
        justify-items: center
        &.active
            max-height: none
    &__button
        font-size: 16px
        width: 100%
        max-width: 340px
        display: none
        margin: 30px auto 0px
        background-color: $text_blue
        border-radius: 5px
        padding: 15px 35px
        box-shadow: 0 0 16px 8px rgba(0, 0, 0, .15)
        white-space: nowrap
        overflow-anchor: none
        &:hover
            box-shadow: 0 0 16px 8px rgba(0, 102, 204, 0.1)
        &:focus
            outline: none

.project
    display: flex
    flex-direction: column
    align-items: stretch
    width: 100%
    &:nth-child(1) .project__logo
        background-image: url(../img/partner_1-g.svg)
    &:nth-child(2) .project__logo
        background-image: url(../img/partner_2-g.svg)
    &:nth-child(3) .project__logo
        background-image: url(../img/partner_3-g.svg)
    &:nth-child(4) .project__logo
        background-image: url(../img/partner_4-g.svg)
    &:nth-child(5) .project__logo
        background-image: url(../img/partner_5-g.svg)
    &:nth-child(6) .project__logo
        background-image: url(../img/partner_6-g.svg)
    &:nth-child(7) .project__logo
        background-image: url(../img/partner_7-g.svg)
    &:nth-child(8) .project__logo
        background-image: url(../img/partner_8-g.svg)
    &__logo
        border-radius: 5px
        background-color: #fff
        height: 215px
        position: relative
        overflow: hidden
        background-position: center
        background-repeat: no-repeat
        svg
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            max-width: 80%
            fill: red
    &__body
        padding: 10px 5px 0px
    &__name
        text-align: center
        font-weight: 400
        font-size: 17px
        line-height: 20px
    &:hover
        &:nth-child(1) .project__logo
            background-image: url(../img/partner_1.svg)
        &:nth-child(2) .project__logo
            background-image: url(../img/partner_2.svg)
        &:nth-child(3) .project__logo
            background-image: url(../img/partner_3.svg)
        &:nth-child(4) .project__logo
            background-image: url(../img/partner_4.svg)
        &:nth-child(5) .project__logo
            background-image: url(../img/partner_5.svg)
        &:nth-child(6) .project__logo
            background-image: url(../img/partner_6.svg)
        &:nth-child(7) .project__logo
            background-image: url(../img/partner_7.svg)
        &:nth-child(8) .project__logo
            background-image: url(../img/partner_8.svg)
        .project
            &__logo
                background-color: $text_blue

.contacts
    padding-top: 40px
    &__wrap
        display: flex
        justify-content: space-between
        align-items: stretch
    &__content
        flex-basis: 320px
        flex-shrink: 0
        & > .about__text
            margin-top: 18px
            display: inline-block
    &__map
        flex-basis: 63.8%
        max-height: 482px
        overflow: hidden
        margin-top: 40px
        margin-left: 30px
        iframe
            width: 100%
            height: 100%
            border-radius: 10px
            border: none
            &:focus
                outline: none

.form
    margin-top: 22px
    &, &__fields
        display: flex
        flex-direction: column
        align-items: stretch
    &__input, &__textarea, &__button
        background-color: transparent
        border: none
        resize: none
        font-size: 16px
        text-transform: uppercase
        &:focus
            outline: none
    &__input
        border-bottom: 1px solid #656565
        padding: 6px 0px
        & + &
            margin-top: 12px
    &__input + &__textarea
        margin-top: 18px
    &__textarea
        border: 1px solid #656565
        border-radius: 4px
        text-transform: none
        font-style: italic
        margin-right: 10px
        line-height: 23px
        padding: 15px 25px
    &__label
        user-select: none
        cursor: pointer
        margin-top: 15px
        margin-bottom: 30px
        &-text, &-text *
            font-size: 15px
            line-height: 18px
        &-link
            color: $text_blue
            text-decoration: underline
            display: inline
            border: none
            background-color: transparent
            appearance: none
            text-align: left
            cursor: pointer
            white-space: wrap
            &:focus
                outline: none
    &__checkbox
        position: absolute
        opacity: 0
        visibility: hidden
        height: 1px
        width: 1px
    &__checkbox:checked + &__fake
        &::before
            opacity: 1
    &__fake
        display: inline-block
        position: relative
        height: 11px
        width: 11px
        border-radius: 3px
        background-color: #fff
        margin-right: 5px
        &::before
            transition-duration: .1s
            opacity: 0
            position: absolute
            top: 50%
            left: 47%
            transform: translate(-50%, -50%)
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            background-image: url(../img/tip.png)
            height: 10px
            width: 10px
            display: inline-block
            content: ''
    &__button
        margin-right: auto
        background-color: $text_blue
        border-radius: 5px
        padding: 15px 55px
        box-shadow: 0 0 16px 8px rgba(0, 0, 0, .15)
        &:hover
            box-shadow: 0 0 16px 8px rgba(0, 102, 204, 0.1)
        &:focus
            outline: none

.footer
    bottom: 0
    &__wrap
        padding: 35px 0px
        display: flex
        align-items: center
        justify-content: flex-start
    &__contacts
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        list-style-type: none
        max-width: 653px
    &__text
        font-size: 17px
        letter-spacing: -0.1px
        text-align: center
        display: inline-block
    a.footer__text
        white-space: nowrap
        &:hover
            color: $text_blue

.popup
    background-color: $text_blue
    border-radius: 5px
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, .15)
    position: relative
    width: 100%
    visibility: hidden
    transform: translateY(-40px)
    opacity: 0
    padding: 80px 65px 70px
    position: absolute
    &.active
        visibility: visible
        transform: translateY(0px)
        opacity: 1
        position: relative
    &__overlay
        position: fixed
        left: 0
        top: 0
        height: 100vh
        width: 100%
        background-color: rgba(0, 0, 0, .5)
        z-index: 10
        display: flex
        align-items: center
        justify-content: center
        visibility: hidden
        opacity: 0
        pointer-events: none
        padding: 0px 10px
        &.active
            visibility: visible
            opacity: 1
            pointer-events: all
    &__text
        font-size: 22px
        line-height: 30px
    a.popup__text
        text-decoration: underline
        display: inline-block
        margin-top: 10px
        margin-left: 5px
    &__documents
        display: flex
        align-items: center
        justify-content: space-around
    &__document
        display: flex
        align-items: center
        flex-direction: column
    &__tip
        height: 78px
        width: 78px
        border-radius: 50%
        box-shadow: 0 0 0 3px #fff
        margin: 0 auto 40px
        position: relative
        &-img
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            max-width: 30px
    &__close
        position: absolute
        right: 10px
        top: 10px
        border: none
        cursor: pointer
        width: 20px
        height: 20px
        background-color: transparent
        &::before, &::after
            background-color: #fff
            position: absolute
            content: ''
            display: inline-block
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            height: 2px
            width: 13px
            border-radius: 3px
        &::before
            transform: translate(-50%, -50%) rotate(-45deg)
        &::after
            transform: translate(-50%, -50%) rotate(45deg)
        &:hover 
            &::before, &::after
                width: 15px
        &:focus
            outline: none
    &_success
        max-width: 480px
    &_documents
        max-width: 520px