*   
    font-family: 'Lato'
    box-sizing: border-box
    margin: 0
    padding: 0
    transition: all .2s ease-in-out 0s

body
    min-height: 100vh
    width: 100%
    display: flex
    justify-content: center
    align-items: center

.block
    max-width: 752px
    margin: 0px 20px
    border: 1px solid #CBCBCB
    box-shadow: 0 0 40px #CBCBCB
    padding: 20px 65px 20px
    &__title
        margin-bottom: 15px
    &__h2, &__p
        text-align: center
    &__h2
        font-size: 15px
        font-weight: 800
        margin-bottom: 5px
    &__link
        text-decoration: none
        color: #11AEDA
        &:hover
            opacity: 0.7
    &__p
        font-size: 12px
        font-weight: bold
        text-transform: uppercase
        letter-spacing: 0.5px
    &__flex
        display: flex
        flex-direction: row
        justify-content: space-between
    &__caption
        margin-top: 10px
        font-size: 13px
        text-align: center
    &__item
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        max-width: 340px
    &__img-wrap
        img
            height: 100%
            width: 100%
            object-fit: contain
