$main_green: #2FAD49
$main_black: #202932
$main_light: #F1F3F6
$main_grey: #636363
    
*, *::before, *::after
    box-sizing: border-box
    margin: 0
    padding: 0
    border: none
    text-decoration: none
    border-radius: 0px
    transition: all .2s ease-in-out 0s
    font-family: "SF Pro Display", sans-serif
    font-weight: 400
    color: $main_black

body, html
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    overflow: hidden
    min-height: 100vh
    position: relative

section
    position: relative

.container
    width: 100%
    position: relative
    max-width: 1230px
    padding: 0px 15px
    margin: 0 auto

.text
    &_white
        color: #fff !important
    &_black
        color: $main_black !important
    &_tac
        text-align: center
    &_ttu
        text-transform: uppercase

.section
    &__title
        font-size: 32px
        font-weight: 600
        color: $main_black
    &__white
        background-color: #fff
        padding-top: 70px
        padding-bottom: 60px
    &__light
        background-color: $main_light
        padding: 50px 0px 70px
    &__button-holder
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        margin-top: 40px
        &_mt-big
            margin-top: 60px

.button
    position: relative
    display: inline-block
    appearance: none
    background: transparent
    cursor: pointer
    white-space: nowrap
    text-align: center
    user-select: none
    overflow: hidden
    border-radius: 4px
    box-shadow: 0 0 0 1px $main_green
    &:focus
        outline: none
    &_green
        background-color: $main_green
        color: #ffffff
        &:hover
            background-color: transparent
            color: $main_green
    &_room
        height: 35px
        width: 35px
        line-height: 35px
        font-size: 16px
    &_grey
        box-shadow: 0 0 0 1px $main_light
        background-color: $main_light
        color: $main_grey
        &:hover
            background-color: #e5eaf5
    &_white
        background-color: transparent
        color: $main_green
        &:hover
            background-color: $main_green
            color: #ffffff
    &_subscribe
        padding: 10px 5px
        font-size: 16px
    &_tab
        padding: 8px
        font-size: 16px
    &_search
        font-size: 18px
        padding: 8px 24px
        margin-bottom: 4px
        &.hidden
            opacity: 0
            visibility: hidden
            pointer-events: none
    &_add, &_login
        font-size: 16px
        padding: 10px 16px
    &_picset
        font-size: 16px
        padding: 11px 12px
    &_aslink
        box-shadow: none
        padding: 8px 12px
        font-size: 16px
        margin-right: 15px
        &:hover
            background-color: transparent
            text-decoration: underline
            color: $main_green
        &.active
            background-color: rgba(47, 173, 73, 0.1)
    &_big
        width: 100%
        max-width: 380px
        font-size: 18px
        padding: 11px
    &_print, &_complaint
        box-shadow: none
        color: #828282
        font-size: 16px
    &_complaint
        color: #EB5757
    &_move
        padding: 10.5px 37.5px
        font-size: 16px
        margin-left: auto
        &:hover
            svg
                fill: $main_green
        svg
            vertical-align: middle
            margin-right: 10px
            transition-duration: 0s
            fill: #fff

.header
    flex-grow: 0
    background-color: #fff
    z-index: 10
    position: fixed
    width: 100%
    top: 0
    left: 0
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
    &__wrap
        padding: 8px 0px
        display: flex
        align-items: center
        justify-content: space-between
    &__content
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        max-width: 490px
        .button:first-of-type
            margin-left: auto
        .button + .button
            margin-left: 15px
    &__bottom
        border-top: 1px solid $main_light
    .tab
        &__select
            box-shadow: none

.dropdown
    position: relative
    cursor: pointer
    padding: 10px 12px
    &__title
        line-height: 19px
        display: inline-block
        color: $main_black
    &__popup
        opacity: 0
        visibility: hidden
        pointer-events: none
        position: absolute
        z-index: -10
        &.active
            z-index: 2
            opacity: 1
            visibility: visible
            pointer-events: all
    &:first-of-type
        margin-left: -15px

.nav
    &__list
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        max-width: 910px
        margin: 0 auto
    &__item
        list-style-type: none
        margin: 0px 16px
    &__link
        color: $main_black
        font-size: 14px
        padding: 16px 0px
        display: inline-block
        position: relative
        letter-spacing: 0.1px
        &:hover
            color: $main_green
            &::after
                opacity: 1
        &::after
            display: inline-block
            content: ''
            width: 100%
            height: 4px
            background-color: $main_green
            position: absolute
            left: 0
            bottom: 0
            opacity: 0

.types
    display: inline-block
    position: absolute
    height: 40px
    width: 40px
    background-color: $main_light
    top: 50%
    right: 0
    border-radius: 4px
    transform: translate(-40%, -50%)
    cursor: pointer
    &:hover
        background-color: #e5eaf5
    &:focus
        outline: none
    &__dot
        display: inline-block
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        border-radius: 100%
        background-color: #2E3A59
        height: 4px
        width: 4px
    &__dot
        &:first-child
            transform: translate(calc( -8px - 50% ), -50%)
        &:last-child
            transform: translate(calc( 8px - 50% ), -50%)
    &__list
        list-style-type: none
    &__link
        color: $main_black
        font-size: 16px
        display: inline-block
        &:hover
            color: $main_green
    &__item
        & + &
            margin-top: 16px
    &__dropdown
        position: absolute
        opacity: 0
        visibility: hidden
        pointer-events: none
        background-color: #fff
        border-radius: 4px
        padding: 15px 12px
        z-index: 2
        top: 100%
        box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.1)
        &.active
            opacity: 1
            visibility: visible
            pointer-events: all

.main
    flex-grow: 1
    margin-top: 120px

.hero
    &__overlay
        position: absolute
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, .6)
    &__bg
        position: absolute
        width: 100%
        height: 100%
        opacity: 0
        transform: scale(0.8)
        &.active
            opacity: 1
            transform: scale(1)
        img
            width: 100%
            height: 100%
            object-fit: cover
        
    &__body
        padding: 120px 0px 350px

.tabs
    margin-top: 60px
    &__nav
        display: flex
        align-items: center
        justify-content: space-between
        list-style-type: none
        max-width: 370px
        width: 100%
        margin: 0 auto
        position: relative
    &__underline
        display: inline-block
        height: 4px
        background-color: $main_green
        bottom: 2px
        position: absolute
        transform: translateX(-50%)
    &__trigger
        background-color: transparent
        font-size: 14px
        display: inline-block
        border-radius: 0
        position: relative
        cursor: pointer
        padding: 0 0 20px 0
        user-select: none
        &:focus
            outline: none
        &.active
            font-weight: 700
    &__items
        margin-top: 36px
        display: flex
        position: relative

.tab
    width: 100%
    opacity: 0
    visibility: hidden
    pointer-events: none
    background-color: #fff
    border-radius: 8px
    padding: 30px 50px
    display: block
    position: absolute
    transition-duration: .3s
    &__liftup
        margin-bottom: 4px
    &__form, &__main
        display: flex
        align-items: flex-end
        width: 100%
        justify-content: space-between
        &_col
            flex-direction: column
    &__bottom
        padding-top: 30px
        margin-right: 120px
        &-content
            display: flex
            align-items: center
            .tab__compare + .tab__compare
                margin-left: 25px
    &.active
        opacity: 1
        visibility: visible
        pointer-events: all
    &__label
        font-size: 16px
        color: #000
        display: inline-block
        margin-bottom: 12px
    &__col
        & + &
            margin-left: 32px
    &__row
        .tab__check + .tab__check
            margin-left: 8px
    &__hidden
        display: none
        &:checked + .button_grey
            box-shadow: 0 0 0 1px $main_green
            background-color: #fff
            color: $main_green
            &:hover
                background-color: $main_green
                color: #ffffff
    &__input
        display: inline-block
        padding: 8px 8px
        font-size: 16px
        border-radius: 4px
        box-shadow: 0 0 0 1px #9F9F9F
        max-width: 52px
        width: 100%
        & + &
            margin-left: 12px
        &:focus
            outline: none
    &__compare
        user-select: none
        display: flex
        cursor: pointer
        input
            position: absolute
            display: inline-block
            width: 1px
            height: 1px
            opacity: 0
            visibility: hidden
        input:checked + .tab__checkbox
            background-color: #2fad483d
            &::before
                content: ''
                display: inline-block
                width: 100%
                height: 100%
                background-image: url(../img/check-mark.svg)
                background-position: center
                background-repeat: no-repeat
                background-size: 60% 60%
    &__checkbox
        display: inline-block
        position: relative
        height: 20px
        width: 20px
        border-radius: 4px
        box-shadow: 0 0 0 1px #9F9F9F
        margin-right: 8px
    &__label
        font-size: 16px
        color: $main_black
        white-space: nowrap
    &__select
        appearance: none
        border: none
        font-size: 16px
        padding: 9px 30px 9px 12px
        box-shadow: 0 0 0 1px #9F9F9F
        border-radius: 4px
        cursor: pointer
        &-wrap
            position: relative
            &::after
                position: absolute
                pointer-events: none
                content: ''
                display: inline-block
                border: 6px solid transparent
                border-top: 6px solid #202932
                top: 60%
                right: 13px
                transform: translate(0, -50%)
        &:focus
            outline: none

.col-container
    margin-top: 40px
    width: 100%
    display: grid
    &_four
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 16px
    &_three
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 32px

.picset
    &__title
        font-size: 18px
        font-weight: 600
        color: $main_black
        margin-top: 20px
        margin-bottom: 15px
    &__tile
        width: 100%
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: 124px 124px
        grid-row-gap: 8px
        grid-column-gap: 8px
    &__description
        margin-top: -10px
        display: block
        color: $main_black
        margin-bottom: 16px
    &__img
        width: 100%
        height: 100%
        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 8px
        &:first-child
            grid-column: 1 / 3
            grid-row: 1 / 3

.objects
    &__nav
        display: flex
        list-style-type: none
        justify-content: space-between
        max-width: 620px
        margin: 0 auto 0
        position: relative
    &__trigger
        display: inline-block
        background-color: transparent
        color: #4A6894
        font-size: 14px
        cursor: pointer
        position: relative
        padding-bottom: 20px
        user-select: none
        &:focus
            outline: none
        &.active
            font-weight: 700
            color: $main_black

.object
    display: none
    &.active
        display: block

.card-block
    margin-top: 60px

.card
    border-radius: 8px
    overflow: hidden
    max-height: 325px
    display: flex
    flex-direction: column
    align-items: stretch
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
    &:hover
        box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2)
    &__img
        max-height: 200px
        height: 100%
        img
            height: 100%
            width: 100%
            object-fit: cover
    &__title
        font-weight: 700
        color: $main_black
        font-size: 16px
    &__body
        background-color: #fff
        padding: 15px 12px
        overflow: hidden
        height: 100%
        margin-top: -4px
    &__text
        margin-top: 8px
        font-size: 16px
        color: $main_black
        line-height: 19px

.articles
    &__container
        margin-top: 40px
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: 310px 260px
        grid-column-gap: 16px
        grid-row-gap: 16px

.article
    background-color: #fff
    border-radius: 8px
    position: relative
    display: block
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
    &_big
        display: flex
        .article
            &__body, &__img
                flex-basis: 48.5%
            &__img
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
            &__views
                background-color: rgba(0, 0, 0, 0.6)
                border-radius: 4px
                padding: 5px 8px 5px 30px
                left: 8px
                bottom: 8px
                &::before
                    top: 50%
                    left: 0px
                    transform: translate(40%, -50%)
                    background-image: url(../img/views-eye-dark.svg)
        &:first-child
            grid-column: 1 / 3
        &:nth-child(2)
            grid-column: 3 / 5
    &:hover
        box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2)
    &__views
        position: absolute
        display: inline-block
        font-size: 12px
        color: #9F9F9F
        left: 38px
        bottom: 15px
        &::before
            content: ''
            display: inline-block
            position: absolute
            background-image: url(../img/views-eye.svg)
            background-position: center
            background-repeat: no-repeat
            background-size: contain
            top: 50%
            left: -4px
            transform: translate(-100%, -50%)
            width: 18px
            height: 16px
    &__body
        padding: 24px 16px 45px 16px
    &__title
        color: $main_black
        font-size: 18px
        font-weight: 600
    &__text
        font-size: 16px
        margin-top: 15px
        color: $main_black

.footer
    flex-grow: 0
    background-color: #fff
    padding: 50px 0px
    &__wrap
        display: flex
        justify-content: space-between
    &__rates
        display: flex
        flex-direction: column
        align-items: center
        &-text
            font-size: 14px
            color: $main_black
    &__socials
        display: flex
        margin-top: 30px
        margin-bottom: 5px
    &__social
        display: inline-block
        height: 25px
        width: 25px
        position: relative
        flex-shrink: 0
        & + &
            margin-left: 5px
    &__links
        display: flex
        justify-content: space-between
        width: 100%
        max-width: 440px
        list-style-type: none
    &__text
        font-size: 14px
        color: $main_black
    span.footer__text
        display: inline-block
        margin: 15px 0px
    p.footer__text
        max-width: 440px
    a.footer__text
        display: inline-block
        text-decoration: underline
        &:hover
            color: $main_green
    a.footer__text + a.footer__text
        margin-left: 20px
    &__data
        margin-top: 40px
    &__big-text, &__big-text *
        font-size: 16px
        font-weight: 600
        color: $main_black
    &__big-text a
        padding-left: 10px
    &__big-text a:hover
        color: $main_green
    &__link
        font-weight: 600
        color: $main_black
        display: inline-block
        &:hover
            color: $main_green
            text-decoration: underline
    &__services
        max-width: 520px
        margin-top: 15px
        margin-bottom: 10px
        a.footer__text
            display: inline
            text-decoration: none
            &:hover
                color: $main_green
    &__pay-systems
        margin-top: 15px
        border: solid 1px #b2bbc3
        display: flex
        align-items: center
        flex-wrap: wrap
        padding: 5px
        border-radius: 2px
        max-width: 440px
        img
            flex-grow: 0
            flex-shrink: 0
            margin-top: 5px


//
//
// Страница квартир
//
//


.breadcrumbs
    padding-top: 25px
    margin-bottom: 50px
    background-color: #fff
    &__list
        list-style-type: none
        display: flex
    &__item
        display: inline-block
        position: relative
        & + &
            margin-left: 25px
        &:not(:last-child)
            &::before, &::after
                content: ''
                display: inline-block
                position: absolute
                background-color: #828282
                height: 1px
                width: 6px
                top: 50%
            &::before
                right: -15px
                transform: translate(0, calc( -2px - 60% )) rotate(45deg)
            &::after
                right: -15px
                transform: translate(0, calc( 2px - 60% )) rotate(-45deg)

        &:last-child
            .breadcrumbs
                &__link
                    color: $main_black
    &__link
        color: #828282
        font-size: 16px
        display: inline-block
        &:not(.breadcrumbs__link_disabled):hover
            text-decoration: underline
            color: $main_green

.filter
    position: relative
    z-index: 5
    &__body
        padding: 25px 0px
        border-bottom: 1px solid $main_light
        background-color: #fff
    &__overlay
        position: fixed
        width: 100%
        height: 100%
        left: 0
        top: 0
        background-color: rgba(0, 0, 0, .6)
        z-index: -2
        opacity: 0
        visibility: hidden
        &.active
            opacity: 1
            visibility: visible
    &__row
        display: flex
        align-items: flex-end
        justify-content: space-between
        &_fe
            justify-content: flex-end
        & + &
            margin-top: 40px
    &__col
        display: flex
        align-items: center
        & + &
            margin-left: 48px
    &__select
        display: inline-block
        appearance: none
        cursor: pointer
        font-size: 16px
        text-align: center
        padding: 8px 25px
        border-radius: 35px
        border: 1px solid #9F9F9F
        width: 100%
        & + &
            margin-left: 10px
        &:focus
            outline: none
        option
            text-align: center
    &__hidden
        position: absolute
        left: 0
        width: 100%
        padding: 30px 0px 50px
        background-color: #fff
        transform: translateY(-100%)
        visibility: hidden
        pointer-events: none
        z-index: -1
        &.active
            transform: translateY(0%)
            visibility: visible
            pointer-events: all
    .tab__col + .tab__col
        margin-left: 0

.fromto
    & + &
        margin-left: 12px
    &__label
        color: #000
        font-size: 16px
    &__inputs
        display: flex
        align-items: center
        margin-top: 8px
    &__input
        display: inline-block
        font-size: 16px
        padding: 8px
        box-shadow: 0 0 0 1px #9F9F9F
        max-width: 72px
        &:first-child
            border-radius: 4px 0 0 4px
        &:last-child
            border-radius: 0px 4px 4px 0px
        &:focus
            outline: none

.selling
    &__head, &__filter
        display: flex
        align-items: center
    &__top
        padding-bottom: 40px
    &__head
        margin: 20px 0px 0px
    &__filter
        margin-left: 60px
        &-item
            cursor: pointer
            position: relative
            & + &
                margin-left: 50px
            &::after
                position: absolute
                pointer-events: none
                content: ''
                display: inline-block
                border: 6px solid transparent
                border-top: 6px solid #4A6894
                top: 65%
                right: -20px
                transform: translate(0, -50%)
    &__select
        appearance: none
        color: #4A6894
        font-size: 16px
        &:focus
            outline: none
    &__view
        margin-left: auto
        display: flex
        list-style-type: none
        li
            &:nth-child(1)
                .selling__view-text
                    border-radius: 4px 0 0 4px
            &:nth-child(2)
                .selling__view-text
                    border-left: none
                    border-right: none
            &:nth-child(3)
                .selling
                    &__view
                        &-item
                            .selling__view-text svg
                                stroke: $main_green
                                fill: none
                            input:checked + .selling__view-text svg
                                stroke: #ffffff
                                fill: none
                        &-text
                            border-radius: 0px 4px 4px 0px
        &-item
            cursor: pointer
            input:checked + .selling__view-text
                background-color: $main_green
                color: #fff
                svg
                    fill: #ffffff
            input
                position: absolute
                height: 1px
                width: 1px
                opacity: 0
                visibility: hidden
        &-text
            display: flex
            border: 1px solid $main_green
            color: $main_green
            padding: 8.5px 12px
            font-size: 16px
            user-select: none
            svg
                fill: $main_green
                height: 16px
                transform: translateY(1px)
                margin-right: 5px
                transition-duration: 0s
    &__body
        padding: 40px 0px
        background-color: $main_light
    &__wrap
        display: grid
        grid-template-columns: 1fr 288px
        grid-column-gap: 15px
    &__banner
        width: 100%
        height: 100%
        border-radius: 4px
        background-color: #c4c4c4
    &__main
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: repeat(5, 190px)
        grid-row-gap: 12px

.pagination
    display: flex
    align-items: center
    list-style-type: none
    border-radius: 4px
    &__item
        background-color: #fff
        height: 30px
        width: 30px
        &:first-child, &:last-child
            border-radius: 4px
    &__link
        display: inline-block
        height: 30px
        width: 30px
        text-align: center
        line-height: 30px
        border-radius: 4px
        position: relative
        &_arrow
            background-color: #4A6894
            &::before, &::after
                display: inline-block
                content: ''
                background-color: #fff
                height: 2px
                width: 7px
                position: absolute
                top: 50%
                left: 50%
            &::before
                transform: translate(-50%, calc( 2px - 50% )) rotate(-45deg)
            &::after
                transform: translate(-50%, calc( -2px - 50% )) rotate(45deg)
        &.active
            box-shadow: inset 0 0 0 2px $main_green
    &__wrap
        margin-top: 40px
        display: flex
        width: 100%
        justify-content: center
        align-items: center

.top
    &__item
        display: flex
        flex-direction: column
        border-radius: 8px
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
        overflow: hidden
        &:hover
            box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.16)
    &__head
        max-height: 195px
        height: 100%
        width: 100%
        position: relative
        &-price, &-year, &-action
            position: absolute
            display: inline-block
            font-weight: 600
            font-size: 14px
            color: $main_black
            padding: 6px 10px
        &-price
            background-color: #FFFD5C
            left: 0
            bottom: 34px
        &-year
            background-color: #83F992
            left: 0
            bottom: 0
        &-action
            color: #fff
            background-color: #EB376F
            font-weight: 400
            padding: 10px 8px
            top: 5px
            right: 0
    &__img
        width: 100%
        height: 100%
        img
            height: 100%
            width: 100%
            object-fit: cover
    &__body
        background-color: #fff
        padding: 20px 10px 60px
        position: relative
        overflow: hidden
        height: 100%
    &__title
        font-size: 16px
        font-weight: 700
        color: $main_black
        margin-bottom: 15px
    &__description
        font-size: 14px
        color: #79828B
    &__like
        position: absolute
        display: inline-block
        left: 10px
        bottom: 20px
        height: 15px
        width: 15px
        background-color: #fff
        input
            position: absolute
            opacity: 0
            visibility: hidden
        input:checked + svg
            stroke-width: 1px
            fill: #fa4747
            stroke: #fa4747
        svg
            width: 14px
            stroke-width: 65px
            fill: #fff
            stroke: #CDD3D7
            transition-duration: 0s
            cursor: pointer

.apartment
    background-color: #fff
    border-radius: 8px
    display: flex
    align-items: stretch
    overflow: hidden
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
    &:hover
        box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2)
    &_green
        .apartment
            &__main
                background-color: #EDF7EE
            &__data
                border-left: none
            &__side
                background-color: #8FC68E
                & *
                    color: #fff
    &__slider
        max-width: 280px
        width: 100%
    &__img
        width: 100%
        height: 100%
        object-fit: cover
    &__main
        display: flex
        align-items: stretch
        width: 100%
    &__body
        padding: 20px 15px 15px 30px
        max-width: 405px
    &__head
        display: flex
        justify-content: space-between
    &__price
        color: $main_green
        font-size: 28px
        display: inline-block
        &-text
            font-size: 14px
            color: $main_black
            &__big
                font-size: 16px
                font-weight: 600
            &__bold
                font-size: 14px
                font-weight: 600
    &__title
        font-size: 18px
        line-height: 24px
        font-weight: 700
        color: $main_black
        max-width: 305px
    &__row
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 10px
        margin-bottom: 15px
        max-width: 305px
    &__info, &__data
        display: flex
        flex-direction: column
        justify-content: space-between
    &__data
        padding: 0px 15px 0px 30px
        margin: 25px 0px 15px
        display: flex
        justify-content: initial
        border-left: 2px dashed #979797
    &__info
        height: auto
        flex-grow: 1
        &-item
            display: flex
            flex-direction: column
    &__text
        display: inline-block
        position: relative
        color: #79828B
        font-size: 14px
        vertical-align: middle
        svg
            vertical-align: middle
            fill: #77828c
            display: inline-block
            vertical-align: middle
            margin-right: 4px
            margin-top: -2px
            height: 16px
            width: 14px
    &__side
        height: 100%
        width: 100%
        display: flex
    &__like
        display: inline-block
        margin-top: 5px
        height: 15px
        width: 15px
        input
            position: absolute
            opacity: 0
            visibility: hidden
        input:checked + svg
            stroke-width: 1px
            fill: #fa4747
            stroke: #fa4747
        svg
            width: 14px
            stroke-width: 65px
            fill: #fff
            stroke: #CDD3D7
            transition-duration: 0s
            cursor: pointer


//
//
// Страница квартиры
//
//


.item
    &__head
        display: flex
        justify-content: space-between
        align-items: flex-start
        .button
            padding-top: 7px
            svg
                vertical-align: middle
                margin-top: -2px
                margin-right: 5px
    &__title
        font-size: 24px
        color: $main_black
        line-height: 32px
        max-width: 780px
    &__post-data
        font-size: 12px
        color: #828282
        margin-top: 10px
        display: inline-block
    &__body
        margin-top: 30px
        margin-bottom: 90px
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: 125px 310px 1fr
        grid-column-gap: 15px
        grid-row-gap: 15px
    &__slider
        grid-row: 1 / 3
        background-color: peachpuff
        border-radius: 8px
    &__subtitle
        color: $main_black
        font-weight: 600
        font-size: 18px
        line-height: 22px
    &__table
        border-spacing: 0px
        min-width: 320px
        tr + tr
            td
                border-top: 1px solid #BDBDBD
        tr:first-child td
            padding: 0px 0px 8px
        td
            padding: 8px 0px
            font-size: 16px
            line-height: 19px
            &:first-child
                color: #828282
            &:last-child, &:last-child *
                color: $main_black
        td + td
            padding-left: 30px !important
        &:not(.item__table_sb)
            td:first-child
                width: 92px
        &_sb
            td:last-child, td:last-child *
                text-align-last: right
        &-link
            &:hover
                color: $main_green !important
    &__card
        border-radius: 8px
        background-color: $main_light
        padding: 24px 30px
        &-row
            display: flex
            align-items: flex-start
            & + &
                margin-top: 24px
            .item__subtitle
                max-width: 150px
        &_sb
            display: flex
            justify-content: space-between
        &_fe
            align-items: flex-end
    &__price
        display: flex
        flex-direction: column
        &-price
            font-size: 36px
            line-height: 42px
            color: #4A6894
        &-text
            font-size: 12px
            color: $main_black
            display: inline-block
            max-width: 160px
            margin-top: 4px
    &__data
        padding-top: 24px
    &__text
        font-size: 16px
        line-height: 21px
        color: $main_black
        margin-top: 15px
        margin-bottom: 40px
    &__list
        list-style-type: none
        margin-top: 20px
        padding-left: 24px
        display: flex
        flex-direction: column
        li
            display: inline-block
            font-size: 16px
            color: $main_black
            position: relative
            &::before
                position: absolute
                content: ''
                display: inline-block
                height: 12px
                width: 16px
                background-image: url(../img/list-tip.png)
                background-size: contain
                background-repeat: no-repeat
                background-position: center
                top: 40%
                left: -8px
                transform: translate(-100%, -50%)
        li + li
            margin-top: 10px

.map
    &__title
        font-size: 24px
        color: $main_black
        font-weight: 400
        margin-bottom: 50px
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 30px
    &__location
        .map__text + .map__text
            margin-left: 50px
    &__text, &__text-light
        color: $main_black
        font-size: 16px
        font-weight: 400
    &__text
        img, svg
            vertical-align: middle
            margin-top: -2px
            margin-right: 5px
        .map__text-light
            margin-right: 10px
        &-light
            color: #828282
    &__body
        display: grid
        grid-template-columns: 1fr 205px
    &__objects
        background-color: $main_light
        padding: 33px
