$text_black: #414141
$main_brown: #C5A158
$main_brown-hover: #ac8a48

@media screen and (max-width: 1570px)
    .about
        &__img
            flex: 0 0 45%
        &__content
            flex: 0 0 45%

@media screen and (max-width: 1500px)

    .hero, .header, .footer
        .container
            max-width: 1200px

    .hero
        padding: 250px 0px 160px
        &__content
            max-width: 730px
        &__title
            font-size: 50px
            line-height: 70px
        &__subtitle
            font-size: 22px
            line-height: 28px

    .nav
        &_link
            font-size: 18px

    .benefits
        &__container
            justify-content: space-around
            flex-wrap: wrap

    .benefit
        margin: 0px 20px 50px
        max-width: 210px
        &__img
            height: 210px
        &__content
            margin-top: 30px
        &__title
            font-size: 20px
            line-height: 24px
        &__text
            font-size: 16px
            line-height: 20px
            margin-top: 20px

    .about
        &__content
            padding-left: 30px
            flex: 0 0 53%

@media screen and (max-width: 1180px)
    .rates
        &__container
            padding-left: 0
            display: grid
            grid-template-columns: 1fr 1fr
            row-gap: 30px
            column-gap: 30px
            justify-items: center
        &__item
            position: relative
            flex-direction: column
            width: 100%
            max-width: 600px
            & + &
                margin: 0
        &__text
            font-size: 16px
            line-height: 20px
            &_mb
                display: inline-block
                margin-bottom: 1em
            &_large
                & ~ &
                    margin-top: 1em
        &__text:not(&__text_large) + &__text_large
            font-weight: 400
        &__text:not(&__text_large):not(&__description)
            display: none
        &__preview
            height: 300px
            width: 100%
            margin-bottom: 15px
        &__name
            font-size: 16px
            line-height: 20px
            margin-bottom: 10px
        &__description
            font-size: 14px
            line-height: 18px
        &__content
            top: 0
            right: 0
            margin-left: 0
            height: 300px
            max-width: 250px
            position: absolute
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center
            padding: 5px 5px 20px 20px
            background-color: rgba(255, 255, 255, .6)
        .button.button_rates
            max-width: none
            font-size: 14px
            line-height: 18px

@media screen and (max-width: 1090px)
    .about
        flex-direction: column
        &__img, &__content
            flex: none
        &__img
            width: 100%
            height: 530px
        &__content
            padding: 30px 0px

@media screen and (max-width: 890px)
    .rates
        &__container
            grid-template-columns: 1fr

    .footer
        flex-direction: column
        &__map
            transform: none
            flex: none
            z-index: 2
            height: 420px
        &__content
            flex: none
        &__body
            max-width: none
            text-align: center
            align-items: center
        &__text
            text-align: center
            max-width: 350px
            margin: 0 auto
        .logo
            max-width: 120px
            width: 100%

@media screen and (max-width: 810px)
    .hero
        &__content
            display: flex
            flex-direction: column
            align-items: center
        &__title
            text-align: center
            font-size: 45px
            line-height: 55px
        &__subtitle
            text-align: center
            font-size: 22px
            line-height: 28px
            max-width: 600px
            margin-top: 10px
            margin-bottom: 20px

@media screen and (max-width: 760px)
    .benefits
        &__container
            justify-content: center
            flex-direction: column
            align-items: center

    .timer
        &__title
            font-size: 18px
        &__time
            font-size: 28px

    .swiper
        &__control
            display: none

    .benefit
        flex-direction: row
        margin: 0px 0px 30px
        max-width: 700px
        align-items: center
        &__content
            align-items: flex-start
            margin-top: 0
            margin-left: 30px
        &__img
            height: 160px
            width: 160px
            flex-shrink: 0
            border-radius: 8px
        &__title, &__text
            text-align: left
            font-size: 16px
            line-height: 24px
        &__text
            margin-top: 10px

@media screen and (min-width: 650px)
    .about
        &>.container
            padding: 0
            max-width: none

@media screen and (max-width: 650px)
    .container
        padding: 0px 35px
  
    .burger
        display: inline-block

    .gallery
        padding: 30px 0px
        &__container
            margin-top: 25px
        &__row
            margin-top: 10px
        &__row &__img + &__img
            margin-left: 10px
        &__col
            & + &
                margin-left: 10px
            &_reverse
                &>.gallery__img
                .gallery__row
                    margin-bottom: 10px

    .hero
        padding: 200px 0px 130px

    .about
        &__content
            padding-top: 30px
        &__text
            font-size: 18px
            line-height: 24px
            margin-top: 20px
        &__img
            height: auto
            border-radius: 12px
            overflow: hidden
            margin-top: -100px
            img
                position: relative
                transform: scale(1.03)

    .section__title
        font-size: 26px
        line-height: 34px

    .timer
        display: none

    .header
        padding: 15px 0px
        &__wrap
            justify-content: center
            .nav
                display: none
        .button
            display: inline-block
            position: absolute

    .rates
        &__header, &__footer
            display: none
        &__container
            margin-top: 40px

    .popup
        &__body
            padding: 30px
        &__label
            &-text
                font-size: 16px
        &__title
            font-size: 20px

@media screen and (max-width: 620px)
    .benefits
        &__container
            margin-top: 30px !important
        &__title
            background-color: transparent
            padding: 0px 15px
            color: $main_brown
            font-size: 28px
            line-height: 34px

    .rates
        &__preview
            height: 280px
            border-radius: 20px
        &__content
            height: 280px

    .about
        &__socials
            margin-top: 25px
            
        &__link
            height: 30px
            width: 30px
            svg
                max-width: 20px

    .benefit
        align-items: flex-start
        &__content
            margin-left: 20px
        &__img
            height: 95px
            width: 95px
        &__text, &__title
            font-size: 12px
            line-height: 16px

@media screen and (max-width: 540px)

    .popup
        &__close
            top: 10px
            right: 10px
            &::before, &::after
                width: 30px
                height: 3px

    .swiper
        &__img
            max-width: 100%

    .rates
        &__preview
            height: 220px
        &__content
            height: 220px
            max-width: 200px

@media screen and (max-width: 440px)

    .benefits
        &__title
            font-size: 18px
            line-height: 26px

    .container
        padding: 0px 15px

    .header
        padding: 5px 0px
        .logo
            max-width: 70px

    .burger
        left: 15px

    .gallery
        &__container
            flex-direction: column
        &__row &__img img
            height: 135px
        &__row
            margin-top: 5px
        &__col
            &_reverse .gallery__row
                margin-bottom: 5px
            & + &
                margin-left: 0
                margin-top: 5px            

    .rates
        &__preview
            border-radius: 10px
        &__name
            font-size: 14px
            line-height: 18px
        &__description
            font-size: 12px
            line-height: 16px
        &__content
            max-width: 180px
            padding: 0px 10px 5px

    .hero
        padding: 160px 0px 130px
        &__title
            font-size: 25px
            line-height: 33px
        &__subtitle
            font-size: 14px
            line-height: 19px

    .about
        &__text
            font-size: 14px
            line-height: 18px

    .section__title
        font-size: 20px
        line-height: 24px

    .button
        &_hero
            font-size: 12px
            line-height: 16px
            padding: 12px

    .footer
        &__body
            padding: 25px 0px
        &__title, &__text
            font-size: 16px
            line-height: 24px

@media screen and (max-height: 700px)
    .popup
        margin-top: 70px

@media screen and (max-width: 340px)
    .popup
        margin-top: 180px