$mainText: #1D1D1D
$purpleText: #5306E1
$orangeText: #FFA801

.orange-text
    color: $orangeText

.purple-text
    color: $purpleText

.main-text
    color: $mainText
*
    box-sizing: border-box
    font-family: 'Open Sans', sans-serif
    margin: 0px
    padding: 0px
    line-height: 22px
    font-size: 16px
    color: $mainText

.head-page
    background-image: url(../src/img/header-page_bg.png)
    background-repeat: no-repeat
    background-size: cover
    height: 100vh
    width: 100%
    padding-top: 10px

.header 
    background-color: #fff
    padding: 0px 15px
    border-radius: 10px

.header__content
    display: flex
    align-items: center
    justify-content: space-between
    height: 60px

.nav
    display: flex
    align-items: center
    justify-content: center

.header__nav
    display: flex
    list-style-type: none
    margin: 0px
    padding: 0px

.header__nav__item
    padding: 5px
    display: inline-block
    margin-right: 45px

.header__link
    color: $mainText
    font-weight: bold
    transition-duration: 0.3s
    &:hover
        transition-duration: 0.3s
        
        text-decoration: none
        outline: none
        color: $purpleText

.button
    font-weight: bold
    padding: 10px 15px
    color: #F1F1F1
    background: linear-gradient(249.48deg, #5306E1 0%, #8627E3 100%)
    border-radius: 7px
    border: none

.login
    padding: 10px 15px

.section__head
    font-size: 40px
    line-height: 45px
    font-weight: bold

.slider
    margin-top: 40px

.slide__control
    display: flex
    align-items: center

.slide__text
    margin-top: 80px

.slider__title
    color: #fff

.entrude
    padding-top: 20px
    padding-bottom: 20px
    width: 100%

.slider__text
    color: #fff

.orange-text
    color: $orangeText

.play
    height: 65px
    width: 65px
    border-radius: 100%
    border: none
    background-color: $orangeText
    position: relative
    &__vertical
        position: absolute
        width: 3px
        height: 30px
        display: block
        background-color: #f1f1f1
        transform: translate(20px,-50%)
    &__triangle
        position: absolute
        width: 3px
        height: 30px
        display: block
        background-color: #f1f1f1
        transform: translate(27px,-50%)
        &::before
            content: ''
            position: absolute
            width: 3px
            height: 25px
            display: block
            background-color: #f1f1f1
            transform: translate(0px, 5%) rotate(-54deg)
            transform-origin: top
        &::after
            content: ''
            position: absolute
            width: 3px
            height: 25px
            display: block
            background-color: #f1f1f1
            transform: translate(0px, 16%) rotate(55deg)
            transform-origin: bottom

.slider-btn
    padding: 20px 60px
    border-radius: 0px 33.5px 33.5px 33.5px

.how
    padding-top: 60px

.section__head

.how__list
    list-style-type: none
    position: relative
.how__item
    display: flex
    &:hover 
        .how__text
            display: block
        
.how__name
    margin-bottom: 20px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 10px
    padding: 20px 0px
    width: 100%
    background-color: #f1f1f1
    transition: .3s ease
    position: relative
    &:hover
        background-color: $purpleText
        transition: .3s ease
        &::before
            transition: .3s ease
            background-color: $purpleText
            color: #f1f1f1
            font-weight: bold
        .how__p
            transition: .3s ease
            color: #f1f1f1
            font-weight: bold
    &::before
        transition: .3s ease
        content: ''
        height: 66px
        width: 66px
        background-color: #f1f1f1
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        left: -76px

.how__text
    position: absolute
    display: none
    padding: 20px
    border-radius: 10px
    background-color: #f1f1f1

.how__item:nth-child(1)
    .how__name::before
        content: '1'
    .how__text
        top: 0px
.how__item:nth-child(2)
    .how__name::before
        content: '2'
    .how__text
        top: -82px
.how__item:nth-child(3)
    .how__name::before
        content: '3'
    .how__text
        top: -164px
.how__item:nth-child(4)
    .how__name::before
        content: '4'
    .how__text
        top: -246px
     
.how__p
    transition: .3s ease
    margin: 0
    color: $purpleText

.partners
    margin-top: 120px
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding-bottom: 60px
    &__logos
        transform: translateX(0px)
        display: flex
    &__img-wrap
        margin-right: 67px

.advantages
    background: rgb(25,9,54)
    background: linear-gradient(29deg, rgba(25,9,54,1) 0%, rgba(44,14,102,1) 50%, rgba(27,11,60,1) 100%)
    padding: 60px 0px
    &__grid
        display: grid
        grid-template-columns: 220px 220px
        grid-column-gap: 135px
        grid-row-gap: 80px
        margin-top: 60px
    &__item
        max-width: 220px
        &:hover
            .advantages__diag
                transition: .2s ease-in
                box-shadow: 0 10px 100px #421d8a
                transform: scale(1.2)
    &__title
        text-align: right
        color: #fff
        font-weight: bold
        font-size: 20px
        line-height: 27px
        margin-bottom: 15px
    &__text
        color: #fff
        font-size: 16px
        line-height: 22px
    &__diag
        transition: .2s ease-in
        margin-left: 15px
    
.portfolio
    padding: 60px 0px
    p
        font-size: 16px
        line-height: 22px
    &__list
        list-style-position: inside
    &__item
        font-size: 16px
        line-height: 22px
    .section__head
        margin-bottom: 35px
    &__wrapper
        display: flex
        width: 2000px
        position: relative
        margin-bottom: 20px
    &__slider
        max-width: 660px
        overflow: hidden
    &__slide
        margin: 0 10px
        display: inline-block
        height: 415px
        max-width: 635px
        object-fit: cover
    &__img
        object-fit: cover
    &__prev
        position: absolute
        top: 50%
        transform: translate(61%, -50%)
        height: 60px
        width: 32px
        border: none
        background-color: transparent
        &::after
            content: ''
            top: 0
            position: absolute
            background: rgba(29, 29, 29, 0.2)
            border-radius: 2.5px
            width: 5px
            height: 44px
            transform: rotate(40deg)
            transform-origin: center
        &::before
            content: ''
            top: 50%
            position: absolute
            background: rgba(29, 29, 29, 0.2)
            border-radius: 2.5px
            width: 5px
            height: 44px
            transform: rotate(-40deg)
            transform-origin: center
            
    &__next
        position: absolute
        top: 50%
        transform: translate(calc(635px - 42%), -50%)
        height: 60px
        width: 32px
        border: none
        background-color: transparent
        &::after
            content: ''
            top: 0
            position: absolute
            background: rgba(29, 29, 29, 0.2)
            border-radius: 2.5px
            width: 5px
            height: 44px
            transform: rotate(-40deg)
            transform-origin: center
        &::before
            content: ''
            top: 50%
            position: absolute
            background: rgba(29, 29, 29, 0.2)
            border-radius: 2.5px
            width: 5px
            height: 44px
            transform: rotate(40deg)
            transform-origin: center
    &__radios
        display: flex
        justify-content: center
    &__radio
        margin-right: 10px

.price
    background: rgb(25,9,54)
    background: linear-gradient(29deg, rgba(25,9,54,1) 0%, rgba(44,14,102,1) 50%, rgba(27,11,60,1) 100%)
    padding: 60px 0px
    .section__head
        text-align: right
    &__checkbox
        display: none
    &__span
        position: relative
        cursor: pointer
        user-select: none
        &::before
            content: "Месяц"
            transition: .2s
            padding: 15px 40px
            font-size: 16px
            line-height: 22px
            color: #fff
            background-color: #FFA801
            border-radius: 6px 0px 0px 6px
            width: 128px
            user-select: none
            position: absolute
        &::after
            content: "Год"
            transition: .2s
            transform: translateX(100%)
            padding: 15px 40px
            font-size: 16px
            line-height: 22px
            color: #1d1d1d
            background-color: #fff
            border-radius: 0px 6px 6px 0px
            width: 128px
            user-select: none
            position: absolute
    &__checkbox:checked + &__span::before
        background-color: #fff
        color: #1d1d1d
    &__checkbox:checked + &__span::after
        background-color: #FFA801
        color: #fff

.rate
    margin-top: 30px
    padding: 22px
    background-color: #fff
    border-radius: 10px
    width: 100%
    min-height: 300px
    display: flex
    flex-direction: column
    align-items: center
    color: #1D1D1D
    &__head
        font-size: 20px
        line-height: 27px
        font-weight: bold
    &__disc
        font-size: 11.5px
        line-height: 16px
    &__features
        
    &__feature
        font-size: 16px
        line-height: 22px
        list-style-position: inside
        margin-bottom: 15px
    &__br
        display: block
        width: 190px
        height: 3px
        background: #FFA801
        border-radius: 2px
    &__price
        font-weight: bold
        font-size: 20px
        line-height: 27px
        text-transform: lowercase
        margin: 12px 0px
        color: #5306E1
    &__buy
        font-size: 20px
        line-height: 27px
        text-transform: uppercase
        font-weight: bold
        border: none
        width: 100%
        padding: 10px
        background: #C4C4C4
        border-radius: 10px
        color: #fff
        outline: none
        transition: .3s ease-in
    &__buy:hover
        transition: .3s ease-in
        background: linear-gradient(234.31deg, #5306E1 0%, #8627E3 100%)

.coments
    padding: 60px 0px

    &__slider

    &__slide

    &__photo

    &__item
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: 60px
        width: 500px
        background-color: #f1f1f1
        height: 200px
        border-radius: 50%
        position: relative
        padding: 0px 50px
    &__name
        font-weight: bold
        margin-bottom: 15px
        font-size: 20px
        line-height: 27px
        color: #5306E1
    &__coment
        font-size: 16px
        line-height: 22px
        color: #1D1D1D

.form
    background: rgb(25,9,54)
    background: linear-gradient(29deg, rgba(25,9,54,1) 0%, rgba(44,14,102,1) 50%, rgba(27,11,60,1) 100%)
    padding: 60px 0px
    .section__head
        text-align: center
        margin-bottom: 30px
    &__wrap
        background-color: #fff
        width: 100%
        border-radius: 10px
        border: 10px solid #8023E3
        padding: 45px 95px 25px 95px
    
    &__fields
        width: 100%
        input
            border: none
            border-bottom: 2px solid #1D1D1D
            width: 100%
            margin-bottom: 30px
            font-weight: bold
            font-size: 20px
            line-height: 27px
            color: #1d1d1d
            &:focus
                outline: none
    &__name

    &__label
        padding-right: 100px
        margin-left: 65px
        position: relative
        cursor: pointer
        transition: .2s ease-in-out
        user-select: none
        span
            &::before
                content: ''
                left: -65px
                display: block
                position: absolute
                background-color: transparent
                background-color: #ffa801
                height: 40px
                width: 40px
                border-radius: 10px
            &::after
                content: ''
                top: 0
                display: none
                position: absolute
                background-color: transparent
                background-color: #fff
                transform: translate(-275%, 50%)
                height: 20px
                width: 20px
                border-radius: 10px
                transition: .2s ease-in-out
        
    &__button
        color: #fff !important
        padding-left: 40px
        padding-right: 40px
    &__agreement
        display: none

    &__agreement:checked + span::after
        transition: .2s ease-in-out
        display: block
        margin-bottom: 0px !important
        