@media screen and ( max-width: 1370px )
    .contacts
        &__wrap
            margin-top: 180px
    
@media screen and ( max-width: 1200px )
    .hero
        &__list
            margin-top: 70px
    
    .popup
        &__body
            margin-top: 60px
        &__close
            transform: translate(0%, -100%)

    .contacts
        &__wrap
            flex-direction: column
        &__items
            flex-direction: row
            width: 100%
            max-width: 900px
            justify-content: space-between
            margin: 40px 0px
        &__item + &__item
            margin-left: 30px
        &__map
            margin-left: 0
            margin-top: 40px
            max-width: none

@media screen and ( max-width: 1100px )

    .text-page
        &__content
            margin-top: 190px

@media screen and ( max-width: 1010px )
    .form
        &__col + &__col
            margin-left: 20px

@media screen and ( max-width: 890px )
    .hero
        &__content
            margin-top: 170px

    .header
        &__wrap
            padding-top: 20px
        &__logo
            max-width: 90px
            height: auto
        &__address
            margin-left: 30px

    .quiz
        &__text
            &-input
                padding: 20px 40px

    .popup  
        &__body
            margin-top: 40px
    .form
        &__agreement
            margin-left: 20px

@media screen and ( max-width: 820px )
    .header
        &__address
            display: none

    .quiz
        &__container
            margin-top: 150px

    .text-page
        &__content
            margin-top: 150px
            p.text_light:first-of-type
                margin-top: 25px
            p.text_light+p.text_light
                margin-top: 15px
            p.text_light
                font-size: 18px

@media screen and ( max-width: 730px )
    section
        padding-bottom: 40px

    .text
        &_large
            line-height: 44px !important
            font-size: 42px !important

    .header
        background-color: rgba(0, 0, 0, .9)
        &__wrap
            padding: 10px 0px

    .section
        &__title
            font-size: 32px
            line-height: 45px

    .main
        min-height: 100vh
        height: auto
        .swiper-wrapper
            flex-direction: column

    .hero
        &__content
            margin-top: 150px

    .text-page
        &__content
            margin-top: 70px

    .quiz
        &__container
            margin-top: 70px
        &__checkbox
            height: 30px
            width: 30px
        &__buttons
            flex-direction: column-reverse
            .button + .button
                margin-left: 0
                margin-bottom: 30px
        &__text
            margin-left: 20px
            &-input
                margin-bottom: 50px

    .popup
        p.text_light
            line-height: 26px
            margin-top: 15px
        &__close
            &-btn
                margin-top: 70px
        &__body
            &_big
                .form
                    margin-top: 50px

    .form
        &__col + &__col
            margin-left: 0
            margin-top: 30px
        &__row + &__row
            margin-top: 30px
        &__wrap
            flex-direction: column

    .contacts
        &__footer
            bottom: 0
            position: relative
            flex-direction: column
            align-items: center
            & > *
                margin-top: 20px
            &  *
                text-align: center
        &__map
            iframe
                height: 400px
        &__wrap
            margin-top: 70px
        &__items
            flex-direction: column
        &__item + &__item
            margin-left: 0
            margin-top: 30px

    .buttons-row
        flex-direction: column
        align-items: stretch
        .button + .button
            margin-top: 30px
            margin-left: 0
        .button
            max-width: none

@media screen and ( max-width: 650px )
    .text
        &_light
            font-size: 16px
    .text-page
        &__content
            p.text_light
                font-size: 16px
    .section
        &__title
            font-size: 26px
            line-height: 34px

    .quiz
        &__buttons
            justify-content: center
            align-items: stretch
            margin-top: 40px
            .button
                max-width: none
        &__title
            line-height: 35px
        &__text
            font-size: 20px
            &-input
                padding: 20px
                margin-bottom: 0

    .contacts
        .button
            max-width: none

    .form
        margin-top: 30px
        &__agreement
            width: 100%
            display: inline-block
            text-align: center
            margin-left: 0
        &__row + &__row
            margin-top: 40px
        &__row
            &:last-of-type
                flex-direction: column
                align-items: center
                .button
                    max-width: none
                    margin-bottom: 20px
    .hero
        &__content
            margin-top: 150px
        &__list
            margin-top: 40px
        &__item
            span
                margin-left: 15px
        .section__title
            margin-top: 20px

    .button
        &_white, &_black, &_transparent
            padding: 20px 10px

@media screen and ( max-width: 400px )
    .header
        &__logo
            max-width: 70px
        &__tel
            font-size: 18px

    .hero
        &__content
            margin-top: 120px

    