@font-face
    font-family: "HCo Gotham"
    src: url(../fonts/GothamPro.woff2) format('woff2'),
    url(../fonts/GothaProReg.otf) format('opentype')
    font-style: normal
    font-weight: 400

@font-face
    font-family: "HCo Gotham"
    src: url(../fonts/GothamPro-Medium.woff2) format('woff2'),
    url(../fonts/GothaProMed.otf) format('opentype')
    font-style: normal
    font-weight: 500

@font-face
    font-family: "HCo Gotham"
    src: url(../fonts/GothamPro-Bold.woff2) format('woff2'),
    url(../fonts/GothaProBol.otf) format('opentype')
    font-style: normal
    font-weight: 700
