@import "variables"
    
*, *::before, *::after
    box-sizing: border-box  
    margin: 0
    padding: 0
    transition: all .2s ease-out 0s
    font-family: "HCo Gotham", sans-serif

.buxom2
    &_conatiner
        padding: 0px 0px 120px
        margin: 0 auto
        max-width: 948px
        background-color: $pink
    &_wrapper
        margin: 0 auto
        padding: 10px
        max-width: 790px
    &_header
        padding: 84px 0px 5px
        background-color: $pink
    &_title
        font-size: 30px
        text-align: center
        text-transform: uppercase
        font-weight: 700
        &__name
            display: block
            line-height: 88px
            font-size: 44px
    &_subtitle
        text-transform: uppercase
        padding: 48px 0px 38px
        font-weight: 700
        text-align: center
        font-size: 30px
        line-height: 40px
        margin: 0 auto
        &_catalog
            padding-bottom: 20px
    &_hero
        &__card
            position: relative
            z-index: 2
            width: 100%
            margin: -100px auto 0
            padding: 30px 22px 40px
            background-color: rgba(255, 255, 255, .5)
        &__text
            text-align: center
            font-size: 21px
            line-height: 30px
            &_left
                text-align: left
            & + &
                margin-top: 1.2em
            strong
                display: block
                text-align: center
        img
            max-width: 100%
    &_video
        &__container
            position: relative
            height: 0
            padding-bottom: 56.25%
        &__iframe
            border: none
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
    &_catalog
        &__row
            display: flex
            align-items: stretch
            justify-content: center
            padding: 0px 20px
            margin-bottom: 45px
            &:last-child, &:only-child
                margin-bottom: 0
        &__item
            display: flex
            flex-direction: column
            align-items: center
            background-color: $dark-pink
            padding: 25px 20px 20px
            margin-right: 25px
            max-width: 352.5px
            width: 100%
            position: relative
            &:last-child, &:only-child
                margin-right: 0
            &-title
                text-align: center
                font-weight: 700
                font-size: 25px
                line-height: 35px
                text-transform: uppercase
            &-img
                flex-shrink: 0
                margin-bottom: 20px
                width: auto
                height: 200px
            &-link
                display: inline-block
                text-align: center
                text-decoration: none
                color: $dark-pink
                background-color: $pink
                font-size: 18px
                padding: 12px 25px
                text-transform: uppercase
                font-weight: 700
            &-col
                flex-direction: column
                display: flex
                align-items: center
                max-width: 360px
                .buxom2_catalog__item-img
                   position: absolute
                   left: 90px
                   height: 95% !important
                .buxom2_catalog__item-title
                    margin-bottom: 40px
            &_wide
                padding: 10px 50px 10px 90px
                max-width: none
                flex-direction: row
                align-items: center
                justify-content: flex-end
                .buxom2_catalog__item-img
                    margin-bottom: 0
                    height: 180px
                    width: auto    