$violet: #7731AD
$yellow: #FFB800
$yellow-bg: #FFCC36
$light-yellow: #FECE02
$acid-yellow: #FFDF19
$brown: #955200
$grey-brown: #674F4D
    
@media screen and ( min-width: 570px )
    .header__burger, .header__mobile-tel
        display: none
  
@media screen and ( min-width: 660px )
    .replies
        &-video__prev, &-video__next
            display: none

@media screen and ( min-width: 720px )

    .section
        &__elements
            .swiper-wrapper
                flex-wrap: wrap
                justify-content: space-around
            .swiper-slide
                width: auto
        &__benefit-next, &__benefit-prev
            display: none

        &__cards,
            .swiper-wrapper
                display: grid
                grid-gap: 2em 1em
                grid-template-columns: repeat(3, 1fr)

        &__programs
            .swiper-wrapper
                display: grid
                grid-gap: 2em 1em
                grid-template-columns: repeat(2, 1fr)

        &__actions
            .swiper-wrapper
                flex-wrap: wrap
                justify-content: space-around
            .swiper-slide
                width: auto

@media screen and ( min-width: 900px )
    .section
        &__programs
            .swiper-wrapper
                display: grid
                grid-gap: 2em 1em
                grid-template-columns: repeat(3, 1fr)

@media screen and ( min-width: 1130px )
    .section__benefit-next, .section__benefit-prev, 
    .section__program-next, .section__program-prev,
    .section__show-next, .section__show-prev,
    .section__action-next, .section__action-prev,
        display: none
    
    .examples
        &__wrap
            padding: 0px 60px

    .section
        &.order
            background-size: cover
        &__actions
            .swiper-wrapper
                display: flex
                justify-content: space-between
                margin-top: 20px
            .swiper-slide
                width: auto
        &__cards, &__programs
            .swiper-wrapper
                margin-top: 60px
                display: grid
                grid-gap: 2em 1em
                padding: 0px 30px
        &__cards, &.gifts
            .swiper-wrapper
                display: grid
                grid-template-columns: repeat(4, 1fr)
        &.gifts
            .swiper-wrapper
                grid-column-gap: 1em
                grid-row-gap: 2em
        &__programs
            .swiper-wrapper
                grid-template-columns: repeat(3, 1fr)
        &__elements
            .swiper-wrapper
                display: flex
                flex-wrap: wrap
                justify-content: space-between
            .swiper-slide
                width: auto

@media screen and ( max-width: 1130px )
    .header
        padding: 5px 0px
        position: static
        background-color: #fff !important
        &.fixed
            .header__social
                display: none
        &__burger
            display: inline-block
        &__menu
            display: none

    .banner
        margin: 45px

    .big-slider
        .slide
            &__wrap
                z-index: 10
                padding-top: 0
                padding-left: 60px
        &__gradient
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 250px
            background: rgb(255,255,255)
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)

    .section
        &.order
            background-size: cover
        &__elements
            justify-content: space-around
            position: relative
        &__personage
            margin-top: 40px
            max-width: 350px
            &-photo
                margin: 25px
            &-circle-outer
                box-shadow: 0 0 0px 15px #7F1FA09e, 0 0 0px 30px #6D14959e
        &__cards
            grid-template-columns: repeat(2, 1fr)
        &__card
            &-price
                display: block
        &__online
            margin-left: 30px
            img
                z-index: -1
                margin-top: 30px
        &__actions
            overflow: hidden
        &__action
            padding-left: 20px
            p
                max-width: 170px
            &-circle
                margin-right: 23px
        &__programs
            display: block
            &-btn-wrap
                margin-top: 70px

    .questions
        &__form
            &-col
                flex: 1 1 50%
                p
                    margin-left: 10px

    .about
        &__bg
            left: -60%
        &__content
            margin-top: 40px
            p
                flex: 1 0 70%
        &__btn
            position: relative
            left: 50%
            transform: translateX(-50%)

    .review
        &__bg
            transform: translate(-60%, -3%)

    .services
        &__wrap
            flex-wrap: wrap
            align-items: flex-start
            ul
                margin: 0px 10px
            ul:nth-child(1)
                order: 1
            ul:nth-child(3)
                order: 2
            ul:nth-child(2)
                order: 3
    
    .footer
        &__wrap
            justify-content: space-around
        &__policy
            text-align: center

    .examples
        &__wrap
            padding: 0px 60px
            .swiper-slide
                display: flex
                justify-content: center
        &__video
            max-width: 600px

    .find
        padding-top: 50px
        &__bg
            left: 100%
            transform: translateX(-50%)
        &__title
            font-size: 30px
        &__img
            margin-top: 30px
        &__wrap
            flex-direction: column-reverse

@media screen and ( max-width: 1010px )

    .replies
        &__slider
            &-img
                display: none
        &__grid
            grid-template-columns: repeat(1, 1fr)
            justify-items: center

    .cards__anyway
        grid-template-columns: repeat(3, 1fr) !important

    .format
        &__wrap
            flex-direction: column
            align-items: center
        &__programs
            width: 100%
            max-width: 625px
            padding: 15px 0px 0px
            &-item + &-item
                margin-top: 0
            &-item
                margin-bottom: 1em
                text-align: center
                height: auto
            &-link
                max-width: 170px
            &-list
                column-count: 2
                height: 120px
                margin-bottom: 30px
        &__item
            &-head
                margin-bottom: -5px
        &__items
            width: 100%
            max-width: 625px
            margin-left: 0px

    .item
        &__head
            align-items: flex-start
        &__price
            flex-wrap: wrap
            &-item + &-item
                margin: 0
        &__photo
            padding: 30px 20px
            img
                transform: translateX(-50%)
        &__content
            margin-left: 20px
        &__form
            margin-bottom: 20px
            display: flex
            justify-content: center

    .reviews
        &__content
            display: flex
            align-items: center
            flex-direction: column
        &__review
        &__video
            &-placeholder
                max-width: 550px
                width: 100%

@media screen and ( max-width: 900px )
    .articles
        &__wrap
            grid-template-columns: repeat(2, 1fr)

    .article
        &_small
            max-width: none
        &_big-r
            grid-column-start: 3
            grid-column-end: 1
        &_big-l
            grid-column-start: 1
            grid-column-end: 3

    .tabs
        &__nav
            &-link
                font-size: 14px
    
    .tab
        &__item
            padding: 20px 20px 20px 10px
            &-top
                flex-direction: column
            &-title
                width: 100%
                text-align: center
     
@media screen and ( max-width: 760px )
    .cards__anyway
        grid-template-columns: repeat(2, 1fr) !important

@media screen and ( max-width: 720px )
    .header
        padding-top: 20px
        &.fixed
            padding: 2px 0px
            .header__recall
                margin: 0
            .header__tel
                display: none
    .section
        &__benefit
            flex-direction: column
            &-prev, &-next
                position: absolute
                top: 50%
                transform: translateY(-50%)
            &-prev
                left: 0
            &-next
                right: 0
        &__cards
            position: relative
        &__show
            &-next, &-prev
                position: absolute
                top: 50%
                transform: translateY(-50%)
            &-prev
                left: 0
            &-next
                right: 0

    .packet
        .find__bg1, .find__bg2
            display: none

    .tabs
        margin-top: 20px
        &__wrap
            border-radius: 15px
        &__nav
            border: none
            margin-bottom: 20px
            ul
                flex-direction: column
                align-items: center
                li
                    width: 80%
            &-link
                font-size: 16px
                padding: 20px 0px
                border-radius: 30px
                &.active
                    box-shadow: 0 3px 0 0 $brown

    .tab
        &__item + &__item
            border: none
        &__item
            flex-direction: column
            padding: 0
            &-mobile
                width: 100%
                display: flex
                flex-direction: column
                align-items: center
                padding: 20px
                box-sizing: border-box
            &-top
                display: block
                width: 100%
            &:last-child
                .tab__item-title
                    border-radius: 0 0 15px 15px
            &:first-child
                .tab__item-title
                    border-radius: 15px 15px 0 0
            &-title
                padding: 1em 0px
                color: #fff
                background: rgb(215,99,231)
                background: linear-gradient(180deg, rgba(215,99,231,1) 0%, rgba(134,56,182,1) 100%)
                &.active
                    background: rgb(255,225,0)
                    background: linear-gradient(180deg, rgba(255,225,0,1) 0%, rgba(255,191,0,1) 100%)
                    color: $grey-brown
            &-list
                border-top: 1px solid $acid-yellow
                display: flex
                padding-top: 10px
                flex-direction: column
                text-align: center
                width: 100% 
                list-style-position: inside
        &__personage
            float: left

    .blog
        .container
            padding: 0
        &__wrap
            margin-top: 0
        &__img
            max-width: none
        p
            padding: 0px 20px

@media screen and ( max-width: 660px )
    .online
        &__wrap
            img
                position: static
                width: 150%
                height: auto
                object-fit: contain
    
    .replies
        &__videos
            padding: 0px 20px 60px
        &__review
            padding: 20px
        
    .item
        &__head
            flex-direction: column
            margin-bottom: 20px
        &__name
            font-size: 26px
            margin-bottom: 25px
        &__content
            margin: 0
        &__form
            &-inputs
                flex-direction: column
            &-input + &-input
                margin: 20px 0px
            
    .notfound
        padding: 60px 0px
        &__wrap
            min-height: 300px
        &__item:first-child
            display: none
        &__item + &__item
            transform: none
            img
                transform: translateX(10%)
            p
                margin-top: 20px
                text-align: center
                transform: none

@media screen and ( max-width: 570px )

    .item
        padding: 30px 0px

    .reviews
        padding-top: 30px

    .celebration
        &__body
            padding: 40px 0px

    .replies
        &__videos
            padding: 0px 10px 60px
        &-video
            &__prev
                top: 40%
                transform: translate(-15%, -50%)
            &__next
                top: 40%
                transform: translate(15%, -50%)
        &__slider
            display: none


    .gallery
        padding-top: 1px

    .big-btn
        font-size: 19px

    .big-slider
        .slide
            &__wrap
                padding-left: 10px

    .packet
        padding-top: 0px

    .popup
        &__bundle
            padding-top: 70px
            .swiper-slide-active
                transform: none
            .swiper-btn
                height: 30px
                width: 30px
                img
                    max-width: 10px
            &-prev
                transform: translate(-70%, -60%)
            &-next
                transform: translate(70%, -60%)
            &-slider
                padding: 0
                max-width: 235px
            .section__titles
                h2
                    font-size: 18px
            &-item1, &-item2, &-item3, &-item4, &-item5
                display: none
            &-list
                max-height: none !important
                flex-direction: column
            &-keys
                max-width: 140px
                li
                    font-size: 14px
            &-old
                font-size: 16px
            &-new
                font-size: 30px
        &__thx, &__violet, &__yellow
            padding: 80px 10px
            padding: 60px 10px
        &__garland, &__confeti, &__hat
            display: none
        &__yellow
            .popup__baloons
                left: 10px
                top: 190px
        &__crown
            width: 90px
            object-fit: contain
        &__regrats
            margin: 20px 0px
    
    .personages
        padding: 20px 0px
        &__offer
            display: none
        &.bghide
            .find__bg1, .find__bg2
                display: none
        &__bg
            &-b
                bottom: -100px
    .articles
        &_overflow
            margin-top: -50px
            padding-bottom: 40px !important
        &__wrap
            grid-template-columns: repeat(1, 1fr)

    .article
        &_big-r, &_big-l
            grid-column-start: 2
            grid-column-end: 1

    .button
        img
            display: none
    
    .find
        padding-top: 140px

    .big-next, .big-prev
        display: none
    .actions__bg
        display: none

    .article
        &__content
            padding: 10px 15px 15px

    .show-slider
        display: flex

    .section
        padding-top: 10px
        padding-bottom: 20px
        &__elements
            margin-top: 10px
        &.order
            padding: 50px 0px 30px
        &.gifts
            padding: 60px 0px
        &_purple
            padding-top: 70px
        &__action
            &-prev, &-next
                top: 10%
        &__title
            margin-top: 20px
            h2
                font-size: 22px
                margin: 0
            .section__arrow
                display: none
        &__slider
            padding: 0
        &__slide
            padding: 10px 20px
            &-title
                text-align: center
                font-size: 28px
                padding: 0px 15px
            &-per
                font-size: 64px
            &-sub
                margin-top: 10px
            &-offer
                p
                    font-size: 16px
                    font-weight: 700
            &-count
                padding: 0px 6px
                line-height: 40px
                border-radius: 10px
                margin: 3px
                font-size: 32px
            &-count:nth-child(2), &-count:nth-child(4)
                margin-right: 15px
                &::after
                    right: -15px
        &__show
            &-next, &-prev
                top: 10%
                position: absolute
                transform: translateY(-50%)
            &-prev
                left: 0
            &-next
                right: 0
        &__animate 
            display: none
        
        &__cards
            position: relative
            grid-template-columns: repeat(1, 1fr)
        &__card
            max-width: 265px
            margin: 0 auto
            img
                height: 100%
                object-fit: cover
        &__programs
            padding: 0px 5px
            display: flex
            position: relative
            &-btn-wrap 
                margin: 40px 0px
        &__online
            margin-left: 0px
            img
                position: relative
                width: 200%
                height: auto
                left: 0%
                margin-top: 0
            &-header
                margin-bottom: 0
                h2
                    font-size: 32px
            &-button
                flex-direction: column
            
        &__program
            padding: 20px 10px 0px
            ul
                padding: 0px 10px
            img
                width: 100%
            &-title
                margin: 0px 50px
            &-next, &-prev
                top: 5px
            &-next
                right: 0
        &__personage
            max-width: 270px
            &-stars
                width: 110%
            &-name
                font-size: 29px
            &-mask
                position: relative
                width: 270px
                top: 50%
                transform: translateY(-51%)
                height: 270px
            &-circle
                width: 270px
                height: 260px
                img
                    top: 60%
                &-outer
                    width: 270px
                    height: 260px
                    box-shadow: 0 0 0px 10px #7F1FA09e, 0 0 0px 20px #6D14959e
        &__actions
            padding: 30px 0px 20px
        &__action
            flex-direction: column

    .header
        &__mobile
            width: 100%
        &__contacts
            display: none

    .banner
        margin: 0
        &__wrap
            padding: 0
            h1
                font-size: 28px

    .review
        &__bg
                display: none
        &__slide
            grid-template-columns: repeat(1, 1fr)
        &__photos
            grid-template-columns: repeat(1, 1fr)

    .animators
        &-bg
            display: none

    .questions
        &__animate
            display: none
        h4
            text-align: center
        &__tel
            font-size: 32px
        &__round-links
            display: flex
            align-items: center
            a
                display: inline-block
        &__form
            flex-direction: column
            &-col + &-col
                margin-left: 0
                margin-top: 20px
            &-col
                .button
                    position: relative
                    left: 50%
                    transform: translateX(-50%)
                p
                    text-align: center
                    max-width: none
                    width: 100%
                    margin-bottom: 10px
        &__links
            flex-direction: column-reverse

    .celebration
        &__preview
            top: -30px
        padding-top: 40%
        .section__title
            margin-top: 0
    .cards__anyway
        grid-template-columns: repeat(1, 1fr) !important
        padding: 0 !important

    .dlc
        &__animate
            display: none

    .pa
        img
            display: none

    .about
        padding-bottom: 0
        &>img
            display: none
        &__content
            margin: 0
            flex-direction: column

    .services
        padding-top: 0
        &__bg
            height: 100%
        .section__title
            margin-top: 80px
        .section__titles
            margin-right: auto
            & h2 
                text-align-last: left
        &__wrap
            padding: 0 0 0 10px

    .nomt
        margin-top: 0px

    .footer
        &__contacts
            margin-top: 30px
            flex-direction: column
        &__recall
            margin-left: 0px
            margin-top: 20px
            img
                display: inline-block !important

    .blog
        &__right, &__left
            width: 100%
        &__body
            padding-bottom: 0px

    .online
        padding: 0 0 40px 0

    .examples + .personages
        padding-top: 50px

    .examples
        &__wrap
            padding: 5px
            .swiper-btn
                display: none
        padding-bottom: 30px
        &__videos
            grid-template-columns: repeat(1, 1fr)

    .format
        padding-top: 20px
        &__item
            &-head
                flex-direction: column
                padding: 20px
                margin-top: 20px
            &-price
                margin-top: 20px
            &-inputs
                flex-direction: column
                align-items: center
            &-input + &-input
                margin-top: 20px
                margin-left: 0
            &-list
                columns: 1
                max-height: none
            &-input
                width: 100%
                max-width: none
        &__programs
            margin-top: 20px
            &-list
                height: auto
                column-count: 1
            &-link
                font-size: 16px

    .tab
        &__personage
            height: 100px
            width: 100px
            margin-top: 20px
            &-circle
                height: 100px
                width: 100px
                position: relative
                img
                    width: 100%
                    height: auto
                    object-fit: contain
                    top: 55%
                &-outer
                    height: 100px
                    width: 100px
            &-mask
                height: 100px
                width: 100px


        &__item
            &-price + &-price
                margin-top: 10px
            &-top
                display: flex
                flex-direction: row
                justify-content: space-between

@media screen and ( max-width: 470px )  

    .replies
        &__item
            padding: 15px 25px
            &-img
                img
                    max-width: 60px
            &-title
                h3
                    font-size: 18px

    .big-slider
        margin-top: 0

    .banner
        &__wrap
            margin-bottom: 0
            padding-bottom: 40%

    .section__show-next, .section__show-prev
        top: 45%

    .notfound
        padding-top: 30px

    .header
        &__logo
            &-img
                width: 80%

    .section
        &.dlc
            overflow: hidden
            padding-top: 50px
            margin-top: -50px
        &__title
            h2
                max-width: none

    .section_yellow
        .section
            &__title
                &::before
                    height: 100px
                    width: 100px
                    background-size: contain
                    background-repeat: no-repeat
                    transform: translateY(-100%)
    .questions
        &__tel
            font-size: 30px

    .tabs
        &__wrap
            padding: 5px

    .services
        &__wrap
            ul + ul
                margin-top: 1em

    .tab
        &__item
            &-list
                padding-left: 20px
            &-mobile
                padding: 10px