*   
    margin: 0
    padding: 0
    font-family: 'Open Sans', sans-serif
    font-size: 21px
    transition: all .1s ease-in 0s
    
body
    width: 100%
    min-height: 100vh
    background: rgb(239,203,91)
    background: linear-gradient(90deg, rgba(239,203,91,1) 0%, rgba(239,203,91,1) 50%, rgba(95,154,187,1) 50%, rgba(95,154,187,1) 100%)
    background-repeat: no-repeat
    
.global-wrapper
    padding: 0px 60px    
.content
    max-width: 1280px
    padding: 0px 60px
    background-color: #cef8ce
    min-height: 100vh
    margin: 0 auto
    background-image: url("../img/planet.png")
    background-repeat: no-repeat
    background-position-y: 10px
    background-position-x: center
    overflow: hidden

.header
    padding-top: 50px
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    &__sertificates, &__logo
        img
            min-width: 120px
            left: 50%
            transform: translateX(-50%)
            position: relative
    &__logo
        z-index: 1
    &__img
        height: 100%
        width: 100%
        object-fit: contain
    &__titles
        text-align: center
        max-width: 500px
        height: 200px
        position: relative
        z-index: 3
    &__h1-wrap
        margin-bottom: 10px
    &__h2-wrap
        position: relative
        img
            width: 100%
            transform: scale(1.5)
            left: 0
            top: 10px
            z-index: -1
            position: absolute

    &__h1
        font-size: 60px
        color: #10649F
        text-transform: uppercase
        z-index: 3
    &__h2
        font-size: 30px
        color: #fff
        text-transform: uppercase
        z-index: 3

.main-title
    margin: 10px 0px
    text-align: center
    position: relative
    z-index: 0
    &__content
        z-index: 2
        display: inline-block
        background-color: #cef8ce
        position: relative
        padding: 0px 50px
        &::before, &::after
            content: ''
            display: block
            position: absolute
            background: url("../img/butterfly.png")
            top: 50%
            width: 45px
            height: 30px
        &::before
            left: 0
            transform: translate(-10%, -50%)
        &::after
            right: 0
            transform: translate(10%, -50%)
            
    span
        background-color: #10649F
        height: 2px
        display: inline
        left: 0
        top: 50%
        width: 100%
        position: absolute
        z-index: -1  
    &__img
        display: inline-block
        position: relative
        top: 50%
        transform: translateY(-50%)
        
    &__title
        margin: 0px 12px
        font-size: 45px
        text-transform: uppercase
        color: #10649F
        line-height: 60px
        display: inline-block

.about
    padding-bottom: 80px
    &__photos
        margin-top: 20px
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
    &__photo
        margin: 10px
        &:nth-child(1)
            img
                float: right
            width: 45%
        &:nth-child(2)
            width: 45%
    &__img
        margin-top: 10px
        margin-right: 30px
        float: left


.eco
    &__options
        margin: 40px 0px
        display: flex
        justify-content: center
        flex-wrap: wrap
    &__img
        margin-bottom: 1em
    &__title
        text-transform: uppercase
        color: #1C6DA3
        font-size: 18px
        margin-bottom: 1em
    &__text
        font-size: 14px
        &::first-letter
            text-transform: uppercase
    &__option
        padding: 10px
        margin: 3px
        width: 22%
        height: 305px
        background-color: #fff
        display: flex
        text-align: center
        align-items: center
        justify-content: center
        flex-direction: column
        &:hover
            color: #1C6DA3
    &__photos
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        margin-bottom: 40px
    &__photo
        width: 50%
        max-height: 300px
        display: flex
        align-items: center
        justify-content: center
        img
            width: 80%
            height: 80%
            max-height: 300px
            object-fit: contain


.referal
    margin-bottom: 50px
    &__laptop
        margin-top: 1em
        width: 50%
        position: relative
        left: 50%
        transform: translateX(-50%)
    &__about
        margin-top: 40px
        .referal__img
            float: left
            margin-right: 50px
            width: 45%
    
    &__table
        margin-top: 1em
        margin-bottom: 2em
        text-align: center
        border: 1px solid #1d77b3 
        td
            color: #1C6DA3
        th
            color: #fff
        td,th
            padding: 10px 0px
    &__title
        font-size: 30px
        text-transform: uppercase
        color: #1C6DA3
        margin-bottom: 10px
    &__title_2
        text-transform: none
        font-weight: 500
    &__list
        li
            color: #1C6DA3
            margin-bottom: 1em
            list-style-position: inside
            span
                &:first-child
                    color: #1C6DA3
                &:last-child
                    color: #000

.registration
    margin-bottom: 30px
    &__wrap
        position: relative
        width: 100%
        z-index: 2
    &__content
        z-index: 3
        padding: 50px 90px   
        z-index: 3
    &__bg
        z-index: -1
        position: absolute
        height: 100%
        width: 100%
    &__head
    &__top
        display: flex
        justify-content: space-around
        margin-bottom: 35px
        span
            color: #1C6DA3
    &__bottom
        display: flex
        justify-content: space-around
        align-items: center
        margin-bottom: 35px
        span
            font-size: 75px
    &__text
        margin-bottom: 100px
    &__italic
        color: #C16827
        font-style: italic
    &__form
        margin-bottom: 20px
        background-color: #1C6DA3
        border-radius: 5px
        text-align: center
        position: relative
        left: 50%
        transform: translateX(-50%)
        color: #fff
        max-width: 540px
        padding: 50px 20px 25px 20px
        z-index: 3
        p
            font-size: 18px
            font-weight: 400
        &::after
            content: ''
            display: block
            position: absolute
            height: 96px
            width: 96px
            background-color: #1C6DA3
            border-radius: 50%
            top: -50px
            z-index: -1
            left: 50%
            background-image: url("../img/small-logo.png")
            background-repeat: no-repeat
            transform: translateX(-50%)
    &__item
        border: none
        padding-left: 15px
        font-size: 18px
        height: 50px
        border-radius: 5px

    &__title
        text-transform: uppercase
        font-size: 40px
    &__data
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        input
            min-width: 45%
            margin-bottom: 20px
    &__label
        margin-top: 25px
        display: flex
        flex-direction: column
        width: 100%
        margin-bottom: 45px
        color: #fff
        span
            font-size: 16px
            text-transform: uppercase
            opacity: .5
            font-weight: normal
        input
            border: none
            background-color: #337BAC
            color: #fff
            text-align: center
            padding-left: 15px
            font-size: 18px
            height: 50px
            border-radius: 5px
            &::placeholder
                color: #fff
                opacity: .7
    &__submit
        padding: 12px 55px
        background-color: #36C44D
        border-radius: 4px
        font-weight: bold
        position: relative
        transform: translateX(-50%)
        left: 50%
        color: #fff
        border-top: #A0E3AB 1px solid
        border-right: #207733 1px solid
        border-left: #207733 1px solid
        border-bottom: 1px solid #185622
        text-align: center
        text-transform: uppercase
        display: block
        &:hover
            cursor: pointer
            background-color: #A0E3AB
    &__link
        font-weight: normal
        font-size: 14px
        opacity: 0.6
        color: #fff
@media screen and ( max-width: 1400px )
    .content
        max-width: 850px
    .header
        &__img
            
        &__titles
        &__h1-wrap
            
        &__h2-wrap
            img
        &__h1
            font-size: 50px
        &__h2
            font-size: 22px
    .about
        &__photo:nth-of-type(1)
            width: 100%
            img 
                height: 100%
                max-width: 300px
                object-fit: cover
                float: none
                position: relative
                left: 50%
                transform: translateX(-50%)
        &__photo:nth-of-type(2)
            display: none
        &__photo:nth-of-type(3)
            display: none
        &__photo:nth-last-of-type(2)
            width: 20%
        &__photo:last-of-type
            width: 50%
    .registration
        &__top
            span
                font-size: 20px
            
@media screen and ( max-width: 1280px )
    p
        font-size: 15px
    .content
        padding: 0px 5px
    .main-title
        &__title
            font-size: 30px
    .header
        padding-top: 20px
        &__img
            width: 50%
            z-index: 3
        &__titles
            max-width: 500px
            height: 200px
            padding: 0px 8  0px
            background-position-y: 70px
        &__h1-wrap
            padding: 0px 0px
            
        &__h2-wrap
            position: relative
            padding: 0px 60px
            img
                transform: scale(1.8)
                left: 0
                top: 10px
                z-index: -1
                position: absolute
            
        &__h1
            font-size: 50px
        &__h2
            font-size: 18px
    .registration
        &__top
            span
                font-size: 18px
    .referal
        &__list
            li, span
                font-size: 15px
        &__img:nth-of-type(1)
            margin-right: 20px  
        &__table
            td
                font-size: 15px

@media screen and ( max-width: 1025px )
    .global-wrapper
        padding: 0px 10px
    .main-title
        &__title
            font-size: 20px
    .header
        padding-top: 20px
        &__img
            transform: scale(.8)
        &__titles
            margin-top: 55px
            max-width: 500px
            height: 200px
            background-position-y: 70px
            z-index: 0
        &__h1-wrap
            padding: 0px 0px
            
        &__h2-wrap
            position: relative
            padding: 0px 0px
            img
                transform: scale(1.8)
                left: 0
                top: 10px
                z-index: -1
                position: absolute
            
        &__h1
            font-size: 40px
        &__h2
            font-size: 20px
    
    
@media screen and ( max-width: 780px )
    .main-title
        margin: 10px 0px
        &__content
            display: inline-block
        span
        &__img
            display: inline-block
        &__title
            line-height: 1.1em
            margin: 0px 12px
            display: inline-block
    .header
        justify-content: center
        align-items: center
        flex-direction: column
        &__img
        &__titles
            margin-top: 0px
        &__sertificates
            display: none
        &__h1-wrap
            margin-top: 25px
        &__h2-wrap
            margin-top: 25px
            img
        &__h1
            font-size: 32px
        &__h2
            padding: 0px 80px
            font-size: 16px
        &__h2-wrap
            img
                object-fit: contain
    .referal
        &__laptop
            display: none
        &__table
            font-size: 12px
        &__table
            th
                font-size: 16px
    .about
        &__img
            width: 30%
        &__photo
            img
                width: 100%
                height: 100%
                object-fit: contain
    .eco
        &__options
            margin: 20px 0px
        &__option
            padding: 7px
            margin: 3px
            width: 43%
            height: 305px
            background-color: #fff
            display: flex
            text-align: center
            align-items: center
            justify-content: center
            flex-direction: column
    
    .registration
        &__top
            span
                font-size: 16px
        &__content
            padding: 40px 10px
        &__bg
            display: none
        &__bottom
            span
                font-size: 60px
        &__img
            width: 20%
        &__data,&__item
            font-size: 15px
        &__item
            width: 100%
@media screen and ( max-width: 450px )
    .main-title
        margin: 10px 0px
        &__content
            display: inline-block
            padding: 0px 30px
    .header
        padding-top: 10px
        &__logo
        &__sertificates
            img
                display: none
        &__titles
            margin-top: 0px
        &__h1-wrap
            margin-top: 15px
        &__h2-wrap
            margin-top: 25px
            img
                transform: scale(1.5)
                display: block
        &__h1
            font-size: 32px
        &__h2
            padding: 0px 20px
            font-size: 16px
    .referal
        &__title
            font-size: 24px
        &__title_2
            margin-top: 1em
            font-size: 24px
        &__table
            th
                font-size: 15px
    .registration
        &__title
            font-size: 34px