@import ./variables

*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: border-box

img
    max-width: 100%

.global-container
    width: 100%
    max-width: 948px
    margin: 0 auto
    overflow-x: hidden

.shiseido-header
    &__wrap
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20px 0px 35px

.shiseido-hero
    padding: 110px 40px 118px 0px
    position: relative
    display: flex
    justify-content: flex-end
    &__bg
        z-index: -1
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        object-fit: cover
    &__content
        max-width: 435px
    &__new
        @include font('AvenirNext', 20px, 400, normal)
        text-transform: uppercase
    &__title
        @include font('AvenirNext', 40px, 700, normal)
        margin-bottom: 10px
    &__text
        @include font('AvenirNext', 17px, 500, normal)
    &__item
        position: absolute
        &-title
            display: block
            text-align: right
            text-decoration: underline
            text-transform: uppercase
            margin-bottom: 5px
            @include font('AvenirNext', 14px, 500, normal)
        &-text
            text-align: right
            @include font('AvenirNext', 12px, 500, normal)
        &:nth-child(2)
            left: 110px
            top: 60px
            max-width: 150px
        &:nth-child(3)
            left: 70px
            top: 185px
            max-width: 175px

.shiseido-wrap
    width: 100%
    margin: 0 auto
    max-width: 880px
    padding: 0px 15px

.shiseido-about
    padding-top: 30px
    margin-bottom: 75px
    &__title
        margin-bottom: 20px

.shiseido-text
    @include font('AvenirNext', 20px, 500, normal)
    &_center
        text-align: center

.shiseido-section-title
    text-align: center
    @include font('AvenirNext', 33px, 700, normal)

.shiseido-video
    padding-bottom: 100px
    &__title
        margin-bottom: 35px
    &__text
        margin-bottom: 37px
    &__video
        width: 100%
        pointer-events: none
    &__small
        display: block
        @include font('AvenirNext', 12px, 500, normal)

.shiseido-formula
    padding-bottom: 85px
    &__wrap
        display: flex
        align-items: center
        margin-bottom: 5px
        position: relative
        &_slided
            justify-content: flex-end
            padding: 30px 0px
            .shiseido-formula
                &__img
                    width: 100%
                    max-width: 45%
                &__content
                    // width: calc( 100% - 0px )
                    width: 50%
    &__title
        @include font('AvenirNext', 25px, 700, normal)
        margin-bottom: 15px
    &__text
        @include font('AvenirNext', 16px, 500, normal)
        margin-bottom: 20px
    &__img
        margin-right: 20px
        &_pa
            left: 0
            top: 0
            height: 100%
            object-fit: cover
            position: absolute
    &__features
        padding-left: 20px
    &__item
        & + &
            margin-top: 19px

.shiseido-formula-item
    display: flex
    align-items: center
    &_center
        flex-direction: column
    &__title
        @include font('AvenirNext', 20px, 700, normal)
        text-align: center
        margin-bottom: 3px
        color: #a78c63
    &__head
        display: flex
        flex-direction: column
        align-items: center
        margin-right: 35px
        &-num, &-women
            color: $purple
            text-align: center
        &-num
            @include font('AvenirNext', 40px, 700, normal)
        &-women
            @include font('AvenirNext', 15px, 400, normal)
            text-transform: uppercase
    &__text
        @include font('AvenirNext', 20px, 500, normal)
        &_center
            font-size: 16px
            text-align: center
        strong
            font-weight: 700

.shiseido-shiseido
    padding-bottom: 110px
    &__wrap
        display: flex
        align-items: center
    &__container
        display: flex
        flex-direction: column
        align-items: center
        padding: 20px 10px 15px
        background-color: #f5f3f2
        width: 100%
    &__img

    &__example
        margin-bottom: 10px
    &__brand
        @include font('AvenirNext', 16px, 700, normal)
        text-transform: uppercase
    &__name
        @include font('AvenirNext', 16px, 500, normal)
        display: inline-block
        margin: 10px 0px
    &__text
        text-align: center
        @include font('AvenirNext', 12px, 500, normal)

.shiseido-collection
    padding-bottom: 90px
    overflow: hidden
    &__title
        @include font('AvenirNext', 27px, 700, normal)
        margin-bottom: 15px
    &__text
        @include font('AvenirNext', 20px, 400, normal)
        margin-bottom: 25px
        display: block
    &__image
        position: relative
    &__bg
        width: 100%
        object-fit: contain
    &__names
        position: absolute
        left: 50%
        top: 50%
        transform: translate(calc( -30px - 50% ), -50%)
        max-height: 94%
        height: auto

.shiseido-together
    margin-bottom: 75px
    &__title
        margin-bottom: 35px
        @include font('AvenirNext', 27px, 700, normal)
    &__banner
        background-color: $purple
        padding: 15px
        text-align: center
        text-transform: uppercase
        color: #fff
        @include font('AvenirNext', 18px, 400, normal)
        margin-bottom: 60px
    &__catalog
        display: flex
        justify-content: center
    &__item
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        &-name
            text-align: center
            @include font('AvenirNext', 21px, 500, normal)
            margin-bottom: 30px
        &-img
            margin-bottom: 30px
        &-link
            display: inline-block
            text-decoration: none
            @include font('AvenirNext', 21px, 400, normal)
            text-transform: uppercase
            background-color: #000
            color: #fff
            padding: 13px
            text-align: center
            width: 100%
            max-width: 200px
