$main_black: #1f1f1f
$header_dark: #1f1f1f
$header_dark: #1f1f1f
$header_dark-hover: #161616
$item_grey: #f0f1f1

*, *::before, *::after
    box-sizing: border-box
    margin: 0
    padding: 0
    border: none
    text-decoration: none
    border-radius: 0px
    transition: all .2s ease-in-out 0s
    font-family: "Helvetica", sans-serif
    font-weight: 400
    color: $main_black

body, html
    background-color: $header_dark
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    overflow: hidden
    min-height: 100vh
    position: relative

section
    position: relative

.container
    width: 100%
    position: relative
    max-width: 1230px
    padding: 0px 15px
    margin: 0 auto
    &_big
        max-width: 1350px

.text
    &_white
        color: #fff !important
    &_black
        color: $main_black !important
    &_tac
        text-align: center !important
    &_ttu
        text-transform: uppercase !important
    &_bold
        font-weight: 700 !important

.button
    position: relative
    display: inline-block
    appearance: none
    background: transparent
    cursor: pointer
    white-space: nowrap
    text-align: center
    user-select: none
    overflow: hidden
    text-transform: uppercase
    letter-spacing: 0.6px
    border-radius: 50px
    &_item
        width: 100%
        max-width: 280px
        background-color: #3d3d3d
        font-size: 12px
        color: #fff
        font-weight: 700
        padding: 15px
        &:hover
            background-color: #121212
    &_video
        width: 100%
        max-width: 305px
        font-size: 15px
        font-weight: bold
        color: #000
        text-transform: uppercase
        padding: 18px
        background-color: #ea9e1c
        margin-top: 55px
        &:hover
            background-color: #cf8302
    &:focus
        outline: none

.header
    flex-grow: 0
    position: relative
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 5
    background-color: $header_dark
    &__wrap
        padding: 25px 0px
        display: flex
        align-items: center
        justify-content: flex-start
    &.scrolled
        .header
            &__wrap
                padding: 5px 0px

.logo
    width: 100px
    & + &
        margin-left: 45px
    &_braun
        max-height: 40px
    &_ixbt
        max-height: 50px

.burger
    position: absolute
    top: 50%
    width: 40px
    height: 40px
    display: inline-block
    right: 0
    transform: translate(110px, -50%)
    span, &::before, &::after
        content: ''
        display: inline-block
        width: 30px
        height: 4px
        background-color: #fff
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        transition:  top .15s ease-in .15s, transform .15s ease-in 0s, opacity .1s ease-in .15s
    &::before
        top: calc( 12px + 50% )
    &::after
        top: calc( -12px + 50% )
    &.active
        span, &::before, &::after
            transform: translate(-50%, -50%)
            top: 50%
            transition:  top .15s ease-in 0s, transform .15s ease-in .15s, opacity .15s ease-in .1s
        span
            opacity: 0
        &::before
            transform: translate(-50%, -50%) rotate(45deg)
        &::after
            transform: translate(-50%, -50%) rotate(-45deg)

.menu
    position: relative
    z-index: 4
    &__item
        position: fixed
        display: flex
        width: 100%
        align-items: center
        justify-content: stretch
        border-top: 1px solid #363636
        transition: top .2s ease-out, opacity .2s linear .3s
        top: 0
        left: 0
        opacity: 0
        &:nth-child(1)
            z-index: 3
            transition-delay: .1s
        &:nth-child(2)
            z-index: 2
            transition-delay: .05s
        &:nth-child(3)
            z-index: 1
            transition-delay: 0s
        &:last-child, &:only-child
            border-botton: 1px solid #363636
        &.active
            transition: top .2s ease-out, opacity 0s linear .3s
            opacity: 1
            &:nth-child(1)
                transition-delay: 0s
            &:nth-child(2)
                transition-delay: .05s
            &:nth-child(3)
                transition-delay: .1s
    &__link
        display: block
        width: 100%
        text-align: center
        color: #fff
        font-size: 30px
        padding: 20px 0px
        background-color: $header_dark
        &:hover
            background-color: $header_dark-hover

.main
    flex-grow: 1
    padding-top: 100px

.deco
    position: absolute
    display: block
    width: 120px

.banner
    overflow: hidden
    &__bg
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        img
            width: 100%
            height: 100%
            object-fit: cover
    &__wrap
        padding: 141px 0px 155px
        display: flex
        align-items: center
    &__person
        position: absolute
    &__title
        &, & *
            font-size: 45px
            line-height: 65px
            font-weight: 500
            letter-spacing: .5px
    &_first
        background-color: #77777d
        .banner__person
            left: 190px
            bottom: -3px
        .deco
            &:nth-of-type(2)
                height: 170px
                background-color: #b3b0b4
                top: 0
                left: -222px
                border-radius: 0 0 120px 0
            &:nth-of-type(3)
                height: 205px
                background-color: #b3b0b4
                bottom: 0
                right: -226px
                border-radius: 120px 0 0 0
    &_second, &_third, &_fourth
        cursor: pointer
    &_second
        background-color: #555051
        .banner__wrap
            padding: 190px 0px 175px
        .banner__content
            margin-left: auto
            margin-right: 130px
        .deco
            &:nth-of-type(2)
                height: 205px
                background-color: #000000
                bottom: 0
                left: -222px
                border-radius: 120px 0 0
            &:nth-of-type(3)
                height: 190px
                background-color: #000000
                top: 0
                right: -226px
                border-radius: 0 0 120px 0
    &_third
        background-color: #505d66
        .play
            left: 52%
        .banner__wrap
            padding: 175px 0px 123px
        .banner__person
            left: 593px
            bottom: -178px
        .deco
            &:nth-of-type(2)
                height: 202px
                background-color: #00a3e0
                top: 0
                left: -103px
                border-radius: 0 0 120px 0
            &:nth-of-type(3)
                height: 284px
                background-color: #00a3e0
                bottom: 0
                right: -227px
                border-radius: 120px 0 0 0
    &_fourth
        background-color: #8dacae
        overflow: hidden
        .banner__wrap
            padding: 184px 0px 176px
        .banner__content
            margin-left: auto
            margin-right: 150px
        .banner__person
            left: -126px
            bottom: -81px
            z-index: 1
        .deco
            &:nth-of-type(2)
                height: 202px
                background-color: #c4cf2c
                bottom: 0
                left: -223px
                border-radius: 120px 0 0 0
            &:nth-of-type(3)
                height: 184px
                background-color: #c4cf2c
                top: 0
                right: -227px
                border-radius: 0 0 120px 0

.play
    position: absolute
    display: block
    width: 134px
    height: 134px
    background-image: url(../img/play.png)
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 3
    &:hover
        background-image: url(../img/play-hover.png)
        
.row
    padding: 70px 0px
    background-color: #fefeff
    &__container
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 30px 60px
        justify-items: center
        &_small
            grid-template-rows: 320px
        &_tight
            grid-gap: 30px 120px
    &_dark
        background-color: #eff0f1

.item
    background-color: #fff
    height: 100%
    width: 100%
    overflow: hidden
    position: relative
    &_small
        padding-top: 52px
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column
        visibility: hidden
        .item
            &__title
                max-width: 230px
        &:nth-child(1)
            transition-delay: .2s
            .item__img
                transform: translate(20px, 50px)
            &:hover
                .item__img
                    transform: translate(20px, 50px) scale(1.05)
        &:nth-child(2)
            transition-delay: .4s
            .item__img
                transform: translate(20px, 40px)
            &:hover
                .item__img
                    transform: translate(20px, 40px) scale(1.05)
        &:nth-child(3)
            transition-delay: .6s
            .item__img
                    transform: translate(15px, 40px)
            &:hover
                .item__img
                    transform: translate(15px, 40px) scale(1.05)
        &:hover
            transition: box-shadow .2s ease-out .0s
            box-shadow: 0 0 0 2px #e3e3e3
            .item
                &__arrow
                    background-color: transparent
                    &::before, &::after
                        background-color: $main_black
    &_big
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 360px minmax(220px, auto) 200px 120px
        justify-items: center
        cursor: pointer
        visibility: hidden
        &:nth-child(1)
            transition-delay: .2s
        &:nth-child(2)
            transition-delay: .4s
        &:nth-child(3)
            transition-delay: .6s
        .item
            &__img img, &__video-preview img
                transition-duration: .4s
            &__img:hover img, &__video-preview:hover img
                    transition-duration: .4s
            &__img:hover img
                transform: scale(1.05)
            &__video-preview:hover img
                width: 103%
                transform: translateX(-1.5%)
            &__img
                height: 100%
                width: 100%
                width: 100%
                padding: 20px
                display: flex
                align-items: center
                justify-content: center
                border: 2px solid $item_grey
                img
                    width: 100%
                    height: 100%
                    object-fit: contain
    &__content
        padding: 25px 40px 40px
        background-color: $item_grey
    &__video
        position: relative
        &-preview
            width: 100%
            height: 100%
            img
                width: 100%
                height: 100%
                object-fit: cover
        &:hover 
            &::after
                background-image: url(../img/play.png)
        &::after
            content: ''
            display: inline-block
            background-image: url(../img/play-hover.png)
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            position: absolute
            pointer-events: none
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            height: 105px
            width: 105px
    &__title
        font-size: 30px
        line-height: 34px
        font-weight: 700
        position: relative
        z-index: 3
        letter-spacing: 0px
        &_small
            font-size: 25px
    &__text
        font-size: 18px
        line-height: 28px
        margin-top: 20px
    &__img
        transition-duration: .5s
        transition-timing-function: ease-out
    &__arrow
        display: inline-block
        position: absolute
        height: 34px
        width: 34px
        border-radius: 50%
        box-shadow: 0 0 0 2px $main_black
        background-color: $main_black
        right: 20px
        bottom: 20px
        z-index: 3
        &::before, &::after
            content: ''
            display: inline-block
            height: 2px
            width: 9px
            background-color: #fff
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
        &::before
            transform: translate(calc( 1px - 50% ), calc( 3px - 50% )) rotate(-45deg)
        &::after
            transform: translate(calc( 1px - 50% ), calc( -3px - 50% )) rotate(45deg)
    &__holder
        padding: 40px 10px
        background-color: $item_grey
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        cursor: default

.popup
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    overflow-y: auto
    background-color: rgba(0, 0, 0, .7)
    z-index: 100
    opacity: 0
    pointer-events: none
    visibility: hidden
    display: flex
    align-items: center
    justify-content: center
    padding: 10px
    &__item
        position: relative
        width: 100%
        height: 90%
        max-width: 1700px
        display: none
        iframe
            width: 100%
            height: 100%
        &.active
            display: flex
            align-items: center
            justify-content: center
    &__close
        position: absolute
        display: inline-block
        background-color: transparent
        height: 40px
        width: 40px
        border-radius: 0px
        border: none
        cursor: pointer
        right: 0
        top: 0
        transform: translate(110%, 110%)
        &::before, &::after
            display: inline-block
            content: ''
            position: absolute
            width: 25px
            height: 2px
            background-color: #fff
            border-radius: 5px
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        &::before
            transform: translate(-50%, -50%) rotate(-45deg)
        &::after
            transform: translate(-50%, -50%) rotate(45deg)
        &:hover
            &::before, &::after
                width: 28px
                box-shadow: 0 0 7px 2px rgba(255, 255, 255, .2)
        &:focus
            outline: none
    &__video
        width: auto
        height: 100%
        margin: 0 auto
        display: block
    &.active
        opacity: 1
        pointer-events: all
        visibility: visible

.footer
    flex-grow: 0
    background-color: #f0f0f0
    padding: 45px 0px
    &__wrap
        display: flex
        justify-content: center
        align-items: center
    &__content
        display: flex
        flex-direction: column
        align-items: center
    &__copyright
        text-align: center
        font-size: 18px
        line-height: 34px
        margin-top: 17px