$text_blue: #0066ba
$text_light: #c3d6f4
$light_blue: #01c8ff
$hover_red: #c81326
$hover_blue: #004a86
    
*, *::before, *::after
    box-sizing: border-box
    margin: 0
    padding: 0
    border: none
    text-decoration: none
    border-radius: 0px
    transition: all .2s ease-in-out 0s
    font-family: "Helvetica", sans-serif
    font-weight: 400

body, html
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    min-height: 100vh
    position: relative

section
    position: relative

.text
    &_bold
        font-weight: bold !important
    &_white
        color: #fff !important
 
.section
    &__title
        &, & *
            font-size: 46px
            line-height: 55px
            letter-spacing: 1.3px
            font-weight: 500
    &__center
        display: flex
        width: 100%
        align-items: center
        justify-content: center
    &__hidden
        display: none
        opacity: 0
        visibility: hidden
        height: 0px
        overflow: hidden
        font-size: 0px
        line-height: 0px

.button
    position: relative
    display: inline-block
    appearance: none
    background: transparent
    cursor: pointer
    white-space: nowrap
    text-align: center
    user-select: none
    overflow: hidden
    flex-shrink: 0
    color: #ffffff
    font-weight: 400
    text-transform: uppercase
    font-size: 14px
    letter-spacing: 1.6px
    line-height: 33px
    &::before, &::after
        content: ''
        display: inline-block
        position: absolute
        top: 50%
        right: 30px
        height: 1px
        width: 7px
        background-color: #fff
    &::before
        transform: rotate(45deg) translate(-50%, -50%)
    &::after
        transform: rotate(-45deg) translate(-35%, -50%)
    &:hover
        color: #ffffff
        background-color: $hover_blue
        &::before, &::after
            background-color: #ffffff
    &_navy
        background-color: $text_blue
        padding: 5px 50px 5px 30px
    &_light
        background-color: $light_blue
        padding: 5px 50px 5px 30px
    &_product
        color: #000
        background-color: #ffd823
        padding: 5px 62px 5px 53px
        &::before, &::after
            right: 40px
            background-color: #000

.container
    margin: 0 auto
    position: relative
    max-width: 1230px
    padding: 0px 15px

.three-col__container
    transform: translateY(-60px)
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: 60px
    width: 100%
    position: relative
    z-index: 2

.deco
    display: flex
    position: absolute
    flex-direction: column
    height: 150px
    width: 150px
    z-index: 1
    & > *:nth-child(1)
        align-self: flex-start
    & > *:nth-child(2)
        align-self: flex-end
    &_white
        background-color: #fff
    &_light
        background-color: $light_blue
    &_dark
        background-color: $text_blue
    &_grey
        background-color: #f0f0f0
    &_reverse
        flex-direction: column-reverse
    &__small
        width: 60px
        height: 60px
        flex-shrink: 0
    &__big
        height: 90px
        width: 90px
        flex-shrink: 0

.header
    flex-grow: 0
    background-color: #ffffff
    position: relative
    z-index: 10
    &__intel
        background-color: $text_blue
        padding: 10px
        display: flex
        justify-self: start
        align-items: center
        margin-left: auto
        position: absolute
        height: 100%
        transform: translateX(-100%)
    &__wrap
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        padding: 30px 0px
        .logo
            padding-left: 35px

.nav
    max-width: 745px
    width: 100%
    &__list
        display: flex
        width: 100%
        align-items: center
        justify-content: space-between
        list-style-type: none
    &__link
        font-size: 20px
        text-decoration: none
        display: inline-block
        font-weight: 500
        line-height: 28px
        color: $text_blue
        &:hover
            color: $hover_red

.burger
    display: none
    height: 40px
    width: 40px
    background-color: transparent
    position: relative
    border-radius: 0px
    appearance: none
    cursor: pointer
    &:focus
        outline: none
    &::before, &::after, span
        background-color: $text_blue
        height: 2px
        position: absolute
        display: inline-block
        left: 5px
        transform: translate(0, -50%)
        transition: top .25s ease-in-out .4s, transform .25s ease-in-out 0s, opacity 0s ease-in-out .25s, left .1s ease-in-out .25s
    &::before, &::after
        content: ''
    &::before
        width: 25px
        top: 11px
        transform-origin: right
    span
        width: 20px
        top: 50%
        transform-origin: left
    &::after
        width: 15px
        top: 30px
    &.active
        &::before, &::after, span
            transition: top .25s ease-in-out 0s, transform .25s ease-in-out .3s, opacity 0s ease-in-out .3s, left .25s ease-in-out .25s
            top: 10px
        &::before
            transform: translate(0, -50%) rotate(-45deg)
        span
            transform: translate(0, -50%) rotate(45deg)
            left: 13px
        &::after
            opacity: 0

.mobile
    position: fixed
    background-color: #fff
    z-index: 9
    top: 0
    right: 0
    width: 40vw
    height: 100vh
    transform: translateX(100%)
    padding: 80px 10px 10px
    &.active
        transform: translateX(0%)
    .nav
        &__list
            flex-direction: column
        &__link
            padding: 5px
        &__item
            display: inline-block
        .nav__item + .nav__item
            margin-top: 8px

.banner
    padding: 55px 0px 180px
    .deco
        &:nth-child(1)
            top: 0
            left: 0
        &:nth-child(2)
            bottom: 0
            right: 0
    &__bg
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        img
            height: 100%
            width: 100%
            object-fit: cover
            object-position: center
    &__body
        display: flex
        flex-direction: column
        align-items: flex-start
        background-color: $text_blue
        padding: 50px 60px
        width: 100%
        max-width: 840px
        position: relative
        z-index: 3
        &::after
            content: ''
            display: block
            position: absolute
            bottom: 0
            right: 0
            width: 60px
            height: 60px
            background-color: $light_blue
            transform: translate(100%, 100%)
    &__text
        margin: 30px 0px 40px
        font-size: 18px
        line-height: 30px
        color: $text_light
    .button
        padding: 5px 48px 5px 28px

.announces
    background-color: #fff
    padding-bottom: 80px
    .button
        padding: 5px 60px 5px 40px     

.announce
    display: flex
    flex-direction: column
    overflow: hidden
    background-color: #f0f0f0
    &__img
        width: 100%
        height: 205px
        img
            width: 100%
            max-height: 100%
            height: 100%
            object-fit: cover
    &__body
        padding: 30px 60px
        flex-grow: 1
    &__link
        font-size: 21px
        line-height: 30px
        font-weight: 500
        position: relative
        color: $text_blue
        &:hover
            color: $hover_red
            &::before, &::after
                background-color: $hover_red
        &::before, &::after
            content: ''
            display: inline-block
            position: absolute
            bottom: 8px
            right: -20px
            height: 1px
            width: 7px
            background-color: $text_blue
        &::before
            transform: rotate(45deg) translate(-50%, -50%)
        &::after
            transform: rotate(-45deg) translate(-35%, -50%)

.tests
    padding: 80px 0px 
    background-image: url(../img/tests_bg.jpg)
    background-position: center top
    background-repeat: no-repeat
    .deco
        top: 0
        left: 1443px
        transform: translateY(-45px)
    &__title
        font-weight: 500
        position: relative
        color: $text_blue
        display: inline-block
        text-align: center
        &:hover
            color: $hover_red
            svg
                stroke: $hover_red
        svg
            transition-delay: 0s
            transition-duration: 0s
            height: 24px
            stroke: $text_blue
    &__wrap
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-column-gap: 60px
        margin-top: 75px

.test
    display: flex
    flex-direction: column
    align-items: flex-start
    height: 100%
    min-height: 860px
    width: 100%
    &__img
        width: 100%
        max-height: 400px
        height: 100%
        position: relative
        img
            position: absolute
            width: auto
            top: 50%
            transform: translateY(-50%)
    &__title
        font-weight: 500
        font-size: 21px
        line-height: 31px
        
    &__list
        margin-top: 30px
        &-item, &-item a
            color: $text_blue
            font-size: 18px
            line-height: 33px
            list-style-position: inside
        &-item a
            &:hover
                color: $hover_red
    &__line
        width: 100%
        height: 1px
        background-color: #d7d7d7
        margin-top: auto
    .button
        padding: 5px 52px 5px 35px
        margin-top: 40px

.horizons
    padding: 115px 0px 175px
    .deco
        top: 0
        right: 1540px
        transform: translateY(-45px)
    &__bg
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        img
            height: 100%
            width: 100%
            object-fit: cover
            object-position: center
    &__body
        padding-left: 60px
        .section__title
            max-width: 450px
    &__text
        margin-top: 25px
        color: $text_light
        font-size: 21px
        font-weight: 400
        line-height: 30px
        
.articles
    padding-bottom: 90px
    .deco
        bottom: -105px
        left: 1383px
    .three-col__container
        margin-bottom: 15px
    .button
        padding: 5px 65px 5px 45px

.article
    display: flex
    flex-direction: column
    align-items: stretch
    overflow: hidden
    background-color: #f0f0f0
    &__img
        width: 100%
        height: 205px
        img
            width: 100%
            max-height: 100%
            height: 100%
            object-fit: cover
    &__body
        padding: 37px 60px
        flex-grow: 1
    &__title
        font-weight: 500
        font-size: 21px
        line-height: 30px
        color: $text_blue
    &__text
        margin-top: 20px
        font-weight: 400
        font-size: 18px
        line-height: 30px
        color: $text_blue
    &:hover
        .article
            &__title, &__text
                color: $hover_red
        
.small
    padding: 62px 0px
    overflow: hidden
    .section__title
        &, & *
            text-align: center
    &__bg
        left: 0
        top: 0
        position: absolute
        width: 100%
        height: 100%
        img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center
    &__link
        position: relative
        svg
            transition-delay: 0s
            transition-duration: 0s
            height: 24px
            stroke: #fff
        &:hover
            color: $hover_red !important
            svg
                transition-delay: 0s
                transition-duration: 0s
                stroke: $hover_red

.products
    background-color: #fff
    padding-bottom: 90px
    .deco
        bottom: -105px
        right: 1525px
    &__wrap
        display: grid
        grid-template-columns: 1fr
        grid-row-gap: 60px
        padding: 60px 0px

.product
    background-color: #f0f0f0
    padding: 60px
    display: flex
    align-items: flex-start
    &__body
        margin-left: 75px
    &__title
        font-size: 21px
        font-weight: 500
        color: $text_blue
    &__list
        margin-top: 20px
        li
            padding-left: 2px
            font-size: 18px
            font-weight: 400
            line-height: 30px
            list-style-position: inside
        span
            margin-left: 5px            
    .button
        margin-top: 30px

.about
    padding: 60px 0px
    background-color: #fff
    &_grey
        background-color: #f0f0f0
    &__wrap
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-column-gap: 120px
        grid-row-gap: 70px
        position: relative
        z-index: 3
    &__item
        display: flex
        flex-direction: column
        position: relative
        &_nophoto
            padding: 30px 60px
        &:not(.about__item_nophoto)
            .about
                &__title
                    padding: 0px 60px
                    margin-bottom: 20px
        &:nth-child(1)
            .deco
                left: 0
                bottom: 0
                transform: translate(-100%, 60px)
        &:nth-child(2)
            .deco
                display: none
        &:nth-child(3)
            .deco
                left: 0
                bottom: 0
                transform: translate(-100%, 60px)
        &:nth-child(4)
            .deco
                right: 0
                top: 0
                transform: translate(100%, 15px)
    &__big-img
        height: 100%
        width: 100%
        position: relative
        img
            width: 100%
            height: 100%
            object-fit: cover
            position: absolute
    &__img
        width: 100%
        flex-grow: 1
        margin-bottom: -3px
        img
            width: 100%
            min-height: 325px
            height: 100%
            object-fit: cover
    &__title
        font-weight: 500
        font-size: 36px
        line-height: 55px
        letter-spacing: 1.3px
    &__text
        font-size: 18px
        font-weight: 400
        line-height: 30px
        margin-top: 20px
    &__list
        padding-left: 20px
        .about__text
            margin-top: 10px
    &__body
        padding: 30px 60px 40px
        height: 100%
    span.about__text
        display: inline-block

.main
    flex-grow: 1

.footer
    flex-grow: 0
    background-color: #f0f0f0
    padding: 70px 0px 60px
    position: relative
    .deco
        &:nth-child(1)
            bottom: 0px
            left: 220px
        &:nth-child(2)
            top: 0px
            right: 220px
    &__wrap
        display: flex
        width: 100%
        align-items: center
        justify-content: center
        flex-direction: column
    &__logo
        fill: #000
    &__copyright, &__copyright *
        display: inline-block
        text-align: center
        font-size: 18px
        font-weight: 400
        line-height: 34px
        letter-spacing: 1.2px
        margin-top: 40px
        color: #000
