/* --- Font Lato --- */
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Lato-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/subset-Lato-Regular.svg#Lato-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato-MediumItalic';
  src: url('../fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Lato-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Lato-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/subset-Lato-MediumItalic.svg#Lato-MediumItalic') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('../fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Lato-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Lato-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/subset-Lato-Medium.svg#Lato-Medium') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Lato-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/subset-Lato-Bold.svg#Lato-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Lato-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Lato-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/subset-Lato-Black.svg#Lato-Black') format('svg'); /* Legacy iOS */
}

/* --- Specification --- */
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato-Medium', sans-serif;
	font-size: 14px;
	letter-spacing: 0.01em;
	color: #000;
}

div, p, a, span {
	box-sizing: border-box;
}

button, input {
	transition: all .5s ease;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
	transition: all .5s ease;
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato-Black';
	padding: 0;
	margin: 0;
	letter-spacing: 0.01em;
}

h1 {
	font-size: 25px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 12px;
}

a, a:hover, a:active, i {
	text-decoration: none;
	outline: none;
	transition: all .5s ease;
}

select, input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active 
	{
	outline: none;
}

.sidebar-title {
	position: relative;
	margin-bottom: 6px;
	font-family: 'Lato-Bold';
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #fff;
}

.shadowed-text {
	text-shadow: 3px 0 9px rgba(0, 0, 0, 0.4);
}

/* --- Hero Screen --- */

.header {
	background: #fff url(../images/bd-header-main.png) no-repeat top center;
}

.navigation {
	background-color: #fff;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.13);
	padding-top: 15px;
}

.user {
	padding-bottom: 8px;
}

.user__logo {
	margin-right: 100px;
}

.user__contacts {
	justify-content: space-between;
	align-items: center;
	width: 100%;
  margin-top: 7px;
}

.user__city {
	font-family: 'Lato-Bold';
	font-size: 10px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	cursor: pointer;
	border-bottom: 1px solid #8c8c8c;
	transform: scale(1, 1.2);
	padding: 0 3px;
}

.user__city > span {
	margin-left: 66px;
}

.user__call {
	font-family: 'Lato-Black';
	font-size: 21px;
	text-align: center;
}

.user__tel {
	display: block;
	color: #000;
	margin-bottom: -15px;
}

.user__tel:hover {
	color: #1ea3c9;
}

.user__order {
	font-size: 9px;
	color: #1ea3c9;
	text-transform: uppercase;
	border: none;
	border-bottom: 1px solid #1ea3c9;
	background-color: #fff;
	padding: 0;
}

.user__order:hover {
	border-color: transparent;
}

.user__mail {
	font-family: 'Lato-Bold';
	font-size: 13px;
	color: #000;
	border-bottom: 1px solid #000;
}

.user__mail:hover {
	color: #1ea3c9;
	border-color: #1ea3c9;
}

.user__action > span {
	font-family: 'Lato-Black';
	font-size: 11px;
	color: #000;
}

.user__enter, .user__reg, .user__cab  {
	font-family: 'Lato-Black';
	font-size: 11px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.075em;
}

.user__enter:hover, .user__reg:hover, .user__cab:hover {
	color: #18b2de;
} 


.user__lc {

}

.menu {
	border-top: 1px solid #c7c7c5;
}

.menu__list {
	justify-content: space-between;
	align-items: center;
}

.menu__item {
  height: 49px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.menu__item:hover, .menu__item_active {
	background-color: #095d75;
}

.menu__item:hover .menu__link, .menu__item_active .menu__link {
	color: #fff;
}

.menu__link {
	-webkit-transform:scale(1,1.2);
  -moz-transform:scale(1,1.2);
  -ms-transform:scale(1,1.2);
  -o-transform:scale(1,1.2);
  transform:scale(1,1.2);
	text-transform: uppercase;
	font-family: 'Lato-Bold';
	font-size: 12px;
	color: #000;
	letter-spacing: 0.05em;
	line-height: 1.17em;
}

/*hamburger menu*/

.menu__hamb {
	position: relative;
	width: 30px;
	height: 3px;
	background-color: #18b2de;
	cursor: pointer;
	margin: 0 auto;
	z-index: 20;
}

.menu__hamb_active {
	margin-bottom: 1px;
}

.menu__hamb_active::before {
	display: none;
}

.menu__hamb-overlay {
	display: none;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
}

.menu__hamb-overlay_active {
	display: block;
}

.menu-opened {
	z-index: 20;
}

.menu-opened .menu__item {
  height: 35px;
  border-bottom: 1px solid #c7c7c5;
}

.menu-opened .menu__item, .menu-opened .menu__link {
	z-index: 20;
}

.menu__hamb::before, .menu__hamb::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: #18b2de;
}

.menu__hamb::before {
	top: 8px;
}

.menu__hamb::after {
	top: -8px;
}
/*-------*/

.main-content {
	padding-top: 60px;
}

.prepare {
	width: 190px;
	height: 168px;
	background: url(../images/bg-prepare.png) no-repeat center;
	position: relative;
	margin-top: 30px;
}

.prepare__title {
	position: absolute;
  top: 19px;
  left: 13px;
  padding-top: 16px;
	padding-left: 14px;
	width: 150px;
	height: 110px;
	font-family: 'Lato-Black';
	line-height: 1.44em;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #adadad;
}

.prepare__title > span {
	color: #1bc7f8;
}

.prepare::after {
	position: absolute;
	content: '';
	background: url(../images/mark-prepare.png) no-repeat center;
	width: 47px;
	height: 67px;
	bottom: -21px;
  left: 5px;
}

.offer {
	margin-bottom: 42px;
}

.offer__title {
	position: relative;
	text-transform: uppercase;
	max-width: 810px;
	margin: 0 auto;
	line-height: 1.12em;
}

.offer__title > span {
	color: #0eacd9;
	font-size: 20px;
	line-height: 1.4em;
}

.offer__title::before {
	position: absolute;
	content: '';
	background: url(../images/mark-main-title.png) no-repeat center;
	width: 29px;
	height: 34px;
	left: -43px;
  top: 5px;
}

.offer__text {
	font-family: 'Lato-MediumItalic';
	font-size: 18px;
	max-width: 810px;
  margin: 0 auto;
  letter-spacing: 0.025em;
  margin-top: 4px;
}

.offer__search {
	margin-top: 30px;
	position: relative;
	text-align: right;
}

.offer__input {
	width: 710px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #d8d8d8;
	padding-left: 26px;
	transition: all .5s ease;
  margin-right: 43px;
  letter-spacing: 0.025em;
  margin-bottom: 6px;
}

.offer__input::placeholder {
	font-size: 11px;
	color: #3c3b3b;
	text-transform: uppercase;
	font-family: 'Lato-Medium';
	transition: all .5s ease;
}

.offer__input:focus::placeholder {
	color: transparent;
}

.offer__submit {
	position: absolute;
	top: 8px;
  right: 51px;
	width: 85px;
	height: 30px;
	background-color: #4c4c4c;
	color: #fbfdfe;
	border: none;
	text-transform: uppercase;
	font-family: 'Lato-Medium';
	font-size: 11px;
	letter-spacing: 0.025em;
}

.offer__submit:hover {
	color: #a6b8b8;
}

.offer__info {
	justify-content: space-between;
	align-items: center;
	max-width: 690px;
	margin-left: auto;
	margin-right: 40px;
}

.offer__example {
	font-family: 'Lato-MediumItalic';
	font-size: 11px;
	text-transform: uppercase;
	color: #504e4e;
	line-height: 1.27em;
	text-align: left;
  max-width: 320px;
}

.offer__info > button {
	border:none;
	background-color: transparent;
	padding: 0;
	font-family: 'Lato-Black';
	font-size: 11px;
	text-transform: uppercase;
	color: #2fcbf8;
	border-bottom: 1px solid #2fcbf8;
	line-height: 1.27em;
	letter-spacing: 0.055em;
}

.offer__info > button:hover {
	border-color: transparent;
}

.stat {
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
	margin-top: 33px;
	margin-bottom: 38px;
	width: 318px;
	height: 136px;
	background-color: #18b2de;
	color: #fff;
	font-family: 'Lato-Black';
	font-size: 13px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
}

.stat__text {
	padding-bottom: 4px;
}

.stat :last-child {
	padding-bottom: 0;
}

.stat__number {
	
}

.sidebar-menu {
	margin-bottom: 39px;
	width: 318px;
}

.sidebar-menu__item:hover .sidebar-menu__link {
	color: #d9dbdb;
}

.sidebar-menu__item {
	margin-bottom: 8px;
}

.sidebar-menu__list :last-child {
	margin-bottom: 0;
}

.sidebar-menu__link {
	display: block;
	position: relative;
	height: 35px;
	line-height: 35px;
	background-color: #424242;
	color: #fff;
	text-transform: uppercase;
	padding-left: 22px;
	font-family: 'Lato-Black';
	font-size: 13px;
	letter-spacing: 0.035em;
}

.sidebar-menu__link::before {
	content: '';
	position: absolute;
	top: 14px;
  left: 7px;
	width: 7px;
	height: 7px;
	background-color: #fff;
	border: 1px solid #aaaaaa;
}

.wins {
	padding-left: 22px;
}

.wins__title {
	
}

.wins__title::before, .stories__title::before, .partners__title::before {
	content: '';
	position: absolute;
  top: 3px;
  left: -26px;
  width: 11px;
  height: 11px;
	background-color: #fff;
	border: 1px solid #aaaaaa;
}

.wins__years {
	margin-bottom: 5px;
}

.wins__years :last-child {
	margin-right: 0;
}

.wins__year {
	width: 62px;
	height: 25px;
	line-height: 25px;
	background-color: #424242;
	color: #fff;
	font-size: 14px;
	font-family: 'Lato-Black';
	letter-spacing: 0.025em;
	margin-right: 6px;
	text-align: center;
	cursor: pointer;
	transition: all .5s ease;
}

.wins__year_active, .wins__year:hover {
	background-color: #7b0319;
}

.wins__graph {

}

.wins__info {
	align-items: center;
	margin-bottom: 1px;
}

.wins__month {
	font-family: 'Lato-Black';
	font-size: 11px;
	line-height: 1.8em;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #fff;
	width: 36px;
}

.wins__number {
	height: 14px;
	background-color: #1ac4f4;
	width: 234px;
}

.wins__number_jan {
	max-width: 146px;
}

.wins__number_feb {
	max-width: 168px;
}

.wins__number_mar {
	max-width: 158px;
}

.wins__number_apr {
	max-width: 223px;
}

.wins__number_may {
	max-width: 135px;
}

.wins__number_jun {
	max-width: 216px;
}

.wins__number_jul {
	max-width: 150px;
}

.wins__number_aug {
	max-width: 137px;
}

.wins__number_sep {
	max-width: 219px;
}

.wins__number_oct {
	max-width: 0;
}

.wins__number_nov {

}

.wins__number_dec {

}

.wins__scale {
	width: 272px;
	justify-content: space-between;
	border-top: 1px solid #dbdddd;
	padding-left: 34px;
	padding-right: 4px;
	margin-top: 5px;
	padding-top: 3px;
}

.wins__degree {
	font-family: 'Lato-Black';
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.025em;
}

.stories {
	margin-top: 28px;
}

.stories__title {
	margin-left: 24px;
}

.stories__list {
	width: 292px;
	height: 154px;
	background-color: #fff;
	align-items: center;
	padding-top: 17px;
}

.stories__item {
	margin-bottom: 6px;
}

.stories__list :last-child {
	margin-bottom: 0;
}

.stories__link {
	display: block;
	width: 257px;
	height: 36px;
	background-color: #cfcdcd;
	font-size: 13px;
	color: #000;
	line-height: 0.92em;
	margin: 0 auto;
	padding: 7px 8px 0 14px;
}

.stories__link:hover {
	color: #283336;
}

.partners {
	margin-top: 31px;
}

.partners__title {
	display: block;
	position: relative;
	/*height: 35px;
	line-height: 35px;
	background-color: #424242;
	padding-left: 22px;*/
	margin-left: 24px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Lato-Black';
	letter-spacing: 0.025em;
	max-width: 319px;
}

.partners__list {
	align-items: center;
	margin-bottom: 13px;
	margin-top: 13px;
}

.partners__list :last-child {
	margin-right: 0;
}

.partner__item {
	background-color: #fff;
	margin-right: 13px;
}

.partner__item_standart {
	width: 86px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.partners__btn {
	border: none;
	background-color: transparent;
	color: #fff;
	border-bottom: 1px solid #fff;
	padding: 0;
	text-transform: uppercase;
	display: block;
  margin-left: auto;
  font-family: 'Lato-Bold';
  font-size: 11px;
  margin-right: 13px;
  line-height: 1.2em;
}

.partners__btn:hover {
	color: #1ac4f4;
	border-color: #1ac4f4;
}

.note {
	position: relative;
	margin-top: 37px;
	background-color: #fff;
	padding: 61px 0px 35px 38px;
  font-size: 16px;
  line-height: 1.13em;
  margin-right: -51px;
  z-index: 1;
}

.note__text {
	margin-bottom: 24px;
	word-wrap: break-word;
}

.note :last-child {
	margin-bottom: 0;
}

.note::before {
	position: absolute;
	content: '';
	background: url(../images/mark-note.png) no-repeat center;
	width: 43px;
	height: 55px;
	top: -17px;
  left: 13px;
}

.presentation {
	position: relative;
	align-items: center;
	background-color: #fff;
	padding: 24px 0 20px 20px;
	margin-bottom: 57px;
	max-width: 752px;
	margin-left: auto;
}

.block{max-width:752px;margin:20px 0px 20px 36px;padding:20px 65px 20px}
.block__title{margin-bottom:15px}.block__h2,.block__p{text-align:center}.block__h2{font-size:15px;font-weight:800;margin-bottom:5px}
.block__link{text-decoration:none;color:#11AEDA}.block__link:hover{opacity:0.7}.block__p{font-size:12px;font-weight:bold;text-transform:uppercase;letter-spacing:0.5px}
.block__flex{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.block__caption{margin-top:10px;font-size:13px;text-align:center}
.block__item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;max-width:340px}
.block__img-wrap img{height:100%;max-height: 95px;max-width: 95px;-o-object-fit:contain;object-fit:contain}
.block__img-wrap {display: flex; align-items: center;}
.block__img-wrap p {margin-left: 5px; font-weight: 600; opacity: .6;}

.presentation__btn {
  position: absolute;
  width: 92px;
  height: 85px;
  line-height: 85px;
  border-radius: 50%;
  top: 90px;
  left: 33px;
  border: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.presentation__btn:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
}

.presentation__btn:active {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
}

.presentation__btn::after {
	content: '';
  position: absolute;
  left: 38px;
  bottom: 26px;
  border: 15px solid transparent;
  border-left: 25px solid #000;
}

.presentation__info {
	padding-left: 14px;
}

.presentation__title {
	font-family: 'Lato-Black';
	line-height: 1.5em;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	margin-bottom: 70px;
	margin-top: -3px;
}

.presentation__title >span {
	font-family: 'Lato-Bold';
}

.presentation__text {
	font-family: 'Lato-MediumItalic';
	margin-bottom: 29px;
	font-size: 18px;
	color: #5facc9;
	max-width: 256px;
	line-height: 1em;
	letter-spacing: 0.025em;
	margin-left: 10px;
}

.presentation__author {
	font-family: 'Lato-Black';
	font-size: 12px;
	line-height: 1.67em;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	max-width: 210px;
	margin-left: 11px;
}

.presentation__author > span {
	font-family: 'Lato-Bold';
}

.actual-title {
	position: relative;
	font-family: 'Lato-Black';
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1.375em;
	letter-spacing: 0.025em;
	color: #fff;
	max-width: 626px;
	margin-left: 58px;
}

.actual-title::before {
	position: absolute;
	content: '';
	background: url(../images/mark-actual.png) no-repeat center;
	width: 24px;
	height: 28px;
	top: -6px;
  left: -34px;
}

.auctions {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
  padding: 33px 40px 0 36px;
	background-color: #fff;
	margin-top: 27px;
	max-width: 752px;
  margin-left: auto;
}

.auction {
	border: 1px solid #b2b2b2;
	max-width: 676px;
	margin-bottom: 18px;
}

.auction__info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 32px;
	line-height: 32px;
}

.auction__number {
	width: 96px;
	background-color: #949494;
	color: #fff;
	font-size: 16px;
	text-align: center;
}

.auction__type {
	font-family: 'Lato-MediumItalic';
	font-size: 13px;
	letter-spacing: 0.05em;
	margin-left: 32px;
}

.auction__price {
	font-family: 'Lato-Black';
	font-size: 16px;
	margin-left: auto;
	margin-right: 18px;
}

.auction__total {

}

.auction__currency {
	font-family: 'Lato-Medium';
	font-size: 12px;
}

.auction__title {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	-ms-align-items: center;
	min-height: 68px;
	background-color: #f2f2f2;
	font-size: 12px;
	color: #1e5f94;
	font-family: 'Lato-MediumItalic';
	letter-spacing: 0.075em;
	line-height: 1.5em;
  padding-left: 33px;
  padding-right: 12px;
  -webkit-transform:scale(1,1.2);
  -moz-transform:scale(1,1.2);
  -ms-transform:scale(1,1.2);
  -o-transform:scale(1,1.2);
  transform:scale(1,1.2);
}

.auction__title:hover {
	color: #1e5f94;
	text-decoration: underline;
}

.auction__address {
	min-height: 32px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	font-size: 12px;
	line-height: 1.42em;
	letter-spacing: 0.05em;
	color: #000;
	background-color: #e6e6e6;
	padding-left: 33px;
  padding-right: 12px;
}

.auction__conditions {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding-left: 33px;
	min-height: 42px;
}

.auction__condition, .auction__scheme, .auction__date {
	font-size: 12px;
	color: #4b4a4a;
	line-height: 1.17em;
}

.auction__documentation {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 42px;
	width: 184px;
	background-color: #8e1028;
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	cursor: pointer;
	transition: all .5s ease;
}

.auction__documentation:hover {
	color: #d9d9d9;
}

.auction__documentation > span {
	margin-left: 6px;
}

.auction__documentation::before {
	content: '';
	position: absolute;
	width: 184px;
	background-color: #630b1c;
	height: 1px;
	bottom: -1px;
	left: 0;
}

.auction__documentation::after {
	content: '';
	position: absolute;
	height: 43px;
	background-color: #630b1c;
	width: 1px;
	right: -1px;
	top: 0;
}

.page-switcher {
	margin-top: 13px;
	text-align: center;
	margin-bottom: 12px;
}

.page-switcher > span {
	margin: 0 1px;
  padding: 4px 6px;
	font-size: 16px;
	line-height: 1.19em;
	letter-spacing: 0.05em;
	cursor: pointer; 
	transition: all .5s ease;
}

.page-switcher :first-child {
	margin-left: 0;
}

.page-switcher :last-child {
	margin-right: 0;
}

.page-switcher span:hover {
	background-color: #aee7f3;
}

.page-switcher_active {
	background-color: #aee7f3;
}

/* --- Footer --- */
.navigation-footer {
	box-shadow: none;
	padding-top: 16px;
}

.menu-footer__item {
	height: 48px;
	align-items: flex-start;
}

.menu-footer__link {
	display: block;
	margin-top: 16px;
	line-height: 1em;
}

.footer-info {
	margin-top: 27px;
	justify-content: space-between;
	align-items: center;
}

.footer-info__logo {
	margin-right: 0;
	margin-left: -39px;
}

.footer-info__contacts {
	width: auto;
	margin-top: -22px;
  margin-right: 68px;
}

.footer-info__tel {
	font-size: 23px;
}

.footer-info__order {
	font-size: 10px;
}

.footer-info__we {
	margin-right: 25px;
}

.footer-info__group {
	font-size: 12px;
	color: #282828;
	line-height: 1.83em;
	letter-spacing: 0.05em;
}

.footer-info__socials {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.footer-info__link {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: #C4C4C4;
	color: #fff;
	border-radius: 50%;
}

.footer-info__link > i {
	font-size: 16px;
	line-height: 30px;
	transition: all .5 ease;
}

.footer-info__link:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.footer-info__link:active {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.footer-info__link:hover > i {
	color: #fff;
}