$text-dark: #242526
$btn-orange: #f89d13
$btn-blue: #2286da

$transition-duration: .25s

@mixin transition
    transition: all  $transition-duration ease-out 0s

*, *::before, *::after
    box-sizing: border-box
    border-radius: 0px
    text-decoration: none
    border: none
    appearance: none
    margin: 0
    padding: 0
    color: $text-dark
    font-family: 'Ubuntu', sans-serif

body, html
    overflow-x: hidden
    &.fixed
        overflow: hidden

body
    display: flex
    flex-direction: column
    min-height: 100vh

section
    position: relative

.section
    &__title
        font-size: 32px
        line-height: 36px
        font-weight: 500
        &_tac
            text-align: center
        &_white
            color: #ffffff
        &_orange
            color: $btn-orange

.header, .footer
    flex-grow: 0

.container
    width: 100%
    max-width: 1440px
    padding: 0px 15px
    margin: 0 auto
    position: relative
    z-index: 2

.button
    position: relative
    display: inline-block
    background-color: transparent
    overflow-anchor: none 
    cursor: pointer
    color: #ffffff
    border-radius: 30px
    overflow: hidden
    font-size: 18px
    text-align: center
    @include transition
    img
        vertical-align: middle
        margin-right: 20px
    &_orange
        background-color: $btn-orange
    &_blue
        background-color: $btn-blue
    &_white
        background-color: #fff
        color: $btn-orange
    &:not(&_no-hover):hover
        &.button
            &_orange
                box-shadow: 0 2px 10px 3px #f89d139d
            &_blue
                box-shadow: 0 2px 10px 3px #2287daab
            &_white
                background-color: $btn-orange
                color: #fff
    &:focus
        outline: none

.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 10
    padding: 30px 0px
    border-bottom: 1px solid #2f3b60
    @include transition
    &_inner
        border: none
        background-color: #fff
        .language__trigger-text, .nav__link, .contacts-dropdown__tel
            color: $text-dark
        .burger
            span, &::before, &::after
                background-color: $text-dark
        .contacts-dropdown__body::after, .language__trigger::after
            background-image: url(../img/svg/arrow.svg)
    &__wrap
        display: flex
        align-items: center
        justify-content: space-between
    &_inner.fixed
        background-color: #fff !important
        box-shadow: 0 0 16px 2px rgba(0, 0, 0, .15)
    &.fixed
        padding: 15px 0px
        background-color: rgba(11, 16, 31, 0.8)
        .services-btn__dropdown-list
            top: calc( 18px + 100% )
        .contacts-dropdown__dropdown-list
            top: calc( -31px + 100% )

.logo
    display: block
    position: relative
    max-width: 240px
    flex-shrink: 0
    &__img
        width: 100%
        height: auto

.services-btn
    display: flex
    align-items: stretch
    position: relative
    overflow: visible
    &.active &__dropdown-list
        transform: translateY(0px)
        opacity: 1
        pointer-events: all
        visibility: visible
    &__icon
        width: 65px
        position: relative
        span, &::before, &::after
            content: ''
            display: inline-block
            width: 25px
            height: 3px
            background-color: #ffffff
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            transition:  top $transition-duration ease-in-out $transition-duration, transform $transition-duration ease-in-out 0s, opacity .1s ease-in-out $transition-duration
        &::before
            top: calc( 9px + 50% )
        &::after
            top: calc( -9px + 50% )
        span
            width: 20px
            transform: translate(-62%, -50%)
    &.active &__icon
        span, &::before, &::after
            transform: translate(-50%, -50%)
            top: 50%
            transition:  top $transition-duration ease-in-out 0s, transform $transition-duration ease-in-out $transition-duration, opacity $transition-duration ease-in-out .1s
        span
            opacity: 0
        &::before
            transform: translate(-50%, -50%) rotate(45deg)
        &::after
            transform: translate(-50%, -50%) rotate(-45deg)
    &__label
        border-left: 1px solid #ebaf45
        padding: 12px 20px
        color: #ffffff
        font-size: 18px
    &__dropdown-list
        z-index: 2
        width: auto
        position: absolute
        background-color: #fff
        list-style-type: none
        min-width: 300px
        left: -17px
        top: calc( 34px + 100% )
        border-top: 2px solid $btn-orange
        transform: translateY(-20px)
        opacity: 0
        pointer-events: none
        visibility: hidden
        @include transition
        box-shadow: 0 3px 16px 2px rgba(0, 0, 0, .1)
        &::before
            content: ''
            bottom: 100%
            left: 20px
            position: absolute
            border: 30px solid transparent
            border-bottom: 20px solid $btn-orange
    &__item:first-child &__link
        padding: 30px 30px 15px
    &__item:last-child &__link
        padding: 15px 30px 30px
    &__link
        padding: 15px 30px
        display: inline-block
        text-align: left
        width: 100%
        &:hover
            color: $btn-orange
            background-color: #e7e7e7

.nav
    max-width: 540px
    width: 100%
    &__list
        width: 100%
        display: flex
        align-items: center
        list-style-type: none
        justify-content: space-around
    &__link
        display: inline-block
        color: #ffffff
        @include transition
        &:hover
            color: $btn-orange

.contacts-dropdown
    display: flex
    align-items: center
    position: relative
    &.active &__dropdown-list, &:hover &__dropdown-list
        transform: translateY(0px)
        opacity: 1
        pointer-events: all
        visibility: visible
    &__icon
        flex-shrink: 0
        flex-grow: 0
    &__body
        margin-left: 10px
        position: relative
        z-index: 4
        &::after
            content: ''
            height: 10px
            width: 10px
            background-image: url(../img/small-chevron-icon.png)
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            display: inline-block
            position: absolute
            top: 50%
            right: -10px
            transform: translate(100%, -50%)
            @include transition
    &:hover, &.active
        .contacts-dropdown__body::after
            transform: translate(100%, -50%) rotate(180deg)
    &__tel
        color: #ffffff
        font-size: 20px
        font-weight: 500
    &__subtext
        font-size: 14px
        font-weight: 300
        color: $btn-orange
        display: block
        margin-top: 2px
    &__link
        @include transition
    &__dropdown-list
        position: absolute
        padding-top: 50px
        top: calc( -14px + 100% )
        min-width: 330px
        list-style-type: none
        right: -65px
        transform: translateY(-20px)
        opacity: 0
        pointer-events: none
        z-index: 2
        visibility: hidden
        @include transition
    &__item
        background-color: #fff
        display: flex
        align-items: center
        padding: 15px 20px
        position: relative
        box-shadow: 0 9px 9px 2px rgba(0,0,0,0.1)
        &:nth-child(1)
            z-index: 1
        &:nth-child(2)
            z-index: 2
        &:nth-child(3)
            z-index: 3
        &:nth-child(4)
            z-index: 4
        &:first-child
            border-top: 2px solid $btn-orange
            &::before
                content: ''
                bottom: 101%
                right: 20px
                position: absolute
                border: 30px solid transparent
                border-bottom: 20px solid $btn-orange
            
        img, svg
            height: 30px
            width: 30px
            margin-right: 15px
            fill: $btn-orange
            flex-shrink: 0
    &__link
        &:hover
            color: $btn-orange

.language
    position: relative
    &__trigger
        position: relative
        overflow: visible
        padding-right: 20px
        &::after
            content: ''
            height: 10px
            width: 10px
            background-image: url(../img/small-chevron-icon.png)
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            display: inline-block
            position: absolute
            top: 50%
            right: 0px
            transform: translate(0%, -50%)
            @include transition
        &:hover
            .language__trigger-text
                color: $btn-orange
        &.active
            & + .language__list
                bottom: -70px
                opacity: 1
                visibility: visible
            &::after
                transform: translate(0%, -50%) rotate(180deg)
            
        &-text
            color: #ffffff
            text-transform: uppercase
            font-size: 20px
            font-weight: 500
            @include transition
    &__list
        position: absolute
        list-style-type: none
        border-top: 1px solid $btn-orange
        background-color: #fff
        bottom: -30px
        right: -5px
        opacity: 0
        z-index: 2
        visibility: hidden
        @include transition
        &::before
            content: ''
            bottom: 101%
            right: 0
            position: absolute
            border: 10px solid transparent
            border-bottom: 10px solid $btn-orange
    &__value
        padding: 6px 15px
        cursor: pointer
        outline: none
        & + &
            border-top: 1px solid $btn-orange
        &:hover
            background-color: #e7e7e7
    &__select
        position: absolute
        opacity: 0
        visibility: hidden
        height: 1px
        width: 1px

.burger
    display: none
    height: 40px
    width: 40px
    span, &::before, &::after
        content: ''
        display: inline-block
        width: 25px
        height: 2px
        background-color: #ffffff
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        transition:  top $transition-duration ease-in-out $transition-duration, transform $transition-duration ease-in-out 0s, opacity .1s ease-in-out $transition-duration
    &::before
        top: calc( 9px + 50% )
    &::after
        top: calc( -9px + 50% )
    span
        transform: translate(-50%, -50%)
    &.active
        span, &::before, &::after
            transform: translate(-50%, -50%)
            top: 50%
            transition:  top $transition-duration ease-in-out 0s, transform $transition-duration ease-in-out $transition-duration, opacity $transition-duration ease-in-out .1s
        span
            opacity: 0
        &::before
            transform: translate(-50%, -50%) rotate(45deg)
        &::after
            transform: translate(-50%, -50%) rotate(-45deg)

.menu
    position: fixed
    width: 100%
    height: 100%
    transform: translateY(-100%)
    top: 0
    left: 0
    z-index: 9
    background-color: rgba(11, 16, 31, 0.8)
    @include transition
    padding: 130px 15px 10px
    display: grid
    grid-template-columns: repeat(2, minmax(300px, 400px))
    row-gap: 30px
    column-gap: 30px
    overflow-y: auto
    &__col
        &_info
            display: none
        &_services
            order: 1
    .section__title
        font-size: 26px
        line-height: 30px
    .footer__item + .footer__item
        margin-top: 15px
    .footer__link
        font-size: 15px
    .footer__list
        max-width: 280px
    .language
        margin-top: 25px
    .nav
        &__list
            flex-direction: column
            align-items: flex-start
        &__item
            padding: 7px 0px
    .nav__item + .nav__item
        margin-top: 15px
    &.active
        transform: translateY(0%)

.main
    flex-grow: 1
    &_inner
        margin-top: 111px

.hero
    padding: 11.5% 0px 11%
    &__bg
        top: 0
        left: 0
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
    &__content
        display: flex
        flex-direction: column
        align-items: flex-start
    &__pretitle
        font-size: 18px
        font-weight: 500
        color: $btn-blue
    &__title
        max-width: 510px
        font-weight: 500
        font-size: 50px
        line-height: 60px
        color: #ffffff
        margin-bottom: 40px
    &__subtitle
        font-size: 18px
        color: #ffffff
        line-height: 30px
        display: inline-block
        margin-bottom: 40px
        max-width: 390px
    &__button
        padding: 13px
        width: 100%
        max-width: 330px
        & + &
            margin-top: 30px

.services
    padding: 80px 0px 40px
    &__wrap
        margin: 45px -15px 0px
        display: flex
        justify-content: center
        flex-wrap: wrap
    &__item
        margin: 0px 15px 30px

.service-item
    width: 100%
    max-width: 430px
    min-width: 380px
    padding: 20px 30px
    border-radius: 10px
    background: linear-gradient( 50deg, rgb(248,248,248) 13%, rgb(255,255,255) 100%)
    &__icon
        max-width: 110px
        height: auto
        margin-bottom: 30px
    &__name
        font-size: 24px
        line-height: 36px
        font-weight: 500
        margin-bottom: 30px
        max-width: 320px
    &__link
        text-transform: uppercase
        font-size: 17px
        padding: 15px 30px

.calculator
    padding-bottom: 120px
    &__wrap
        display: flex
        align-items: stretch
    &__container
        padding: 30px 50px
        max-width: 550px
    &__content
        position: relative
        flex: 0 0 100%
        &-bg img
            position: absolute
            width: 100%
            height: 100%
            border-radius: 10px
            object-fit: cover
            left: 0
            top: 0
            z-index: -1            
    &__title
        font-size: 50px
        font-weight: 500
        line-height: 60px
        margin-bottom: 20px
        color: #ffffff
    &__subtitle
        font-size: 32px
        font-weight: 500
        line-height: 40px
        color: #ffffff
    &__contacts
        margin-top: 60px
        &-text
            font-size: 24px
            line-height: 36px
            color: #ffffff
    &__tel
        font-size: 32px
        font-weight: 500
        display: inline-block
        margin-top: 15px
        color: #ffffff
    &__socials
        display: flex
        align-items: center
        margin-top: 40px
    &__social-item
        display: inline-block
        height: 60px
        width: 60px
        position: relative
        & + &
            margin-left: 20px
        svg, img
            width: 100%
            height: 100%
            object-fit: contain
    &__body
        transform: translate(calc( -20px - 100% ), 20px)

.calc
    background-color: #fff
    z-index: 2
    padding: 25px 30px
    border-radius: 10px
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, .2)
    flex: 0 0 50%
    &__house-type
        display: none
    &__house-type.active
        display: block
    &__item + &__item
        margin-top: 30px
    &__title
        font-size: 18px
        font-weight: 500
    &__subtitle
        line-height: 22px
        font-size: 14px
        color: #8b929f
    &__inputs
        margin-top: 15px
        display: flex
        align-items: stretch
    &__button
        width: 100%
        flex-basis: 48%
        padding: 10px 0px
        font-weight: 500
        text-transform: uppercase
        svg, img
            transform-origin: 15px 13.5px
            width: 30px
            height: 30px
        &.animate
            svg, img
                animation: count 1 1.5s ease-out
    &__bottom
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 30px
        padding-bottom: 40px
        border-bottom: 2px solid #f0f0f6
    &__price
        display: inline-block
        flex-basis: 48%
        text-align: center
        font-size: 32px
        font-weight: 500
    &__input
        background-color: transparent
        padding: 5px
        outline: none
        font-size: 22px
        color: #8b929f
        width: 100%
        &-name
            display: inline-block
            padding: 10px 0px 10px 15px
            color: #8b929f
            font-size: 24px
        &-wrap + &-wrap
            margin-left: 20px
        &-wrap
            border-radius: 10px
            overflow: hidden
            position: relative
            display: flex
            align-items: stretch
            background-color: #f7f7fb
    &__types
        display: flex
        align-items: stretch
        margin-top: 20px
    &__type
        &-img
            height: 120px
            width: 140px
            user-select: none
        &-input:checked + &-fake
            background-color: $btn-orange
        &-input
            height: 1px
            width: 1px
            position: absolute
            opacity: 0
            visibility: hidden
        &-fake
            margin-bottom: 15px
            @include transition
            position: relative
            height: 30px
            width: 30px
            background-color: #fff
            border-radius: 50%
            border: 2px solid $btn-orange
            &::before, &::after
                content: ''
                display: inline-block
                position: absolute
                height: 2px
                background-color: #fff
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
            &::before
                width: 7px
                transform: translate(calc( -4px - 50% ), calc(2px - 50%)) rotate(45deg)
            &::after
                width: 13px
                transform: translate(calc(3px - 50%), calc(1px - 50%)) rotate(-45deg)
        &-item + &-item
            margin-left: 22px
        &-item
            background: #f7f7fb
            border-radius: 10px
            cursor: pointer
            width: 100%
            padding: 20px 40px 20px 10px
            display: flex
            align-items: center
            @include transition
            &.active
                box-shadow: 0 0 0 2px $btn-orange
        &-choose
            display: flex
            align-items: center
            flex-direction: column
        &-name
            margin-left: 20px
            white-space: nowrap
            display: inline-block
            text-align: center
            user-select: none
    &__form
        margin-top: 40px
        &-wrap
            border-radius: 10px
            overflow: hidden
            height: 50px
            background: #f7f7fb
            padding: 10px 15px 10px 55px
            position: relative
            &::before
                position: absolute
                content: ''
                display: inline-block
                top: 50%
                left: 15px
                transform: translateY(-50%)
                height: 20px
                width: 20px
                background-size: contain
                background-repeat: no-repeat
                background-position: center
            &:nth-child(1)::before
                background-image: url(../img/svg/name.svg)
            &:nth-child(2)::before
                background-image: url(../img/svg/telefon.svg)
        &-input
            font-weight: 300
            font-size: 16px
            width: 100%
            height: 100%
            display: block
            background-color: transparent
            outline: none
        &-button
            padding: 18px
            text-transform: uppercase
            font-weight: 500
        &-row + &-row
            margin-top: 20px
        &-row
            display: flex
            align-items: center
            justify-content: space-between
            .calc__subtitle
                flex-basis: 40%
            &>*
                flex-basis: 48%
    
.benefits
    padding-bottom: 80px
    &_about
        padding-top: 50px
    &__wrap
        justify-content: space-between
        display: flex
        align-items: stretch
        padding: 0px 50px

.benefits-item
    display: flex
    align-items: center
    flex-direction: column
    max-width: 345px
    &:nth-child(2)
        margin: 0px 20px
    &__img
        height: 100px
        width: auto
        margin-bottom: 15px
    &__title
        font-size: 24px
        font-weight: 500
        text-align: center
        margin-bottom: 20px
    &__text
        display: inline-block
        text-align: center
        font-size: 16px
        color: #8b929f
        line-height: 24px

.index-about
    background-color: #000000
    padding: 75px 0px 90px
    &__bg
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
        top: 0
        left: 0
    &__subtitle
        margin-top: 20px
        display: inline-block
        color: #ffffff
        font-size: 24px
        line-height: 36px
        max-width: 520px
    &__list
        margin-top: 40px
        column-width: 330px
        max-width: 680px
    &__img
        max-width: 30px
        width: 100%
        height: auto
        margin-right: 20px
    &__item
        display: flex
        width: auto
        align-items: center
        margin-bottom: 40px
        &:last-child
            margin-bottom: 0
    &__text
        color: #ffffff
        font-size: 18px
        line-height: 30px

.index-portfolio
    padding: 80px 0px
    &__wrap
        margin-top: 45px
        min-width: 0
        position: relative
    &__slider
        min-width: 0
        overflow: hidden
    &__item
        max-height: 380px
        height: 100%
        position: relative
        padding-bottom: 27%
    &__img
        height: 100%
        width: 100%
        position: absolute
    &__control
        height: 50px
        width: 50px
        position: absolute
        top: 50%
        &::before, &::after
            content: ''
            display: inline-block
            position: absolute
            top: 50%
            left: 50%
            height: 2px
            width: 10px
            background-color: #fff
            transform: translate(-50%, -50%)
        &::before
            transform: translate(-50%, calc( -3px - 50% )) rotate(-45deg)
        &::after
            transform: translate(-50%, calc( 3px - 50% )) rotate(45deg)
        &_prev
            left: -15px
            transform: translate(-100%, -50%)
        &_next
            right: -15px
            transform: translate(100%, -50%) rotate(180deg)

.articles
    padding-bottom: 80px
    &__wrap
        margin-top: 40px
        display: flex
        justify-content: space-between
        align-items: center

.article-item
    display: flex
    flex-direction: column
    align-items: flex-start
    max-width: 450px
    margin-right: 15px
    &:nth-child(3n)
        margin-right: 0
    &__title
        font-weight: 500
        font-size: 20px
        line-height: 30px
        margin-bottom: 15px
    &__text
        font-size: 16px
        line-height: 24px
        display: inline-block
        margin-bottom: 25px
    &__link
        padding: 12px 23px
        text-transform: uppercase
        box-shadow: 0 0 0 1px $btn-orange

.footer
    padding: 40px 0px 20px
    background-color: #242526
    &__wrap
        display: flex
        justify-content: space-between
        align-items: stretch
        & + &
            margin-top: 20px
    &__col
        display: flex
        flex-direction: column
        align-items: flex-start
        .button
            width: 100%
            max-width: 210px
            font-size: 18px
            font-weight: 500
    &__social
        margin-top: 35px
        &-label
            font-size: 17px
            color: #ffffff
            display: inline-block
            margin-bottom: 15px
        &-wrap
            display: flex
            align-items: center
        &-link
            height: 40px
            width: 40px
            svg
                @include transition
                fill: #ffffff
            &:hover svg
                fill: $btn-orange
            & + &
                margin-left: 15px
    &__list
        margin-top: 30px
        max-width: 230px
    &__item + &__item
        margin-top: 20px
    &__item
        list-style-type: none
    &__contact
        max-width: 330px
        & + &
            margin-top: 30px
    &__link, &__text
        display: flex
        align-items: center
        font-size: 17px
        line-height: 18px
        &, & > span
            color: #ffffff
        & > span
            display: inline-block
        svg, img
            vertical-align: middle
            height: 30px
            width: 30px
            object-fit: contain
            margin-right: 15px
    &__link
        &, & span
            @include transition
        &:hover
            &, & span
                color: $btn-orange
    &__copyright
        font-weight: 300
        font-size: 14px
        line-height: 18px
        color: #8b929f
        display: inline-block
        & + &
            display: inline-flex
            align-items: flex-end
        a svg
            width: 100%
            max-width: 80px
            flex-shrink: 0
            fill: #ffffff
            margin-left: 10px
            @include transition
        a:hover svg
            fill: $btn-orange
    &__mta
        margin-top: auto

.popup
    position: fixed
    z-index: 100
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    top: 0
    left: 0
    background-color: rgba(13, 15, 25, .9)
    opacity: 0
    visibility: hidden
    pointer-events: none
    @include transition
    &.active &__body
        opacity: 1
        position: relative
        visibility: visible
        pointer-events: all
        transform: translateY(0px)
    &.active
        opacity: 1
        visibility: visible
        pointer-events: all
    &__body
        max-width: 450px
        width: 100%
        background-color: #fff
        border-radius: 10px
        padding: 60px 30px 30px
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        @include transition
        opacity: 0
        position: absolute
        visibility: hidden
        pointer-events: none
        transform: translateY(-30px)
    &__close
        height: 40px
        width: 40px
        position: absolute
        top: 0
        right: 0
        z-index: 2
        &::before, &::after
            content: ''
            display: inline-block
            height: 2px
            width: 25px
            top: 50%
            left: 50%
            position: absolute
            background-color: $text-dark
        &::before
            transform: translate(-50%, -50%) rotate(45deg)
        &::after
            transform: translate(-50%, -50%) rotate(-45deg)
    &__text
        text-align: center
        display: inline-block
        font-size: 18px
        line-height: 30px
        margin-top: 20px
        &_small
            font-size: 14px
            line-height: 24px
            color: #8b929f
            padding: 0px 40px
        &_big
            text-transform: uppercase
            font-weight: 500
    &__form
        margin-top: 20px
        display: flex
        flex-direction: column
        align-items: stretch
        .calc__form-wrap + .calc__form-wrap
            margin: 15px 0px
    &__submit
        font-weight: 500
        padding: 15px
        text-transform: uppercase
    &__icon
        height: 100px
        width: auto
        margin-bottom: 20px
    &__return
        margin-top: 30px
        width: 100%
        font-weight: 500
        padding: 15px
        text-transform: uppercase

//
//
// -- Калькулятор
//
//

.breadcrumbs
    background-color: #f5f6f7
    &__list
        padding: 11px 0px
        display: flex
        align-items: center
        list-style-type: none
    &__link
        font-size: 14px
        font-weight: 300
    &__item
        display: inline-block
        position: relative
        &:not(:last-child)
            &::before
                color: $btn-orange
            .breadcrumbs__link
                color: $btn-orange
                text-decoration: underline
        & + &
            margin-left: 30px
            &::before
                content: '|'
                display: inline-block
                position: absolute
                left: -15px

.page-title
    padding: 40px 0px

//
//
// -- Наши работы
//
//

.portfolio
    padding-bottom: 80px
    .language
        &__trigger
            &::after
                background-image: url(../img/svg/arrow.svg)
            &.active + .language__list
                bottom: -200px
                &::before
                    right: 90px
            &-text
                color: $text-dark
    &__header
        display: flex
        align-items: center
        justify-content: space-between
        border-bottom: 2px solid #f0f0f6
        padding: 0px 20px
        position: relative
    &__tab-underline
        position: absolute
        bottom: -2px
        width: 70px
        height: 2px
        display: inline-block
        background-color: $btn-orange
        transform: translateX(-5%)
        @include transition
    &__tab-title
        color: $text-dark
        padding: 5px 5px 30px
        &:hover, &.active
            color: $btn-orange
    &__container
        margin: 40px 0px 30px
        min-height: 400px
        display: grid
        justify-content: center
        grid-template-columns: repeat(auto-fit, minmax(300px, 330px))
        column-gap: 30px
        row-gap: 30px
    &__item
        display: block
        border-radius: 0px
        height: 370px
        width: 100%
        &-img
            top: 0
            left: 0
            position: absolute
            height: 100%
            width: 100%
            object-fit: cover
            margin-right: 0 !important
        &:hover
            box-shadow: 0 0 16px 3px rgba(0, 0, 0, .25)
    &__err-item
        padding: 30px
        max-height: 150px
        font-size: 24px
        line-height: 28px
        font-weight: 500
        display: inline-block
        grid-column: 1 / 5
        border: 2px solid #fc4848
        border-radius: 5px
        background-color: #fdb7b7
        color: $text-dark
    &__more
        display: block
        margin: 0 auto
        padding: 15px 55px 15px 26px
        &::before
            content: ''
            position: absolute
            top: 55%
            border: 6px solid transparent
            border-top: 6px solid #ffffff
            transform: translate(0, -50%)
            right: 35px

//
//
// -- О компании
//
//

.about
    padding: 40px 0px 80px
    &__wrap
        display: flex
    &__content
        max-width: 690px
        .section__title
            margin-bottom: 35px
    &__text
        font-size: 16px
        line-height: 26px
    &__banner
        flex-shrink: 0
        display: flex
        align-items: center
        flex-direction: column
        max-width: 560px
        margin-left: 90px
    &__logo
        max-width: 165px
        margin-bottom: 5px
    &__title
        text-align: center
        color: $btn-orange
        font-weight: 500
        font-size: 48px
        line-height: 58px
    &__subtitle
        text-align: center
        font-size: 24px
        font-weight: 500
        margin-top: 10px
        display: inline-block
        margin-bottom: 25px

//
//
// -- Контакты
//
//

.contacts
    padding: 40px 0px 80px
    &__wrap
        display: flex
        justify-content: space-between
    &__text
        font-size: 17px
        line-height: 24px
        display: inline-block
        max-width: 500px
    &__col
        width: 100%
        & + &
            margin-left: 20px
        &:first-child
            max-width: 565px
    &__title
        margin-bottom: 50px
    &__list
        margin-top: 40px
        list-style-type: none
        display: grid
        grid-template-columns: 220px 1fr
        column-gap: 40px
        row-gap: 40px
    &__bottom
        margin-top: 40px
        display: flex
        align-items: center
    .footer__contact
        margin: 0
    .footer__social-wrap
        margin-left: 30px
    .footer__social-link svg
        fill: $btn-orange
    .footer__link, .footer__text
        &, & *
            color: $text-dark !important
            line-height: 24px
            font-size: 17px
    .footer__link:hover
        &, & *
            color: $btn-orange !important