@font-face 
    font-family: "Geometria"
    src: url("../fonts/Geometria/Geometria.ttf") format("truetype")
    font-style: normal
    font-weight: 400

@font-face 
    font-family: "Geometria"
    src: url("../fonts/Geometria/Geometria-Italic.ttf") format("truetype")
    font-style: italic
    font-weight: 400

@font-face 
    font-family: "Geometria"
    src: url("../fonts/Geometria/Geometria-Medium.ttf") format("truetype")
    font-style: normal
    font-weight: 500

@font-face 
    font-family: "Geometria"
    src: url("../fonts/Geometria/Geometria-Bold.ttf") format("truetype")
    font-style: normal
    font-weight: 700

@font-face 
    font-family: "Geometria"
    src: url("../fonts/Geometria/Geometria-Heavy.ttf") format("truetype")
    font-style: normal
    font-weight: 900
